{"openapi":"3.0.1","info":{"title":"Admin REST API","description":"<h2>Admin REST API</h1>\n      <p>Root context: <b>/admin/rest</b></p>","version":"1.0.0-SNAPSHOT"},"servers":[{"url":"https://is-dev2.brandmaker.com"},{"url":"/"}],"security":[{"jwtScheme":[]},{"basicScheme":[]},{"cookieScheme":[]},{"BearerAuth":[]}],"tags":[{"name":"AdminEmailHistoryRestService","description":"Service for Notifications history."},{"name":"AdminEmailTemplatesRestService","description":"REST service for the email configuration page."},{"name":"AdminFrontendRestService","description":"Service for frontend-related data.\nLoads all data in background and prepares it for FE for optimization - from browser it's more expensive to load it."},{"name":"AdminHealthRestService"},{"name":"AdminPapersRestService","description":"Service to work with Admin papers (Help&Service html templates)."},{"name":"AdminSystemInfoPublicRestService","description":"Rest service - provide system information without rights restrictions."},{"name":"BoardMpIntegrationRestService"},{"name":"BoardRestService","description":"Service which manages Dashboard module boards."},{"name":"BoardTodoIntegrationRestService"},{"name":"BoardUserActionsRestService","description":"Service to save some user actions over board objects.\nE.g. used for storing the information about discarded \"to do\" Job Manager items."},{"name":"BoardWidgetInstanceRestService","description":"Manages Dashboard module widget instances."},{"name":"BoardWidgetRestService","description":"Provides information about Dashboard widgets metadata.\nIt describes the properties of all existing widgets.\nIt's does not describe exact instances of widgets for users. For instances see BoardWidgetInstanceRestService."},{"name":"DmcRestService","description":"Service which manages DMC module."},{"name":"HelpInfoRestService","description":"Service to work with Help&Service links."},{"name":"HiddenActionPageService","description":"Service with hidden actions."},{"name":"MaintenanceRestService","description":"REST service for the maintenance message."},{"name":"ManualRestService","description":"Service for manuals data."},{"name":"NavigationRestService","description":"REST service for the navigation"},{"name":"SewRestService","description":"Service which manages Sew module."},{"name":"TableauRestService","description":"Service which manages Tableau module."}],"paths":{"/admin/rest/notification/history/modules":{"get":{"tags":["AdminEmailHistoryRestService"],"description":"Returns modules for Notifications filter.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"AdminEmailHistoryRestService-GET_getModules","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ModuleDto"}}}}}}}},"/admin/rest/emailtemplates/modules":{"get":{"tags":["AdminEmailTemplatesRestService"],"description":"Returns list of modules for which email templates are available.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_EMAIL_TEMPLATES","operationId":"AdminEmailTemplatesRestService-GET_getListOfModules","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ModuleDto"}}}}}}}},"/admin/rest/frontend/init-data/header":{"get":{"tags":["AdminFrontendRestService"],"description":"Returns init data which is needed for header startup.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"AdminFrontendRestService-GET_getHeaderInitData","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeaderInitDto"}}}}}}},"/admin/rest/frontend/init-data/minimal":{"get":{"tags":["AdminFrontendRestService"],"description":"Returns init data which is needed for application without header.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"AdminFrontendRestService-GET_getMinimalInitData","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MinimalInitForUiDto"}}}}}}},"/admin/rest/health/liveness":{"get":{"tags":["AdminHealthRestService"],"operationId":"AdminHealthRestService-GET_checkLiveness","responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthDto"},"example":"{\n  \"status\" : \"UP\",\n  \"checks\" : [ {\n    \"data\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"status\" : \"UP\",\n    \"name\" : \"...\"\n  }, {\n    \"data\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"status\" : \"UP\",\n    \"name\" : \"...\"\n  } ]\n}"}}}}}},"/admin/rest/health/readiness":{"get":{"tags":["AdminHealthRestService"],"operationId":"AdminHealthRestService-GET_checkReadiness","responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthDto"},"example":"{\n  \"status\" : \"DOWN\",\n  \"checks\" : [ {\n    \"data\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"status\" : \"DOWN\",\n    \"name\" : \"...\"\n  }, {\n    \"data\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"status\" : \"UP\",\n    \"name\" : \"...\"\n  } ]\n}"}}}}}},"/admin/rest/health/startup":{"get":{"tags":["AdminHealthRestService"],"operationId":"AdminHealthRestService-GET_checkStartup","responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthDto"},"example":"{\n  \"status\" : \"DOWN\",\n  \"checks\" : [ {\n    \"data\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"status\" : \"DOWN\",\n    \"name\" : \"...\"\n  }, {\n    \"data\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"status\" : \"UP\",\n    \"name\" : \"...\"\n  } ]\n}"}}}}}},"/admin/rest/admin-papers/modules":{"get":{"tags":["AdminPapersRestService"],"description":"Returns list of modules for which Help&Service papers are available.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_SERVICE_MENU","operationId":"AdminPapersRestService-GET_getListOfModules","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ModuleDto"}}}}}}}},"/admin/rest/system/public-info/{key}":{"get":{"tags":["AdminSystemInfoPublicRestService"],"description":"Get a single system info by unique key.\nPublic service without rights restrictions.","operationId":"AdminSystemInfoPublicRestService-GET_getSingleSystemInfo","parameters":[{"name":"key","in":"path","description":"the unique system info identifier from allowed for Public","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"DTO returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemInfoDto"}}}},"404":{"description":"Object not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemInfoDto"}}}}}}},"/admin/rest/smart-access/integrations/mp/suffixes":{"get":{"tags":["BoardMpIntegrationRestService"],"description":"Returns suffixes for MP search React app.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardMpIntegrationRestService-GET_findSuffixes","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MpAssetSuffixTypeRestDto"}}}}}}}},"/admin/rest/smart-access/board":{"get":{"tags":["BoardRestService"],"description":"Find board by parameters.\n\n__Security Roles Allowed:__ SYSTEM_USER","operationId":"BoardRestService-GET_getAll","parameters":[{"name":"ids","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"label","in":"query","schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"parentId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","schema":{"type":"string"}},{"name":"userId","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"visibilityType","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BoardDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"createDate\" : \"...\",\n  \"updateDate\" : \"...\",\n  \"parentId\" : \"...\",\n  \"label\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"creatorId\" : 12345,\n  \"type\" : \"USER\",\n  \"visibilityType\" : \"RESTRICTION\",\n  \"genericAttributes\" : { }\n} ]"}}}}},"post":{"tags":["BoardRestService"],"description":"Creates new Board.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardRestService-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardPersistDto"},"example":"{\n  \"parentId\" : \"...\",\n  \"label\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"type\" : \"...\",\n  \"visibility\" : {\n    \"visibilityType\" : \"...\",\n    \"visibilityOptions\" : {\n      \"roles\" : [ { }, { } ],\n      \"users\" : [ { }, { } ],\n      \"divisions\" : [ { }, { } ],\n      \"vdbGroups\" : [ { }, { } ]\n    },\n    \"users\" : [ {\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    } ]\n  },\n  \"genericAttributes\" : { },\n  \"receivedFields\" : [ \"...\", \"...\" ]\n}"}}},"responses":{"204":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWithVisibilityDto"}}}},"400":{"description":"input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWithVisibilityDto"}}}}}}},"/admin/rest/smart-access/board/_board-with-widgets":{"get":{"tags":["BoardRestService"],"description":"Returns user board with widgets (if id was sent than get board by id, else get first board from shared)\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardRestService-GET_getUserBoardWithWidgets","parameters":[{"name":"ID","in":"query","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWithWidgetsDto"}}}},"204":{"description":"Board is not found by id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWithWidgetsDto"}}}}}}},"/admin/rest/smart-access/board/_for-current-user":{"get":{"tags":["BoardRestService"],"description":"Returns all Boards\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardRestService-GET_getAvailableBoardsForCurrentUser","responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BoardDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"createDate\" : \"...\",\n  \"updateDate\" : \"...\",\n  \"parentId\" : \"...\",\n  \"label\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"creatorId\" : 12345,\n  \"type\" : \"ADMIN\",\n  \"visibilityType\" : \"NOBODY\",\n  \"genericAttributes\" : { }\n} ]"}}}}}},"/admin/rest/smart-access/board/_init":{"get":{"tags":["BoardRestService"],"description":"Provides init data for create/update board.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardRestService-GET_init","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardInitDto"}}}}}}},"/admin/rest/smart-access/board/{ID}":{"get":{"tags":["BoardRestService"],"description":"Returns Board by id\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardRestService-GET_get","parameters":[{"name":"ID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWithVisibilityDto"}}}},"204":{"description":"Board is not found by id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWithVisibilityDto"}}}}}},"put":{"tags":["BoardRestService"],"description":"Updates Board.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardRestService-PUT_update","parameters":[{"name":"ID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardPersistDto"},"example":"{\n  \"parentId\" : \"...\",\n  \"label\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"type\" : \"...\",\n  \"visibility\" : {\n    \"visibilityType\" : \"...\",\n    \"visibilityOptions\" : {\n      \"roles\" : [ { }, { } ],\n      \"users\" : [ { }, { } ],\n      \"divisions\" : [ { }, { } ],\n      \"vdbGroups\" : [ { }, { } ]\n    },\n    \"users\" : [ {\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    } ]\n  },\n  \"genericAttributes\" : { },\n  \"receivedFields\" : [ \"...\", \"...\" ]\n}"}}},"responses":{"204":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWithVisibilityDto"}}}},"400":{"description":"input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWithVisibilityDto"}}}}}},"delete":{"tags":["BoardRestService"],"description":"Deletes Board.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardRestService-DELETE_delete","parameters":[{"name":"ID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Board is not found by id"}}},"patch":{"tags":["BoardRestService"],"description":"Updates Board partially.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardRestService-PATCH_partialUpdate","parameters":[{"name":"ID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardPersistDto"},"example":"{\n  \"parentId\" : \"...\",\n  \"label\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"type\" : \"...\",\n  \"visibility\" : {\n    \"visibilityType\" : \"...\",\n    \"visibilityOptions\" : {\n      \"roles\" : [ { }, { } ],\n      \"users\" : [ { }, { } ],\n      \"divisions\" : [ { }, { } ],\n      \"vdbGroups\" : [ { }, { } ]\n    },\n    \"users\" : [ {\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    } ]\n  },\n  \"genericAttributes\" : { },\n  \"receivedFields\" : [ \"...\", \"...\" ]\n}"}}},"responses":{"204":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWithVisibilityDto"}}}},"400":{"description":"input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWithVisibilityDto"}}}}}}},"/admin/rest/smart-access/integrations/todo":{"get":{"tags":["BoardTodoIntegrationRestService"],"description":"Returns the list of current TODO tasks.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardTodoIntegrationRestService-GET_getTodos","parameters":[{"name":"limit","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":10}},{"name":"offset","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingDtoOfTodoObjectDto"}}}}}}},"/admin/rest/smart-access/actions":{"post":{"tags":["BoardUserActionsRestService"],"description":"Creates new BoardUserActions.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"BoardUserActionsRestService-POST_postAction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardUserActionsPersistDto"},"example":"{\n  \"objectId\" : \"...\",\n  \"objectType\" : \"TODO\",\n  \"action\" : \"DISCARD\",\n  \"receivedFields\" : [ \"...\", \"...\" ]\n}"}}},"responses":{"204":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardUserActionsDto"}}}},"400":{"description":"input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardUserActionsDto"}}}}}}},"/admin/rest/smart-access/board/widget":{"get":{"tags":["BoardWidgetInstanceRestService"],"description":"Returns all Widget Instances\n\n__Security Roles Allowed:__ SYSTEM_USER","operationId":"BoardWidgetInstanceRestService-GET_getAll","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}}}}},"post":{"tags":["BoardWidgetInstanceRestService"],"description":"Creates new Widget Instance.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardWidgetInstanceRestService-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstancePersistDto"},"example":"{\n  \"boardId\" : \"...\",\n  \"widgetName\" : \"...\",\n  \"positionX\" : 12345,\n  \"positionY\" : 12345,\n  \"sizeX\" : 12345,\n  \"sizeY\" : 12345,\n  \"genericAttributes\" : { },\n  \"receivedFields\" : [ \"...\", \"...\" ],\n  \"pinned\" : true,\n  \"borderColor\" : \"...\"\n}"}}},"responses":{"204":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}},"400":{"description":"input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}}}}},"/admin/rest/smart-access/board/widget/{BOARD_ID}/_batch-save":{"put":{"tags":["BoardWidgetInstanceRestService"],"description":"Batch save widgets for board.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardWidgetInstanceRestService-PUT_batchSave","parameters":[{"name":"BOARD_ID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BoardWidgetInstanceBatchDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"boardId\" : \"...\",\n  \"widgetName\" : \"...\",\n  \"positionX\" : 12345,\n  \"positionY\" : 12345,\n  \"sizeX\" : 12345,\n  \"sizeY\" : 12345,\n  \"genericAttributes\" : { },\n  \"receivedFields\" : [ \"...\", \"...\" ],\n  \"pinned\" : true,\n  \"borderColor\" : \"...\"\n} ]"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}}},"400":{"description":"input validation failed","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}}}}}},"/admin/rest/smart-access/board/widget/{ID}":{"get":{"tags":["BoardWidgetInstanceRestService"],"description":"Returns Widget Instance by id\n\n__Security Roles Allowed:__ SYSTEM_USER","operationId":"BoardWidgetInstanceRestService-GET_get","parameters":[{"name":"ID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}},"204":{"description":"admin.widget_instance.errors.validation.widget.not_found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}}}},"put":{"tags":["BoardWidgetInstanceRestService"],"description":"Updates Widget Instance.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardWidgetInstanceRestService-PUT_update","parameters":[{"name":"ID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstancePersistDto"},"example":"{\n  \"boardId\" : \"...\",\n  \"widgetName\" : \"...\",\n  \"positionX\" : 12345,\n  \"positionY\" : 12345,\n  \"sizeX\" : 12345,\n  \"sizeY\" : 12345,\n  \"genericAttributes\" : { },\n  \"receivedFields\" : [ \"...\", \"...\" ],\n  \"pinned\" : true,\n  \"borderColor\" : \"...\"\n}"}}},"responses":{"204":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}},"400":{"description":"input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}}}},"delete":{"tags":["BoardWidgetInstanceRestService"],"description":"Deletes Widget Instance.\n\n__Security Roles Allowed:__ SYSTEM_USER","operationId":"BoardWidgetInstanceRestService-DELETE_delete","parameters":[{"name":"ID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Success"},"404":{"description":"admin.widget_instance.errors.validation.widget.not_found"}}},"patch":{"tags":["BoardWidgetInstanceRestService"],"description":"Updates Widget Instance partially.\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardWidgetInstanceRestService-PATCH_partialUpdate","parameters":[{"name":"ID","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstancePersistDto"},"example":"{\n  \"boardId\" : \"...\",\n  \"widgetName\" : \"...\",\n  \"positionX\" : 12345,\n  \"positionY\" : 12345,\n  \"sizeX\" : 12345,\n  \"sizeY\" : 12345,\n  \"genericAttributes\" : { },\n  \"receivedFields\" : [ \"...\", \"...\" ],\n  \"pinned\" : true,\n  \"borderColor\" : \"...\"\n}"}}},"responses":{"204":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}},"400":{"description":"input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetInstanceDto"}}}}}}},"/admin/rest/smart-access/widget":{"get":{"tags":["BoardWidgetRestService"],"description":"Returns all widgets meatadata\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardWidgetRestService-GET_getAll","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BoardWidgetMetaDto"}}}}}}}},"/admin/rest/smart-access/widget/{NAME}":{"get":{"tags":["BoardWidgetRestService"],"description":"Returns widget metadata by name\n\n__Security Roles Allowed:__ DASHBOARD_MODULE_ACCESS","operationId":"BoardWidgetRestService-GET_get","parameters":[{"name":"NAME","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetMetaDto"}}}},"204":{"description":"entity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoardWidgetMetaDto"}}}}}}},"/admin/rest/dmc/_init":{"get":{"tags":["DmcRestService"],"description":"\n\n__Security Roles Allowed:__ DMC_MODULE_ACCESS","operationId":"DmcRestService-GET_init","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DmcInitDto"}}}}}}},"/admin/rest/admin/help-and-service":{"get":{"tags":["HelpInfoRestService"],"description":"Returns Help&Service links.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"HelpInfoRestService-GET_getHelpAndServiceLinks","parameters":[{"name":"language","in":"query","schema":{"type":"string"}},{"name":"module","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HelpAndServiceDto"}}}}}}},"put":{"tags":["HelpInfoRestService"],"description":"Updates Help&Service link.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_SERVICE_MENU","operationId":"HelpInfoRestService-PUT_changeCustomLink","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HelpAndServiceDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"modules\" : [ \"...\", \"...\" ],\n  \"languages\" : [ \"...\", \"...\" ],\n  \"label\" : \"...\",\n  \"type\" : \"...\",\n  \"position\" : 12345,\n  \"enabled\" : true,\n  \"linkId\" : \"...\"\n} ]"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HelpAndServiceDto"}}}}}}},"post":{"tags":["HelpInfoRestService"],"description":"Adds Help&Service link.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_SERVICE_MENU","operationId":"HelpInfoRestService-POST_addCustomLink","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HelpAndServiceDto"},"example":"{\n  \"id\" : \"...\",\n  \"modules\" : [ \"...\", \"...\" ],\n  \"languages\" : [ \"...\", \"...\" ],\n  \"label\" : \"...\",\n  \"type\" : \"...\",\n  \"position\" : 12345,\n  \"enabled\" : true,\n  \"linkId\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HelpAndServiceDto"}}}}}}}},"/admin/rest/admin/help-and-service/modules":{"get":{"tags":["HelpInfoRestService"],"description":"Returns all modules for help-and-service.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"HelpInfoRestService-GET_getModules","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ModuleDto"}}}}}}}},"/admin/rest/admin/help-and-service/{id}":{"delete":{"tags":["HelpInfoRestService"],"description":"Removes Help&Service link.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_SERVICE_MENU","operationId":"HelpInfoRestService-DELETE_removeCustomLink","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HelpAndServiceDto"}}}}}}}},"/admin/rest/hidden-action/_index/mp":{"post":{"tags":["HiddenActionPageService"],"description":"re-indexes MP ES index if it's not started.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_CREATE_OR_DROP_DATABASE","operationId":"HiddenActionPageService-POST_reIndexMP","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationMessageDto"}}}}}}},"/admin/rest/maintenance-message/admin/_current":{"get":{"tags":["MaintenanceRestService"],"description":"Returns full maintenance message dto for Admin page.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_OUTAGE_MESSAGE","operationId":"MaintenanceRestService-GET_getCurrentMaintenanceConfig","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceSchedulersDto"}}}}}}},"/admin/rest/maintenance-message/admin/email":{"post":{"tags":["MaintenanceRestService"],"description":"Updates maintenance email scheduler\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_OUTAGE_MESSAGE","operationId":"MaintenanceRestService-POST_updateMaintenanceEmailScheduler","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceEmailSchedulerDto"},"example":"{\n  \"message\" : \"...\",\n  \"sent\" : true,\n  \"startDate\" : \"...\",\n  \"isActive\" : true,\n  \"name\" : \"...\",\n  \"endDate\" : \"...\"\n}"}}},"responses":{"204":{"description":"Success"},"400":{"description":"Navigation params is not valid"}}}},"/admin/rest/maintenance-message/admin/login-lock":{"post":{"tags":["MaintenanceRestService"],"description":"Updates login lock scheduler (forbids the logins)\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_OUTAGE_MESSAGE","operationId":"MaintenanceRestService-POST_updateLoginLockScheduler","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginLockSchedulerDto"},"example":"{\n  \"startDate\" : \"...\",\n  \"isActive\" : true,\n  \"name\" : \"...\",\n  \"endDate\" : \"...\"\n}"}}},"responses":{"204":{"description":"Success"},"400":{"description":"Navigation params is not valid"}}}},"/admin/rest/maintenance-message/admin/ui":{"post":{"tags":["MaintenanceRestService"],"description":"Updates maintenance popup scheduler\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_OUTAGE_MESSAGE","operationId":"MaintenanceRestService-POST_updateMaintenanceUiWarningScheduler","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceUiWarningSchedulerDto"},"example":"{\n  \"displayMessageInLogin\" : true,\n  \"displayMessageInHeader\" : true,\n  \"guiMessage\" : \"...\",\n  \"startDate\" : \"...\",\n  \"isActive\" : true,\n  \"name\" : \"...\",\n  \"endDate\" : \"...\"\n}"}}},"responses":{"204":{"description":"Success"},"400":{"description":"Navigation params is not valid"}}}},"/admin/rest/maintenance-message/login-lock/_current":{"get":{"tags":["MaintenanceRestService"],"description":"Returns login lock scheduler.","operationId":"MaintenanceRestService-GET_getLoginLockScheduler","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginLockSchedulerDto"}}}},"204":{"description":"No maintenance message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginLockSchedulerDto"}}}}}}},"/admin/rest/maintenance-message/ui/_current":{"get":{"tags":["MaintenanceRestService"],"description":"Returns maintenance message for UI displaying of the message.\nReturns null when there is no message","operationId":"MaintenanceRestService-GET_getCurrentUiMessage","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceUiWarningSchedulerDto"}}}},"204":{"description":"No maintenance message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceUiWarningSchedulerDto"}}}}}}},"/admin/rest/manuals":{"get":{"tags":["ManualRestService"],"description":"Returns the manuals for the modules.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_MANUALS","operationId":"ManualRestService-GET_getManuals","parameters":[{"name":"language","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManualSectionRestDto"}}}}}}}},"/admin/rest/navigation":{"get":{"tags":["NavigationRestService"],"description":"Return all navigation items.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_NAVIGATION","operationId":"NavigationRestService-GET_getAll","responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NavigationMinDto"}},"example":"[ {\n  \"module\" : \"...\",\n  \"shortDescription\" : \"...\",\n  \"type\" : \"module\",\n  \"title\" : \"...\",\n  \"default\" : true,\n  \"url\" : \"...\",\n  \"target\" : \"_top\",\n  \"id\" : \"...\",\n  \"roles\" : [ 12345, 12345 ],\n  \"visible\" : true,\n  \"position\" : 12345\n} ]"}}}}},"post":{"tags":["NavigationRestService"],"description":"Return created navigation item.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_NAVIGATION","operationId":"NavigationRestService-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NavigationCreateDto"},"example":"{\n  \"roles\" : [ 12345, 12345 ],\n  \"visible\" : true,\n  \"type\" : \"module\",\n  \"module\" : \"...\",\n  \"default\" : true,\n  \"target\" : \"_blank\",\n  \"url\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"title\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"shortDescription\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalNavigationDto"}}}},"400":{"description":"Navigation params is not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalNavigationDto"}}}}}}},"/admin/rest/navigation/_current-user":{"get":{"tags":["NavigationRestService"],"description":"Get navigation items for user (filtered by roles and rights).\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"NavigationRestService-GET_getAllForCurrentUser","responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NavigationMinDto"}},"example":"[ {\n  \"module\" : \"...\",\n  \"shortDescription\" : \"...\",\n  \"type\" : \"external\",\n  \"title\" : \"...\",\n  \"default\" : true,\n  \"url\" : \"...\",\n  \"target\" : \"_top\",\n  \"id\" : \"...\",\n  \"roles\" : [ 12345, 12345 ],\n  \"visible\" : true,\n  \"position\" : 12345\n} ]"}}}}}},"/admin/rest/navigation/_update-positions":{"post":{"tags":["NavigationRestService"],"description":"Update positions for navigation items.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_NAVIGATION","operationId":"NavigationRestService-POST_updatePositions","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NavigationPositionDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"position\" : 12345\n} ]"}}},"responses":{"204":{"description":"Success"},"404":{"description":"Navigation item is not found by id"}}}},"/admin/rest/navigation/module/{id}":{"get":{"tags":["NavigationRestService"],"description":"Return navigation module item by id.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_NAVIGATION","operationId":"NavigationRestService-GET_getModule","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModuleNavigationDto"}}}},"404":{"description":"Navigation item is not found by id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModuleNavigationDto"}}}}}},"put":{"tags":["NavigationRestService"],"description":"Update navigation item.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_NAVIGATION","operationId":"NavigationRestService-PUT_updateModule","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NavigationCreateDto"},"example":"{\n  \"roles\" : [ 12345, 12345 ],\n  \"visible\" : true,\n  \"type\" : \"module\",\n  \"module\" : \"...\",\n  \"default\" : true,\n  \"target\" : \"_blank\",\n  \"url\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"title\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"shortDescription\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModuleNavigationDto"}}}},"400":{"description":"Navigation params is not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModuleNavigationDto"}}}},"404":{"description":"Navigation item is not found by id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModuleNavigationDto"}}}}}}},"/admin/rest/navigation/users/{userId}":{"get":{"tags":["NavigationRestService"],"description":"Get navigation items for user (filtered by roles and rights).\n\n__Security Roles Allowed:__ SYSTEM_USER","operationId":"NavigationRestService-GET_getAllForUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NavigationMinDto"}},"example":"[ {\n  \"module\" : \"...\",\n  \"shortDescription\" : \"...\",\n  \"type\" : \"external\",\n  \"title\" : \"...\",\n  \"default\" : true,\n  \"url\" : \"...\",\n  \"target\" : \"_parent\",\n  \"id\" : \"...\",\n  \"roles\" : [ 12345, 12345 ],\n  \"visible\" : true,\n  \"position\" : 12345\n} ]"}}}}}},"/admin/rest/navigation/{id}":{"get":{"tags":["NavigationRestService"],"description":"Return navigation item by id.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_NAVIGATION","operationId":"NavigationRestService-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalNavigationDto"}}}},"404":{"description":"Navigation item is not found by id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalNavigationDto"}}}}}},"put":{"tags":["NavigationRestService"],"description":"Update navigation item.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_NAVIGATION","operationId":"NavigationRestService-PUT_update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NavigationCreateDto"},"example":"{\n  \"roles\" : [ 12345, 12345 ],\n  \"visible\" : true,\n  \"type\" : \"external\",\n  \"module\" : \"...\",\n  \"default\" : true,\n  \"target\" : \"_top\",\n  \"url\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"title\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"shortDescription\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalNavigationDto"}}}},"400":{"description":"Navigation params is not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalNavigationDto"}}}},"404":{"description":"Navigation item is not found by id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalNavigationDto"}}}}}},"delete":{"tags":["NavigationRestService"],"description":"Remove navigation item by id.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_NAVIGATION","operationId":"NavigationRestService-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"404":{"description":"Navigation item is not found by id"}}}},"/admin/rest/navigation/{id}/_default":{"put":{"tags":["NavigationRestService"],"description":"Set default navigation item by id.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_NAVIGATION","operationId":"NavigationRestService-PUT_setIsDefault","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"404":{"description":"Navigation item is not found by id"}}}},"/admin/rest/navigation/{id}/_visible":{"put":{"tags":["NavigationRestService"],"description":"Set default navigation item by id.\n\n__Security Roles Allowed:__ PIMEDIA_ORGANISATION_MANAGE_NAVIGATION","operationId":"NavigationRestService-PUT_setIsVisible","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"isVisible":{"type":"boolean"}}}}}},"responses":{"204":{"description":"Success"},"404":{"description":"Navigation item is not found by id"}}}},"/admin/rest/sew/_init":{"get":{"tags":["SewRestService"],"description":"\n\n__Security Roles Allowed:__ SEW_MODULE_ACCESS","operationId":"SewRestService-GET_init","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SewInitDto"}}}}}}},"/admin/rest/tableau/_init":{"get":{"tags":["TableauRestService"],"description":"\n\n__Security Roles Allowed:__ TABLEAU_MODULE_ACCESS","operationId":"TableauRestService-GET_init","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableauUrlDto"}}}}}}},"/admin/rest/tableau/site/workbooks":{"get":{"tags":["TableauRestService"],"description":"\n\n__Security Roles Allowed:__ TABLEAU_MODULE_ACCESS","operationId":"TableauRestService-GET_workbooks","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableauWorkbooksRootDto"}}}}}}},"/admin/rest/tableau/site/workbooks/{workbookId}/views":{"get":{"tags":["TableauRestService"],"description":"\n\n__Security Roles Allowed:__ TABLEAU_MODULE_ACCESS","operationId":"TableauRestService-GET_viewsByWorkbooks","parameters":[{"name":"workbookId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableauViewsRootDto"}}}}}}},"/admin/rest/tableau/user/workbooks":{"get":{"tags":["TableauRestService"],"description":"\n\n__Security Roles Allowed:__ TABLEAU_MODULE_ACCESS","operationId":"TableauRestService-GET_workbooksByUser","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableauWorkbooksRootDto"}}}}}}},"/admin/rest/tableau/views/{workbookUrl}/{viewUrl}":{"get":{"tags":["TableauRestService"],"description":"\n\n__Security Roles Allowed:__ TABLEAU_MODULE_ACCESS","operationId":"TableauRestService-GET_viewsRoute","parameters":[{"name":"viewUrl","in":"path","required":true,"schema":{"type":"string"}},{"name":"workbookUrl","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableauUrlDto"}}}}}}}},"components":{"schemas":{"Board2DivisionCreatedEvent":{"title":"Board2DivisionCreatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2DivisionDeletedEvent":{"title":"Board2DivisionDeletedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2DivisionDto":{"title":"Board2DivisionDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"boardId":{"type":"string"},"divisionId":{"type":"integer","format":"int32"},"access":{"$ref":"#/components/schemas/BoardAccessTypeEnum"}}},"Board2DivisionEventDto":{"title":"Board2DivisionEventDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"boardId":{"type":"string"},"divisionId":{"type":"integer","format":"int32"},"access":{"$ref":"#/components/schemas/BoardAccessTypeEnum"}}},"Board2DivisionPersistDto":{"title":"Board2DivisionPersistDto","type":"object","properties":{"boardId":{"type":"string"},"divisionId":{"type":"integer","format":"int32"},"access":{"type":"string"},"receivedFields":{"type":"array","items":{"type":"string"}}}},"Board2DivisionUpdatedEvent":{"title":"Board2DivisionUpdatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2RoleCreatedEvent":{"title":"Board2RoleCreatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2RoleDeletedEvent":{"title":"Board2RoleDeletedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2RoleDto":{"title":"Board2RoleDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"boardId":{"type":"string"},"roleId":{"type":"integer","format":"int32"},"access":{"$ref":"#/components/schemas/BoardAccessTypeEnum"}}},"Board2RoleEventDto":{"title":"Board2RoleEventDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"boardId":{"type":"string"},"roleId":{"type":"integer","format":"int32"},"access":{"$ref":"#/components/schemas/BoardAccessTypeEnum"}}},"Board2RolePersistDto":{"title":"Board2RolePersistDto","type":"object","properties":{"boardId":{"type":"string"},"roleId":{"type":"integer","format":"int32"},"access":{"type":"string"},"receivedFields":{"type":"array","items":{"type":"string"}}}},"Board2RoleUpdatedEvent":{"title":"Board2RoleUpdatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2UserCreatedEvent":{"title":"Board2UserCreatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2UserDeletedEvent":{"title":"Board2UserDeletedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2UserDto":{"title":"Board2UserDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"boardId":{"type":"string"},"userId":{"type":"integer","format":"int32"},"access":{"$ref":"#/components/schemas/BoardAccessTypeEnum"}}},"Board2UserEventDto":{"title":"Board2UserEventDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"boardId":{"type":"string"},"userId":{"type":"integer","format":"int32"},"access":{"$ref":"#/components/schemas/BoardAccessTypeEnum"}}},"Board2UserPersistDto":{"title":"Board2UserPersistDto","type":"object","properties":{"boardId":{"type":"string"},"userId":{"type":"integer","format":"int32"},"access":{"type":"string"},"receivedFields":{"type":"array","items":{"type":"string"}}}},"Board2UserUpdatedEvent":{"title":"Board2UserUpdatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2VdbGroupCreatedEvent":{"title":"Board2VdbGroupCreatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2VdbGroupDeletedEvent":{"title":"Board2VdbGroupDeletedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"Board2VdbGroupDto":{"title":"Board2VdbGroupDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"boardId":{"type":"string"},"vdbGroupId":{"type":"integer","format":"int32"},"access":{"$ref":"#/components/schemas/BoardAccessTypeEnum"}}},"Board2VdbGroupEventDto":{"title":"Board2VdbGroupEventDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"boardId":{"type":"string"},"vdbGroupId":{"type":"integer","format":"int32"},"access":{"$ref":"#/components/schemas/BoardAccessTypeEnum"}}},"Board2VdbGroupPersistDto":{"title":"Board2VdbGroupPersistDto","type":"object","properties":{"boardId":{"type":"string"},"vdbGroupId":{"type":"integer","format":"int32"},"access":{"type":"string"},"receivedFields":{"type":"array","items":{"type":"string"}}}},"Board2VdbGroupUpdatedEvent":{"title":"Board2VdbGroupUpdatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"BoardAccessTypeDto":{"title":"BoardAccessTypeDto","type":"object","properties":{"name":{"type":"string"},"title":{"type":"string"}}},"BoardAccessTypeEnum":{"title":"BoardAccessTypeEnum","type":"string","enum":["READ","WRITE","READ_AND_WRITE"]},"BoardActionDto":{"title":"BoardActionDto","type":"object","properties":{"id":{"type":"string"},"type":{"$ref":"#/components/schemas/BoardUserActionsTypeEnum"},"action":{"$ref":"#/components/schemas/BoardUserActionsEnum"}}},"BoardCreatedEvent":{"title":"BoardCreatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"BoardDeletedEvent":{"title":"BoardDeletedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"BoardDto":{"title":"BoardDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"parentId":{"type":"string"},"label":{"type":"object","additionalProperties":{"type":"string"}},"creatorId":{"type":"integer","format":"int32"},"type":{"$ref":"#/components/schemas/BoardTypeEnum"},"visibilityType":{"$ref":"#/components/schemas/BoardVisibilityTypeEnum"},"genericAttributes":{"$ref":"#/components/schemas/Json"}}},"BoardEventDto":{"title":"BoardEventDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"parentId":{"type":"string"},"label":{"type":"object","additionalProperties":{"type":"string"}},"creatorId":{"type":"integer","format":"int32"},"type":{"$ref":"#/components/schemas/BoardTypeEnum"},"visibilityType":{"$ref":"#/components/schemas/BoardVisibilityTypeEnum"},"genericAttributes":{"$ref":"#/components/schemas/Json"}}},"BoardInitDto":{"title":"BoardInitDto","type":"object","properties":{"types":{"type":"array","items":{"$ref":"#/components/schemas/BoardTypeDto"}},"visibilityTypes":{"type":"array","items":{"$ref":"#/components/schemas/BoardVisibilityTypeDto"}},"accessTypes":{"type":"array","items":{"$ref":"#/components/schemas/BoardAccessTypeDto"}},"roles":{"type":"array","items":{"$ref":"#/components/schemas/RoleDto"}},"divisions":{"type":"array","items":{"$ref":"#/components/schemas/DivisionDto"}},"vdbGroups":{"type":"array","items":{"$ref":"#/components/schemas/VdbGroupDto"}}}},"BoardPersistDto":{"title":"BoardPersistDto","type":"object","properties":{"parentId":{"type":"string"},"label":{"type":"object","additionalProperties":{"type":"string"}},"type":{"type":"string"},"visibility":{"$ref":"#/components/schemas/BoardVisibilityDto"},"genericAttributes":{"$ref":"#/components/schemas/Json"},"receivedFields":{"type":"array","items":{"type":"string"}}}},"BoardSearchParams":{"title":"BoardSearchParams","type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}},"label":{"type":"string"},"parentId":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"limit":{"type":"integer","format":"int32"},"userLanguage":{"type":"string"},"fallbackMultilanguage":{"type":"string"},"userId":{"type":"integer","format":"int32"},"type":{"type":"string"},"visibilityTypes":{"type":"array","items":{"type":"string"}}}},"BoardTodoTypesEnum":{"title":"BoardTodoTypesEnum","type":"string","enum":["MRM_JOB","MRM_TASK"]},"BoardTypeDto":{"title":"BoardTypeDto","type":"object","properties":{"name":{"type":"string"},"title":{"type":"string"}}},"BoardTypeEnum":{"title":"BoardTypeEnum","type":"string","enum":["ADMIN","USER"]},"BoardUpdatedEvent":{"title":"BoardUpdatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"BoardUserActionsDto":{"title":"BoardUserActionsDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"userId":{"type":"integer","format":"int32"},"objectId":{"type":"string"},"objectType":{"$ref":"#/components/schemas/BoardUserActionsTypeEnum"},"action":{"$ref":"#/components/schemas/BoardUserActionsEnum"}}},"BoardUserActionsEnum":{"title":"BoardUserActionsEnum","type":"string","enum":["DISCARD"]},"BoardUserActionsPersistDto":{"title":"BoardUserActionsPersistDto","type":"object","properties":{"objectId":{"type":"string"},"objectType":{"$ref":"#/components/schemas/BoardUserActionsTypeEnum"},"action":{"$ref":"#/components/schemas/BoardUserActionsEnum"},"receivedFields":{"type":"array","items":{"type":"string"}}}},"BoardUserActionsTypeEnum":{"title":"BoardUserActionsTypeEnum","type":"string","enum":["TODO"]},"BoardVisibilityDto":{"title":"BoardVisibilityDto","type":"object","properties":{"visibilityType":{"type":"string"},"visibilityOptions":{"$ref":"#/components/schemas/BoardVisibilityOptionsDto"},"users":{"type":"array","items":{"$ref":"#/components/schemas/IdNameDto"}}}},"BoardVisibilityOptionItem":{"title":"BoardVisibilityOptionItem","type":"object","properties":{"id":{"type":"integer","format":"int32"},"access":{"type":"string"}}},"BoardVisibilityOptionsDto":{"title":"BoardVisibilityOptionsDto","type":"object","properties":{"roles":{"type":"array","items":{"$ref":"#/components/schemas/BoardVisibilityOptionItem"}},"users":{"type":"array","items":{"$ref":"#/components/schemas/BoardVisibilityOptionItem"}},"divisions":{"type":"array","items":{"$ref":"#/components/schemas/BoardVisibilityOptionItem"}},"vdbGroups":{"type":"array","items":{"$ref":"#/components/schemas/BoardVisibilityOptionItem"}}}},"BoardVisibilityTypeDto":{"title":"BoardVisibilityTypeDto","type":"object","properties":{"name":{"type":"string"},"title":{"type":"string"}}},"BoardVisibilityTypeEnum":{"title":"BoardVisibilityTypeEnum","type":"string","enum":["ALL","RESTRICTION","NOBODY"]},"BoardWidgetDto":{"title":"BoardWidgetDto","required":["accessible","pinned"],"type":"object","properties":{"id":{"type":"string"},"positionX":{"type":"integer","format":"int32"},"positionY":{"type":"integer","format":"int32"},"sizeX":{"type":"integer","format":"int32"},"sizeY":{"type":"integer","format":"int32"},"genericAttributes":{"$ref":"#/components/schemas/Json"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"accessible":{"type":"boolean"},"pinned":{"type":"boolean"},"borderColor":{"type":"string"}}},"BoardWidgetFullDto":{"title":"BoardWidgetFullDto","type":"object","properties":{"widgetMeta":{"$ref":"#/components/schemas/BoardWidgetDto"},"widget":{"$ref":"#/components/schemas/BoardWidgetMetaDto"}}},"BoardWidgetInstanceBatchDto":{"title":"BoardWidgetInstanceBatchDto","type":"object","properties":{"id":{"type":"string"}},"allOf":[{"$ref":"#/components/schemas/BoardWidgetInstancePersistDto"}]},"BoardWidgetInstanceCreatedEvent":{"title":"BoardWidgetInstanceCreatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"BoardWidgetInstanceDeletedEvent":{"title":"BoardWidgetInstanceDeletedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"BoardWidgetInstanceDto":{"title":"BoardWidgetInstanceDto","required":["pinned"],"type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"boardId":{"type":"string"},"widgetName":{"type":"string"},"positionX":{"type":"integer","format":"int32"},"positionY":{"type":"integer","format":"int32"},"sizeX":{"type":"integer","format":"int32"},"sizeY":{"type":"integer","format":"int32"},"genericAttributes":{"$ref":"#/components/schemas/Json"},"pinned":{"type":"boolean"},"borderColor":{"type":"string"}}},"BoardWidgetInstanceEventDto":{"title":"BoardWidgetInstanceEventDto","type":"object","properties":{"id":{"type":"string"},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"boardId":{"type":"string"},"widgetName":{"type":"string"},"positionX":{"type":"integer","format":"int32"},"positionY":{"type":"integer","format":"int32"},"sizeX":{"type":"integer","format":"int32"},"sizeY":{"type":"integer","format":"int32"},"genericAttributes":{"$ref":"#/components/schemas/Json"}}},"BoardWidgetInstancePersistDto":{"title":"BoardWidgetInstancePersistDto","type":"object","properties":{"boardId":{"type":"string"},"widgetName":{"type":"string"},"positionX":{"type":"integer","format":"int32"},"positionY":{"type":"integer","format":"int32"},"sizeX":{"type":"integer","format":"int32"},"sizeY":{"type":"integer","format":"int32"},"genericAttributes":{"$ref":"#/components/schemas/Json"},"receivedFields":{"type":"array","items":{"type":"string"}},"pinned":{"type":"boolean"},"borderColor":{"type":"string"}}},"BoardWidgetInstanceUpdatedEvent":{"title":"BoardWidgetInstanceUpdatedEvent","type":"object","allOf":[{"$ref":"#/components/schemas/JmsJsonMessage"}]},"BoardWidgetMetaDto":{"title":"BoardWidgetMetaDto","type":"object","properties":{"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"name":{"type":"string"},"groupType":{"type":"string"},"rights":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}}}},"BoardWidgetsEnum":{"title":"BoardWidgetsEnum","type":"string","enum":["LINK","LINK_CAROUSEL","TWITTER","YOUTUBE","CAROUSEL","RT_EDITOR","VIDEO","TEXT","NOTIFICATIONS","HTML_SOURCES","TODO","PLACEHOLDER","REPORTS","SEARCH"]},"BoardWithVisibilityDto":{"title":"BoardWithVisibilityDto","type":"object","properties":{"visibility":{"$ref":"#/components/schemas/BoardVisibilityDto"}},"allOf":[{"$ref":"#/components/schemas/BoardDto"}]},"BoardWithWidgetsDto":{"title":"BoardWithWidgetsDto","type":"object","properties":{"widgets":{"type":"array","items":{"$ref":"#/components/schemas/BoardWidgetFullDto"}}},"allOf":[{"$ref":"#/components/schemas/BoardDto"}]},"DivisionDto":{"title":"DivisionDto","type":"object","properties":{"note":{"type":"string"},"shortName":{"type":"string"},"ssoKey":{"type":"string"},"id":{"type":"integer","format":"int32"},"parentDivisionId":{"type":"integer","format":"int32"},"path":{"type":"string"},"fullName":{"type":"string"},"userId":{"type":"integer","format":"int32"}}},"DmcInitDto":{"title":"DmcInitDto","type":"object","properties":{"url":{"type":"string"},"token":{"type":"string"}}},"EmailSettingDto":{"title":"EmailSettingDto","type":"object","properties":{"name":{"type":"string"},"defaultValue":{"type":"string"},"validationUrl":{"type":"string"},"allowedValues":{"type":"array","items":{"type":"string"}}},"description":"DTO which represents the description of the email setting."},"ExternalNavigationDto":{"title":"ExternalNavigationDto","type":"object","properties":{"target":{"$ref":"#/components/schemas/NavigationLinkTargetEnum"}},"allOf":[{"$ref":"#/components/schemas/NavigationDto"}]},"FrontendUserDto":{"title":"FrontendUserDto","required":["delegationStarted","emailsDuringDelegation"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"login":{"type":"string"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"fullName":{"type":"string"},"language":{"type":"string"},"timeZoneId":{"type":"string"},"skin":{"type":"string"},"divisionId":{"type":"integer","format":"int32"},"mailReceive":{"$ref":"#/components/schemas/MailReceiveTypeEnum"},"startModuleId":{"type":"string"},"substitutesMode":{"$ref":"#/components/schemas/SubstituteModeEnum"},"roleIds":{"type":"array","items":{"type":"integer","format":"int32"}},"substitutesFromDate":{"type":"string","format":"date-time"},"substitutesToDate":{"type":"string","format":"date-time"},"emailsDuringDelegation":{"type":"boolean"},"delegationStarted":{"type":"boolean"},"timeZoneOffset":{"type":"string"},"rights":{"type":"array","items":{"type":"string"}},"vdbGroupName":{"type":"string"},"preferredLengthUnit":{"type":"string"}}},"HeaderInitDto":{"title":"HeaderInitDto","type":"object","properties":{"notificationUnreadCount":{"type":"integer","format":"int32"},"navigation":{"type":"array","items":{"$ref":"#/components/schemas/NavigationMinDto"}},"shopItemsAmount":{"type":"integer","format":"int32"},"settings":{"type":"object","additionalProperties":{"type":"string"}},"homeLink":{"type":"string"},"usedLanguages":{"type":"object","additionalProperties":{"type":"string"}},"enabledModules":{"type":"array","items":{"$ref":"#/components/schemas/ModuleMinDto"}},"systemId":{"type":"string"},"customerId":{"type":"string"},"modules":{"type":"array","items":{"$ref":"#/components/schemas/ModuleFrontendDto"}}},"description":"Dto which contains all backend data which is needed for frontend application start with header in the app.","allOf":[{"$ref":"#/components/schemas/MinimalInitForUiDto"}]},"HealthChecksDto":{"title":"HealthChecksDto","type":"object","properties":{"data":{"type":"object","additionalProperties":{"type":"string"}},"status":{"$ref":"#/components/schemas/HealthStatusEnum"},"name":{"type":"string"}}},"HealthDto":{"title":"HealthDto","type":"object","properties":{"status":{"$ref":"#/components/schemas/HealthStatusEnum"},"checks":{"type":"array","items":{"$ref":"#/components/schemas/HealthChecksDto"}}}},"HealthStatusEnum":{"title":"HealthStatusEnum","type":"string","enum":["UP","DOWN"]},"HelpAndServiceDto":{"title":"HelpAndServiceDto","type":"object","properties":{"id":{"type":"string"},"modules":{"type":"array","items":{"type":"string"}},"languages":{"type":"array","items":{"type":"string"}},"label":{"type":"string"},"type":{"type":"string"},"position":{"type":"integer","format":"int32"},"enabled":{"type":"boolean"},"linkId":{"type":"string"}}},"IdNameDto":{"title":"IdNameDto","type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"}}},"JmsJsonMessage":{"title":"JmsJsonMessage","type":"object","properties":{"performer":{"type":"string"},"action":{"type":"string"},"extra":{"type":"array","items":{"$ref":"#/components/schemas/Serializable"}},"subject":{"type":"string"}}},"Json":{"title":"Json","type":"object"},"LinkTypeEnum":{"title":"LinkTypeEnum","type":"string","enum":["CUSTOM","_DEFAULT"]},"LoginLockSchedulerDto":{"title":"LoginLockSchedulerDto","type":"object","allOf":[{"$ref":"#/components/schemas/SchedulerBasicDto"}]},"MailReceiveTypeEnum":{"title":"MailReceiveTypeEnum","type":"string","enum":["NO_EMAILS","ALL"]},"MaintenanceEmailSchedulerDto":{"title":"MaintenanceEmailSchedulerDto","type":"object","properties":{"message":{"type":"string"},"sent":{"type":"boolean"}},"allOf":[{"$ref":"#/components/schemas/SchedulerBasicDto"}]},"MaintenanceSchedulersDto":{"title":"MaintenanceSchedulersDto","type":"object","properties":{"maintenanceEmailScheduler":{"$ref":"#/components/schemas/MaintenanceEmailSchedulerDto"},"maintenanceUiWarningScheduler":{"$ref":"#/components/schemas/MaintenanceUiWarningSchedulerDto"},"loginLockScheduler":{"$ref":"#/components/schemas/LoginLockSchedulerDto"}}},"MaintenanceUiWarningSchedulerDto":{"title":"MaintenanceUiWarningSchedulerDto","required":["displayMessageInHeader","displayMessageInLogin"],"type":"object","properties":{"displayMessageInLogin":{"type":"boolean"},"displayMessageInHeader":{"type":"boolean"},"guiMessage":{"type":"string"}},"allOf":[{"$ref":"#/components/schemas/SchedulerBasicDto"}]},"ManualRestDto":{"title":"ManualRestDto","type":"object","properties":{"manualLink":{"type":"string"},"manualLanguage":{"type":"string"}}},"ManualSectionRestDto":{"title":"ManualSectionRestDto","type":"object","properties":{"downloadable":{"type":"boolean"},"id":{"type":"integer","format":"int32"},"manualSectionName":{"type":"string"},"manualSectionIconName":{"type":"string"},"adminManuals":{"type":"array","items":{"$ref":"#/components/schemas/ManualRestDto"}},"userManuals":{"type":"array","items":{"$ref":"#/components/schemas/ManualRestDto"}}}},"MinimalInitForUiDto":{"title":"MinimalInitForUiDto","type":"object","properties":{"skin":{"type":"object","additionalProperties":{"type":"string"}}},"description":"Dto which contains minimal backend data which is needed for frontend application start"},"ModuleDto":{"title":"ModuleDto","type":"object","properties":{"displayName":{"type":"string"},"code":{"type":"integer","format":"int32"},"shortName":{"type":"string"},"firstTemplate":{"type":"string"}}},"ModuleFrontendDto":{"title":"ModuleFrontendDto","required":["enabled"],"type":"object","properties":{"shortName":{"type":"string"},"label":{"type":"string"},"moduleAccessRight":{"type":"string"},"mainUrl":{"type":"string"},"enabled":{"type":"boolean"},"moduleCode":{"type":"integer","format":"int32"}}},"ModuleMinDto":{"title":"ModuleMinDto","type":"object","properties":{"name":{"type":"string"},"shortName":{"type":"string"},"id":{"type":"integer","format":"int32"}}},"ModuleNavigationDto":{"title":"ModuleNavigationDto","type":"object","properties":{"module":{"type":"string"}},"allOf":[{"$ref":"#/components/schemas/NavigationDto"}]},"MpAssetSuffixTypeRestDto":{"title":"MpAssetSuffixTypeRestDto","type":"object","properties":{"label":{"type":"string"},"name":{"type":"string"},"suffixes":{"type":"array","items":{"type":"string"}}}},"Navigation2Roles":{"title":"Navigation2Roles","type":"object","properties":{"navigationId":{"type":"string"},"roleId":{"type":"integer","format":"int32"}}},"NavigationCreateDto":{"title":"NavigationCreateDto","required":["default","visible"],"type":"object","properties":{"roles":{"type":"array","items":{"type":"integer","format":"int32"}},"visible":{"type":"boolean"},"type":{"$ref":"#/components/schemas/NavigationTypeEnum"},"module":{"type":"string"},"default":{"type":"boolean"},"target":{"$ref":"#/components/schemas/NavigationLinkTargetEnum"},"url":{"type":"object","additionalProperties":{"type":"string"}},"title":{"type":"object","additionalProperties":{"type":"string"}},"shortDescription":{"type":"object","additionalProperties":{"type":"string"}}}},"NavigationDto":{"title":"NavigationDto","required":["default","visible"],"type":"object","properties":{"id":{"type":"string"},"position":{"type":"integer","format":"int32"},"type":{"$ref":"#/components/schemas/NavigationTypeEnum"},"default":{"type":"boolean"},"visible":{"type":"boolean"},"roles":{"type":"array","items":{"type":"integer","format":"int32"}},"createDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"shortDescription":{"type":"object","additionalProperties":{"type":"string"}},"url":{"type":"object","additionalProperties":{"type":"string"}},"title":{"type":"object","additionalProperties":{"type":"string"}}}},"NavigationLinkTargetEnum":{"title":"NavigationLinkTargetEnum","type":"string","enum":["_blank","_self","_parent","_top"]},"NavigationMinDto":{"title":"NavigationMinDto","required":["default","visible"],"type":"object","properties":{"module":{"type":"string"},"shortDescription":{"type":"string"},"type":{"$ref":"#/components/schemas/NavigationTypeEnum"},"title":{"type":"string"},"default":{"type":"boolean"},"url":{"type":"string"},"target":{"$ref":"#/components/schemas/NavigationLinkTargetEnum"},"id":{"type":"string"},"roles":{"type":"array","items":{"type":"integer","format":"int32"}},"visible":{"type":"boolean"},"position":{"type":"integer","format":"int32"}}},"NavigationPositionDto":{"title":"NavigationPositionDto","type":"object","properties":{"id":{"type":"string"},"position":{"type":"integer","format":"int32"}}},"NavigationTypeEnum":{"title":"NavigationTypeEnum","type":"string","enum":["module","external"]},"PagingDtoOfTodoObjectDto":{"title":"PagingDtoOfTodoObjectDto","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TodoObjectDto"}},"totalCount":{"type":"integer","format":"int32"}}},"PaperCustomDto":{"title":"PaperCustomDto","type":"object","properties":{"paperVersion":{"type":"integer","format":"int32"},"language":{"type":"string"},"module":{"type":"string"},"name":{"type":"string"},"paper":{"type":"string"},"subject":{"type":"string"},"systemId":{"type":"string"}}},"PaperCustomUpdateDto":{"title":"PaperCustomUpdateDto","type":"object","properties":{"paperVersion":{"type":"integer","format":"int32"},"language":{"type":"string"},"name":{"type":"string"},"paper":{"type":"string"},"subject":{"type":"string"},"module":{"type":"string"}}},"PaperDefaultDto":{"title":"PaperDefaultDto","type":"object","properties":{"systemVersion":{"type":"string"},"language":{"type":"string"},"module":{"type":"string"},"name":{"type":"string"},"subject":{"type":"string"},"variables":{"type":"string"},"paperVersion":{"type":"integer","format":"int32"},"paper":{"type":"string"}}},"PaperGetCustomParam":{"title":"PaperGetCustomParam","type":"object","properties":{"systemIds":{"type":"array","items":{"type":"string"}},"modules":{"type":"array","items":{"type":"string"}},"languages":{"type":"array","items":{"type":"string"}},"names":{"type":"array","items":{"type":"string"}},"papers":{"type":"array","items":{"type":"string"}}}},"PaperGetDefaultParam":{"title":"PaperGetDefaultParam","type":"object","properties":{"defaultPaperVersion":{"type":"string"},"modules":{"type":"array","items":{"type":"string"}},"languages":{"type":"array","items":{"type":"string"}},"names":{"type":"array","items":{"type":"string"}},"papers":{"type":"array","items":{"type":"string"}}}},"PaperPageAdminDto":{"title":"PaperPageAdminDto","type":"object","properties":{"variables":{"type":"string"},"systemVersion":{"type":"string"}},"allOf":[{"$ref":"#/components/schemas/PaperCustomDto"}]},"PaperRegisterDto":{"title":"PaperRegisterDto","type":"object","properties":{"systemVersion":{"type":"string"},"language":{"type":"string"},"module":{"type":"string"},"name":{"type":"string"},"paperVersion":{"type":"integer","format":"int32"},"paper":{"type":"string"}}},"RoleDto":{"title":"RoleDto","type":"object","properties":{"administrative":{"type":"boolean"},"moduleId":{"type":"integer","format":"int32"},"defaultRole":{"type":"boolean"},"rolesToUsers":{"type":"array","items":{"$ref":"#/components/schemas/RoleToUserDto"}},"defaultVirtualDb":{"type":"integer","format":"int32"},"orderIndex":{"type":"integer","format":"int32"}},"allOf":[{"$ref":"#/components/schemas/RoleMinDto"}]},"RoleMinDto":{"title":"RoleMinDto","type":"object","allOf":[{"$ref":"#/components/schemas/IdNameDto"}]},"RoleToUserDto":{"title":"RoleToUserDto","type":"object","properties":{"role":{"$ref":"#/components/schemas/RoleDto"},"userId":{"type":"integer","format":"int32"},"roleId":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int32"},"user":{"$ref":"#/components/schemas/UserDto"}}},"SchedulerBasicDto":{"title":"SchedulerBasicDto","required":["isActive"],"type":"object","properties":{"startDate":{"type":"string","format":"date-time"},"isActive":{"type":"boolean"},"name":{"type":"string"},"endDate":{"type":"string","format":"date-time"}}},"Serializable":{"title":"Serializable","type":"object"},"SewInitDto":{"title":"SewInitDto","type":"object","properties":{"url":{"type":"string"},"token":{"type":"string"}}},"SubstituteModeEnum":{"title":"SubstituteModeEnum","type":"string","enum":["DEACTIVATE_SUBSTITUTES","ACTIVATE_SUBSTITUTES","SUBSTITUTES_PERIOD"]},"SystemInfoDto":{"title":"SystemInfoDto","type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}},"description":"Properties for system info entity"},"TableauUrlDto":{"title":"TableauUrlDto","type":"object","properties":{"url":{"type":"string"}}},"TableauViewDto":{"title":"TableauViewDto","type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"viewUrlName":{"type":"string"}}},"TableauViewsDto":{"title":"TableauViewsDto","type":"object","properties":{"view":{"type":"array","items":{"$ref":"#/components/schemas/TableauViewDto"}}}},"TableauViewsRootDto":{"title":"TableauViewsRootDto","type":"object","properties":{"views":{"$ref":"#/components/schemas/TableauViewsDto"}}},"TableauWorkbookDto":{"title":"TableauWorkbookDto","type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"contentUrl":{"type":"string"}}},"TableauWorkbooksDto":{"title":"TableauWorkbooksDto","type":"object","properties":{"workbook":{"type":"array","items":{"$ref":"#/components/schemas/TableauWorkbookDto"}}}},"TableauWorkbooksRootDto":{"title":"TableauWorkbooksRootDto","type":"object","properties":{"workbooks":{"$ref":"#/components/schemas/TableauWorkbooksDto"}}},"TodoObjectDto":{"title":"TodoObjectDto","type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"date":{"type":"string","format":"date-time"},"type":{"$ref":"#/components/schemas/BoardTodoTypesEnum"},"link":{"type":"string"}}},"UserDto":{"title":"UserDto","required":["delegationStarted","emailsDuringDelegation","sendNotifications"],"type":"object","properties":{"skin":{"type":"string"},"remarks":{"type":"string"},"divisionProtected":{"type":"boolean"},"genericAttributes":{"type":"object","additionalProperties":{"type":"string"}},"mailSignature":{"type":"string"},"startModuleId":{"type":"string"},"external":{"type":"boolean"},"configAssistantStep":{"type":"integer","format":"int32"},"fullName":{"type":"string"},"timeZoneId":{"type":"string"},"substitutesToDate":{"type":"string","format":"date-time"},"emailsDuringDelegation":{"type":"boolean"},"title":{"type":"string"},"substitutesMode":{"$ref":"#/components/schemas/SubstituteModeEnum"},"vdbGroupName":{"type":"string"},"selectedAffiliate":{"type":"string"},"substitutesFromDate":{"type":"string","format":"date-time"},"gender":{"type":"string"},"loginHash":{"type":"string"},"firstName":{"type":"string"},"login":{"type":"string"},"mailReceive":{"$ref":"#/components/schemas/MailReceiveTypeEnum"},"rights":{"type":"array","items":{"type":"string"}},"userType":{"type":"string"},"vdbGroupId":{"type":"integer","format":"int32"},"delegationStarted":{"type":"boolean"},"company":{"type":"string"},"language":{"type":"string"},"lastUsedDivisionId":{"type":"integer","format":"int32"},"lastName":{"type":"string"},"timeZoneOffset":{"type":"string"},"jobPosition":{"type":"string"},"roleIds":{"type":"array","items":{"type":"integer","format":"int32"}},"alternateAffiliates":{"type":"string"},"email":{"type":"string"},"preferredLengthUnit":{"type":"string"},"divisionId":{"type":"integer","format":"int32"},"expireDate":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"locked":{"type":"boolean"},"active":{"type":"boolean"},"sendNotifications":{"type":"boolean"},"supplierId":{"type":"integer","format":"int32"}}},"ValidationMessageDto":{"title":"ValidationMessageDto","required":["success"],"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}}},"VdbGroupDto":{"title":"VdbGroupDto","type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"}}},"WidgetGroupTypeEnum":{"title":"WidgetGroupTypeEnum","type":"string","enum":["SOCIAL","LINK","MEDIA","TEXT","FEEDBACK","UTIL"]},"WidgetTagEnum":{"title":"WidgetTagEnum","type":"string","enum":["JM","SOCIAL","LINK","CHILD_BOARD","OTHER"]}},"securitySchemes":{"jwtScheme":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"basicScheme":{"type":"http","scheme":"basic"},"cookieScheme":{"type":"apiKey","name":"JSESSIONID","in":"cookie"},"BearerAuth":{"type":"apiKey","name":"Authorization","description":"Authorization with bearer scheme. Example: 'Bearer <token>'","in":"header"}}}}