{"openapi":"3.0.1","info":{"title":"DSE REST API","description":"<h2>DSE REST API</h1>","version":"1.0.0-SNAPSHOT"},"servers":[{"url":"https://is-dev2.brandmaker.com"},{"url":"/"}],"security":[{"jwtScheme":[]},{"basicScheme":[]},{"cookieScheme":[]},{"BearerAuth":[]}],"tags":[{"name":"AssetRestServiceV1","description":"REST service for media data."},{"name":"DashboardRestServiceV1","description":"REST service for DSE dashboard objects filtered by the current user"},{"name":"DseJobDiscussionRestServiceV1","description":"REST service for managing discussions of job."},{"name":"DseObjectRestServiceV1","description":"REST service for DSE objects."},{"name":"JobGridRestServiceV1","description":"REST service for managing job grids"},{"name":"JobMetaDataRestServiceV1","description":"REST service to retrieve Job Manager meta data."},{"name":"JobRestServiceV1","description":"REST service for Jobs."},{"name":"ProductGridRestServiceV1","description":"REST service for managing the product grids"},{"name":"ProductMetaDataRestServiceV1","description":"REST service to retrieve Job Manager meta data."},{"name":"ProductRestServiceV1","description":"REST service for managing the products"}],"paths":{"/dse/rest/{version}/assets/{assetId}/jobs":{"get":{"tags":["AssetRestServiceV1"],"description":"Returns page of jobs containing media data with provided guid.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"AssetRestServiceV1-GET_getJobs","parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string"}},{"name":"assetId","in":"path","description":"asset id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"pagination limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","description":"pagination offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"page of jobs containing media data with provided assetId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDtoOfDseObjectLightDto"},"example":"{\n  \"limit\" : 12345,\n  \"offset\" : 12345,\n  \"totalCount\" : 12345,\n  \"data\" : [ {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"displayName\" : \"...\",\n    \"deepLink\" : \"...\"\n  }, {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"displayName\" : \"...\",\n    \"deepLink\" : \"...\"\n  } ]\n}"}}}}}},"/dse/rest/{version}/assets/{assetId}/products":{"get":{"tags":["AssetRestServiceV1"],"description":"Returns page of products containing media data with provided guid.\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"AssetRestServiceV1-GET_getProducts","parameters":[{"name":"version","in":"path","required":true,"schema":{"type":"string"}},{"name":"assetId","in":"path","description":"asset id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"pagination limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","description":"pagination offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"page of products containing media data with provided assetId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDtoOfDseObjectLightDto"},"example":"{\n  \"limit\" : 12345,\n  \"offset\" : 12345,\n  \"totalCount\" : 12345,\n  \"data\" : [ {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"displayName\" : \"...\",\n    \"deepLink\" : \"...\"\n  }, {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"displayName\" : \"...\",\n    \"deepLink\" : \"...\"\n  } ]\n}"}}}}}},"/dse/rest/v1.0/dashboards/my-active":{"get":{"tags":["DashboardRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DashboardRestServiceV1-GET_getMyActiveObjects","parameters":[{"name":"limit","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":5}},{"name":"offset","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingWrapperDtoOfDseDashboardObjectDto"},"example":"{\n  \"total\" : 12345,\n  \"items\" : [ {\n    \"jobInstanceId\" : 12345,\n    \"jobOrdinalNumber\" : 12345,\n    \"name\" : \"...\",\n    \"jobStepNumber\" : 12345,\n    \"dashboardObjectType\" : \"JOB\",\n    \"dueDate\" : \"...\",\n    \"state\" : \"...\"\n  }, {\n    \"jobInstanceId\" : 12345,\n    \"jobOrdinalNumber\" : 12345,\n    \"name\" : \"...\",\n    \"jobStepNumber\" : 12345,\n    \"dashboardObjectType\" : \"TASK\",\n    \"dueDate\" : \"...\",\n    \"state\" : \"...\"\n  } ]\n}"}}}}}},"/dse/rest/v1.0/jobs/discussions/{discussionId}/assets/_add":{"post":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method add linked media of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-POST_addLinkedMediaId","parameters":[{"name":"discussionId","in":"path","description":"It is path param of discussionId of discussion.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"assetsId","in":"query","description":"It is query parameter id linked media.","schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"Id new linked media.","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}}}},"/dse/rest/v1.0/jobs/discussions/{discussionId}/assets/_delete":{"post":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method deletes existing linked media of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-POST_deleteLinkedMediaId","parameters":[{"name":"discussionId","in":"path","description":"It is path param of discussionId of discussion.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"assetsId","in":"query","description":"It is query parameter id linked media.","schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"Delete result true or false.","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/jobs/discussions/{discussionId}/assets/ids":{"get":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method returns ID`s linked media of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-GET_getLinkedMediaIds","parameters":[{"name":"discussionId","in":"path","description":"It is path param of discussionId of discussion.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"This is a pagination parameter, maximum allowed number of objects to return. Default 100.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"This is a pagination parameter, for specifying how many first records to skip. Default 0.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"Collection ID`s linked media of the discussion.","content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}}},"/dse/rest/v1.0/jobs/discussions/{discussionId}/comments":{"get":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method returns comments of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-GET_getComments","parameters":[{"name":"discussionId","in":"path","description":"It is path param of discussionId of discussion.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"This is a pagination parameter, maximum allowed number of objects to return. Default 100.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"This is a pagination parameter, for specifying how many first records to skip. Default 0.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"Collection comments of discussion.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CommentDto"}},"example":"[ {\n  \"id\" : 12345,\n  \"content\" : \"...\",\n  \"user\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"createDate\" : \"...\",\n  \"modifiedDate\" : \"...\"\n} ]"}}}}},"put":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method updates comment content of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-PUT_updateComments","parameters":[{"name":"discussionId","in":"path","description":"It is path param of discussionId of discussion.","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"It is dto for update existing comment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentUpdateDto"},"example":"{\n  \"id\" : 12345,\n  \"content\" : \"...\"\n}"}}},"responses":{"204":{"description":"Update result true or false.","content":{"application/json":{"schema":{"type":"boolean"}}}}}},"post":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method creates new comment of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-POST_createComments","parameters":[{"name":"discussionId","in":"path","description":"It is path param of discussionId of discussion.","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"It is dto for create new comment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCreateDto"},"example":"{\n  \"content\" : \"...\"\n}"}}},"responses":{"201":{"description":"New comment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentDto"},"example":"{\n  \"id\" : 12345,\n  \"content\" : \"...\",\n  \"user\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"createDate\" : \"...\",\n  \"modifiedDate\" : \"...\"\n}"}}}}}},"/dse/rest/v1.0/jobs/discussions/{discussionId}/participants/_add":{"post":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method add user to the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-POST_addParticipant","parameters":[{"name":"discussionId","in":"path","description":"It is path param of discussionId of discussion.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"query","description":"It is query parameter id of the added user.","schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"User id of added user.","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}}}},"/dse/rest/v1.0/jobs/discussions/{discussionId}/participants/_delete":{"post":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method delete user to the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-POST_deleteParticipant","parameters":[{"name":"discussionId","in":"path","description":"It is path param of discussionId of discussion.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"query","description":"It is query parameter id of the deleted user.","schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"Delete result true or false.","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/jobs/discussions/{discussionId}/participants/ids":{"get":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method get ID`s of users to the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-GET_getParticipant","parameters":[{"name":"discussionId","in":"path","description":"It is path param of discussionId of discussion.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"This is a pagination parameter, maximum allowed number of objects to return. Default 100.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"This is a pagination parameter, for specifying how many first records to skip. Default 0.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"List ID`s of users.","content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/discussions":{"get":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method returns discussions of the job.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-GET_getDiscussions","parameters":[{"name":"ordinalNumber","in":"path","description":"It is path param of ordinalNumber of job.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"This is a pagination parameter, maximum allowed number of objects to return. Default 100.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":100}},{"name":"offset","in":"query","description":"This is a pagination parameter, for specifying how many first records to skip. Default 0.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"Collection discussions of job where there is at least one system discussion.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiscussionDto"}},"example":"[ {\n  \"id\" : 12345,\n  \"content\" : \"...\",\n  \"title\" : \"...\",\n  \"type\" : \"CUSTOM\",\n  \"createDate\" : \"...\",\n  \"modifiedDate\" : \"...\",\n  \"participants\" : [ 12345, 12345 ]\n} ]"}}}}},"put":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method completely updates discussion of the job.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-PUT_updateDiscussion","parameters":[{"name":"ordinalNumber","in":"path","description":"It is path param of ordinalNumber of job.","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"It is dto for update existing discussion.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscussionUpdateDto"},"example":"{\n  \"id\" : 12345,\n  \"title\" : \"...\",\n  \"content\" : \"...\"\n}"}}},"responses":{"204":{"description":"Update result true or false.","content":{"application/json":{"schema":{"type":"boolean"}}}}}},"post":{"tags":["DseJobDiscussionRestServiceV1"],"description":"Method creates new discussion of the job.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"DseJobDiscussionRestServiceV1-POST_createDiscussion","parameters":[{"name":"ordinalNumber","in":"path","description":"It is path param of ordinalNumber of job.","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"It is dto for create new discussion.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscussionCreateDto"},"example":"{\n  \"title\" : \"...\",\n  \"content\" : \"...\"\n}"}}},"responses":{"201":{"description":"New discussion.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscussionDto"},"example":"{\n  \"id\" : 12345,\n  \"content\" : \"...\",\n  \"title\" : \"...\",\n  \"type\" : \"CUSTOM\",\n  \"createDate\" : \"...\",\n  \"modifiedDate\" : \"...\",\n  \"participants\" : [ 12345, 12345 ]\n}"}}}}}},"/dse/rest/v1.0/dse-object":{"get":{"tags":["DseObjectRestServiceV1"],"description":"Returns collection of DSE objects.\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-GET_getDseObjects","responses":{"200":{"description":"collection of DSE objects","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DseObjectDto"}},"example":"[ {\n  \"values\" : {\n    \"property1\" : {\n      \"inheritFromParent\" : \"NOT_SUPPORTED\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    },\n    \"property2\" : {\n      \"inheritFromParent\" : \"BROKEN_INHERITANCE\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    }\n  },\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345,\n  \"workflowObjectId\" : 12345,\n  \"name\" : \"...\",\n  \"extendedName\" : \"...\",\n  \"state\" : \"...\",\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345,\n  \"createdBy\" : \"...\",\n  \"parentId\" : 12345,\n  \"creator\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"workflowTypeId\" : 12345,\n  \"currentStepTemplateId\" : 12345,\n  \"assignment\" : {\n    \"assignees\" : [ {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    } ],\n    \"group\" : {\n      \"defaultAssignee\" : { },\n      \"predefined\" : true,\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    }\n  }\n} ]"}}}}}},"/dse/rest/v1.0/dse-object/_find-mapl-synced":{"get":{"tags":["DseObjectRestServiceV1"],"description":"Find mapl synced DSE object by mapl node id\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-GET_findMaplSyncedDseObject","parameters":[{"name":"nodeId","in":"query","description":"id of synced mapl node","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"dto with url of synced object and is it synced","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseMaplSyncedObjectStatusDto"},"example":"{\n  \"maplSynced\" : true,\n  \"objectUrl\" : \"...\"\n}"}}}}}},"/dse/rest/v1.0/dse-object/changeOnlyBriefingType":{"post":{"tags":["DseObjectRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-POST_changeOnlyBriefingType","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"dseObjectId":{"type":"integer","format":"int32"},"dseObjectTypeId":{"type":"integer","format":"int32"},"l10nLocaleId":{"type":"integer","format":"int32"},"workflowTypeId":{"type":"integer","format":"int32"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseObjectUpdateResultDto"},"example":"{\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345\n}"}}}}}},"/dse/rest/v1.0/dse-object/copy":{"post":{"tags":["DseObjectRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-POST_copyDseObject","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"dataSheetIds":{"type":"array","items":{"type":"integer","format":"int32"}},"dseObjectId":{"type":"integer","format":"int32"},"l10nLocaleId":{"type":"integer","format":"int32"},"name":{"type":"string"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseObjectUpdateResultDto"},"example":"{\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345\n}"}}}}}},"/dse/rest/v1.0/dse-object/create":{"post":{"tags":["DseObjectRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-POST_createDseObject","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"autocreationSubobjectIds":{"type":"array","items":{"type":"integer","format":"int32"}},"dseObjectTypeId":{"type":"integer","format":"int32"},"l10nLocaleId":{"type":"integer","format":"int32"},"name":{"type":"string"},"parentJobId":{"type":"integer","format":"int32"},"workflowTypeId":{"type":"integer","format":"int32"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseObjectCreateResultDto"},"example":"{\n  \"stepNumber\" : 12345,\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345\n}"}}}}}},"/dse/rest/v1.0/dse-object/update":{"post":{"tags":["DseObjectRestServiceV1"],"description":"Updates existed DSE objects values.\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-POST_updateDseObject","parameters":[{"name":"source","in":"query","allowEmptyValue":true,"schema":{"type":"string","default":"Gui"}}],"requestBody":{"description":"DseObjectUpdateDto","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseObjectUpdateDto"},"example":"{\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345,\n  \"stepNumber\" : 12345,\n  \"values\" : [ {\n    \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n    \"value\" : \"...\",\n    \"technicalName\" : \"...\",\n    \"label\" : { }\n  }, {\n    \"inheritFromParent\" : \"BROKEN_INHERITANCE\",\n    \"value\" : \"...\",\n    \"technicalName\" : \"...\",\n    \"label\" : { }\n  } ]\n}"}}},"responses":{"201":{"description":"extended DSE object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseObjectDto"},"example":"{\n  \"values\" : {\n    \"property1\" : {\n      \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    },\n    \"property2\" : {\n      \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    }\n  },\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345,\n  \"workflowObjectId\" : 12345,\n  \"name\" : \"...\",\n  \"extendedName\" : \"...\",\n  \"state\" : \"...\",\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345,\n  \"createdBy\" : \"...\",\n  \"parentId\" : 12345,\n  \"creator\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"workflowTypeId\" : 12345,\n  \"currentStepTemplateId\" : 12345,\n  \"assignment\" : {\n    \"assignees\" : [ {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    } ],\n    \"group\" : {\n      \"defaultAssignee\" : { },\n      \"predefined\" : true,\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    }\n  }\n}"}}}}}},"/dse/rest/v1.0/dse-object/{instanceId}/parent-dse-objects":{"get":{"tags":["DseObjectRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-GET_getSubJobParents","parameters":[{"name":"instanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"l10nLocaleId","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BreadcrumbSubJobsDto"}},"example":"[ {\n  \"instanceId\" : 12345,\n  \"jobId\" : \"...\",\n  \"jobName\" : \"...\"\n} ]"}}}}}},"/dse/rest/v1.0/dse-object/{instanceId}/{l10nLocaleId}":{"get":{"tags":["DseObjectRestServiceV1"],"description":"Return DSE object.\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-GET_getDseObject","parameters":[{"name":"instanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"l10nLocaleId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"collection of DSE objects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseObjectDto"},"example":"{\n  \"values\" : {\n    \"property1\" : {\n      \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    },\n    \"property2\" : {\n      \"inheritFromParent\" : \"NOT_SUPPORTED\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    }\n  },\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345,\n  \"workflowObjectId\" : 12345,\n  \"name\" : \"...\",\n  \"extendedName\" : \"...\",\n  \"state\" : \"...\",\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345,\n  \"createdBy\" : \"...\",\n  \"parentId\" : 12345,\n  \"creator\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"workflowTypeId\" : 12345,\n  \"currentStepTemplateId\" : 12345,\n  \"assignment\" : {\n    \"assignees\" : [ {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    } ],\n    \"group\" : {\n      \"defaultAssignee\" : { },\n      \"predefined\" : true,\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    }\n  }\n}"}}}}}},"/dse/rest/v1.0/dse-object/{instanceId}/{l10nLocaleId}/light":{"get":{"tags":["DseObjectRestServiceV1"],"description":"Return DSE object.\n\nreturn only extended name which includes Job Name, Job Id, Job type Identifier (like 'J')\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-GET_getLightDseObject","parameters":[{"name":"instanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"l10nLocaleId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"light DSE object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LightDseObjectDto"},"example":"{\n  \"jobName\" : \"...\",\n  \"extendedName\" : \"...\",\n  \"jobTypeIdentifier\" : \"...\",\n  \"idFormattedWithTopicCode\" : \"...\",\n  \"workflowTypeId\" : 12345,\n  \"instanceId\" : 12345,\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345\n}"}}}}}},"/dse/rest/v1.0/dse-object/{instanceId}/{l10nLocaleId}/workflow":{"get":{"tags":["DseObjectRestServiceV1"],"description":"Returns workflow of DSE object.\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-GET_getWorkflow","parameters":[{"name":"instanceId","in":"path","description":"instance id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"l10nLocaleId","in":"path","description":"locale id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"workflow of DSE object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowDto"},"example":"{\n  \"instanceId\" : 12345,\n  \"typeId\" : 12345,\n  \"typeName\" : \"...\",\n  \"creator\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"currentStepNumber\" : 12345,\n  \"currentStepDefKey\" : \"...\",\n  \"steps\" : [ {\n    \"id\" : 12345,\n    \"instanceId\" : 12345,\n    \"number\" : 12345,\n    \"defaultDuration\" : 12345,\n    \"name\" : \"...\",\n    \"startDate\" : \"...\",\n    \"dueDate\" : \"...\",\n    \"status\" : \"...\",\n    \"assignees\" : [ {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    } ],\n    \"pickableConfiguration\" : \"...\",\n    \"assignedUserGroup\" : {\n      \"defaultAssignee\" : { },\n      \"predefined\" : true,\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    },\n    \"rejectToStepNumber\" : 12345\n  }, {\n    \"id\" : 12345,\n    \"instanceId\" : 12345,\n    \"number\" : 12345,\n    \"defaultDuration\" : 12345,\n    \"name\" : \"...\",\n    \"startDate\" : \"...\",\n    \"dueDate\" : \"...\",\n    \"status\" : \"...\",\n    \"assignees\" : [ {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    } ],\n    \"pickableConfiguration\" : \"...\",\n    \"assignedUserGroup\" : {\n      \"defaultAssignee\" : { },\n      \"predefined\" : true,\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    },\n    \"rejectToStepNumber\" : 12345\n  } ],\n  \"creationDate\" : \"...\",\n  \"isBpmn\" : true\n}"}}}}}},"/dse/rest/v1.0/dse-object/{instanceId}/{l10nLocaleId}/{stepNumber}/workflowBreadcrumb":{"get":{"tags":["DseObjectRestServiceV1"],"description":"Returns workflow breadcrumb for DSE object.\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS","operationId":"DseObjectRestServiceV1-GET_getWorkflowBreadcrumb","parameters":[{"name":"instanceId","in":"path","description":"instance id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"l10nLocaleId","in":"path","description":"locale id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"stepNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"workflow breadcrumb for DSE object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BreadcrumbWorkflowDto"},"example":"{\n  \"instanceId\" : 12345,\n  \"typeId\" : 12345,\n  \"name\" : \"...\",\n  \"creator\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"currentStep\" : {\n    \"id\" : 12345,\n    \"number\" : 12345,\n    \"name\" : {\n      \"label\" : { },\n      \"value\" : { }\n    },\n    \"startDate\" : {\n      \"label\" : { },\n      \"value\" : { }\n    },\n    \"endDate\" : {\n      \"label\" : { },\n      \"value\" : { }\n    },\n    \"assignees\" : {\n      \"label\" : { },\n      \"value\" : { }\n    }\n  },\n  \"steps\" : [ {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"status\" : \"...\"\n  }, {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"status\" : \"...\"\n  } ]\n}"}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/grids/{variableInstanceId}/rows":{"get":{"tags":["JobGridRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobGridRestServiceV1-GET_findGridRows","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variableInstanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"columns","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GridRowDto"}},"example":"[ {\n  \"rowEditable\" : true,\n  \"rowInstanceId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n} ]"}}}}},"post":{"tags":["JobGridRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobGridRestServiceV1-POST_createGridRow","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variableInstanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GridRowDto"},"example":"{\n  \"rowEditable\" : true,\n  \"rowInstanceId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/grids/{variableInstanceId}/rows/_truncate":{"delete":{"tags":["JobGridRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobGridRestServiceV1-DELETE_deleteAllGridRows","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variableInstanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/grids/{variableInstanceId}/rows/{rowId}":{"put":{"tags":["JobGridRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobGridRestServiceV1-PUT_updateGridRow","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"rowId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variableInstanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGridRowDto"},"example":"{\n  \"rowTypeId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"}}},"responses":{"204":{"description":"204","content":{"application/json":{"schema":{"type":"boolean"}}}}}},"delete":{"tags":["JobGridRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobGridRestServiceV1-DELETE_deleteGridRow","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"rowId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variableInstanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/job-manager/available-job-types":{"get":{"tags":["JobMetaDataRestServiceV1"],"description":"The method returns old available jobtypes with workflow.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobMetaDataRestServiceV1-GET_getAvailableJobTypes","parameters":[{"name":"limit","in":"query","description":"is a pagination parameter and an optional parameter, maximum allowed number of objects to return.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","description":"is a pagination parameter and an optional parameter, for specifying how many first records to skip.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"JobTypeWithWorkflowsDto","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobTypeWithWorkflowsDto"}},"example":"[ {\n  \"id\" : 12345,\n  \"technicalName\" : \"...\",\n  \"uniqueName\" : \"...\",\n  \"displayName\" : \"...\",\n  \"description\" : \"...\",\n  \"workflows\" : [ {\n    \"label\" : { },\n    \"value\" : { }\n  }, {\n    \"label\" : { },\n    \"value\" : { }\n  } ]\n} ]"}}}}}},"/dse/rest/v1.0/job-manager/available-process-types":{"get":{"tags":["JobMetaDataRestServiceV1"],"description":"The method returns new BPMN available jobtypes without workflow.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobMetaDataRestServiceV1-GET_getAvailableProcessTypes","parameters":[{"name":"limit","in":"query","description":"is a pagination parameter and an optional parameter, maximum allowed number of objects to return.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","description":"is a pagination parameter and an optional parameter, for specifying how many first records to skip.","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"AvailableJobTypeDto","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobTypeWithoutWorkflowsDto"}},"example":"[ {\n  \"id\" : 12345,\n  \"technicalName\" : \"...\",\n  \"uniqueName\" : \"...\",\n  \"displayName\" : \"...\",\n  \"description\" : \"...\"\n} ]"}}}}}},"/dse/rest/v1.0/job-manager/types":{"get":{"tags":["JobMetaDataRestServiceV1"],"description":"The method returns all jobtypes.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobMetaDataRestServiceV1-GET_getDseObjectTypes","parameters":[{"name":"ids","in":"query","description":"It's possible to filter the results by a list of given jobtype IDs\nusing the optional 'ids' parameter.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"DseObjectTypeDto","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DseObjectTypeDto"}},"example":"[ {\n  \"respectRestrictionsByOrgUnits\" : true,\n  \"forSubJobsOnly\" : true,\n  \"inheritance\" : \"...\",\n  \"uniqueName\" : \"...\",\n  \"technicalName\" : \"...\",\n  \"displayName\" : \"...\",\n  \"variables\" : [ {\n    \"metaTypeId\" : \"16\",\n    \"id\" : 12345,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  }, {\n    \"metaTypeId\" : \"16\",\n    \"id\" : 12345,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  } ],\n  \"id\" : 12345,\n  \"parentTypeId\" : 12345,\n  \"dataSheets\" : [ {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  }, {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  } ]\n} ]"}}}}}},"/dse/rest/v1.0/jobs/_search":{"post":{"tags":["JobRestServiceV1"],"description":"The method return jobs for specified filter.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-POST_search","requestBody":{"description":"It's possible to specify filter id ,from and limit params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchParamDto"},"example":"{\n  \"filterId\" : 12345,\n  \"from\" : 12345,\n  \"limit\" : 12345,\n  \"sort\" : 12345,\n  \"dir\" : \"...\",\n  \"variableCondition\" : [ {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  }, {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  } ],\n  \"fulltext\" : \"...\",\n  \"states\" : [ \"FINISHED\", \"DELETED\" ]\n}"}}},"responses":{"201":{"description":"list of DseObjectDto","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResultDto"},"example":"{\n  \"totalCount\" : 12345,\n  \"values\" : [ {\n    \"values\" : {\n      \"property1\" : {\n        \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      },\n      \"property2\" : {\n        \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      }\n    },\n    \"instanceId\" : 12345,\n    \"l10nLocaleId\" : 12345,\n    \"workflowObjectId\" : 12345,\n    \"name\" : \"...\",\n    \"extendedName\" : \"...\",\n    \"state\" : \"...\",\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345,\n    \"createdBy\" : \"...\",\n    \"parentId\" : 12345,\n    \"creator\" : {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    },\n    \"workflowTypeId\" : 12345,\n    \"currentStepTemplateId\" : 12345,\n    \"assignment\" : {\n      \"assignees\" : [ { }, { } ],\n      \"group\" : { }\n    }\n  }, {\n    \"values\" : {\n      \"property1\" : {\n        \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      },\n      \"property2\" : {\n        \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      }\n    },\n    \"instanceId\" : 12345,\n    \"l10nLocaleId\" : 12345,\n    \"workflowObjectId\" : 12345,\n    \"name\" : \"...\",\n    \"extendedName\" : \"...\",\n    \"state\" : \"...\",\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345,\n    \"createdBy\" : \"...\",\n    \"parentId\" : 12345,\n    \"creator\" : {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    },\n    \"workflowTypeId\" : 12345,\n    \"currentStepTemplateId\" : 12345,\n    \"assignment\" : {\n      \"assignees\" : [ { }, { } ],\n      \"group\" : { }\n    }\n  } ]\n}"}}}}}},"/dse/rest/v1.0/jobs/_search/ids":{"post":{"tags":["JobRestServiceV1"],"description":"The method return jobs for specified filter.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-POST_searchIds","requestBody":{"description":"It's possible to specify filter id ,from and limit params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchParamDto"},"example":"{\n  \"filterId\" : 12345,\n  \"from\" : 12345,\n  \"limit\" : 12345,\n  \"sort\" : 12345,\n  \"dir\" : \"...\",\n  \"variableCondition\" : [ {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  }, {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  } ],\n  \"fulltext\" : \"...\",\n  \"states\" : [ \"DELETED\", \"FINISHED\" ]\n}"}}},"responses":{"201":{"description":"list of JobIdsDto","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobIdsDto"}},"example":"[ {\n  \"instanceId\" : 12345,\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345\n} ]"}}}}}},"/dse/rest/v1.0/jobs/filters/{filterId}/types":{"get":{"tags":["JobRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-GET_findTypesByFilterId","parameters":[{"name":"filterId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseObjectTypeDtoWithPaging"},"example":"{\n  \"total\" : 12345,\n  \"types\" : [ {\n    \"respectRestrictionsByOrgUnits\" : true,\n    \"forSubJobsOnly\" : true,\n    \"inheritance\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"technicalName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"variables\" : [ {\n      \"metaTypeId\" : \"16\",\n      \"id\" : 12345,\n      \"metaTypeName\" : \"...\",\n      \"uniqueName\" : \"...\",\n      \"displayName\" : \"...\",\n      \"rawLabel\" : \"...\",\n      \"mode\" : 12345,\n      \"technicalName\" : \"...\",\n      \"sharedLocale\" : true,\n      \"helpText\" : \"...\",\n      \"visibility\" : { },\n      \"dependsFromVariableId\" : 12345,\n      \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n      \"typeSpanning\" : true,\n      \"system\" : true,\n      \"storageType\" : 12345\n    }, {\n      \"metaTypeId\" : \"16\",\n      \"id\" : 12345,\n      \"metaTypeName\" : \"...\",\n      \"uniqueName\" : \"...\",\n      \"displayName\" : \"...\",\n      \"rawLabel\" : \"...\",\n      \"mode\" : 12345,\n      \"technicalName\" : \"...\",\n      \"sharedLocale\" : true,\n      \"helpText\" : \"...\",\n      \"visibility\" : { },\n      \"dependsFromVariableId\" : 12345,\n      \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n      \"typeSpanning\" : true,\n      \"system\" : true,\n      \"storageType\" : 12345\n    } ],\n    \"id\" : 12345,\n    \"parentTypeId\" : 12345,\n    \"dataSheets\" : [ {\n      \"type\" : \"...\",\n      \"label\" : \"...\",\n      \"sections\" : [ { }, { } ],\n      \"technicalName\" : \"...\"\n    }, {\n      \"type\" : \"...\",\n      \"label\" : \"...\",\n      \"sections\" : [ { }, { } ],\n      \"technicalName\" : \"...\"\n    } ]\n  }, {\n    \"respectRestrictionsByOrgUnits\" : true,\n    \"forSubJobsOnly\" : true,\n    \"inheritance\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"technicalName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"variables\" : [ {\n      \"metaTypeId\" : \"16\",\n      \"id\" : 12345,\n      \"metaTypeName\" : \"...\",\n      \"uniqueName\" : \"...\",\n      \"displayName\" : \"...\",\n      \"rawLabel\" : \"...\",\n      \"mode\" : 12345,\n      \"technicalName\" : \"...\",\n      \"sharedLocale\" : true,\n      \"helpText\" : \"...\",\n      \"visibility\" : { },\n      \"dependsFromVariableId\" : 12345,\n      \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n      \"typeSpanning\" : true,\n      \"system\" : true,\n      \"storageType\" : 12345\n    }, {\n      \"metaTypeId\" : \"16\",\n      \"id\" : 12345,\n      \"metaTypeName\" : \"...\",\n      \"uniqueName\" : \"...\",\n      \"displayName\" : \"...\",\n      \"rawLabel\" : \"...\",\n      \"mode\" : 12345,\n      \"technicalName\" : \"...\",\n      \"sharedLocale\" : true,\n      \"helpText\" : \"...\",\n      \"visibility\" : { },\n      \"dependsFromVariableId\" : 12345,\n      \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n      \"typeSpanning\" : true,\n      \"system\" : true,\n      \"storageType\" : 12345\n    } ],\n    \"id\" : 12345,\n    \"parentTypeId\" : 12345,\n    \"dataSheets\" : [ {\n      \"type\" : \"...\",\n      \"label\" : \"...\",\n      \"sections\" : [ { }, { } ],\n      \"technicalName\" : \"...\"\n    }, {\n      \"type\" : \"...\",\n      \"label\" : \"...\",\n      \"sections\" : [ { }, { } ],\n      \"technicalName\" : \"...\"\n    } ]\n  } ]\n}"}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}":{"get":{"tags":["JobRestServiceV1"],"description":"Return Job.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-GET_get","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"DseObjectDto","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseObjectDto"},"example":"{\n  \"values\" : {\n    \"property1\" : {\n      \"inheritFromParent\" : \"NOT_SUPPORTED\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    },\n    \"property2\" : {\n      \"inheritFromParent\" : \"NOT_SUPPORTED\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    }\n  },\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345,\n  \"workflowObjectId\" : 12345,\n  \"name\" : \"...\",\n  \"extendedName\" : \"...\",\n  \"state\" : \"...\",\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345,\n  \"createdBy\" : \"...\",\n  \"parentId\" : 12345,\n  \"creator\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"workflowTypeId\" : 12345,\n  \"currentStepTemplateId\" : 12345,\n  \"assignment\" : {\n    \"assignees\" : [ {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    } ],\n    \"group\" : {\n      \"defaultAssignee\" : { },\n      \"predefined\" : true,\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    }\n  }\n}"}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/_cancel":{"post":{"tags":["JobRestServiceV1"],"description":"cancel job by ordinal number\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-POST_cancel","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"Boolean","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/_delete":{"post":{"tags":["JobRestServiceV1"],"description":"delete job by ordinal number\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-POST_delete","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"Boolean","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/_forward-default":{"post":{"tags":["JobRestServiceV1"],"description":"The method moves a job by ordinal number to the next step or finish it if the last step has been already reached.\nFor the next workflow step users are assigned from predefined or already existed job assignees\nin case when they exist in required user groups.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-POST_forwardDefault","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"comment":{"type":"string"}}}}}},"responses":{"201":{"description":"Boolean","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessWorkflowDto"},"example":"{\n  \"success\" : true\n}"}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/_reject-default":{"post":{"tags":["JobRestServiceV1"],"description":"The method moves job by ordinal number to the previous step.\nFor the previous workflow step users are assigned from predefined or already existed job assignees\nin case when they exist in required user groups.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-POST_rejectDefault","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"comment":{"type":"string"}}}}}},"responses":{"201":{"description":"Boolean","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessWorkflowDto"},"example":"{\n  \"success\" : true\n}"}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/ids":{"get":{"tags":["JobRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-GET_getIds","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"JobIdsDto","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobIdsDto"},"example":"{\n  \"instanceId\" : 12345,\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345\n}"}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/subjobs":{"get":{"tags":["JobRestServiceV1"],"description":"Find sub jobs by parent ordinal number\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-GET_getSubJobs","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"state","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Collection DseObjectDto with total count","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingWrapperDtoOfDseObjectDto"},"example":"{\n  \"total\" : 12345,\n  \"items\" : [ {\n    \"values\" : {\n      \"property1\" : {\n        \"inheritFromParent\" : \"NOT_SUPPORTED\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      },\n      \"property2\" : {\n        \"inheritFromParent\" : \"BROKEN_INHERITANCE\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      }\n    },\n    \"instanceId\" : 12345,\n    \"l10nLocaleId\" : 12345,\n    \"workflowObjectId\" : 12345,\n    \"name\" : \"...\",\n    \"extendedName\" : \"...\",\n    \"state\" : \"...\",\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345,\n    \"createdBy\" : \"...\",\n    \"parentId\" : 12345,\n    \"creator\" : {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    },\n    \"workflowTypeId\" : 12345,\n    \"currentStepTemplateId\" : 12345,\n    \"assignment\" : {\n      \"assignees\" : [ { }, { } ],\n      \"group\" : { }\n    }\n  }, {\n    \"values\" : {\n      \"property1\" : {\n        \"inheritFromParent\" : \"NOT_SUPPORTED\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      },\n      \"property2\" : {\n        \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      }\n    },\n    \"instanceId\" : 12345,\n    \"l10nLocaleId\" : 12345,\n    \"workflowObjectId\" : 12345,\n    \"name\" : \"...\",\n    \"extendedName\" : \"...\",\n    \"state\" : \"...\",\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345,\n    \"createdBy\" : \"...\",\n    \"parentId\" : 12345,\n    \"creator\" : {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    },\n    \"workflowTypeId\" : 12345,\n    \"currentStepTemplateId\" : 12345,\n    \"assignment\" : {\n      \"assignees\" : [ { }, { } ],\n      \"group\" : { }\n    }\n  } ]\n}"}}}}}},"/dse/rest/v1.0/jobs/{ordinalNumber}/subjobs/ids":{"get":{"tags":["JobRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS","operationId":"JobRestServiceV1-GET_getSubJobIds","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"state","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingWrapperDtoOfJobIdsDto"},"example":"{\n  \"total\" : 12345,\n  \"items\" : [ {\n    \"instanceId\" : 12345,\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345\n  }, {\n    \"instanceId\" : 12345,\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345\n  } ]\n}"}}}}}},"/dse/rest/v1.0/products/{ordinalNumber}/grids/{variableInstanceId}/rows/_truncate":{"delete":{"tags":["ProductGridRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductGridRestServiceV1-DELETE_deleteAllGridRows","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variableInstanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/products/{ordinalNumber}/grids/{variableInstanceId}/rows/{rowId}":{"delete":{"tags":["ProductGridRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductGridRestServiceV1-DELETE_deleteGridRow","parameters":[{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"rowId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variableInstanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"204","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/products/{ordinalNumber}/{l10nLocaleId}/grids/{variableInstanceId}/rows":{"get":{"tags":["ProductGridRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductGridRestServiceV1-GET_findGridRows","parameters":[{"name":"l10nLocaleId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variableInstanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"columns","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GridRowDto"}},"example":"[ {\n  \"rowEditable\" : true,\n  \"rowInstanceId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n} ]"}}}}},"post":{"tags":["ProductGridRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductGridRestServiceV1-POST_createGridRow","parameters":[{"name":"l10nLocaleId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variableInstanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GridRowDto"},"example":"{\n  \"rowEditable\" : true,\n  \"rowInstanceId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"}}}}}},"/dse/rest/v1.0/products/{ordinalNumber}/{l10nLocaleId}/grids/{variableInstanceId}/rows/{rowId}":{"put":{"tags":["ProductGridRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductGridRestServiceV1-PUT_updateGridRow","parameters":[{"name":"l10nLocaleId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"rowId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"variableInstanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGridRowDto"},"example":"{\n  \"rowTypeId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"}}},"responses":{"204":{"description":"204","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/product-manager/types":{"get":{"tags":["ProductMetaDataRestServiceV1"],"description":"The method returns all product types.\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductMetaDataRestServiceV1-GET_getDseObjectTypes","parameters":[{"name":"ids","in":"query","description":"It's possible to filter the results by a list of given product type IDs\nusing the optional 'ids' parameter.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"DseObjectTypeDto","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DseObjectTypeDto"}},"example":"[ {\n  \"respectRestrictionsByOrgUnits\" : true,\n  \"forSubJobsOnly\" : true,\n  \"inheritance\" : \"...\",\n  \"uniqueName\" : \"...\",\n  \"technicalName\" : \"...\",\n  \"displayName\" : \"...\",\n  \"variables\" : [ {\n    \"metaTypeId\" : \"16\",\n    \"id\" : 12345,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  }, {\n    \"metaTypeId\" : \"16\",\n    \"id\" : 12345,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  } ],\n  \"id\" : 12345,\n  \"parentTypeId\" : 12345,\n  \"dataSheets\" : [ {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  }, {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  } ]\n} ]"}}}}}},"/dse/rest/v1.0/products/_get-default-product-id":{"post":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-POST_getDefaultProductId","parameters":[{"name":"instanceId","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/dse/rest/v1.0/products/_search":{"post":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-POST_search","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchParamDto"},"example":"{\n  \"filterId\" : 12345,\n  \"from\" : 12345,\n  \"limit\" : 12345,\n  \"sort\" : 12345,\n  \"dir\" : \"...\",\n  \"variableCondition\" : [ {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  }, {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  } ],\n  \"fulltext\" : \"...\",\n  \"states\" : [ \"DELETED\", \"CANCELED\" ]\n}"}}},"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResultDto"},"example":"{\n  \"totalCount\" : 12345,\n  \"values\" : [ {\n    \"values\" : {\n      \"property1\" : {\n        \"inheritFromParent\" : \"BROKEN_INHERITANCE\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      },\n      \"property2\" : {\n        \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      }\n    },\n    \"instanceId\" : 12345,\n    \"l10nLocaleId\" : 12345,\n    \"workflowObjectId\" : 12345,\n    \"name\" : \"...\",\n    \"extendedName\" : \"...\",\n    \"state\" : \"...\",\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345,\n    \"createdBy\" : \"...\",\n    \"parentId\" : 12345,\n    \"creator\" : {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    },\n    \"workflowTypeId\" : 12345,\n    \"currentStepTemplateId\" : 12345,\n    \"assignment\" : {\n      \"assignees\" : [ { }, { } ],\n      \"group\" : { }\n    }\n  }, {\n    \"values\" : {\n      \"property1\" : {\n        \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      },\n      \"property2\" : {\n        \"inheritFromParent\" : \"NOT_SUPPORTED\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      }\n    },\n    \"instanceId\" : 12345,\n    \"l10nLocaleId\" : 12345,\n    \"workflowObjectId\" : 12345,\n    \"name\" : \"...\",\n    \"extendedName\" : \"...\",\n    \"state\" : \"...\",\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345,\n    \"createdBy\" : \"...\",\n    \"parentId\" : 12345,\n    \"creator\" : {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    },\n    \"workflowTypeId\" : 12345,\n    \"currentStepTemplateId\" : 12345,\n    \"assignment\" : {\n      \"assignees\" : [ { }, { } ],\n      \"group\" : { }\n    }\n  } ]\n}"}}}}}},"/dse/rest/v1.0/products/_search/ids":{"post":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-POST_searchIds","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchParamDto"},"example":"{\n  \"filterId\" : 12345,\n  \"from\" : 12345,\n  \"limit\" : 12345,\n  \"sort\" : 12345,\n  \"dir\" : \"...\",\n  \"variableCondition\" : [ {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  }, {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  } ],\n  \"fulltext\" : \"...\",\n  \"states\" : [ \"FINISHED\", \"CANCELED\" ]\n}"}}},"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductIdsDto"}},"example":"[ {\n  \"l10nLocaleId\" : 12345,\n  \"instanceId\" : 12345,\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345\n} ]"}}}}}},"/dse/rest/v1.0/products/create-object-locale":{"post":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-POST_createDseObjectLocale","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"dseObjectId":{"type":"integer","format":"int32"},"l10nLocaleId":{"type":"integer","format":"int32"},"name":{"type":"string"},"newL10nLocaleId":{"type":"integer","format":"int32"},"workflowTypeId":{"type":"integer","format":"int32"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseObjectUpdateResultDto"},"example":"{\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345\n}"}}}}}},"/dse/rest/v1.0/products/{instanceId}/{l10nLocaleId}/locale":{"get":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-GET_getDseObjectLocale","parameters":[{"name":"instanceId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"l10nLocaleId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductL10nLocalesDto"},"example":"{\n  \"available\" : [ {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  }, {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  } ],\n  \"deleted\" : [ {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  }, {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  } ],\n  \"existed\" : [ {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  }, {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  } ],\n  \"current\" : {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  }\n}"}}}}}},"/dse/rest/v1.0/products/{ordinalNumber}/{l10nLocaleId}/_cancel":{"post":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-POST_cancel","parameters":[{"name":"l10nLocaleId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/products/{ordinalNumber}/{l10nLocaleId}/_delete":{"post":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-POST_delete","parameters":[{"name":"l10nLocaleId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"type":"boolean"}}}}}}},"/dse/rest/v1.0/products/{ordinalNumber}/{localeId}":{"get":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-GET_get","parameters":[{"name":"localeId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DseObjectDto"},"example":"{\n  \"values\" : {\n    \"property1\" : {\n      \"inheritFromParent\" : \"NOT_SUPPORTED\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    },\n    \"property2\" : {\n      \"inheritFromParent\" : \"BROKEN_INHERITANCE\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    }\n  },\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345,\n  \"workflowObjectId\" : 12345,\n  \"name\" : \"...\",\n  \"extendedName\" : \"...\",\n  \"state\" : \"...\",\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345,\n  \"createdBy\" : \"...\",\n  \"parentId\" : 12345,\n  \"creator\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"workflowTypeId\" : 12345,\n  \"currentStepTemplateId\" : 12345,\n  \"assignment\" : {\n    \"assignees\" : [ {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    } ],\n    \"group\" : {\n      \"defaultAssignee\" : { },\n      \"predefined\" : true,\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    }\n  }\n}"}}}}}},"/dse/rest/v1.0/products/{ordinalNumber}/{localeId}/ids":{"get":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-GET_getIds","parameters":[{"name":"localeId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductIdsDto"},"example":"{\n  \"l10nLocaleId\" : 12345,\n  \"instanceId\" : 12345,\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345\n}"}}}}}},"/dse/rest/v1.0/products/{ordinalNumber}/{localeId}/subproducts":{"get":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-GET_getSubProducts","parameters":[{"name":"localeId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"state","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingWrapperDtoOfDseObjectDto"},"example":"{\n  \"total\" : 12345,\n  \"items\" : [ {\n    \"values\" : {\n      \"property1\" : {\n        \"inheritFromParent\" : \"NOT_SUPPORTED\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      },\n      \"property2\" : {\n        \"inheritFromParent\" : \"BROKEN_INHERITANCE\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      }\n    },\n    \"instanceId\" : 12345,\n    \"l10nLocaleId\" : 12345,\n    \"workflowObjectId\" : 12345,\n    \"name\" : \"...\",\n    \"extendedName\" : \"...\",\n    \"state\" : \"...\",\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345,\n    \"createdBy\" : \"...\",\n    \"parentId\" : 12345,\n    \"creator\" : {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    },\n    \"workflowTypeId\" : 12345,\n    \"currentStepTemplateId\" : 12345,\n    \"assignment\" : {\n      \"assignees\" : [ { }, { } ],\n      \"group\" : { }\n    }\n  }, {\n    \"values\" : {\n      \"property1\" : {\n        \"inheritFromParent\" : \"NOT_SUPPORTED\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      },\n      \"property2\" : {\n        \"inheritFromParent\" : \"BROKEN_INHERITANCE\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      }\n    },\n    \"instanceId\" : 12345,\n    \"l10nLocaleId\" : 12345,\n    \"workflowObjectId\" : 12345,\n    \"name\" : \"...\",\n    \"extendedName\" : \"...\",\n    \"state\" : \"...\",\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345,\n    \"createdBy\" : \"...\",\n    \"parentId\" : 12345,\n    \"creator\" : {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    },\n    \"workflowTypeId\" : 12345,\n    \"currentStepTemplateId\" : 12345,\n    \"assignment\" : {\n      \"assignees\" : [ { }, { } ],\n      \"group\" : { }\n    }\n  } ]\n}"}}}}}},"/dse/rest/v1.0/products/{ordinalNumber}/{localeId}/subproducts/ids":{"get":{"tags":["ProductRestServiceV1"],"description":"\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS","operationId":"ProductRestServiceV1-GET_getSubProductIds","parameters":[{"name":"localeId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ordinalNumber","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"state","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagingWrapperDtoOfProductIdsDto"},"example":"{\n  \"items\" : [ {\n    \"l10nLocaleId\" : 12345,\n    \"instanceId\" : 12345,\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345\n  }, {\n    \"l10nLocaleId\" : 12345,\n    \"instanceId\" : 12345,\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345\n  } ],\n  \"total\" : 12345\n}"}}}}}}},"components":{"schemas":{"ActionButtonColumnDto":{"title":"ActionButtonColumnDto","type":"object","properties":{"position":{"type":"integer","format":"int32"},"style":{"type":"string"},"formerTechnicalValue":{"type":"string"},"dynamicTableIndex":{"type":"string"},"url":{"type":"string"},"helpValue":{"type":"string"}},"description":"Base DTO for variable.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"ActionButtonDto":{"title":"ActionButtonDto","type":"object","properties":{"url":{"type":"string"}},"description":"Base DTO for variable.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"AssetDto":{"title":"AssetDto","type":"object","properties":{"selectByArticleNumber":{"type":"boolean"},"selectFromMediaPool":{"type":"boolean"},"freeTextField":{"type":"integer","format":"int32"}},"description":"DTO for asset data."},"AssetSelectorColumnDto":{"title":"AssetSelectorColumnDto","required":["mandatoryGridColumn"],"type":"object","properties":{"position":{"type":"integer","format":"int32"},"asset":{"$ref":"#/components/schemas/AssetDto"},"formerTechnicalValue":{"type":"string"},"dynamicTableIndex":{"type":"string"},"prefilling":{"$ref":"#/components/schemas/PrefillingDto"},"mandatoryGridColumn":{"type":"boolean"}},"description":"DTO for AssetSelectorColumn variable type.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"AssetSelectorDto":{"title":"AssetSelectorDto","required":["completeWidth"],"type":"object","properties":{"typeSpanning":{"type":"boolean"},"inheritFromParent":{"type":"boolean"},"prefilling":{"$ref":"#/components/schemas/PrefillingDto"},"asset":{"$ref":"#/components/schemas/AssetDto"},"completeWidth":{"type":"boolean"}},"description":"DTO for asset selector variable type.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"BaseIdsDto":{"title":"BaseIdsDto","type":"object","properties":{"instanceId":{"type":"integer","format":"int32"},"ordinalNumber":{"type":"integer","format":"int32"},"typeId":{"type":"integer","format":"int32"}},"description":"Base identificator for jobs and products"},"BaseSelectableVariableTypeDto":{"title":"BaseSelectableVariableTypeDto","type":"object","properties":{"sourceCustomStructureName":{"type":"string"}},"description":"Base DTO for selectable variable types.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"BaseVariableTypeDto":{"title":"BaseVariableTypeDto","type":"object","properties":{"id":{"type":"integer","format":"int32"},"metaTypeId":{"type":"integer","format":"int32"},"metaTypeName":{"type":"string"},"uniqueName":{"type":"string"},"displayName":{"type":"string"},"rawLabel":{"type":"string"},"mode":{"type":"integer","format":"int32"},"technicalName":{"type":"string"},"sharedLocale":{"type":"boolean"},"helpText":{"type":"string"},"visibility":{"$ref":"#/components/schemas/VisibilityDto"},"dependsFromVariableId":{"type":"integer","format":"int32"},"dependsFromVariableValues":{"type":"array","items":{"type":"string"}},"typeSpanning":{"type":"boolean"},"system":{"type":"boolean"},"storageType":{"type":"integer","format":"int32"}},"description":"Base DTO for variable."},"BaseVariableTypeWithDataSourceDto":{"title":"BaseVariableTypeWithDataSourceDto","type":"object","properties":{"dataSourceName":{"type":"string"}},"description":"Base DTO with data source name for variable type.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"BreadcrumbSubJobsDto":{"title":"BreadcrumbSubJobsDto","type":"object","properties":{"instanceId":{"type":"integer","format":"int32"},"jobId":{"type":"string"},"jobName":{"type":"string"}},"description":"Sub -job identifier within breadcrumbs"},"BreadcrumbWorkflowDto":{"title":"BreadcrumbWorkflowDto","type":"object","properties":{"instanceId":{"type":"integer","format":"int32"},"typeId":{"type":"integer","format":"int32"},"name":{"type":"string"},"creator":{"$ref":"#/components/schemas/UserDto"},"currentStep":{"$ref":"#/components/schemas/BreadcrumbWorkflowStepDetailsDto"},"steps":{"type":"array","items":{"$ref":"#/components/schemas/BreadcrumbWorkflowStepDto"}}},"description":"DTO for workflow."},"BreadcrumbWorkflowStepDetailsDto":{"title":"BreadcrumbWorkflowStepDetailsDto","type":"object","properties":{"id":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"name":{"$ref":"#/components/schemas/LabelValueDto"},"startDate":{"$ref":"#/components/schemas/LabelValueDto"},"endDate":{"$ref":"#/components/schemas/LabelValueDto"},"assignees":{"$ref":"#/components/schemas/LabelValueDto"}},"description":"DTO for worflow step."},"BreadcrumbWorkflowStepDto":{"title":"BreadcrumbWorkflowStepDto","type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"status":{"type":"string"}},"description":"DTO for items of breadcrumb workflow."},"ComboBoxColumnDto":{"title":"ComboBoxColumnDto","required":["mandatoryGridColumn"],"type":"object","properties":{"position":{"type":"integer","format":"int32"},"defaultValue":{"type":"string"},"dynamicTableIndex":{"type":"string"},"mandatoryGridColumn":{"type":"boolean"}},"description":"DTO for ComboBoxColumn variable type.","allOf":[{"$ref":"#/components/schemas/BaseSelectableVariableTypeDto"}]},"ComboBoxDto":{"title":"ComboBoxDto","type":"object","properties":{"typeSpanning":{"type":"boolean"},"inheritFromParent":{"type":"boolean"},"defaultValue":{"type":"string"}},"description":"DTO for combo box variable type.","allOf":[{"$ref":"#/components/schemas/BaseSelectableVariableTypeDto"}]},"ComfortGridColumnRestDto":{"title":"ComfortGridColumnRestDto","required":["interdependentCheckbox","mandatory"],"type":"object","properties":{"ordinalNumb":{"type":"integer","format":"int32"},"variableType":{"type":"string"},"displayName":{"type":"string"},"dataSource":{"type":"string"},"helpText":{"type":"string"},"summaryFunction":{"type":"string"},"summaryLabel":{"type":"string"},"expression":{"type":"string"},"interdependentCheckbox":{"type":"boolean"},"interdependentColumnId":{"type":"integer","format":"int32"},"defaultValue":{"type":"string"},"decimalPlaces":{"type":"integer","format":"int32"},"uniqueName":{"type":"string"},"multilanguageText":{"type":"string"},"mandatory":{"type":"boolean"}},"description":"Comfort grid column definition"},"ComfortGridDto":{"title":"ComfortGridDto","type":"object","properties":{"columns":{"type":"array","items":{"$ref":"#/components/schemas/ComfortGridColumnRestDto"}},"prefilledFromParent":{"type":"boolean"},"defaultValue":{"type":"string"}},"description":"Base DTO for variable.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"CommentCreateDto":{"title":"CommentCreateDto","type":"object","properties":{"content":{"type":"string","description":"Comment content of discussion."}},"description":"Properties for create comment of discussion."},"CommentDto":{"title":"CommentDto","type":"object","properties":{"id":{"type":"integer","description":"The unique, internal comment ID.","format":"int32"},"content":{"type":"string","description":"Comment content of discussion."},"user":{"$ref":"#/components/schemas/UserDto"},"createDate":{"type":"string","description":"Date of creation comment."},"modifiedDate":{"type":"string","description":"Last modified"}},"description":"It is comment of a discussion."},"CommentUpdateDto":{"title":"CommentUpdateDto","type":"object","properties":{"id":{"type":"integer","description":"The unique, internal comment ID.","format":"int32"},"content":{"type":"string","description":"New comment content of discussion."}},"description":"Properties for update comment of discussion."},"CreateVariableTypeRequestDto":{"title":"CreateVariableTypeRequestDto","type":"object","properties":{"inheritedVariableTypeId":{"type":"integer","format":"int32"},"metaTypeId":{"type":"integer","format":"int32"},"displayName":{"type":"string"}},"description":"DTO for request to create variable type."},"CustomObjectDto":{"title":"CustomObjectDto","type":"object","properties":{"id":{"type":"integer","format":"int32"},"customStructureId":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"},"name":{"type":"string"},"displayName":{"type":"string"}},"description":"Base DTO for custom object."},"CustomStructureAttributeDto":{"title":"CustomStructureAttributeDto","type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"label":{"type":"string"},"order":{"type":"integer","format":"int32"},"comment":{"type":"string"},"type":{"type":"string"}},"description":"DTO for custom structure attribute."},"CustomStructureDto":{"title":"CustomStructureDto","type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"displayName":{"type":"string"},"parentId":{"type":"integer","format":"int32"},"objects":{"type":"array","items":{"$ref":"#/components/schemas/CustomObjectDto"}}},"description":"Base DTO for custom structure."},"DataSheetAreaDto":{"title":"DataSheetAreaDto","type":"object","properties":{"variables":{"type":"array","items":{"$ref":"#/components/schemas/DataSheetVariableDto"}}},"description":"DTO for DSE data sheet area."},"DataSheetAreaLightDto":{"title":"DataSheetAreaLightDto","type":"object","properties":{"variables":{"type":"array","items":{"type":"string"}}},"description":"Lightweight data sheet area"},"DataSheetDto":{"title":"DataSheetDto","type":"object","properties":{"type":{"type":"string"},"label":{"type":"string"},"sections":{"type":"array","items":{"$ref":"#/components/schemas/DataSheetSectionDto"}},"id":{"type":"integer","format":"int32"},"technicalName":{"type":"string"}},"description":"DTO for DSE data sheet."},"DataSheetLightDto":{"title":"DataSheetLightDto","type":"object","properties":{"type":{"type":"string"},"label":{"type":"string"},"sections":{"type":"array","items":{"$ref":"#/components/schemas/DataSheetSectionLightDto"}},"technicalName":{"type":"string"}},"description":"Lightweight data sheet"},"DataSheetSectionDto":{"title":"DataSheetSectionDto","required":["separatorNeeded"],"type":"object","properties":{"areas":{"type":"array","items":{"$ref":"#/components/schemas/DataSheetAreaDto"}},"separatorNeeded":{"type":"boolean"}},"description":"DTO for DSE data sheet section."},"DataSheetSectionLightDto":{"title":"DataSheetSectionLightDto","type":"object","properties":{"areas":{"type":"array","items":{"$ref":"#/components/schemas/DataSheetAreaLightDto"}}},"description":"Lightweight data sheet section"},"DataSheetVariableDto":{"title":"DataSheetVariableDto","type":"object","properties":{"editable":{"type":"boolean"},"required":{"type":"boolean"},"variableType":{"$ref":"#/components/schemas/BaseVariableTypeDto"}},"description":"DTO for data sheet variable."},"DateInputLineColumnDto":{"title":"DateInputLineColumnDto","required":["mandatoryGridColumn"],"type":"object","properties":{"position":{"type":"integer","format":"int32"},"dateValidation":{"$ref":"#/components/schemas/DateValidationDto"},"formerTechnicalValue":{"type":"string"},"dynamicTableIndex":{"type":"string"},"prefilling":{"$ref":"#/components/schemas/PrefillingDto"},"mandatoryGridColumn":{"type":"boolean"}},"description":"DTO for DateInputLineColumn variable type.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"DateInputLineDto":{"title":"DateInputLineDto","type":"object","properties":{"prefilling":{"$ref":"#/components/schemas/PrefillingDto"}},"description":"Base DTO for variable.","allOf":[{"$ref":"#/components/schemas/DateWithTimeInputLineDto"}]},"DateValidationDto":{"title":"DateValidationDto","type":"object","properties":{"validDatesOnly":{"type":"boolean"},"offsetDays":{"type":"integer","format":"int32"},"reference":{"type":"integer","format":"int32"}},"description":"Validation rules for a date field"},"DateWithTimeInputLineDto":{"title":"DateWithTimeInputLineDto","type":"object","properties":{"typeSpanning":{"type":"boolean"},"dateValidation":{"$ref":"#/components/schemas/DateValidationDto"},"inheritFromParent":{"type":"boolean"}},"description":"Base DTO for variable.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"DelegationStartDto":{"title":"DelegationStartDto","type":"object","properties":{"login":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"stopDate":{"type":"string","format":"date-time"}},"description":"Period for which delegation is active"},"DescriptionTextDto":{"title":"DescriptionTextDto","type":"object","properties":{"text":{"type":"string"}},"description":"DTO for description text variable type.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"DiscussionCreateDto":{"title":"DiscussionCreateDto","type":"object","properties":{"title":{"type":"string","description":"The title is used for UI labels of discussion."},"content":{"type":"string","description":"Content of discussion."}},"description":"Properties for create discussion of job."},"DiscussionDto":{"title":"DiscussionDto","type":"object","properties":{"id":{"type":"integer","description":"The unique, internal discussion ID.","format":"int32"},"content":{"type":"string","description":"Content of discussion."},"title":{"type":"string","description":"The title is used for UI labels of discussion."},"type":{"$ref":"#/components/schemas/DseDiscussionTypeEnum"},"createDate":{"type":"string","description":"Date of creation discussion."},"modifiedDate":{"type":"string","description":"Date of modification discussion."},"participants":{"type":"array","description":"Participants of discussion.","items":{"type":"integer","format":"int32"}}},"description":"Properties for discussion of job."},"DiscussionUpdateDto":{"title":"DiscussionUpdateDto","type":"object","properties":{"id":{"type":"integer","description":"The unique, internal discussion ID.","format":"int32"},"title":{"type":"string","description":"The title is used for UI labels of discussion."},"content":{"type":"string","description":"Content of discussion."}},"description":"Properties for update discussion of job."},"DocumentSelectorDto":{"title":"DocumentSelectorDto","type":"object","properties":{"typeSpanning":{"type":"boolean"},"inheritFromParent":{"type":"boolean"}},"description":"DTO for document selector variable type.","allOf":[{"$ref":"#/components/schemas/BaseVariableTypeDto"}]},"DseBpmnObjectDto":{"title":"DseBpmnObjectDto","type":"object","properties":{"values":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DseBpmnObjectValueDto"}},"instanceId":{"type":"integer","format":"int32"},"l10nLocaleId":{"type":"integer","format":"int32"},"workflowObjectId":{"type":"integer","format":"int32"},"name":{"type":"string"},"extendedName":{"type":"string"},"state":{"type":"string"},"ordinalNumber":{"type":"integer","format":"int32"},"typeId":{"type":"integer","format":"int32"},"createdBy":{"type":"string"},"parentId":{"type":"integer","format":"int32"},"creator":{"$ref":"#/components/schemas/UserDto"},"workflowTypeId":{"type":"integer","format":"int32"},"dseObjectTypeId":{"type":"integer","format":"int32"}},"description":"DSE BPMN object"},"DseColumnDto":{"title":"DseColumnDto","type":"object","properties":{"value":{"type":"string"},"displayValue":{"type":"string"}},"description":"DSE column"},"DseCustomObjectDtoV1":{"title":"DseCustomObjectDtoV1","type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"parentValue":{"type":"string"}},"description":"DTO for Custom Structure"},"DseDashboardObjectDto":{"title":"DseDashboardObjectDto","type":"object","properties":{"jobInstanceId":{"type":"integer","format":"int32"},"jobOrdinalNumber":{"type":"integer","format":"int32"},"name":{"type":"string"},"jobStepNumber":{"type":"integer","format":"int32"},"dashboardObjectType":{"$ref":"#/components/schemas/DseDashboardObjectTypeEnum"},"dueDate":{"type":"string"},"state":{"type":"string"}},"description":"DSE dashboard object"},"DseDashboardObjectTypeEnum":{"title":"DseDashboardObjectTypeEnum","type":"string","description":"DSE dashboard object type","enum":["JOB","TASK"]},"DseDiscussionTypeEnum":{"title":"DseDiscussionTypeEnum","type":"string","description":"Types for discussions for Job","enum":["SYSTEM","CUSTOM"]},"DseFlatCustomStructureDtoV1":{"title":"DseFlatCustomStructureDtoV1","type":"object","properties":{"label":{"type":"string"},"name":{"type":"string"},"customObjects":{"type":"array","items":{"$ref":"#/components/schemas/DseCustomObjectDtoV1"}},"parent":{"$ref":"#/components/schemas/DseFlatCustomStructureDtoV1"}},"description":"DTO for Custom Structure"},"DseMaplSyncedObjectStatusDto":{"title":"DseMaplSyncedObjectStatusDto","type":"object","properties":{"maplSynced":{"type":"boolean"},"objectUrl":{"type":"string"}}},"DseObjectCreateResultDto":{"title":"DseObjectCreateResultDto","type":"object","properties":{"stepNumber":{"type":"integer","format":"int32"}},"description":"Result of DSE object creation","allOf":[{"$ref":"#/components/schemas/DseObjectUpdateResultDto"}]},"DseObjectDto":{"title":"DseObjectDto","type":"object","properties":{"values":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DseObjectValueDto"}},"instanceId":{"type":"integer","format":"int32"},"l10nLocaleId":{"type":"integer","format":"int32"},"workflowObjectId":{"type":"integer","format":"int32"},"name":{"type":"string"},"extendedName":{"type":"string"},"state":{"type":"string"},"ordinalNumber":{"type":"integer","format":"int32"},"typeId":{"type":"integer","format":"int32"},"createdBy":{"type":"string"},"parentId":{"type":"integer","format":"int32"},"creator":{"$ref":"#/components/schemas/UserDto"},"workflowTypeId":{"type":"integer","format":"int32"},"currentStepTemplateId":{"type":"integer","format":"int32"},"assignment":{"$ref":"#/components/schemas/AssignmentDto"}},"description":"DTO for DSE object."},"DseObjectIdentityDto":{"title":"DseObjectIdentityDto","type":"object","properties":{"instanceId":{"type":"integer","format":"int32"},"l10nLocaleId":{"type":"integer","format":"int32"}},"description":"Identifier of DSE objects"},"DseObjectLightDto":{"title":"DseObjectLightDto","type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"displayName":{"type":"string"},"deepLink":{"type":"string"}},"description":"DTO for media details."},"DseObjectState":{"title":"DseObjectState","type":"string","descripti
[...]
