{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "DSE REST API",
    "description" : "<h2>DSE REST API</h1>",
    "version" : "1.0.0-SNAPSHOT"
  },
  "servers" : [ {
    "url" : "https://is-dev2.brandmaker.com"
  }, {
    "url" : "/"
  } ],
  "security" : [ {
    "jwtScheme" : [ ]
  }, {
    "basicScheme" : [ ]
  }, {
    "cookieScheme" : [ ]
  } ],
  "tags" : [ {
    "name" : "AssetRestServiceV1",
    "description" : "REST service for media data."
  }, {
    "name" : "DashboardRestServiceV1",
    "description" : "REST service for DSE dashboard objects filtered by the current user"
  }, {
    "name" : "DseJobDiscussionRestServiceV1",
    "description" : "REST service for managing discussions of job."
  }, {
    "name" : "DseObjectRestServiceV1",
    "description" : "REST service for DSE objects."
  }, {
    "name" : "JobGridRestServiceV1",
    "description" : "REST service for managing job grids"
  }, {
    "name" : "JobMetaDataRestServiceV1",
    "description" : "REST service to retrieve Job Manager meta data."
  }, {
    "name" : "JobRestServiceV1",
    "description" : "REST service for OLD Jobs."
  }, {
    "name" : "ProcessFactoryServiceV1",
    "description" : "REST service for Processes."
  }, {
    "name" : "ProcessMetaDataServiceV1",
    "description" : "REST service for Prorcess types."
  }, {
    "name" : "ProcessServiceV1",
    "description" : "REST service for Processes."
  }, {
    "name" : "ProductGridRestServiceV1",
    "description" : "REST service for managing the product grids"
  }, {
    "name" : "ProductMetaDataRestServiceV1",
    "description" : "REST service to retrieve Job Manager meta data."
  }, {
    "name" : "ProductRestServiceV1",
    "description" : "REST service for managing the products"
  } ],
  "paths" : {
    "/dse/rest/{version}/assets/{assetId}/jobs" : {
      "get" : {
        "tags" : [ "AssetRestServiceV1" ],
        "description" : "Returns page of jobs containing media data with provided guid.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "AssetRestServiceV1-GET_getJobs",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assetId",
          "in" : "path",
          "description" : "asset id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "pagination limit",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "pagination offset",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "page of jobs containing media data with provided assetId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageDtoOfDseObjectLightDto"
                },
                "example" : "{\n  \"limit\" : 12345,\n  \"totalCount\" : 12345,\n  \"data\" : [ {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"displayName\" : \"...\",\n    \"deepLink\" : \"...\"\n  }, {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"displayName\" : \"...\",\n    \"deepLink\" : \"...\"\n  } ],\n  \"offset\" : 12345\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/{version}/assets/{assetId}/products" : {
      "get" : {
        "tags" : [ "AssetRestServiceV1" ],
        "description" : "Returns page of products containing media data with provided guid.\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "AssetRestServiceV1-GET_getProducts",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "assetId",
          "in" : "path",
          "description" : "asset id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "pagination limit",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "pagination offset",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "page of products containing media data with provided assetId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PageDtoOfDseObjectLightDto"
                },
                "example" : "{\n  \"limit\" : 12345,\n  \"totalCount\" : 12345,\n  \"data\" : [ {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"displayName\" : \"...\",\n    \"deepLink\" : \"...\"\n  }, {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"displayName\" : \"...\",\n    \"deepLink\" : \"...\"\n  } ],\n  \"offset\" : 12345\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/dashboards/my-active" : {
      "get" : {
        "tags" : [ "DashboardRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DashboardRestServiceV1-GET_getMyActiveObjects",
        "parameters" : [ {
          "name" : "dir",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "string",
            "default" : "desc"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 5
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "-117 is DseObjectInterface.CURRENT_STEP_OVERDUE_DATE_VARIABLE_ID",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "string",
            "default" : "var_-117"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagingWrapperDtoOfDseDashboardObjectDto"
                },
                "example" : "{\n  \"items\" : [ {\n    \"jobInstanceId\" : 12345,\n    \"jobOrdinalNumber\" : 12345,\n    \"name\" : \"...\",\n    \"jobStepNumber\" : 12345,\n    \"dashboardObjectType\" : \"TASK\",\n    \"dueDate\" : \"...\",\n    \"state\" : \"...\"\n  }, {\n    \"jobInstanceId\" : 12345,\n    \"jobOrdinalNumber\" : 12345,\n    \"name\" : \"...\",\n    \"jobStepNumber\" : 12345,\n    \"dashboardObjectType\" : \"TASK\",\n    \"dueDate\" : \"...\",\n    \"state\" : \"...\"\n  } ],\n  \"total\" : 12345\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/discussions/{discussionId}/assets/_add" : {
      "post" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method add linked media of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-POST_addLinkedMediaId",
        "parameters" : [ {
          "name" : "discussionId",
          "in" : "path",
          "description" : "It is path param of discussionId of discussion.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "assetsId",
          "in" : "query",
          "description" : "It is query parameter id linked media.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Id new linked media.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/discussions/{discussionId}/assets/_delete" : {
      "post" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method deletes existing linked media of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-POST_deleteLinkedMediaId",
        "parameters" : [ {
          "name" : "discussionId",
          "in" : "path",
          "description" : "It is path param of discussionId of discussion.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "assetsId",
          "in" : "query",
          "description" : "It is query parameter id linked media.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Delete result true or false.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/discussions/{discussionId}/assets/ids" : {
      "get" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method returns ID`s linked media of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-GET_getLinkedMediaIds",
        "parameters" : [ {
          "name" : "discussionId",
          "in" : "path",
          "description" : "It is path param of discussionId of discussion.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "This is a pagination parameter, maximum allowed number of objects to return. Default 100.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "This is a pagination parameter, for specifying how many first records to skip. Default 0.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Collection ID`s linked media of the discussion.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "integer",
                    "format" : "int32"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/discussions/{discussionId}/comments" : {
      "get" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method returns comments of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-GET_getComments",
        "parameters" : [ {
          "name" : "discussionId",
          "in" : "path",
          "description" : "It is path param of discussionId of discussion.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "This is a pagination parameter, maximum allowed number of objects to return. Default 100.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "This is a pagination parameter, for specifying how many first records to skip. Default 0.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Collection comments of discussion.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CommentDto"
                  }
                },
                "example" : "[ {\n  \"id\" : 12345,\n  \"content\" : \"...\",\n  \"user\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"createDate\" : \"...\",\n  \"modifiedDate\" : \"...\"\n} ]"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method updates comment content of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-PUT_updateComments",
        "parameters" : [ {
          "name" : "discussionId",
          "in" : "path",
          "description" : "It is path param of discussionId of discussion.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "It is dto for update existing comment.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommentUpdateDto"
              },
              "example" : "{\n  \"id\" : 12345,\n  \"content\" : \"...\"\n}"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Update result true or false.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method creates new comment of the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-POST_createComments",
        "parameters" : [ {
          "name" : "discussionId",
          "in" : "path",
          "description" : "It is path param of discussionId of discussion.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "It is dto for create new comment.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CommentCreateDto"
              },
              "example" : "{\n  \"content\" : \"...\"\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "New comment.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentDto"
                },
                "example" : "{\n  \"id\" : 12345,\n  \"content\" : \"...\",\n  \"user\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"createDate\" : \"...\",\n  \"modifiedDate\" : \"...\"\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/discussions/{discussionId}/participants/_add" : {
      "post" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method add user to the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-POST_addParticipant",
        "parameters" : [ {
          "name" : "discussionId",
          "in" : "path",
          "description" : "It is path param of discussionId of discussion.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "It is query parameter id of the added user.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "User id of added user.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/discussions/{discussionId}/participants/_delete" : {
      "post" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method delete user to the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-POST_deleteParticipant",
        "parameters" : [ {
          "name" : "discussionId",
          "in" : "path",
          "description" : "It is path param of discussionId of discussion.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "It is query parameter id of the deleted user.",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Delete result true or false.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/discussions/{discussionId}/participants/ids" : {
      "get" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method get ID`s of users to the discussion.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-GET_getParticipant",
        "parameters" : [ {
          "name" : "discussionId",
          "in" : "path",
          "description" : "It is path param of discussionId of discussion.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "This is a pagination parameter, maximum allowed number of objects to return. Default 100.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "This is a pagination parameter, for specifying how many first records to skip. Default 0.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List ID`s of users.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "integer",
                    "format" : "int32"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/discussions" : {
      "get" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method returns discussions of the job.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-GET_getDiscussions",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "It is path param of ordinalNumber of job.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "This is a pagination parameter, maximum allowed number of objects to return. Default 100.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "This is a pagination parameter, for specifying how many first records to skip. Default 0.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Collection discussions of job where there is at least one system discussion.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DiscussionDto"
                  }
                },
                "example" : "[ {\n  \"id\" : 12345,\n  \"content\" : \"...\",\n  \"title\" : \"...\",\n  \"type\" : \"SYSTEM\",\n  \"createDate\" : \"...\",\n  \"modifiedDate\" : \"...\",\n  \"participants\" : [ 12345, 12345 ]\n} ]"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method completely updates discussion of the job.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-PUT_updateDiscussion",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "It is path param of ordinalNumber of job.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "It is dto for update existing discussion.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiscussionUpdateDto"
              },
              "example" : "{\n  \"id\" : 12345,\n  \"title\" : \"...\",\n  \"content\" : \"...\"\n}"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Update result true or false.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "DseJobDiscussionRestServiceV1" ],
        "description" : "Method creates new discussion of the job.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "DseJobDiscussionRestServiceV1-POST_createDiscussion",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "It is path param of ordinalNumber of job.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "It is dto for create new discussion.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DiscussionCreateDto"
              },
              "example" : "{\n  \"title\" : \"...\",\n  \"content\" : \"...\"\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "New discussion.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DiscussionDto"
                },
                "example" : "{\n  \"id\" : 12345,\n  \"content\" : \"...\",\n  \"title\" : \"...\",\n  \"type\" : \"SYSTEM\",\n  \"createDate\" : \"...\",\n  \"modifiedDate\" : \"...\",\n  \"participants\" : [ 12345, 12345 ]\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/dse-object/{instanceId}/{l10nLocaleId}" : {
      "get" : {
        "tags" : [ "DseObjectRestServiceV1" ],
        "description" : "Return DSE object.\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "DseObjectRestServiceV1-GET_getDseObject",
        "parameters" : [ {
          "name" : "instanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "l10nLocaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "collection of DSE objects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectDto"
                },
                "example" : "{\n  \"values\" : {\n    \"property1\" : {\n      \"inheritFromParent\" : \"NOT_SUPPORTED\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    },\n    \"property2\" : {\n      \"inheritFromParent\" : \"INHERITED_FROM_PARENT\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    }\n  },\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345,\n  \"workflowObjectId\" : 12345,\n  \"name\" : \"...\",\n  \"extendedName\" : \"...\",\n  \"state\" : \"...\",\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345,\n  \"createdBy\" : \"...\",\n  \"parentId\" : 12345,\n  \"creator\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"workflowTypeId\" : 12345,\n  \"currentStepTemplateId\" : 12345,\n  \"assignment\" : {\n    \"assignees\" : [ {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    } ],\n    \"group\" : {\n      \"defaultAssignee\" : { },\n      \"predefined\" : true,\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    }\n  }\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/dse-object/{instanceId}/{l10nLocaleId}/light" : {
      "get" : {
        "tags" : [ "DseObjectRestServiceV1" ],
        "description" : "Return DSE object.\n\nreturn only extended name which includes Job Name, Job Id, Job type Identifier (like 'J')\n\n__Security Roles Allowed:__ EVENT_MANAGER_MODULE_ACCESS, JOB_MANAGER_MODULE_ACCESS, PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "DseObjectRestServiceV1-GET_getLightDseObject",
        "parameters" : [ {
          "name" : "instanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "l10nLocaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "light DSE object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LightDseObjectDto"
                },
                "example" : "{\n  \"jobName\" : \"...\",\n  \"extendedName\" : \"...\",\n  \"jobTypeIdentifier\" : \"...\",\n  \"idFormattedWithTopicCode\" : \"...\",\n  \"workflowTypeId\" : 12345,\n  \"l10nLocaleId\" : 12345,\n  \"instanceId\" : 12345,\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/grids/{variableInstanceId}/rows" : {
      "get" : {
        "tags" : [ "JobGridRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobGridRestServiceV1-GET_findGridRows",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "variableInstanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "columns",
          "in" : "query",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GridRowDto"
                  }
                },
                "example" : "[ {\n  \"rowEditable\" : true,\n  \"rowInstanceId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n} ]"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "JobGridRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobGridRestServiceV1-POST_createGridRow",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "variableInstanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "additionalProperties" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GridRowDto"
                },
                "example" : "{\n  \"rowEditable\" : true,\n  \"rowInstanceId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/grids/{variableInstanceId}/rows/_truncate" : {
      "delete" : {
        "tags" : [ "JobGridRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobGridRestServiceV1-DELETE_deleteAllGridRows",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "variableInstanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/grids/{variableInstanceId}/rows/{rowId}" : {
      "put" : {
        "tags" : [ "JobGridRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobGridRestServiceV1-PUT_updateGridRow",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "variableInstanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateGridRowDto"
              },
              "example" : "{\n  \"rowTypeId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "204",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "JobGridRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobGridRestServiceV1-DELETE_deleteGridRow",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "variableInstanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/job-manager/available-job-types" : {
      "get" : {
        "tags" : [ "JobMetaDataRestServiceV1" ],
        "description" : "The method returns old available jobtypes with workflow.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobMetaDataRestServiceV1-GET_getAvailableJobTypes",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "is a pagination parameter and an optional parameter, maximum allowed number of objects to return.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "is a pagination parameter and an optional parameter, for specifying how many first records to skip.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "JobTypeWithWorkflowsDto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JobTypeWithWorkflowsDto"
                  }
                },
                "example" : "[ {\n  \"id\" : 12345,\n  \"technicalName\" : \"...\",\n  \"uniqueName\" : \"...\",\n  \"displayName\" : \"...\",\n  \"description\" : \"...\",\n  \"workflows\" : [ {\n    \"label\" : { },\n    \"value\" : { }\n  }, {\n    \"label\" : { },\n    \"value\" : { }\n  } ]\n} ]"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/job-manager/available-process-types" : {
      "get" : {
        "tags" : [ "JobMetaDataRestServiceV1" ],
        "description" : "The method returns new BPMN available jobtypes without workflow.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobMetaDataRestServiceV1-GET_getAvailableProcessTypes",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "is a pagination parameter and an optional parameter, maximum allowed number of objects to return.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "is a pagination parameter and an optional parameter, for specifying how many first records to skip.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "AvailableJobTypeDto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JobTypeWithoutWorkflowsDto"
                  }
                },
                "example" : "[ {\n  \"id\" : 12345,\n  \"technicalName\" : \"...\",\n  \"uniqueName\" : \"...\",\n  \"displayName\" : \"...\",\n  \"description\" : \"...\"\n} ]"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/job-manager/types" : {
      "get" : {
        "tags" : [ "JobMetaDataRestServiceV1" ],
        "description" : "The method returns all jobtypes.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobMetaDataRestServiceV1-GET_getDseObjectTypes",
        "parameters" : [ {
          "name" : "ids",
          "in" : "query",
          "description" : "It's possible to filter the results by a list of given jobtype IDs\nusing the optional 'ids' parameter.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "DseObjectTypeDto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DseObjectTypeDto"
                  }
                },
                "example" : "[ {\n  \"respectRestrictionsByOrgUnits\" : true,\n  \"forSubJobsOnly\" : true,\n  \"inheritance\" : \"...\",\n  \"uniqueName\" : \"...\",\n  \"technicalName\" : \"...\",\n  \"displayName\" : \"...\",\n  \"variables\" : [ {\n    \"id\" : 12345,\n    \"metaTypeId\" : 5,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  }, {\n    \"id\" : 12345,\n    \"metaTypeId\" : 5,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  } ],\n  \"id\" : 12345,\n  \"parentTypeId\" : 12345,\n  \"dataSheets\" : [ {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  }, {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  } ]\n} ]"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/_search" : {
      "post" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "The method return jobs for specified filter.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-POST_search",
        "requestBody" : {
          "description" : "is possible to specify filter id, from and limit params.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchParamDto"
              },
              "example" : "{\n  \"filterId\" : 12345,\n  \"from\" : 12345,\n  \"limit\" : 12345,\n  \"sort\" : 12345,\n  \"dir\" : \"...\",\n  \"variableCondition\" : [ {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  }, {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  } ],\n  \"fulltext\" : \"...\",\n  \"states\" : [ \"FINISHED\", \"DELETED\" ]\n}"
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "List of DseObjectDto were returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchResultDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Filter with such id doesn't exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchResultDto"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/_search/ids" : {
      "post" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "The method return jobs for specified filter.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-POST_searchIds",
        "requestBody" : {
          "description" : "is possible to specify filter id, from and limit params.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchParamDto"
              },
              "example" : "{\n  \"filterId\" : 12345,\n  \"from\" : 12345,\n  \"limit\" : 12345,\n  \"sort\" : 12345,\n  \"dir\" : \"...\",\n  \"variableCondition\" : [ {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  }, {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  } ],\n  \"fulltext\" : \"...\",\n  \"states\" : [ \"ACTIVE\", \"CANCELED\" ]\n}"
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "List of JobIdsDto were returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/JobIdsDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/filters/{filterId}/types" : {
      "get" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "Return job types by id filter.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-GET_findTypesByFilterId",
        "parameters" : [ {
          "name" : "filterId",
          "in" : "path",
          "description" : "unique id of dse filter.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximal number of items returned from the result set. Default 20.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "the offset in the query result set on which the returned body starts. Default 0.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of DseObjectTypeDto were returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectTypeDtoWithPaging"
                }
              }
            }
          },
          "403" : {
            "description" : "User does not have permission to access it",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectTypeDtoWithPaging"
                }
              }
            }
          },
          "404" : {
            "description" : "Filter with such id doesn't exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectTypeDtoWithPaging"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}" : {
      "get" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "Return Job.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-GET_get",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "is unique serial job number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Job was returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Job with such id doesn't exist or job is BPMN",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectDto"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "Delete job by ordinal number.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-DELETE_delete",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "is unique serial job number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "This job was deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "404" : {
            "description" : "Job with such id doesn't exist or job is BPMN",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/_cancel" : {
      "post" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "Cancel job by ordinal number.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-POST_cancel",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "is unique serial job number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "This job were canceled",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "403" : {
            "description" : "User does not have permission to access it",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "404" : {
            "description" : "Job with such id doesn't exist or job is BPMN",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/_forward-default" : {
      "post" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "The method moves a job by ordinal number to the next step or finish it if the last step has been already reached.\nFor the next workflow step users are assigned from predefined or already existed job assignees\nin case when they exist in required user groups.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-POST_forwardDefault",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "is unique serial job number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "comment" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Moved a job to the next step success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProcessWorkflowDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Job with such id doesn't exist or job is BPMN",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProcessWorkflowDto"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/_reject-default" : {
      "post" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "The method moves job by ordinal number to the previous step.\nFor the previous workflow step users are assigned from predefined or already existed job assignees\nin case when they exist in required user groups.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-POST_rejectDefault",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "is unique serial job number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "comment" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Moved a job to the previous step success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProcessWorkflowDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Job with such id doesn't exist or job is BPMN",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProcessWorkflowDto"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/ids" : {
      "get" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "Returns only ids of Job.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-GET_getIds",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "is unique serial job number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ids of job was returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobIdsDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Job with such id doesn't exist or job is BPMN",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobIdsDto"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/subjobs" : {
      "get" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "Returns sub jobs by parent ordinal number.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-GET_getSubJobs",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "is unique serial job number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximal number of items returned from the result set. Default 20.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "the offset in the query result set on which the returned body starts. Default 0.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "ACTIVE, CANCELED, DELETED, FINISHED.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Sub jobs were returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagingWrapperDtoOfDseObjectDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Job with such id doesn't exist or job is BPMN",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagingWrapperDtoOfDseObjectDto"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/subjobs/_cancel" : {
      "post" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "Cancel sub jobs by parent's ordinal number\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-POST_cancelSubJobs",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "ordinal number of parent object",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "success"
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/subjobs/_delete" : {
      "post" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "Delete sub jobs by parent's ordinal number\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-POST_deleteSubJobs",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "ordinal number of parent object",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "success"
          }
        }
      }
    },
    "/dse/rest/v1.0/jobs/{ordinalNumber}/subjobs/ids" : {
      "get" : {
        "tags" : [ "JobRestServiceV1" ],
        "description" : "Returns ids sub jobs by parent ordinal number.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "JobRestServiceV1-GET_getSubJobIds",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "is unique serial job number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "the maximal number of items returned from the result set. Default 20.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "the offset in the query result set on which the returned body starts. Default 0.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "ACTIVE, CANCELED, DELETED, FINISHED.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ids sub jobs were returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagingWrapperDtoOfJobIdsDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Job with such id doesn't exist or job is BPMN",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagingWrapperDtoOfJobIdsDto"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1/process-types/{processTypeId}/process" : {
      "post" : {
        "tags" : [ "ProcessFactoryServiceV1" ],
        "description" : "Creates Process.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "ProcessFactoryServiceV1-POST_create",
        "parameters" : [ {
          "name" : "processTypeId",
          "in" : "path",
          "description" : "process type's ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProcessDto"
              },
              "example" : "{\n  \"parent\" : 12345\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "DseObjectTypeDto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseProcessCreateDto"
                },
                "example" : "{\n  \"stepNumber\" : 12345,\n  \"values\" : {\n    \"property1\" : {\n      \"inheritFromParent\" : \"NOT_SUPPORTED\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    },\n    \"property2\" : {\n      \"inheritFromParent\" : \"BROKEN_INHERITANCE\",\n      \"inheritedValue\" : \"...\",\n      \"displayValue\" : \"...\",\n      \"value\" : \"...\"\n    }\n  },\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345,\n  \"workflowObjectId\" : 12345,\n  \"name\" : \"...\",\n  \"extendedName\" : \"...\",\n  \"state\" : \"...\",\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345,\n  \"createdBy\" : \"...\",\n  \"parentId\" : 12345,\n  \"creator\" : {\n    \"id\" : 12345,\n    \"firstName\" : \"...\",\n    \"fullName\" : \"...\",\n    \"lastName\" : \"...\",\n    \"email\" : \"...\",\n    \"login\" : \"...\"\n  },\n  \"workflowTypeId\" : 12345,\n  \"currentStepTemplateId\" : 12345,\n  \"assignment\" : {\n    \"assignees\" : [ {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    }, {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    } ],\n    \"group\" : {\n      \"defaultAssignee\" : { },\n      \"predefined\" : true,\n      \"id\" : 12345,\n      \"name\" : \"...\"\n    }\n  }\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1/process-types" : {
      "get" : {
        "tags" : [ "ProcessMetaDataServiceV1" ],
        "description" : "Return all Process types.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "ProcessMetaDataServiceV1-GET_getAll",
        "responses" : {
          "200" : {
            "description" : "list of DseObjectTypeDto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DseObjectTypeDto"
                  }
                },
                "example" : "[ {\n  \"respectRestrictionsByOrgUnits\" : true,\n  \"forSubJobsOnly\" : true,\n  \"inheritance\" : \"...\",\n  \"uniqueName\" : \"...\",\n  \"technicalName\" : \"...\",\n  \"displayName\" : \"...\",\n  \"variables\" : [ {\n    \"id\" : 12345,\n    \"metaTypeId\" : 5,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  }, {\n    \"id\" : 12345,\n    \"metaTypeId\" : 5,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  } ],\n  \"id\" : 12345,\n  \"parentTypeId\" : 12345,\n  \"dataSheets\" : [ {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  }, {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  } ]\n} ]"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1/process-types/{dseObjectTypeId}" : {
      "get" : {
        "tags" : [ "ProcessMetaDataServiceV1" ],
        "description" : "Return Process type.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "ProcessMetaDataServiceV1-GET_get",
        "parameters" : [ {
          "name" : "dseObjectTypeId",
          "in" : "path",
          "description" : "process type's ID",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "DseObjectTypeDto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectTypeDto"
                },
                "example" : "{\n  \"respectRestrictionsByOrgUnits\" : true,\n  \"forSubJobsOnly\" : true,\n  \"inheritance\" : \"...\",\n  \"uniqueName\" : \"...\",\n  \"technicalName\" : \"...\",\n  \"displayName\" : \"...\",\n  \"variables\" : [ {\n    \"id\" : 12345,\n    \"metaTypeId\" : 5,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  }, {\n    \"id\" : 12345,\n    \"metaTypeId\" : 5,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  } ],\n  \"id\" : 12345,\n  \"parentTypeId\" : 12345,\n  \"dataSheets\" : [ {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  }, {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  } ]\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1/process/{ordinalNumber}/ids" : {
      "get" : {
        "tags" : [ "ProcessServiceV1" ],
        "description" : "Returns only ids of Process.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "ProcessServiceV1-GET_getIds",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "is unique serial process number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ids of process was returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProcessIdsDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Process with such id doesn't exist or it is OLD job",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProcessIdsDto"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1/process/{ordinalNumber}/{stepNumber}" : {
      "get" : {
        "tags" : [ "ProcessServiceV1" ],
        "description" : "Return Process.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "ProcessServiceV1-GET_get",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "description" : "is unique serial process number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "stepNumber",
          "in" : "path",
          "description" : "is unique serial workflow step number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Process was returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Process with such id doesn't exist or it is OLD job",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectDto"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "ProcessServiceV1" ],
        "description" : "Updates existed DSE objects values.\n\n__Security Roles Allowed:__ JOB_MANAGER_MODULE_ACCESS",
        "operationId" : "ProcessServiceV1-POST_updateDseObject",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "stepNumber",
          "in" : "path",
          "description" : "is unique serial workflow step number.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "map of technical names to their values",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "additionalProperties" : {
                  "$ref" : "#/components/schemas/ProcessUpdateDto"
                }
              },
              "example" : "{\n  \"...\" : {\n    \"inheritFromParent\" : \"NOT_SUPPORTED\",\n    \"value\" : \"...\"\n  }\n}"
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ids of process was returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Process with such id doesn't exist or it is OLD job",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectDto"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/{ordinalNumber}/grids/{variableInstanceId}/rows/_truncate" : {
      "delete" : {
        "tags" : [ "ProductGridRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductGridRestServiceV1-DELETE_deleteAllGridRows",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "variableInstanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/{ordinalNumber}/grids/{variableInstanceId}/rows/{rowId}" : {
      "delete" : {
        "tags" : [ "ProductGridRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductGridRestServiceV1-DELETE_deleteGridRow",
        "parameters" : [ {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "variableInstanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "204",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/{ordinalNumber}/{l10nLocaleId}/grids/{variableInstanceId}/rows" : {
      "get" : {
        "tags" : [ "ProductGridRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductGridRestServiceV1-GET_findGridRows",
        "parameters" : [ {
          "name" : "l10nLocaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "variableInstanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "columns",
          "in" : "query",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GridRowDto"
                  }
                },
                "example" : "[ {\n  \"rowEditable\" : true,\n  \"rowInstanceId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n} ]"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "ProductGridRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductGridRestServiceV1-POST_createGridRow",
        "parameters" : [ {
          "name" : "l10nLocaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "variableInstanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "additionalProperties" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GridRowDto"
                },
                "example" : "{\n  \"rowEditable\" : true,\n  \"rowInstanceId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/{ordinalNumber}/{l10nLocaleId}/grids/{variableInstanceId}/rows/{rowId}" : {
      "put" : {
        "tags" : [ "ProductGridRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductGridRestServiceV1-PUT_updateGridRow",
        "parameters" : [ {
          "name" : "l10nLocaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "variableInstanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateGridRowDto"
              },
              "example" : "{\n  \"rowTypeId\" : 12345,\n  \"values\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  }\n}"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "204",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/product-manager/types" : {
      "get" : {
        "tags" : [ "ProductMetaDataRestServiceV1" ],
        "description" : "The method returns all product types.\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductMetaDataRestServiceV1-GET_getDseObjectTypes",
        "parameters" : [ {
          "name" : "ids",
          "in" : "query",
          "description" : "It's possible to filter the results by a list of given product type IDs\nusing the optional 'ids' parameter.",
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "DseObjectTypeDto",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DseObjectTypeDto"
                  }
                },
                "example" : "[ {\n  \"respectRestrictionsByOrgUnits\" : true,\n  \"forSubJobsOnly\" : true,\n  \"inheritance\" : \"...\",\n  \"uniqueName\" : \"...\",\n  \"technicalName\" : \"...\",\n  \"displayName\" : \"...\",\n  \"variables\" : [ {\n    \"id\" : 12345,\n    \"metaTypeId\" : 5,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  }, {\n    \"id\" : 12345,\n    \"metaTypeId\" : 5,\n    \"metaTypeName\" : \"...\",\n    \"uniqueName\" : \"...\",\n    \"displayName\" : \"...\",\n    \"rawLabel\" : \"...\",\n    \"mode\" : 12345,\n    \"technicalName\" : \"...\",\n    \"sharedLocale\" : true,\n    \"helpText\" : \"...\",\n    \"visibility\" : {\n      \"variableId\" : 12345,\n      \"values\" : [ \"...\", \"...\" ]\n    },\n    \"dependsFromVariableId\" : 12345,\n    \"dependsFromVariableValues\" : [ \"...\", \"...\" ],\n    \"typeSpanning\" : true,\n    \"system\" : true,\n    \"storageType\" : 12345\n  } ],\n  \"id\" : 12345,\n  \"parentTypeId\" : 12345,\n  \"dataSheets\" : [ {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  }, {\n    \"type\" : \"...\",\n    \"label\" : \"...\",\n    \"sections\" : [ {\n      \"areas\" : [ { }, { } ]\n    }, {\n      \"areas\" : [ { }, { } ]\n    } ],\n    \"technicalName\" : \"...\"\n  } ]\n} ]"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/_get-default-product-id" : {
      "post" : {
        "tags" : [ "ProductRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductRestServiceV1-POST_getDefaultProductId",
        "parameters" : [ {
          "name" : "instanceId",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/_search" : {
      "post" : {
        "tags" : [ "ProductRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductRestServiceV1-POST_search",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchParamDto"
              },
              "example" : "{\n  \"filterId\" : 12345,\n  \"from\" : 12345,\n  \"limit\" : 12345,\n  \"sort\" : 12345,\n  \"dir\" : \"...\",\n  \"variableCondition\" : [ {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  }, {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  } ],\n  \"fulltext\" : \"...\",\n  \"states\" : [ \"FINISHED\", \"ACTIVE\" ]\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchResultDto"
                },
                "example" : "{\n  \"totalCount\" : 12345,\n  \"values\" : [ {\n    \"values\" : {\n      \"property1\" : {\n        \"inheritFromParent\" : \"NOT_SUPPORTED\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      },\n      \"property2\" : {\n        \"inheritFromParent\" : \"BROKEN_INHERITANCE\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      }\n    },\n    \"instanceId\" : 12345,\n    \"l10nLocaleId\" : 12345,\n    \"workflowObjectId\" : 12345,\n    \"name\" : \"...\",\n    \"extendedName\" : \"...\",\n    \"state\" : \"...\",\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345,\n    \"createdBy\" : \"...\",\n    \"parentId\" : 12345,\n    \"creator\" : {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    },\n    \"workflowTypeId\" : 12345,\n    \"currentStepTemplateId\" : 12345,\n    \"assignment\" : {\n      \"assignees\" : [ { }, { } ],\n      \"group\" : { }\n    }\n  }, {\n    \"values\" : {\n      \"property1\" : {\n        \"inheritFromParent\" : \"BROKEN_INHERITANCE\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      },\n      \"property2\" : {\n        \"inheritFromParent\" : \"NOT_SUPPORTED\",\n        \"inheritedValue\" : \"...\",\n        \"displayValue\" : \"...\",\n        \"value\" : \"...\"\n      }\n    },\n    \"instanceId\" : 12345,\n    \"l10nLocaleId\" : 12345,\n    \"workflowObjectId\" : 12345,\n    \"name\" : \"...\",\n    \"extendedName\" : \"...\",\n    \"state\" : \"...\",\n    \"ordinalNumber\" : 12345,\n    \"typeId\" : 12345,\n    \"createdBy\" : \"...\",\n    \"parentId\" : 12345,\n    \"creator\" : {\n      \"id\" : 12345,\n      \"firstName\" : \"...\",\n      \"fullName\" : \"...\",\n      \"lastName\" : \"...\",\n      \"email\" : \"...\",\n      \"login\" : \"...\"\n    },\n    \"workflowTypeId\" : 12345,\n    \"currentStepTemplateId\" : 12345,\n    \"assignment\" : {\n      \"assignees\" : [ { }, { } ],\n      \"group\" : { }\n    }\n  } ]\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/_search/ids" : {
      "post" : {
        "tags" : [ "ProductRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductRestServiceV1-POST_searchIds",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchParamDto"
              },
              "example" : "{\n  \"filterId\" : 12345,\n  \"from\" : 12345,\n  \"limit\" : 12345,\n  \"sort\" : 12345,\n  \"dir\" : \"...\",\n  \"variableCondition\" : [ {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  }, {\n    \"value\" : \"...\",\n    \"name\" : \"...\",\n    \"jobTypeUniqueName\" : \"...\",\n    \"operator\" : \"...\",\n    \"cmpCondition\" : \"...\"\n  } ],\n  \"fulltext\" : \"...\",\n  \"states\" : [ \"IS_CANCELLING\", \"CANCELED\" ]\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProductIdsDto"
                  }
                },
                "example" : "[ {\n  \"l10nLocaleId\" : 12345,\n  \"instanceId\" : 12345,\n  \"ordinalNumber\" : 12345,\n  \"typeId\" : 12345\n} ]"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/create-object-locale" : {
      "post" : {
        "tags" : [ "ProductRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductRestServiceV1-POST_createDseObjectLocale",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "dseObjectId" : {
                    "type" : "integer",
                    "format" : "int32"
                  },
                  "l10nLocaleId" : {
                    "type" : "integer",
                    "format" : "int32"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "newL10nLocaleId" : {
                    "type" : "integer",
                    "format" : "int32"
                  },
                  "workflowTypeId" : {
                    "type" : "integer",
                    "format" : "int32"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DseObjectUpdateResultDto"
                },
                "example" : "{\n  \"instanceId\" : 12345,\n  \"l10nLocaleId\" : 12345\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/{instanceId}/{l10nLocaleId}/locale" : {
      "get" : {
        "tags" : [ "ProductRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductRestServiceV1-GET_getDseObjectLocale",
        "parameters" : [ {
          "name" : "instanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "l10nLocaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductL10nLocalesDto"
                },
                "example" : "{\n  \"available\" : [ {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  }, {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  } ],\n  \"deleted\" : [ {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  }, {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  } ],\n  \"existed\" : [ {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  }, {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  } ],\n  \"current\" : {\n    \"label\" : \"...\",\n    \"stepNumber\" : 12345,\n    \"countryCode\" : \"...\",\n    \"default\" : true,\n    \"localeId\" : 12345\n  }\n}"
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/{ordinalNumber}/{l10nLocaleId}/_cancel" : {
      "post" : {
        "tags" : [ "ProductRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductRestServiceV1-POST_cancel",
        "parameters" : [ {
          "name" : "l10nLocaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/{ordinalNumber}/{l10nLocaleId}/_delete" : {
      "post" : {
        "tags" : [ "ProductRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductRestServiceV1-POST_delete",
        "parameters" : [ {
          "name" : "l10nLocaleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/dse/rest/v1.0/products/{ordinalNumber}/{localeId}" : {
      "get" : {
        "tags" : [ "ProductRestServiceV1" ],
        "description" : "\n\n__Security Roles Allowed:__ PRODUCT_MANAGER_MODULE_ACCESS",
        "operationId" : "ProductRestServiceV1-GET_get",
        "parameters" : [ {
          "name" : "localeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "ordinalNumber",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
[...]
