{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "MaPS rest api 3.11.1-7.3 API specification",
    "description" : "<div>Relative Path : maps/rest </div>\n<br>\n<p>Used HTTP Status codes: </p>\n    \t\n<ul>\n\t<li>200 - OK, when request is executed successfully</li>\n\t<li>201 - When resource is created successfully with POST/PUT request</li>\n\t<li>400 - Parameters are missing or incorrect</li>\n\t<li>401 - Unauthorized request - not authenticated or expired token</li>\n  \t<li>403 - User has no rights</li>\n  \t<li>404 - Requested resource not found</li>\n  \t<li>409 - Validation error</li>\n  \t<li>500 - Unexpected server error</li>\n</ul>",
    "version" : "3.11.1-7.3"
  },
  "servers" : [ {
    "url" : "https://is-dev2.brandmaker.com"
  }, {
    "url" : "/"
  } ],
  "security" : [ {
    "jwtScheme" : [ ]
  }, {
    "basicScheme" : [ ]
  }, {
    "cookieScheme" : [ ]
  } ],
  "tags" : [ {
    "name" : "AttachmentRestApi",
    "description" : "Created by alexander.yordanov on 2017-10-20."
  }, {
    "name" : "BasicSearchRestApi"
  }, {
    "name" : "BudgetLockRestApi",
    "description" : "Provide information for locked month and year budgets"
  }, {
    "name" : "BudgetRestApi"
  }, {
    "name" : "BudgetSetRestApi",
    "description" : "Created by alexander.yordanov on 2019-04-10."
  }, {
    "name" : "CategoryRestApi"
  }, {
    "name" : "ContentRestApi",
    "description" : "Created by alexander.yordanov on 2018-01-23."
  }, {
    "name" : "CurrencyRestApi"
  }, {
    "name" : "DimensionRestApi"
  }, {
    "name" : "DimensionValueRestApi"
  }, {
    "name" : "ExchangeRateRestApi"
  }, {
    "name" : "FeeRestApi"
  }, {
    "name" : "FeeValueRestApi"
  }, {
    "name" : "GroupRestApi"
  }, {
    "name" : "InvoiceRestApi"
  }, {
    "name" : "KpiDefinitionRestApi"
  }, {
    "name" : "KpiRestApi"
  }, {
    "name" : "MDFRestApi"
  }, {
    "name" : "ManagedTaskRestApi"
  }, {
    "name" : "MarkerRestApi"
  }, {
    "name" : "MarkerTypeRestApi",
    "description" : "Created by alexander.yordanov on 2019-07-09."
  }, {
    "name" : "ModuleRestApi"
  }, {
    "name" : "NodeCommentRestApi"
  }, {
    "name" : "NodeRestApi"
  }, {
    "name" : "NodeTypeRestApi"
  }, {
    "name" : "PeriodRestApi"
  }, {
    "name" : "PermissionRestApi"
  }, {
    "name" : "PlannedMonthBudgetRestApi",
    "description" : "Created by alexander.yordanov on 2021-02-16."
  }, {
    "name" : "PlannedYearBudgetRestApi",
    "description" : "Created by alexander.yordanov on 2021-02-16."
  }, {
    "name" : "SunkCostRestApi"
  }, {
    "name" : "TargetBudgetRestApi"
  }, {
    "name" : "TargetYearBudgetRestApi",
    "description" : "Created by alexander.yordanov on 2021-02-16."
  }, {
    "name" : "TaskRestApi"
  }, {
    "name" : "TreeRestApi"
  }, {
    "name" : "UserApproversRestApi"
  }, {
    "name" : "UserGroupsRestApi"
  }, {
    "name" : "UserRestApi"
  }, {
    "name" : "ViewRestApi"
  }, {
    "name" : "WatcherRestApi",
    "description" : "Created by alexander.yordanov on 2019-10-25."
  } ],
  "paths" : {
    "/maps/rest/api/{version}/attachment/externalIds" : {
      "post" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "\n\n__Available Since:__ 1.1",
        "operationId" : "AttachmentRestApi-POST_getAttachmentsByExternalId",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "list of externalIds",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "integer",
                  "format" : "int32"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "W2P attachments that are attached, filtered list of external ids that are attached",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "integer",
                    "format" : "int32"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/attachment/{attachmentId}" : {
      "get" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "\n\n__Available Since:__ 1.1",
        "operationId" : "AttachmentRestApi-GET_getAttachmentById",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "attachmentId to search",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "found attachment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttachmentDTO"
                },
                "example" : "{\n  \"attachmentLink\" : \"...\",\n  \"annexAttachmentId\" : 12345,\n  \"attachmentDate\" : \"...\",\n  \"attachmentFileName\" : \"...\",\n  \"comment\" : \"...\",\n  \"externalId\" : 12345,\n  \"fileSize\" : 12345,\n  \"source\" : \"...\",\n  \"urlId\" : \"...\"\n}"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "\n\n__Available Since:__ 1.1",
        "operationId" : "AttachmentRestApi-DELETE_deleteAttachment",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "attachment to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/attachment/bill/{billId}" : {
      "get" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "Returns attachments of given Bill(Invoice)\n\nREAD_BILLS rights is checked instead of READ_ATTACHMENTS, because of the attachment is associated with bill\n\n__Available Since:__ 3.9",
        "operationId" : "AttachmentRestApi-GET_getAttachmentsOfBill",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "billId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AttachmentDTO"
                  }
                },
                "example" : "[ {\n  \"attachmentLink\" : \"...\",\n  \"annexAttachmentId\" : 12345,\n  \"attachmentDate\" : \"...\",\n  \"attachmentFileName\" : \"...\",\n  \"comment\" : \"...\",\n  \"externalId\" : 12345,\n  \"fileSize\" : 12345,\n  \"source\" : \"...\",\n  \"urlId\" : \"...\"\n} ]"
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/maps/rest/api/{version}/attachment/content/{attachmentId}" : {
      "get" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "\n\n__Available Since:__ 2.0",
        "operationId" : "AttachmentRestApi-GET_hasContent",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "attachment to check",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "true if given attachment is used in content, false otherwise",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/attachment/download/{attachmentId}" : {
      "get" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "\n\n__Available Since:__ 1.1",
        "operationId" : "AttachmentRestApi-GET_downloadAttachment",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "attachment to download",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/attachment/invoice/{invoiceId}" : {
      "get" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "Returns attachments of given Invoice\n\nREAD_BILLS rights is checked instead of READ_ATTACHMENTS, because of the attachment is associated with invoice\n\n__Available Since:__ 3.9",
        "operationId" : "AttachmentRestApi-GET_getAttachmentsOfInvoice",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invoiceId",
          "in" : "path",
          "description" : "(Integer) ID of the Invoice",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Collection of AttachmentDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AttachmentDTO"
                  }
                },
                "example" : "[ {\n  \"attachmentLink\" : \"...\",\n  \"annexAttachmentId\" : 12345,\n  \"attachmentDate\" : \"...\",\n  \"attachmentFileName\" : \"...\",\n  \"comment\" : \"...\",\n  \"externalId\" : 12345,\n  \"fileSize\" : 12345,\n  \"source\" : \"...\",\n  \"urlId\" : \"...\"\n} ]"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/attachment/node/{nodeId}" : {
      "get" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "\n\n__Available Since:__ 1.1",
        "operationId" : "AttachmentRestApi-GET_getAttachmentsForNode",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "nodeId for which to get attachments",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "for paging",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Page with <code>AttachmentDTO</code>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttachmentsPageDTO"
                },
                "example" : "{\n  \"content\" : [ {\n    \"attachmentLink\" : \"...\",\n    \"annexAttachmentId\" : 12345,\n    \"attachmentDate\" : \"...\",\n    \"attachmentFileName\" : \"...\",\n    \"comment\" : \"...\",\n    \"externalId\" : 12345,\n    \"fileSize\" : 12345,\n    \"source\" : \"...\",\n    \"urlId\" : \"...\"\n  }, {\n    \"attachmentLink\" : \"...\",\n    \"annexAttachmentId\" : 12345,\n    \"attachmentDate\" : \"...\",\n    \"attachmentFileName\" : \"...\",\n    \"comment\" : \"...\",\n    \"externalId\" : 12345,\n    \"fileSize\" : 12345,\n    \"source\" : \"...\",\n    \"urlId\" : \"...\"\n  } ],\n  \"@type\" : \"attachment\",\n  \"offset\" : 12345,\n  \"limit\" : 12345,\n  \"pageNumber\" : 12345,\n  \"numberOfElements\" : 12345,\n  \"totalElements\" : 12345,\n  \"sort\" : [ {\n    \"property\" : \"...\",\n    \"direction\" : \"DESC\"\n  }, {\n    \"property\" : \"...\",\n    \"direction\" : \"DESC\"\n  } ]\n}"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "\n\n__Available Since:__ 1.1",
        "operationId" : "AttachmentRestApi-POST_createAttachment",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "id of node to make the attachment",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/mixed" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "attachment" : {
                    "$ref" : "#/components/schemas/AttachmentRequestBody"
                  },
                  "file" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttachmentDTO"
                }
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/attachment/sunk-cost/{sunkCostId}" : {
      "get" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "Returns attachments of given Sunk Cost(PO)\n\nREAD_SUNK_COSTS rights is checked instead of READ_ATTACHMENTS, because of the attachment is associated with PO\n\n__Available Since:__ 3.9",
        "operationId" : "AttachmentRestApi-GET_getAttachmentsOfSunkCost",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sunkCostId",
          "in" : "path",
          "description" : "(Integer) ID of the Sunk Cost(PO)",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Collection of AttachmentDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AttachmentDTO"
                  }
                },
                "example" : "[ {\n  \"attachmentLink\" : \"...\",\n  \"annexAttachmentId\" : 12345,\n  \"attachmentDate\" : \"...\",\n  \"attachmentFileName\" : \"...\",\n  \"comment\" : \"...\",\n  \"externalId\" : 12345,\n  \"fileSize\" : 12345,\n  \"source\" : \"...\",\n  \"urlId\" : \"...\"\n} ]"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/attachment/unlink/{attachmentId}" : {
      "delete" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "\n\n__Available Since:__ 1.1",
        "operationId" : "AttachmentRestApi-DELETE_unlinkAttachment",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "attachment to unlink (from invoice or sunk cost)",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/attachment/bill/node/{nodeId}" : {
      "get" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "\n\n__Available Since:__ 1.1",
        "operationId" : "AttachmentRestApi-GET_getAttachmentsForBills",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "nodeId for which to get attachments",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "for paging",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Page with <code>AttachmentDTO</code>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttachmentsPageDTO"
                },
                "example" : "{\n  \"content\" : [ {\n    \"attachmentLink\" : \"...\",\n    \"annexAttachmentId\" : 12345,\n    \"attachmentDate\" : \"...\",\n    \"attachmentFileName\" : \"...\",\n    \"comment\" : \"...\",\n    \"externalId\" : 12345,\n    \"fileSize\" : 12345,\n    \"source\" : \"...\",\n    \"urlId\" : \"...\"\n  }, {\n    \"attachmentLink\" : \"...\",\n    \"annexAttachmentId\" : 12345,\n    \"attachmentDate\" : \"...\",\n    \"attachmentFileName\" : \"...\",\n    \"comment\" : \"...\",\n    \"externalId\" : 12345,\n    \"fileSize\" : 12345,\n    \"source\" : \"...\",\n    \"urlId\" : \"...\"\n  } ],\n  \"@type\" : \"attachment\",\n  \"offset\" : 12345,\n  \"limit\" : 12345,\n  \"pageNumber\" : 12345,\n  \"numberOfElements\" : 12345,\n  \"totalElements\" : 12345,\n  \"sort\" : [ {\n    \"property\" : \"...\",\n    \"direction\" : \"ASC\"\n  }, {\n    \"property\" : \"...\",\n    \"direction\" : \"ASC\"\n  } ]\n}"
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/maps/rest/api/{version}/attachment/sunk-cost/node/{nodeId}" : {
      "get" : {
        "tags" : [ "AttachmentRestApi" ],
        "description" : "\n\n__Available Since:__ 1.1",
        "operationId" : "AttachmentRestApi-GET_getAttachmentsForSunkCosts",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "nodeId for which to get attachments",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "for paging",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Page with <code>AttachmentDTO</code>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AttachmentsPageDTO"
                },
                "example" : "{\n  \"content\" : [ {\n    \"attachmentLink\" : \"...\",\n    \"annexAttachmentId\" : 12345,\n    \"attachmentDate\" : \"...\",\n    \"attachmentFileName\" : \"...\",\n    \"comment\" : \"...\",\n    \"externalId\" : 12345,\n    \"fileSize\" : 12345,\n    \"source\" : \"...\",\n    \"urlId\" : \"...\"\n  }, {\n    \"attachmentLink\" : \"...\",\n    \"annexAttachmentId\" : 12345,\n    \"attachmentDate\" : \"...\",\n    \"attachmentFileName\" : \"...\",\n    \"comment\" : \"...\",\n    \"externalId\" : 12345,\n    \"fileSize\" : 12345,\n    \"source\" : \"...\",\n    \"urlId\" : \"...\"\n  } ],\n  \"@type\" : \"attachment\",\n  \"offset\" : 12345,\n  \"limit\" : 12345,\n  \"pageNumber\" : 12345,\n  \"numberOfElements\" : 12345,\n  \"totalElements\" : 12345,\n  \"sort\" : [ {\n    \"property\" : \"...\",\n    \"direction\" : \"ASC\"\n  }, {\n    \"property\" : \"...\",\n    \"direction\" : \"DESC\"\n  } ]\n}"
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/maps/rest/api/{version}/basic-search" : {
      "post" : {
        "tags" : [ "BasicSearchRestApi" ],
        "description" : "Find timelines, tasks, attachments, individual planning\nelements of the tree structure, invoices or sunkcosts in your marketing plan quickly and\neasily.\n\n__Available Since:__ 1.0",
        "operationId" : "BasicSearchRestApi-POST_search",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "page offset (Default: 0)",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "search string, Example values: ?query=campaign",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "withAdditionalInfo",
          "in" : "query",
          "description" : "include addition info (fields) for object with type : NODE",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "description" : "request body",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchCriteriaDTO"
              },
              "example" : "{\n  \"types\" : [ \"TIME_LINE\", \"NODE\" ],\n  \"treeId\" : 16\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Page with SearchResultDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SearchResultPageDTO"
                },
                "example" : "{\n  \"totalElements\" : 2,\n  \"content\" : [ {\n    \"object\" : {\n      \"id\" : 1398,\n      \"parentId\" : 1397,\n      \"name\" : \"Summer Campaign\",\n      \"startDate\" : \"2014-02-01\",\n      \"endDate\" : \"2021-01-31\",\n      \"nodeType\" : {\n        \"id\" : 1,\n        \"name\" : \"Standard\",\n        \"colour\" : \"000000\",\n        \"backgroundColour\" : \"ffffff\",\n        \"bold\" : false,\n        \"italic\" : false,\n        \"active\" : true,\n        \"editable\" : false,\n        \"icon\" : 0\n      }\n    },\n    \"nodeId\" : 1398,\n    \"type\" : \"NODE\"\n  }, {\n    \"object\" : {\n      \"startDate\" : \"2018-06-17\",\n      \"endDate\" : \"2018-09-23\",\n      \"categoryId\" : 8,\n      \"name\" : \"Campaign\",\n      \"id\" : 485\n    },\n    \"nodeId\" : 1572,\n    \"type\" : \"TIME_LINE\"\n  } ],\n  \"limit\" : 50,\n  \"offset\" : 0\n}"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/budget-lock/{treeId}" : {
      "get" : {
        "tags" : [ "BudgetLockRestApi" ],
        "description" : "Get locked budget periods\n\n__Available Since:__ 3.11",
        "operationId" : "BudgetLockRestApi-GET_getBudgetLocksForTree",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "treeId",
          "in" : "path",
          "description" : "- tree(fiscal year) id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "if year budget is locked and all locked months",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BudgetTreeLock"
                },
                "example" : "{\n  \"yearLocked\" : true,\n  \"lockedMonths\" : [ \"...\", \"...\" ]\n}"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/budget-lock/{date}/budgetType/{budgetType}" : {
      "get" : {
        "tags" : [ "BudgetLockRestApi" ],
        "description" : "Returns if given period is locked for respective budget\n\n__Available Since:__ 3.11",
        "operationId" : "BudgetLockRestApi-GET_isBudgetLockedForDate",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "budgetType",
          "in" : "path",
          "description" : "- MONTH, YEAR",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "MONTH", "YEAR" ]
          }
        }, {
          "name" : "date",
          "in" : "path",
          "description" : "-   date in format yyyy-MM-dd",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "- response : { \"locked\" : true/false }",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/budget/node/{nodeId}/tree/{treeId}" : {
      "get" : {
        "tags" : [ "BudgetRestApi" ],
        "description" : "Return budget values of months, year, quarter, for planned,committed,actual,projected,remaining,mdf.\n\n__Available Since:__ 1.0",
        "operationId" : "BudgetRestApi-GET_getBudgetColumnValues",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "treeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "calcByRef",
          "in" : "query",
          "description" : "false(default) - calculate by working currency, true - calculate by reference currency",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "field",
          "in" : "query",
          "description" : "available values: month, quarter, year",
          "required" : true,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "round",
          "in" : "query",
          "description" : "false(default) - don't round values, true - round values",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "scale",
          "in" : "query",
          "description" : "available values NORMAL(default), THOUSANDS, MILLIONS, BILLIONS",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "NORMAL", "THOUSANDS", "MILLIONS", "BILLIONS" ],
            "default" : "NORMAL"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BudgetColumnsDTO"
                },
                "example" : "{\n  \"month\" : {\n    \"planned\" : [ 12345.0, 12345.0 ],\n    \"commited\" : [ 12345.0, 12345.0 ],\n    \"actual\" : [ 12345.0, 12345.0 ],\n    \"projected\" : [ 12345.0, 12345.0 ],\n    \"remainig\" : [ 12345.0, 12345.0 ],\n    \"mdf\" : [ 12345.0, 12345.0 ],\n    \"calculated\" : [ 12345.0, 12345.0 ],\n    \"target\" : [ 12345.0, 12345.0 ]\n  },\n  \"quarter\" : {\n    \"planned\" : [ 12345.0, 12345.0 ],\n    \"commited\" : [ 12345.0, 12345.0 ],\n    \"actual\" : [ 12345.0, 12345.0 ],\n    \"projected\" : [ 12345.0, 12345.0 ],\n    \"remainig\" : [ 12345.0, 12345.0 ],\n    \"mdf\" : [ 12345.0, 12345.0 ],\n    \"calculated\" : [ 12345.0, 12345.0 ],\n    \"target\" : [ 12345.0, 12345.0 ]\n  },\n  \"year\" : {\n    \"planned\" : 12345.0,\n    \"commited\" : 12345.0,\n    \"actual\" : 12345.0,\n    \"projected\" : 12345.0,\n    \"remainig\" : 12345.0,\n    \"mdf\" : 12345.0,\n    \"target\" : 12345.0,\n    \"calculated\" : 12345.0\n  }\n}"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/budget/planned/month/node/{nodeId}/tree/{treeId}" : {
      "put" : {
        "tags" : [ "BudgetRestApi" ],
        "description" : "Edit PLANNED month budget of node for given year.The values are in cent(multiplied by 100). If you want to skip some months send null value, for example \"planned\":[1000, 10000, null, null, null, null, null, null, null, null, null, null]\nwill add value 10 for the first month and 100 for the second\n\n__Available Since:__ 1.0",
        "operationId" : "BudgetRestApi-PUT_editPlannedMonthBudget",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "node id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "treeId",
          "in" : "path",
          "description" : "tree id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BMonthDTO"
              },
              "example" : "{\n  \"planned\" : [ 12345.0, 12345.0 ],\n  \"commited\" : [ 12345.0, 12345.0 ],\n  \"actual\" : [ 12345.0, 12345.0 ],\n  \"projected\" : [ 12345.0, 12345.0 ],\n  \"remainig\" : [ 12345.0, 12345.0 ],\n  \"mdf\" : [ 12345.0, 12345.0 ],\n  \"calculated\" : [ 12345.0, 12345.0 ],\n  \"target\" : [ 12345.0, 12345.0 ]\n}"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/budget/planned/year/node/{nodeId}/tree/{treeId}" : {
      "put" : {
        "tags" : [ "BudgetRestApi" ],
        "description" : "Edit PLANNED year budget of node for given year. The values are in cent(multiplied by 100). For example to set 8000, send \"planned\":800000(multiplied by 100)\n\n__Available Since:__ 1.0",
        "operationId" : "BudgetRestApi-PUT_editPlanneYeardBudget",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "node id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "treeId",
          "in" : "path",
          "description" : "tree id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BYearDTO"
              },
              "example" : "{\n  \"planned\" : 12345.0,\n  \"commited\" : 12345.0,\n  \"actual\" : 12345.0,\n  \"projected\" : 12345.0,\n  \"remainig\" : 12345.0,\n  \"mdf\" : 12345.0,\n  \"target\" : 12345.0,\n  \"calculated\" : 12345.0\n}"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/budget-set/available" : {
      "get" : {
        "tags" : [ "BudgetSetRestApi" ],
        "description" : "\n\n__Available Since:__ 3.8",
        "operationId" : "BudgetSetRestApi-GET_getAvailableBudgetSetViews",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "budget sets of the current user has access to(private, public, restricted) as Collection of BudgetSetDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BudgetSetDTO"
                  }
                },
                "example" : "[ {\n  \"setId\" : 12345,\n  \"name\" : \"...\",\n  \"currencyView\" : \"WORKING\",\n  \"budgetScale\" : \"BILLIONS\",\n  \"yearSwitch\" : true,\n  \"configurationInfo\" : true,\n  \"rounding\" : true,\n  \"accesType\" : \"PRIVATE_ACCESS\",\n  \"budgetColumns\" : [ {\n    \"id\" : 12345,\n    \"columnType\" : \"EXTERNAL_ID\",\n    \"width\" : 12345,\n    \"order\" : 12345,\n    \"dimensionId\" : 12345,\n    \"activeColumns\" : [ \"REMAINING\", \"ACTUAL\" ],\n    \"formula\" : \"...\",\n    \"positiveFont\" : \"...\",\n    \"negativeFont\" : \"...\",\n    \"positiveBackground\" : \"...\",\n    \"negativeBackground\" : \"...\",\n    \"formulaReadable\" : \"...\"\n  }, {\n    \"id\" : 12345,\n    \"columnType\" : \"ELEMENT_ID\",\n    \"width\" : 12345,\n    \"order\" : 12345,\n    \"dimensionId\" : 12345,\n    \"activeColumns\" : [ \"TARGET_BUDGET\", \"ACTUAL\" ],\n    \"formula\" : \"...\",\n    \"positiveFont\" : \"...\",\n    \"negativeFont\" : \"...\",\n    \"positiveBackground\" : \"...\",\n    \"negativeBackground\" : \"...\",\n    \"formulaReadable\" : \"...\"\n  } ]\n} ]"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/budget-set/public/all" : {
      "get" : {
        "tags" : [ "BudgetSetRestApi" ],
        "description" : "This method provides a list with basic information about all public budget sets.\n\n__Available Since:__ 3.3",
        "operationId" : "BudgetSetRestApi-GET_getPublicBudgetSetViews",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Collection of all public budget sets as BudgetSetDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BudgetSetDTO"
                  }
                },
                "example" : "[ {\n  \"setId\" : 12345,\n  \"name\" : \"...\",\n  \"currencyView\" : \"WORKING\",\n  \"budgetScale\" : \"NORMAL\",\n  \"yearSwitch\" : true,\n  \"configurationInfo\" : true,\n  \"rounding\" : true,\n  \"accesType\" : \"PRIVATE_ACCESS\",\n  \"budgetColumns\" : [ {\n    \"id\" : 12345,\n    \"columnType\" : \"BUDGET_ANALYSIS\",\n    \"width\" : 12345,\n    \"order\" : 12345,\n    \"dimensionId\" : 12345,\n    \"activeColumns\" : [ \"PLANNED\", \"REMAINING\" ],\n    \"formula\" : \"...\",\n    \"positiveFont\" : \"...\",\n    \"negativeFont\" : \"...\",\n    \"positiveBackground\" : \"...\",\n    \"negativeBackground\" : \"...\",\n    \"formulaReadable\" : \"...\"\n  }, {\n    \"id\" : 12345,\n    \"columnType\" : \"FORMULA\",\n    \"width\" : 12345,\n    \"order\" : 12345,\n    \"dimensionId\" : 12345,\n    \"activeColumns\" : [ \"MDF\", \"PLANNED\" ],\n    \"formula\" : \"...\",\n    \"positiveFont\" : \"...\",\n    \"negativeFont\" : \"...\",\n    \"positiveBackground\" : \"...\",\n    \"negativeBackground\" : \"...\",\n    \"formulaReadable\" : \"...\"\n  } ]\n} ]"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/category" : {
      "get" : {
        "tags" : [ "CategoryRestApi" ],
        "description" : "This method provides a list with information about all active categories.\n\n__Available Since:__ 1.0",
        "operationId" : "CategoryRestApi-GET_getCategories",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "active categories as List of CategoryDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CategoryDTO"
                  }
                },
                "example" : "[ {\n  \"categoryId\" : 12345,\n  \"name\" : \"...\",\n  \"color\" : \"...\",\n  \"active\" : true\n} ]"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/category/all" : {
      "get" : {
        "tags" : [ "CategoryRestApi" ],
        "description" : "This method provides a list with information about all categories.\n\n__Available Since:__ 3.4",
        "operationId" : "CategoryRestApi-GET_getAllCategories",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "all categories as List of CategoryDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CategoryDTO"
                  }
                },
                "example" : "[ {\n  \"categoryId\" : 12345,\n  \"name\" : \"...\",\n  \"color\" : \"...\",\n  \"active\" : true\n} ]"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/category/{categoryId}" : {
      "get" : {
        "tags" : [ "CategoryRestApi" ],
        "description" : "This method provides information about given category id.\n\n__Available Since:__ 1.0",
        "operationId" : "CategoryRestApi-GET_getCategory",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "categoryId",
          "in" : "path",
          "description" : "(Integer) ID of the category.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "CategoryDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryDTO"
                },
                "example" : "{\n  \"categoryId\" : 12345,\n  \"name\" : \"...\",\n  \"color\" : \"...\",\n  \"active\" : true\n}"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/content/slideshow" : {
      "post" : {
        "tags" : [ "ContentRestApi" ],
        "operationId" : "ContentRestApi-POST_getSlideshowHtml",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "- object containing:\nslideshowElements - list of elements for the slideshow contining url, title and isVideo flag\nwidth - width for the slideshow - can have % at the end\nheight - height for the slideshow - can have % at the end",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SlideshowDTO"
              },
              "example" : "{\n  \"slideshowElements\" : [ {\n    \"url\" : \"...\",\n    \"title\" : \"...\",\n    \"video\" : true,\n    \"stretched\" : true\n  }, {\n    \"url\" : \"...\",\n    \"title\" : \"...\",\n    \"video\" : true,\n    \"stretched\" : true\n  } ],\n  \"width\" : \"...\",\n  \"height\" : \"...\"\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "the generated HTML for the slideshow",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/content/{periodId}" : {
      "get" : {
        "tags" : [ "ContentRestApi" ],
        "description" : "Find content\n\n__Available Since:__ 2.0",
        "operationId" : "ContentRestApi-GET_getContent",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "periodId",
          "in" : "path",
          "description" : "- period id for which to find content",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "- content details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnexContentDTO"
                },
                "example" : "{\n  \"contentId\" : 12345,\n  \"text\" : \"...\",\n  \"published\" : true\n}"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ContentRestApi" ],
        "description" : "Delete content\n\n__Available Since:__ 2.0",
        "operationId" : "ContentRestApi-DELETE_deleteContent",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "periodId",
          "in" : "path",
          "description" : "- period id for which to delete content",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/content/node/{nodeId}" : {
      "get" : {
        "tags" : [ "ContentRestApi" ],
        "description" : "Get node's rich text content\n\n__Available Since:__ 3.0",
        "operationId" : "ContentRestApi-GET_getNodeContent",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "- node id for which to get content",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "content details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnexContentDTO"
                },
                "example" : "{\n  \"contentId\" : 12345,\n  \"text\" : \"...\",\n  \"published\" : true\n}"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "ContentRestApi" ],
        "description" : "Create or update content",
        "operationId" : "ContentRestApi-POST_createUpdateNodeContent",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "node of the content",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "content text",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AnnexContentDTO"
              },
              "example" : "{\n  \"contentId\" : 12345,\n  \"text\" : \"...\",\n  \"published\" : true\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "updated/created contet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnexContentDTO"
                },
                "example" : "{\n  \"contentId\" : 12345,\n  \"text\" : \"...\",\n  \"published\" : true\n}"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ContentRestApi" ],
        "description" : "Delete content of the node",
        "operationId" : "ContentRestApi-DELETE_deleteNodeContent",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "ID of the node element",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/content/period/{periodId}" : {
      "post" : {
        "tags" : [ "ContentRestApi" ],
        "description" : "Create/Update content\n\n__Available Since:__ 2.0",
        "operationId" : "ContentRestApi-POST_createUpdateContent",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "periodId",
          "in" : "path",
          "description" : "- id of period for which this content will be",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "- content details",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AnnexContentDTO"
              },
              "example" : "{\n  \"contentId\" : 12345,\n  \"text\" : \"...\",\n  \"published\" : true\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "- newly created/updated content details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnexContentDTO"
                },
                "example" : "{\n  \"contentId\" : 12345,\n  \"text\" : \"...\",\n  \"published\" : true\n}"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/content/slideshow/url" : {
      "get" : {
        "tags" : [ "ContentRestApi" ],
        "operationId" : "ContentRestApi-GET_getSlideshowCssPath",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the path to the slideshow css needed for correct display of the slideshow",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/currency" : {
      "get" : {
        "tags" : [ "CurrencyRestApi" ],
        "description" : "This method provides a list with information about all defined currencies.\n\n__Available Since:__ 1.0",
        "operationId" : "CurrencyRestApi-GET_getAllCurrencies",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "all currencies as List of CurrencyDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CurrencyDTO"
                  }
                },
                "example" : "[ {\n  \"id\" : 12345,\n  \"shortName\" : \"...\",\n  \"symbol\" : \"...\"\n} ]"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/dimension" : {
      "get" : {
        "tags" : [ "DimensionRestApi" ],
        "description" : "This method provides a list with information about all defined dimensions.\n\n<b>Type Description</b>\n\n- SELECTABLE_DIMENSION_TYPE Dimension is from type “Single Selection”.\n- M_SELECTABLE_DIMENSION_TYPE Dimension is from type “Multi Selection”.\n- MW_SELECTABLE_DIMENSION_TYPE Dimension is from type “Weighted Multi Selection”.\n- STRUCTURED_TEXT_DIMENSION_TYPE Dimension is from type “Structured Text”.\n- TEXT_DIMENSION_TYPE Dimension is from type “Free Value”.\n- CONTINUES_TEXT_DIMENSION_TYPE Dimension is from type “Continues Text”.\n\n__Available Since:__ 1.0",
        "operationId" : "DimensionRestApi-GET_getDimensions",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeArchived",
          "in" : "query",
          "description" : "If it is required to include the archived dimensions into the response, then set this parameter to true.",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of DimensionDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DimensionDTO"
                  }
                },
                "example" : "[ {\n  \"id\" : 12345,\n  \"name\" : \"...\",\n  \"info\" : \"...\",\n  \"type\" : \"M_SELECTABLE_DIMENSION_TYPE\",\n  \"readOnly\" : true,\n  \"required\" : true,\n  \"copyable\" : true,\n  \"inheritable\" : true,\n  \"archived\" : true,\n  \"quickFilter\" : true\n} ]"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/dimension/{id}" : {
      "get" : {
        "tags" : [ "DimensionRestApi" ],
        "description" : "This method provides a list with information about specific dimension.\n\n__Available Since:__ 1.0",
        "operationId" : "DimensionRestApi-GET_getDimension",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the dimension.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "DimensionDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DimensionDTO"
                },
                "example" : "{\n  \"id\" : 12345,\n  \"name\" : \"...\",\n  \"info\" : \"...\",\n  \"type\" : \"TEXT_DIMENSION_TYPE\",\n  \"readOnly\" : true,\n  \"required\" : true,\n  \"copyable\" : true,\n  \"inheritable\" : true,\n  \"archived\" : true,\n  \"quickFilter\" : true\n}"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DimensionRestApi" ],
        "description" : "This method updates a specific dimension.\n\n<pre>\n - name (required) (string) Dimension name.\n - archived (optional) (boolean) true or false\n - copyable (optional) (boolean) true ro false\n - info (optional) (string) Additional information to dimension.\n - type (required) (string) Define the dimension type. Example values: SELECTABLE_DIMENSION_TYPE\n - inheritable (optional) (boolean) true or false\n - required (optional) (boolean) true or false\n - readOnly (optional) (boolean) true or false\n </pre>\n\n__Available Since:__ 1.0",
        "operationId" : "DimensionRestApi-PUT_editDimension",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the dimension.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "DimensionDTO",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DimensionDTO"
              },
              "example" : "{\n  \"name\" : \"Assortment\",\n  \"info\" : \"Infotext\",\n  \"type\" : \"M_SELECTABLE_DIMENSION_TYPE\",\n  \"readOnly\" : false,\n  \"required\" : true,\n  \"copyable\" : false,\n  \"inheritable\" : true,\n  \"archived\" : false\n}"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/dimension/{id}/possible-values" : {
      "get" : {
        "tags" : [ "DimensionRestApi" ],
        "description" : "This method provides a list with possible values for a given dimension.\n\nNote that this method cannot be used for free text, continues text or structured dimensions.\n\n__Available Since:__ 1.0",
        "operationId" : "DimensionRestApi-GET_getDimensionValues",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the dimension.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of DimensionPossibleValueDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DimensionPossibleValueDTO"
                  }
                },
                "example" : "[ {\n  \"parentValueId\" : 12345,\n  \"valueId\" : 12345,\n  \"value\" : \"...\"\n} ]"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/dimension/node/{nodeId}" : {
      "get" : {
        "tags" : [ "DimensionValueRestApi" ],
        "description" : "Return all dimension values for given node.\n\n__Available Since:__ 1.0",
        "operationId" : "DimensionValueRestApi-GET_getDimensionsWithValuesForNode",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "ID of the element.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dimensionType",
          "in" : "query",
          "description" : "not required, if presented then returns only values for the dimension type",
          "schema" : {
            "type" : "string",
            "enum" : [ "TEXT_DIMENSION_TYPE", "M_SELECTABLE_DIMENSION_TYPE", "SELECTABLE_DIMENSION_TYPE", "MW_SELECTABLE_DIMENSION_TYPE", "STRUCTURED_TEXT_DIMENSION_TYPE", "CONTINUES_TEXT_DIMENSION_TYPE" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of DimensionNodeValueDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DimensionNodeValueDTO"
                  }
                },
                "example" : "[ {\n  \"dimensionId\" : 12345,\n  \"dimensionType\" : \"MW_SELECTABLE_DIMENSION_TYPE\",\n  \"values\" : [ {\n    \"value\" : \"...\",\n    \"weight\" : 12345.0,\n    \"id\" : 12345,\n    \"inherited\" : true\n  }, {\n    \"value\" : \"...\",\n    \"weight\" : 12345.0,\n    \"id\" : 12345,\n    \"inherited\" : true\n  } ]\n} ]"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/dimension/{dimId}/node/{nodeId}" : {
      "get" : {
        "tags" : [ "DimensionValueRestApi" ],
        "description" : "This method provides a list with objects containing weight and defined value for the\nrequested dimension of a given element.\n\n__Available Since:__ 1.0",
        "operationId" : "DimensionValueRestApi-GET_getDimensionValueForNode",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dimId",
          "in" : "path",
          "description" : "ID of the dimension.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "ID of the element.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of DimensionValueDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DimensionValueDTO"
                  }
                },
                "example" : "[ {\n  \"value\" : \"...\",\n  \"weight\" : 12345.0,\n  \"id\" : 12345,\n  \"inherited\" : true\n} ]"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "DimensionValueRestApi" ],
        "description" : "Set dimension values for node. If node has already previously added values, they will be deleted.<br/>\nTo remove values should send empty array <code>[]</code>.\nIf the dimension is mark as 'required' and try to remove all values, http error with status 400 will be return.<br/>\nTo update 'selectable' type dimensions (single, multi) 'id' field will be used, for 'text' type dimensions\n(text, structured and continuous) 'value' field will be used.<br/>\nFor 'multi weight selectable' dimension type, fields 'id' and 'weight' will be used to update dimension.\n\n__Available Since:__ 1.0",
        "operationId" : "DimensionValueRestApi-PUT_editDimensionNodeValues",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dimId",
          "in" : "path",
          "description" : "ID of the dimension.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "ID of the element.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Should be an array of DimensionValue",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/DimensionValueDTO"
                }
              },
              "example" : "[ {\n  \"value\" : \"...\",\n  \"weight\" : 12345.0,\n  \"id\" : 12345,\n  \"inherited\" : true\n} ]"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/exchange-rate/tree/{treeId}" : {
      "get" : {
        "tags" : [ "ExchangeRateRestApi" ],
        "description" : "Returns exchange rates for given year and month\n\n__Available Since:__ 3.8",
        "operationId" : "ExchangeRateRestApi-GET_getRates",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "treeId",
          "in" : "path",
          "description" : "- year id",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "month",
          "in" : "query",
          "description" : "- required",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE", "JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER" ]
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Page with <code>ExchangeRateDTO</code>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExchangeRatePageDTO"
                },
                "example" : "{\n  \"content\" : [ {\n    \"id\" : 12345,\n    \"currencyId\" : 12345,\n    \"referenceCurrencyId\" : 12345,\n    \"exchangeRate\" : 12345.0,\n    \"secondExchangeRate\" : 12345.0,\n    \"units\" : 12345\n  }, {\n    \"id\" : 12345,\n    \"currencyId\" : 12345,\n    \"referenceCurrencyId\" : 12345,\n    \"exchangeRate\" : 12345.0,\n    \"secondExchangeRate\" : 12345.0,\n    \"units\" : 12345\n  } ],\n  \"@type\" : \"exchange-rate\",\n  \"offset\" : 12345,\n  \"limit\" : 12345,\n  \"pageNumber\" : 12345,\n  \"numberOfElements\" : 12345,\n  \"totalElements\" : 12345,\n  \"sort\" : [ {\n    \"property\" : \"...\",\n    \"direction\" : \"DESC\"\n  }, {\n    \"property\" : \"...\",\n    \"direction\" : \"DESC\"\n  } ]\n}"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/exchange-rate/tree/{treeId}/currency/{currencyId}" : {
      "get" : {
        "tags" : [ "ExchangeRateRestApi" ],
        "description" : "\n\n__Available Since:__ 1.0",
        "operationId" : "ExchangeRateRestApi-GET_getExchangeRates",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "currencyId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "treeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ExchangeRateDTO"
                  }
                },
                "example" : "[ {\n  \"id\" : 12345,\n  \"currencyId\" : 12345,\n  \"referenceCurrencyId\" : 12345,\n  \"exchangeRate\" : 12345.0,\n  \"secondExchangeRate\" : 12345.0,\n  \"units\" : 12345\n} ]"
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/maps/rest/api/{version}/fee" : {
      "get" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-GET_getFees",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Page with <code>FeeDTO</code>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeePageDTO"
                },
                "example" : "{\n  \"content\" : [ {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"type\" : \"ABSOLUTE\"\n  }, {\n    \"id\" : 12345,\n    \"name\" : \"...\",\n    \"type\" : \"ABSOLUTE\"\n  } ],\n  \"@type\" : \"fee\",\n  \"offset\" : 12345,\n  \"limit\" : 12345,\n  \"pageNumber\" : 12345,\n  \"numberOfElements\" : 12345,\n  \"totalElements\" : 12345,\n  \"sort\" : [ {\n    \"property\" : \"...\",\n    \"direction\" : \"ASC\"\n  }, {\n    \"property\" : \"...\",\n    \"direction\" : \"ASC\"\n  } ]\n}"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "Create a fee. For correct fee types use \"/fee/type\"\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-POST_createFee",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FeeDTO"
              },
              "example" : "{\n  \"id\" : 12345,\n  \"name\" : \"...\",\n  \"type\" : \"ABSOLUTE\"\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/fee/type" : {
      "get" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-GET_getFeeTypes",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FeeType"
                  }
                },
                "example" : "..."
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/fee/{feeId}" : {
      "get" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-GET_getFee",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "feeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeeDTO"
                },
                "example" : "{\n  \"id\" : 12345,\n  \"name\" : \"...\",\n  \"type\" : \"PERCENT\"\n}"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "Edit a fee. For correct fee types use \"/fee/type\"\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-PUT_editFee",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "feeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FeeDTO"
              },
              "example" : "{\n  \"id\" : 12345,\n  \"name\" : \"...\",\n  \"type\" : \"PERCENT\"\n}"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      },
      "delete" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-DELETE_deleteFee",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "feeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/fee-rate/{rateId}" : {
      "get" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-GET_getFeeRate",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rateId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeeRateDTO"
                },
                "example" : "{\n  \"id\" : 12345,\n  \"feeId\" : 12345,\n  \"startDate\" : \"...\",\n  \"rate\" : 12345.0\n}"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "Edit fee rate\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-PUT_editFeeRate",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rateId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FeeRateEditBody"
              },
              "example" : "{\n  \"rate\" : 12345.0\n}"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/fee-rate/tree/{treeId}" : {
      "post" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "Create rates for given year(tree) and fee.\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-POST_createFeeRates",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "treeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FeeRateCreateBody"
              },
              "example" : "{\n  \"feeId\" : 12345,\n  \"rate\" : 12345.0\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeeRateDTO"
                }
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/fee-rate/tree/{treeId}/fee/{feeId}" : {
      "delete" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "Delete fee rate\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-DELETE_deleteFeeRate",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "feeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "treeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/fee-rate/tree/{treeId}/month/{month}" : {
      "get" : {
        "tags" : [ "FeeRestApi" ],
        "description" : "Get rates for given year and month.\n\n__Available Since:__ 3.6",
        "operationId" : "FeeRestApi-GET_getFeeRates",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "month",
          "in" : "path",
          "description" : "- java.time.Month values are accepted(JANUARY, FEBRUARY...)",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE", "JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER" ]
          }
        }, {
          "name" : "treeId",
          "in" : "path",
          "description" : "- id of the year(tree)",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Page with <code>FeeRateDTO</code>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeeRatePageDTO"
                },
                "example" : "{\n  \"content\" : [ {\n    \"id\" : 12345,\n    \"feeId\" : 12345,\n    \"startDate\" : \"...\",\n    \"rate\" : 12345.0\n  }, {\n    \"id\" : 12345,\n    \"feeId\" : 12345,\n    \"startDate\" : \"...\",\n    \"rate\" : 12345.0\n  } ],\n  \"@type\" : \"fee-rate\",\n  \"offset\" : 12345,\n  \"limit\" : 12345,\n  \"pageNumber\" : 12345,\n  \"numberOfElements\" : 12345,\n  \"totalElements\" : 12345,\n  \"sort\" : [ {\n    \"property\" : \"...\",\n    \"direction\" : \"ASC\"\n  }, {\n    \"property\" : \"...\",\n    \"direction\" : \"ASC\"\n  } ]\n}"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/fee/node/{nodeId}" : {
      "get" : {
        "tags" : [ "FeeValueRestApi" ],
        "description" : "Get assigned fees to the node\n\n__Available Since:__ 3.6",
        "operationId" : "FeeValueRestApi-GET_getFeeValues",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "allowEmptyValue" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Page with <code>FeeValueDTO</code>",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeeValuePageDTO"
                },
                "example" : "{\n  \"content\" : [ {\n    \"feeValueId\" : 12345,\n    \"feeId\" : 12345,\n    \"nodeId\" : 12345,\n    \"global\" : true,\n    \"feeType\" : \"PERCENT\",\n    \"feeName\" : \"...\"\n  }, {\n    \"feeValueId\" : 12345,\n    \"feeId\" : 12345,\n    \"nodeId\" : 12345,\n    \"global\" : true,\n    \"feeType\" : \"PERCENT\",\n    \"feeName\" : \"...\"\n  } ],\n  \"@type\" : \"fee-value\",\n  \"offset\" : 12345,\n  \"limit\" : 12345,\n  \"pageNumber\" : 12345,\n  \"numberOfElements\" : 12345,\n  \"totalElements\" : 12345,\n  \"sort\" : [ {\n    \"property\" : \"...\",\n    \"direction\" : \"DESC\"\n  }, {\n    \"property\" : \"...\",\n    \"direction\" : \"ASC\"\n  } ]\n}"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/fee/{feeId}/node/{nodeId}" : {
      "get" : {
        "tags" : [ "FeeValueRestApi" ],
        "description" : "Get fee value for node. Returns 404(NOT_FOUND) when fee is not assigned to node or specified resources not found\n\n__Available Since:__ 3.6",
        "operationId" : "FeeValueRestApi-GET_getFeeValuForNode",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "feeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeeValueDTO"
                },
                "example" : "{\n  \"feeValueId\" : 12345,\n  \"feeId\" : 12345,\n  \"nodeId\" : 12345,\n  \"global\" : true,\n  \"feeType\" : \"PERCENT\",\n  \"feeName\" : \"...\"\n}"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "FeeValueRestApi" ],
        "description" : "Edit assigned fee to node. Global fee rates can be overridden. If empty body([]) is provided, then assign fee with global values.\n\n__Available Since:__ 3.6",
        "operationId" : "FeeValueRestApi-PUT_editFeeValuForNode",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "feeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/FeeNodeRatesDTO"
                }
              },
              "example" : "[ {\n  \"treeId\" : 12345,\n  \"rates\" : {\n    \"property1\" : {\n      \"id\" : 12345,\n      \"feeId\" : 12345,\n      \"startDate\" : \"...\",\n      \"rate\" : 12345.0\n    },\n    \"property2\" : {\n      \"id\" : 12345,\n      \"feeId\" : 12345,\n      \"startDate\" : \"...\",\n      \"rate\" : 12345.0\n    }\n  },\n  \"nodeId\" : 12345,\n  \"feeId\" : 12345\n} ]"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      },
      "post" : {
        "tags" : [ "FeeValueRestApi" ],
        "description" : "Assign fee to node. Global fee rates can be overridden. If empty body([]) is provided, then assign fee with global values.\n\n__Available Since:__ 3.6",
        "operationId" : "FeeValueRestApi-POST_createFeeValuForNode",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "feeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/FeeNodeRatesDTO"
                }
              },
              "example" : "[ {\n  \"treeId\" : 12345,\n  \"rates\" : {\n    \"property1\" : {\n      \"id\" : 12345,\n      \"feeId\" : 12345,\n      \"startDate\" : \"...\",\n      \"rate\" : 12345.0\n    },\n    \"property2\" : {\n      \"id\" : 12345,\n      \"feeId\" : 12345,\n      \"startDate\" : \"...\",\n      \"rate\" : 12345.0\n    }\n  },\n  \"nodeId\" : 12345,\n  \"feeId\" : 12345\n} ]"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeeValueDTO"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "FeeValueRestApi" ],
        "description" : "Delete fee from node\n\n__Available Since:__ 3.6",
        "operationId" : "FeeValueRestApi-DELETE_deleteFeeForNode",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "feeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/fee/{feeId}/node/{nodeId}/tree/{treeId}" : {
      "get" : {
        "tags" : [ "FeeValueRestApi" ],
        "description" : "Get fee rates for given fee, node and tree(year). Returns 404(NOT_FOUND) when fee is not assigned to node or specified resources not found\n\n__Available Since:__ 3.6",
        "operationId" : "FeeValueRestApi-GET_getFeeRatesForNode",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "feeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "treeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeeNodeRatesDTO"
                },
                "example" : "{\n  \"treeId\" : 12345,\n  \"rates\" : {\n    \"property1\" : {\n      \"id\" : 12345,\n      \"feeId\" : 12345,\n      \"startDate\" : \"...\",\n      \"rate\" : 12345.0\n    },\n    \"property2\" : {\n      \"id\" : 12345,\n      \"feeId\" : 12345,\n      \"startDate\" : \"...\",\n      \"rate\" : 12345.0\n    }\n  },\n  \"nodeId\" : 12345,\n  \"feeId\" : 12345\n}"
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/group" : {
      "get" : {
        "tags" : [ "GroupRestApi" ],
        "description" : "This method returns usergroups which are defined inside the Marketing Planner.\n\n__Available Since:__ 1.1",
        "operationId" : "GroupRestApi-GET_getGroups",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of GroupDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GroupDTO"
                  }
                },
                "example" : "[ {\n  \"id\" : 12345,\n  \"name\" : \"...\",\n  \"inherit\" : true\n} ]"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "GroupRestApi" ],
        "description" : "This method creates a new usergroup.\n\n__Available Since:__ 1.1",
        "operationId" : "GroupRestApi-POST_createGroup",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "request body GroupDTO",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupDTO"
              },
              "example" : "{\n  \"name\" : \"Created via REST\"\n}"
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupDTO"
                }
              }
            }
          }
        }
      }
    },
    "/maps/rest/api/{version}/group/{id}" : {
      "get" : {
        "tags" : [ "GroupRestApi" ],
        "description" : "This method provides information about a specific usergroup.\n\n__Available Since:__ 1.1",
        "operationId" : "GroupRestApi-GET_getGroup",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the usergroup.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupDTO"
                },
                "example" : "{\n  \"id\" : 12345,\n  \"name\" : \"...\",\n  \"inherit\" : true\n}"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "GroupRestApi" ],
        "description" : "This method updates an existing usergroup.\n\n__Available Since:__ 1.1",
        "operationId" : "GroupRestApi-PUT_editGroup",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the usergroup.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "request body GroupDTO",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupDTO"
              },
              "example" : "{\n  \"name\" : \"Renamed via REST\"\n}"
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      },
      "delete" : {
        "tags" : [ "GroupRestApi" ],
        "description" : "This method deletes an existing usergroup.\n\n__Available Since:__ 1.1",
        "operationId" : "GroupRestApi-DELETE_deleteGroup",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "ID of the usergroup.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/group/node/{nodeId}" : {
      "get" : {
        "tags" : [ "GroupRestApi" ],
        "description" : "This method provides a list of assigned user groups on a specific element.\n\n__Available Since:__ 1.1",
        "operationId" : "GroupRestApi-GET_getGroupsForNode",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "ID of the element.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of GroupDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GroupDTO"
                  }
                },
                "example" : "[ {\n  \"id\" : 12345,\n  \"name\" : \"...\",\n  \"inherit\" : true\n} ]"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "GroupRestApi" ],
        "description" : "This method updates user goups which are assigned to an element.\nIf node has some previously created groups, they will be deleted.\n\n__Available Since:__ 1.1",
        "operationId" : "GroupRestApi-PUT_updateNodeGroups",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "description" : "ID of the element.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "Array of valid user group Ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "type" : "integer",
                  "format" : "int32"
                }
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "success"
          }
        }
      }
    },
    "/maps/rest/api/{version}/invoice/{id}" : {
      "get" : {
        "tags" : [ "InvoiceRestApi" ],
        "description" : "This method provides information of a given invoice.\n\n__Available Since:__ 1.0",
        "operationId" : "BillRestApi-GET_getBill",
        "parameters" : [ {
          "name" : "version",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "(Integer) ID of the invoice.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BillDTO",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillDTO"
[...]
