{"swagger":"2.0","info":{"description":"MediaPool RESTful API Documentation","contact":{"email":"dev-team-mp@brandmaker.com","name":"MediaPool"},"version":"73.1.1-7.1","title":"MediaPool RESTful Service API - 73.1.1-7.1"},"host":"is-dev2.brandmaker.com","basePath":"/rest/mp","schemes":["https"],"tags":[{"name":"AiAdministrationRestService"},{"name":"AiTaggingRestService"},{"name":"AiWebTracingRestService"},{"name":"ArchiveEntryRestService"},{"name":"AssetApprovalHistoryRestService"},{"name":"AssetAttributeNodeRestService"},{"name":"AssetAttributeRestService"},{"name":"AssetAttributeStatsRestService"},{"name":"AssetDetailsConfigurationRestService","description":"Rest service providing functionality for asset details configuration."},{"name":"AssetDownloadHistoryRestService"},{"name":"AssetDownloadRestService"},{"name":"AssetGalleryViewConfigRestService"},{"name":"AssetGraphicOperationsRestService"},{"name":"AssetListViewConfigRestService"},{"name":"AssetMasterRestService"},{"name":"AssetMetadataRestService"},{"name":"AssetOfficialHistoryRestService"},{"name":"AssetPartialRestService"},{"name":"AssetPreviewRestService"},{"name":"AssetPublishingRestService","description":"REST service that provides functionality for managing process of asset publishing."},{"name":"AssetRatingRestService"},{"name":"AssetRelationRestService"},{"name":"AssetResourceVersionRestService"},{"name":"AssetRestService"},{"name":"AssetRestService_v1_2"},{"name":"AssetSearchConfigRestService"},{"name":"AssetSearchRestService"},{"name":"AssetSubscriberRestService","description":"Rest service providing functionality user to subscribe, unsubscribe, get subscribed assets."},{"name":"AssetSuggestRestService"},{"name":"AssetTypeRestService"},{"name":"AssetTypeStatsRestService"},{"name":"AssetV1RestService"},{"name":"AssetVideoPreviewRestService"},{"name":"AssetsDownloadLinksRestService"},{"name":"AuditLogRestService"},{"name":"ChannelPublicationRestService","description":"Rest service providing following functionalities:\npublish asset in a channel,\nunpublish asset from publishing channel,\nand get publishing channels that asset is published at."},{"name":"CollectionsRestService"},{"name":"ConfigurationSavedViewRestService"},{"name":"CountryRestService"},{"name":"CustomObjectRestService"},{"name":"DivisionRestService"},{"name":"DownloadRestService"},{"name":"FileGenerationTaskRestService"},{"name":"FileResourceRestService"},{"name":"FreeFieldRestService"},{"name":"HealthRestService"},{"name":"IndexRestService"},{"name":"KeywordRestService"},{"name":"KeywordV2RestService"},{"name":"LanguageRestService"},{"name":"LicenseRestService"},{"name":"LicenseTypeRestService"},{"name":"MenuRestService"},{"name":"MenuRestService_v1_1"},{"name":"PersonRestService"},{"name":"PublishingChannelRestService"},{"name":"PushNotificationRestService"},{"name":"RedirectUrlRestService"},{"name":"RenderingSchemeRestService"},{"name":"SavedFilterRestService"},{"name":"SavedViewRestService"},{"name":"SettingsRestService"},{"name":"SmartSearchRestService"},{"name":"SubscribedAssetRestService","description":"Rest service providing functionality to get, remove subscribers to assets."},{"name":"SuffixRestService"},{"name":"ThemeRestService"},{"name":"ThemeV2RestService"},{"name":"TranscodingRestService"},{"name":"UserFavouritesRestService"},{"name":"UserRestService"},{"name":"VariantRestService"},{"name":"VirtualDatabaseRestService"},{"name":"WebhookRestService"},{"name":"WorkflowStepTemplateRestService","description":"Rest service for providing information about steps and\ncorresponding approvers of a workflow attached to a virtual database."},{"name":"XmpMetadataRestService"}],"definitions":{"json_AbstractMpSavedViewRestDto":{"type":"object","title":"AbstractMpSavedViewRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"id":{"readOnly":false,"description":"","type":"number"},"criteria":{"readOnly":false,"description":"","type":"string"},"modifiedOn":{"readOnly":false,"description":"","type":"number"},"widgets":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_ViewWidgetRestDto"}}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_AbstractResponseRestDto":{"type":"object","title":"AbstractResponseRestDto","properties":{"messages":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_MpMessageRestDto"}}},"description":""},"json_AbstractSimpleFieldRestrictionRestDto":{"type":"object","title":"AbstractSimpleFieldRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_SimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"nullable":{"readOnly":false,"description":"","type":"boolean"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 630eebdd400ab6e27a1dbb6a69dd3154"},"json_AddIntegerItemsOperationRestDto":{"type":"object","title":"AddIntegerItemsOperationRestDto","required":["values"],"allOf":[{"$ref":"#/definitions/json_PartialUpdateOperationRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"values":{"readOnly":false,"description":"","type":"array","items":{"type":"number"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 2772d2504a38699d23e150f0ab463ab0"},"json_AddStringItemsOperationRestDto":{"type":"object","title":"AddStringItemsOperationRestDto","required":["values"],"allOf":[{"$ref":"#/definitions/json_PartialUpdateOperationRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"values":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: cc4ddec490b9d29d5c580029ab17860a"},"json_AffiliateAttributeRestDto":{"type":"object","title":"AffiliateAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"numberOfLines":{"readOnly":false,"description":"","type":"integer","format":"int32"},"minLength":{"readOnly":false,"description":"","type":"number"},"maxLength":{"readOnly":false,"description":"","type":"integer","format":"int32"},"regEx":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_AggregationResultRestDto":{"type":"object","title":"AggregationResultRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 11a2998e75b063000b5a8bd186a1ce4e"},"json_AiBooleanPropertyRestDto":{"type":"object","title":"AiBooleanPropertyRestDto","allOf":[{"$ref":"#/definitions/json_AiPropertyRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"boolean"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_AiDoublePropertyRestDto":{"type":"object","title":"AiDoublePropertyRestDto","allOf":[{"$ref":"#/definitions/json_AiPropertyRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_AiIntegerPropertyRestDto":{"type":"object","title":"AiIntegerPropertyRestDto","allOf":[{"$ref":"#/definitions/json_AiPropertyRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_AiPropertyRestDto":{"type":"object","title":"AiPropertyRestDto","properties":{"name":{"readOnly":false,"description":"","type":"string"},"scope":{"readOnly":false,"$ref":"#/definitions/json_AiPropertyScopeRestDto"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_AiPropertyScopeRestDto":{"type":"string","title":"AiPropertyScopeRestDto","enum":["DEFAULT","CUSTOMER"],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate"},"json_AiTaggingServiceStateRestDto":{"type":"string","title":"AiTaggingServiceStateRestDto","enum":["RUNNING","PAUSED","STOPPED","FINISHED"],"description":""},"json_AiTaggingStateResponseRestDto":{"type":"object","title":"AiTaggingStateResponseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"currentState":{"readOnly":false,"$ref":"#/definitions/json_AiTaggingServiceStateRestDto"}}}],"description":""},"json_AlternativePreviewAttributeRestDto":{"type":"object","title":"AlternativePreviewAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{}],"description":""},"json_AndCriteriaRestDto":{"type":"object","title":"AndCriteriaRestDto","required":["subs"],"allOf":[{"$ref":"#/definitions/json_SearchCriteriaRestDto"},{"properties":{"subs":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_SearchCriteriaRestDto"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 62f1718e86d38c3d66a5a2d9d21960d4"},"json_ApprovalHistoryRestDto":{"type":"object","title":"ApprovalHistoryRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"processedDatetime":{"readOnly":false,"description":"","type":"number"},"workflowStepName":{"readOnly":false,"description":"","type":"string"},"approvingUser":{"readOnly":false,"description":"","type":"string"},"result":{"readOnly":false,"description":"","type":"number"},"rejectReason":{"readOnly":false,"description":"","type":"string"},"substituteUser":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 7b1bfa5254e10e6790a3ce681b5dbb4c"},"json_ApproverRestDto":{"type":"object","title":"ApproverRestDto","allOf":[{"$ref":"#/definitions/json_IdNameRestDto"},{"properties":{"responsibility":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_ArchiveEntryRequestDto":{"type":"object","title":"ArchiveEntryRequestDto","properties":{"name":{"readOnly":false,"description":"","type":"string"},"size":{"readOnly":false,"description":"","type":"number"},"asset_id":{"readOnly":false,"description":"","type":"number"},"archive_path":{"readOnly":false,"description":"","type":"string"}},"description":""},"json_ArchiveEntryRequestParameter":{"type":"object","title":"ArchiveEntryRequestParameter","properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"versionNumber":{"readOnly":false,"description":"","type":"number"},"archive_entries":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_ArchiveEntryRequestDto"}}},"description":""},"json_ArchiveEntryRestDto":{"type":"object","title":"ArchiveEntryRestDto","allOf":[{"$ref":"#/definitions/json_BaseArchiveEntryRestDto"},{"properties":{"creation_date":{"readOnly":false,"description":"","type":"number"},"id":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_ArticleDescriptionAttributeRestDto":{"type":"object","title":"ArticleDescriptionAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"numberOfLines":{"readOnly":false,"description":"","type":"integer","format":"int32"},"minLength":{"readOnly":false,"description":"","type":"number"},"maxLength":{"readOnly":false,"description":"","type":"integer","format":"int32"}}}],"description":""},"json_ArticleDescriptionRestDto":{"type":"object","title":"ArticleDescriptionRestDto","allOf":[{"$ref":"#/definitions/json_AssetCustomPropertyV1RestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}}}],"description":""},"json_ArticleNumberAttributeRestDto":{"type":"object","title":"ArticleNumberAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"numberOfLines":{"readOnly":false,"description":"","type":"integer","format":"int32"},"minLength":{"readOnly":false,"description":"","type":"number"},"maxLength":{"readOnly":false,"description":"","type":"integer","format":"int32"}}}],"description":""},"json_ArticleNumberRestDto":{"type":"object","title":"ArticleNumberRestDto","allOf":[{"$ref":"#/definitions/json_AssetCustomPropertyV1RestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_AssetAlternativePreviewRestrictionRestDto":{"type":"object","title":"AssetAlternativePreviewRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 03e0398020b21bfc52e2bd88377ff0f8"},"json_AssetAttributeDefaultValueRestDto":{"type":"object","title":"AssetAttributeDefaultValueRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"valueType":{"readOnly":false,"description":"","type":"string"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 9c56db3f82f9eae4479adaa2c2fbcaef"},"json_AssetAttributeNodeRestDto":{"type":"object","title":"AssetAttributeNodeRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"id":{"readOnly":false,"description":"","type":"number"},"parentId":{"readOnly":false,"description":"","type":"number"},"hasChildren":{"readOnly":false,"description":"","type":"boolean"},"children":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetAttributeNodeRestDto"}},"label":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}}}],"description":""},"json_AssetAttributeRestDto":{"type":"object","title":"AssetAttributeRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"attributeType":{"readOnly":false,"$ref":"#/definitions/json_AttributeTypeRestDto"},"name":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"shortName":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"helpText":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}},"description":""},"json_AssetAttributeStatsRestDto":{"type":"object","title":"AssetAttributeStatsRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"attributeId":{"readOnly":false,"description":"","type":"number"},"usedInAssetTypes":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_AssetAttributeValueRestDto":{"type":"object","title":"AssetAttributeValueRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"valueType":{"readOnly":false,"description":"","type":"string"},"attributeId":{"readOnly":false,"description":"","type":"number"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: d1cf8aa4f3691e68be3d5d3ed64e7a55"},"json_AssetAttributesResponseRestDto":{"type":"object","title":"AssetAttributesResponseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"assetAttributes":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetAttributeRestDto"}}}}],"description":""},"json_AssetBaseRestDto":{"type":"object","title":"AssetBaseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"id":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_AssetCollectionRequestRestDto":{"type":"object","title":"AssetCollectionRequestRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"assetIds":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_IdRestDtoOfInteger"}}}}],"description":""},"json_AssetCountryRestDto":{"type":"object","title":"AssetCountryRestDto","allOf":[{"$ref":"#/definitions/json_IdNameRestDto"},{}],"description":""},"json_AssetCustomPropertyV1RestDto":{"type":"object","title":"AssetCustomPropertyV1RestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"name":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_AssetDetailsAttributeRestDto":{"type":"object","title":"AssetDetailsAttributeRestDto","allOf":[{"$ref":"#/definitions/json_IdRestDto"},{"properties":{"label":{"readOnly":false,"description":"attribute label","type":"string"},"type":{"readOnly":false,"description":"attribute type","type":"string"},"position":{"readOnly":false,"description":"attribute position in the section","type":"number"}}}],"description":""},"json_AssetDetailsSectionRestDto":{"type":"object","title":"AssetDetailsSectionRestDto","allOf":[{"$ref":"#/definitions/json_IdRestDto"},{"properties":{"label":{"readOnly":false,"description":"(String) user localized section label","type":"string"},"attributes":{"readOnly":false,"description":"List of section attributes","type":"array","items":{"$ref":"#/definitions/json_AssetDetailsAttributeRestDto"}}}}],"description":""},"json_AssetDownloadApprovalDataRestDto":{"type":"object","title":"AssetDownloadApprovalDataRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"approve":{"readOnly":false,"description":"","type":"boolean"},"approveDescription":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_AssetDownloadApprovalDataV1RestDto":{"type":"object","title":"AssetDownloadApprovalDataV1RestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"approve":{"readOnly":false,"description":"","type":"boolean"},"approveDescription":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}}}],"description":""},"json_AssetDownloadHistoryRestDto":{"type":"object","title":"AssetDownloadHistoryRestDto","allOf":[{"$ref":"#/definitions/json_IdRestDto"},{"properties":{"downloaderUserName":{"readOnly":false,"description":"","type":"string"},"downloadDate":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_AssetDownloadLinkRequestParameter":{"type":"object","title":"AssetDownloadLinkRequestParameter","properties":{"asset":{"readOnly":false,"$ref":"#/definitions/json_AssetRestDto"},"download_scheme":{"readOnly":false,"$ref":"#/definitions/json_DownloadSchemesRestDto"},"language":{"readOnly":false,"description":"","type":"string"},"download_version":{"readOnly":false,"description":"","type":"string"},"license_confirmation":{"readOnly":false,"$ref":"#/definitions/json_LicenseConfirmationDto"}},"description":""},"json_AssetDownloadLinkRestDto":{"type":"object","title":"AssetDownloadLinkRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"asset":{"readOnly":false,"$ref":"#/definitions/json_AssetBaseRestDto"},"download_name":{"readOnly":false,"description":"name of the downloaded file","type":"string"},"download_format":{"readOnly":false,"description":"download scheme output format","type":"string"},"download_url":{"readOnly":false,"description":"link for download","type":"string"},"status":{"readOnly":false,"description":"license status :\n<ul>\n<li>OK</li>\n<li>LICENSE_CONFIRMATION_MISSING</li>\n</ul>","type":"string"}}}],"description":""},"json_AssetDownloadRequestRestDto":{"type":"object","title":"AssetDownloadRequestRestDto","properties":{"renderingSchemeId":{"readOnly":false,"description":"","type":"number"}},"description":""},"json_AssetDownloadSchemesRestDto":{"type":"object","title":"AssetDownloadSchemesRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"asset":{"readOnly":false,"$ref":"#/definitions/json_AssetBaseRestDto"},"download_schemes":{"readOnly":false,"description":"Download schemes object contains schemes data","type":"array","items":{"$ref":"#/definitions/json_DownloadSchemesRestDto"}},"message":{"readOnly":false,"$ref":"#/definitions/json_MessageRestDto"}}}],"description":""},"json_AssetEditSchemeRestDto":{"type":"object","title":"AssetEditSchemeRestDto","allOf":[{"$ref":"#/definitions/json_AssetResourceVersionUploadSchemeRestDto"},{}],"description":""},"json_AssetFavouritesResponseRestDto":{"type":"object","title":"AssetFavouritesResponseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"assetIds":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_IdRestDtoOfInteger"}}}}],"description":""},"json_AssetFreeFieldRestDto":{"type":"object","title":"AssetFreeFieldRestDto","allOf":[{"$ref":"#/definitions/json_IdNameRestDto"},{"properties":{"type":{"readOnly":false,"description":"","type":"number"},"value":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_AssetFreeFieldV1RestDto":{"type":"object","title":"AssetFreeFieldV1RestDto","allOf":[{"$ref":"#/definitions/json_IdRestDto"},{"properties":{"name":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"type":{"readOnly":false,"description":"","type":"number"},"value":{"readOnly":false,"$ref":"#/definitions/json_FreeFieldValueV1RestDto"}}}],"description":""},"json_AssetHistoryResponseRestDto":{"type":"object","title":"AssetHistoryResponseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"officialHistory":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_PublishedAssetRestDto"}}}}],"description":""},"json_AssetIdTitleRestDto":{"type":"object","title":"AssetIdTitleRestDto","properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"title":{"readOnly":false,"description":"","type":"string"}},"description":""},"json_AssetIdVersionNumberRestDto":{"type":"object","title":"AssetIdVersionNumberRestDto","properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"versionNumber":{"readOnly":false,"description":"","type":"number"}},"description":""},"json_AssetIdsCollectionRestDto":{"type":"object","title":"AssetIdsCollectionRestDto","properties":{"assetIds":{"readOnly":false,"description":"","type":"array","items":{"type":"number"}}},"description":""},"json_AssetLinkedImagesResponseRestDto":{"type":"object","title":"AssetLinkedImagesResponseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"linkedImages":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_LinkedImageRestDto"}}}}],"description":""},"json_AssetMetadataGroupRestDto":{"type":"object","title":"AssetMetadataGroupRestDto","properties":{"name":{"readOnly":false,"description":"","type":"string"},"values":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetMetadataValueRestDto"}}},"description":""},"json_AssetMetadataRestDto":{"type":"object","title":"AssetMetadataRestDto","properties":{"dicom":{"readOnly":false,"$ref":"#/definitions/json_AssetMetadataGroupRestDto"},"camera":{"readOnly":false,"$ref":"#/definitions/json_AssetMetadataGroupRestDto"},"iptcContact":{"readOnly":false,"$ref":"#/definitions/json_AssetMetadataGroupRestDto"},"iptcContent":{"readOnly":false,"$ref":"#/definitions/json_AssetMetadataGroupRestDto"},"iptcStatus":{"readOnly":false,"$ref":"#/definitions/json_AssetMetadataGroupRestDto"},"iptcImage":{"readOnly":false,"$ref":"#/definitions/json_AssetMetadataGroupRestDto"},"swf":{"readOnly":false,"$ref":"#/definitions/json_AssetMetadataGroupRestDto"},"audio":{"readOnly":false,"$ref":"#/definitions/json_AssetMetadataGroupRestDto"},"video":{"readOnly":false,"$ref":"#/definitions/json_AssetMetadataGroupRestDto"}},"description":""},"json_AssetMetadataValueRestDto":{"type":"object","title":"AssetMetadataValueRestDto","properties":{"metadataType":{"readOnly":false,"description":"","type":"string"},"value":{"readOnly":false,"description":"","type":"string"}},"description":""},"json_AssetPartialRestDto":{"type":"object","title":"AssetPartialRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"versionNumber":{"readOnly":false,"description":"","type":"number"},"generatedName":{"readOnly":false,"description":"","type":"string"},"suffix":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_AssetPartialResultRestDto":{"type":"object","title":"AssetPartialResultRestDto","properties":{"assets-metadata":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetPartialRestDto"}},"messages":{"readOnly":false,"$ref":"#/definitions/json_MessageRestDto"}},"description":""},"json_AssetPartialUpdateRequestRestDto":{"type":"object","title":"AssetPartialUpdateRequestRestDto","required":["updateOperations","assetIds"],"properties":{"errorHandlingStrategy":{"readOnly":false,"$ref":"#/definitions/json_UpdateErrorHandlingStrategyRestDto"},"updateOperations":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_PartialUpdateOperationRestDto"}},"assetIds":{"readOnly":false,"description":"","type":"array","items":{"type":"number"}}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_AssetPlatformRestDto":{"type":"object","title":"AssetPlatformRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"type":{"readOnly":false,"description":"","type":"string"},"label":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_AssetPublishingBaseRestDto":{"type":"object","title":"AssetPublishingBaseRestDto","properties":{"publishedFrom":{"readOnly":false,"description":"","type":"number"},"publishedTo":{"readOnly":false,"description":"","type":"number"}},"description":""},"json_AssetPublishingHistoryEntryRestDto":{"type":"object","title":"AssetPublishingHistoryEntryRestDto","properties":{"versionNumber":{"readOnly":false,"description":"","type":"number"},"publishedFrom":{"readOnly":false,"description":"","type":"number"},"publishedTo":{"readOnly":false,"description":"","type":"number"},"publishedFileName":{"readOnly":false,"description":"","type":"string"},"predecessorAssetId":{"readOnly":false,"description":"","type":"number"}},"description":""},"json_AssetPublishingHistoryRestDto":{"type":"object","title":"AssetPublishingHistoryRestDto","properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"publishingHistory":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetPublishingHistoryEntryRestDto"}}},"description":""},"json_AssetPublishingModifyDatesRestDto":{"type":"object","title":"AssetPublishingModifyDatesRestDto","allOf":[{"$ref":"#/definitions/json_AssetPublishingBaseRestDto"},{"properties":{"publishNow":{"readOnly":false,"description":"","type":"boolean"}}}],"description":""},"json_AssetPublishingRestDto":{"type":"object","title":"AssetPublishingRestDto","allOf":[{"$ref":"#/definitions/json_AssetPublishingBaseRestDto"},{"properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"publishedFileName":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_AssetPublishingStatusRestDto":{"type":"object","title":"AssetPublishingStatusRestDto","allOf":[{"$ref":"#/definitions/json_AssetPublishingBaseRestDto"},{"properties":{"publishedFileName":{"readOnly":false,"description":"","type":"string"},"isCurrentlyPublished":{"readOnly":false,"description":"","type":"boolean"},"isScheduledForPublishing":{"readOnly":false,"description":"","type":"boolean"},"predecessor":{"readOnly":false,"$ref":"#/definitions/json_AssetIdTitleRestDto"},"successor":{"readOnly":false,"$ref":"#/definitions/json_AssetIdTitleRestDto"}}}],"description":""},"json_AssetRatingRequestParameter":{"type":"object","title":"AssetRatingRequestParameter","properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"comment":{"readOnly":false,"description":"","type":"string"},"rating":{"readOnly":false,"description":"","type":"number"}},"description":""},"json_AssetRatingRestDto":{"type":"object","title":"AssetRatingRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"rating_id":{"readOnly":false,"description":"","type":"number"},"asset_id":{"readOnly":false,"description":"","type":"number"},"user_id":{"readOnly":false,"description":"","type":"number"},"user_formatted_full_name":{"readOnly":false,"description":"","type":"string"},"comment":{"readOnly":false,"description":"","type":"string"},"rating":{"readOnly":false,"description":"","type":"number"},"last-modified":{"readOnly":false,"description":"","type":"number"},"actions_mask":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_AssetRelationDefinitionResponseDto":{"type":"object","title":"AssetRelationDefinitionResponseDto","properties":{"totalCount":{"readOnly":false,"description":"","type":"integer","format":"int64"},"relations":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_RelationDefinitionRestDto"}}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.dto.DtoTemplate"},"json_AssetRelationRestDto":{"type":"object","title":"AssetRelationRestDto","allOf":[{"$ref":"#/definitions/json_IdNameRestDto"},{"properties":{"assetId":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_AssetRelationStatusRestDto":{"type":"object","title":"AssetRelationStatusRestDto","allOf":[{"$ref":"#/definitions/json_StatusRestDto"},{}],"description":""},"json_AssetRelationWrapperDto":{"type":"object","title":"AssetRelationWrapperDto","properties":{"relations":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_RelationRestDto"}}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.dto.DtoTemplate"},"json_AssetResourceVersionRestDto":{"type":"object","title":"AssetResourceVersionRestDto","allOf":[{"$ref":"#/definitions/json_IdRestDto"},{"properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"versionNumber":{"readOnly":false,"description":"","type":"number"},"insertedTime":{"readOnly":false,"description":"","type":"number"},"fontChecked":{"readOnly":false,"description":"","type":"boolean"},"uploadComments":{"readOnly":false,"description":"","type":"string"},"uploader":{"readOnly":false,"$ref":"#/definitions/json_UserRestDto"},"fileResource":{"readOnly":false,"$ref":"#/definitions/json_FileResourceRestDto"},"official":{"readOnly":false,"description":"","type":"boolean"},"actionsMask":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_AssetResourceVersionUploadSchemeRestDto":{"type":"object","title":"AssetResourceVersionUploadSchemeRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"approvalStepsRequired":{"readOnly":false,"description":"","type":"boolean"},"steps":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetWorkflowStepSelectedApproverRestDto"}}}}],"description":""},"json_AssetRestDto":{"type":"object","title":"AssetRestDto","allOf":[{"$ref":"#/definitions/json_AssetBaseRestDto"},{"properties":{"countries":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetCountryRestDto"}},"customAttributes":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetAttributeValueRestDto"}},"assetTypeId":{"readOnly":false,"description":"","type":"number"},"uploadDate":{"readOnly":false,"description":"","type":"number"},"actualVersionNumber":{"readOnly":false,"description":"","type":"number"},"averageRating":{"readOnly":false,"description":"","type":"number"},"affiliateNumber":{"readOnly":false,"description":"","type":"string"},"owner":{"readOnly":false,"$ref":"#/definitions/json_UserRestDto"},"vdb":{"readOnly":false,"$ref":"#/definitions/json_VirtualDatabaseRestDto"},"description":{"readOnly":false,"description":"","type":"string"},"division":{"readOnly":false,"$ref":"#/definitions/json_DivisionRestDto"},"editState":{"readOnly":false,"description":"","type":"boolean"},"hideIfNotValid":{"readOnly":false,"description":"","type":"boolean"},"keywords":{"readOnly":false,"description":"","type":"string"},"lastUpdatedTime":{"readOnly":false,"description":"","type":"number"},"language":{"readOnly":false,"$ref":"#/definitions/json_LanguageRestDto"},"assetTitle":{"readOnly":false,"description":"","type":"string"},"popularity":{"readOnly":false,"description":"","type":"number"},"publishFrom":{"readOnly":false,"description":"","type":"number"},"publishTo":{"readOnly":false,"description":"","type":"number"},"validFrom":{"readOnly":false,"description":"","type":"number"},"validTo":{"readOnly":false,"description":"","type":"number"},"versionCount":{"readOnly":false,"description":"","type":"number"},"platform":{"readOnly":false,"description":"","type":"string"},"downloadApprovalData":{"readOnly":false,"$ref":"#/definitions/json_AssetDownloadApprovalDataRestDto"},"themes":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_ThemeRestDto"}},"watchers":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_UserRestDto"}},"variantsCount":{"readOnly":false,"description":"","type":"number"},"variants":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetVariantRestDto"}},"masterAsset":{"readOnly":false,"$ref":"#/definitions/json_IdRestDtoOfInteger"},"customProperties":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"isins":{"readOnly":false,"description":"","type":"string"},"hiRes":{"readOnly":false,"description":"","type":"boolean"},"suitableForW2P":{"readOnly":false,"description":"","type":"boolean"},"relationsCount":{"readOnly":false,"description":"","type":"number"},"license":{"readOnly":false,"$ref":"#/definitions/json_LicenseRestDto"},"freeFields":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetFreeFieldRestDto"}},"programVersion":{"readOnly":false,"description":"","type":"string"},"resourceVersion":{"readOnly":false,"$ref":"#/definitions/json_AssetResourceVersionRestDto"},"persons":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_PersonRestDto"}},"relations":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetRelationRestDto"}},"structuredKeywords":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetStructuredKeywordRestDto"}},"uploadApprovalData":{"readOnly":false,"$ref":"#/definitions/json_AssetUploadApprovalDataRestDto"},"alternativeImageId":{"readOnly":false,"description":"","type":"number"},"channelPublications":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_ChannelPublicationRestDto"}}}}],"description":""},"json_AssetSearchConfigurationRestDto":{"type":"object","title":"AssetSearchConfigurationRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"sortFields":{"readOnly":false,"description":"list of sort criteria","type":"array","items":{"$ref":"#/definitions/json_SortConfigurationEntry"}}}}],"description":""},"json_AssetSearchResultRestDto":{"type":"object","title":"AssetSearchResultRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"total":{"readOnly":false,"description":"(Long) Number of total results","type":"integer","format":"int64"},"assets":{"readOnly":false,"description":"List of Asset Rest Dtos","type":"array","items":{"$ref":"#/definitions/json_SearchAssetRestDto"}},"widgets":{"readOnly":false,"description":"List of Widget Dtos","type":"array","items":{"$ref":"#/definitions/json_WidgetRestDto"}},"sorting":{"readOnly":false,"description":"List of Sort criterion Dtos","type":"array","items":{"$ref":"#/definitions/json_SortCriteriaRestDto"}},"filter":{"readOnly":false,"description":"List of Filter Dtos","type":"array","items":{"$ref":"#/definitions/json_SearchFilterRestDto"}},"urlHash":{"readOnly":false,"description":"","type":"string"},"query":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_AssetSetCollectionResponseRestDto":{"type":"object","title":"AssetSetCollectionResponseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"assetCollections":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetSetRestDto"}}}}],"description":""},"json_AssetSetRestDto":{"type":"object","title":"AssetSetRestDto","properties":{"id":{"readOnly":false,"description":"","type":"number"},"name":{"readOnly":false,"description":"","type":"string"},"parentId":{"readOnly":false,"description":"","type":"number"},"ownerId":{"readOnly":false,"description":"","type":"number"},"type":{"readOnly":false,"description":"","type":"number"},"status":{"readOnly":false,"description":"","type":"number"},"isDefault":{"readOnly":false,"description":"","type":"boolean"},"description":{"readOnly":false,"description":"","type":"string"},"isPublic":{"readOnly":false,"description":"","type":"boolean"},"isUnlimitedVisibility":{"readOnly":false,"description":"","type":"boolean"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_AssetStateChangeRestDto":{"type":"object","title":"AssetStateChangeRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"state":{"readOnly":false,"$ref":"#/definitions/json_AssetStateRestDto"},"variantsHandler":{"readOnly":false,"$ref":"#/definitions/json_AssetVariantHandlingStrategyRestDto"}}}],"description":""},"json_AssetStateRestDto":{"type":"string","title":"AssetStateRestDto","enum":["DELETED"],"description":""},"json_AssetStatusRestDto":{"type":"object","title":"AssetStatusRestDto","allOf":[{"$ref":"#/definitions/json_StatusRestDto"},{}],"description":""},"json_AssetStructuredKeywordRestDto":{"type":"object","title":"AssetStructuredKeywordRestDto","allOf":[{"$ref":"#/definitions/json_IdNameRestDto"},{}],"description":""},"json_AssetSuffixTypeRestDto":{"type":"object","title":"AssetSuffixTypeRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"label":{"readOnly":false,"description":"","type":"string"},"name":{"readOnly":false,"description":"","type":"string"},"suffixes":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}}}}],"description":""},"json_AssetSuggestResultRestDto":{"type":"object","title":"AssetSuggestResultRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"suggestion":{"readOnly":false,"description":"(String) suggestion value","type":"string"}}}],"description":""},"json_AssetTypeCreateRestDto":{"type":"object","title":"AssetTypeCreateRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"name":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"description":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"orgUnitIds":{"readOnly":false,"description":"","type":"array","items":{"type":"number"}}}}],"description":""},"json_AssetTypeGroupRestDto":{"type":"object","title":"AssetTypeGroupRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"id":{"readOnly":false,"description":"","type":"number"},"name":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"attributes":{"readOnly":false,"description":"","type":"array","items":{"type":"number"}}}}],"description":""},"json_AssetTypeIdRestrictionRestDto":{"type":"object","title":"AssetTypeIdRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 0d011b519c04eb3bb5d7677430af8334"},"json_AssetTypeRestDto":{"type":"object","title":"AssetTypeRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"name":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"description":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"orgUnits":{"readOnly":false,"description":"","type":"array","items":{"type":"number"}},"systemType":{"readOnly":false,"description":"","type":"boolean"}}}],"description":""},"json_AssetTypeStatsRestDto":{"type":"object","title":"AssetTypeStatsRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"assetTypeId":{"readOnly":false,"description":"","type":"number"},"attributesCount":{"readOnly":false,"description":"","type":"number"},"assetsCount":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_AssetTypeToAttributeRestDto":{"type":"object","title":"AssetTypeToAttributeRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"attributeId":{"readOnly":false,"description":"","type":"number"},"groupId":{"readOnly":false,"description":"","type":"number"},"mandatory":{"readOnly":false,"description":"","type":"boolean"},"editable":{"readOnly":false,"description":"","type":"boolean"},"visible":{"readOnly":false,"description":"","type":"boolean"},"configurable":{"readOnly":false,"description":"","type":"boolean"},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"defaultValue":{"readOnly":false,"$ref":"#/definitions/json_AssetAttributeDefaultValueRestDto"},"defaultValues":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetAttributeDefaultValueRestDto"}}}}],"description":""},"json_AssetTypesResponseRestDto":{"type":"object","title":"AssetTypesResponseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"assetTypes":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetTypeRestDto"}}}}],"description":""},"json_AssetUploadApprovalDataRestDto":{"type":"object","title":"AssetUploadApprovalDataRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"approveState":{"readOnly":false,"description":"","type":"string"},"responsibleUser":{"readOnly":false,"description":"","type":"string"},"approveStateType":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_AssetUsageInDocumentRestDto":{"type":"object","title":"AssetUsageInDocumentRestDto","properties":{"documentAssetId":{"readOnly":false,"description":"","type":"number"},"documentVersionNumber":{"readOnly":false,"description":"","type":"number"},"documentTitle":{"readOnly":false,"description":"","type":"string"},"documentIsVisible":{"readOnly":false,"description":"","type":"boolean"}},"description":""},"json_AssetUsageInTemplateRestDto":{"type":"object","title":"AssetUsageInTemplateRestDto","properties":{"templateId":{"readOnly":false,"description":"","type":"number"},"templateTitle":{"readOnly":false,"description":"","type":"string"}},"description":""},"json_AssetUsagesInDocumentsRestDto":{"type":"object","title":"AssetUsagesInDocumentsRestDto","properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"versionNumber":{"readOnly":false,"description":"","type":"number"},"usages":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetUsageInDocumentRestDto"}}},"description":""},"json_AssetUsagesInTemplatesRestDto":{"type":"object","title":"AssetUsagesInTemplatesRestDto","properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"usages":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetUsageInTemplateRestDto"}}},"description":""},"json_AssetV1RestDto":{"type":"object","title":"AssetV1RestDto","allOf":[{"$ref":"#/definitions/json_AssetBaseRestDto"},{"properties":{"countries":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetCountryRestDto"}},"customAttributes":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetAttributeValueRestDto"}},"assetTypeId":{"readOnly":false,"description":"","type":"number"},"uploadDate":{"readOnly":false,"description":"","type":"number"},"actualVersionNumber":{"readOnly":false,"description":"","type":"number"},"averageRating":{"readOnly":false,"description":"","type":"number"},"affiliateNumber":{"readOnly":false,"description":"","type":"string"},"owner":{"readOnly":false,"$ref":"#/definitions/json_UserRestDto"},"vdb":{"readOnly":false,"$ref":"#/definitions/json_VirtualDatabaseRestDto"},"description":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"division":{"readOnly":false,"$ref":"#/definitions/json_DivisionRestDto"},"editState":{"readOnly":false,"description":"","type":"boolean"},"hideIfNotValid":{"readOnly":false,"description":"","type":"boolean"},"keywords":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"lastUpdatedTime":{"readOnly":false,"description":"","type":"number"},"language":{"readOnly":false,"$ref":"#/definitions/json_LanguageRestDto"},"assetTitle":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"popularity":{"readOnly":false,"description":"","type":"number"},"publishFrom":{"readOnly":false,"description":"","type":"number"},"publishTo":{"readOnly":false,"description":"","type":"number"},"validFrom":{"readOnly":false,"description":"","type":"number"},"validTo":{"readOnly":false,"description":"","type":"number"},"versionCount":{"readOnly":false,"description":"","type":"number"},"platform":{"readOnly":false,"$ref":"#/definitions/json_AssetPlatformRestDto"},"downloadApprovalData":{"readOnly":false,"$ref":"#/definitions/json_AssetDownloadApprovalDataV1RestDto"},"themes":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_ThemeRestDto"}},"watchers":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_UserRestDto"}},"variantsCount":{"readOnly":false,"description":"","type":"number"},"variants":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetVariantRestDto"}},"masterAsset":{"readOnly":false,"$ref":"#/definitions/json_IdRestDtoOfInteger"},"customProperties":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetCustomPropertyV1RestDto"}},"isins":{"readOnly":false,"description":"","type":"string"},"hiRes":{"readOnly":false,"description":"","type":"boolean"},"suitableForW2P":{"readOnly":false,"description":"","type":"boolean"},"relationsCount":{"readOnly":false,"description":"","type":"number"},"license":{"readOnly":false,"$ref":"#/definitions/json_LicenseRestDto"},"freeFields":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetFreeFieldV1RestDto"}},"programVersion":{"readOnly":false,"description":"","type":"string"},"resourceVersion":{"readOnly":false,"$ref":"#/definitions/json_AssetResourceVersionRestDto"},"persons":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_PersonRestDto"}},"relations":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetRelationRestDto"}},"structuredKeywords":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetStructuredKeywordRestDto"}},"uploadApprovalData":{"readOnly":false,"$ref":"#/definitions/json_AssetUploadApprovalDataRestDto"},"alternativeImageId":{"readOnly":false,"description":"","type":"number"},"channelPublications":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_ChannelPublicationRestDto"}}}}],"description":""},"json_AssetVariantHandlerTypeRestDto":{"type":"string","title":"AssetVariantHandlerTypeRestDto","enum":["TRANSFER_VARIANTS","DELETE_VARIANTS","UNASSIGN_VARIANTS"],"description":""},"json_AssetVariantHandlingStrategyRestDto":{"type":"object","title":"AssetVariantHandlingStrategyRestDto","properties":{"type":{"readOnly":false,"$ref":"#/definitions/json_AssetVariantHandlerTypeRestDto"},"transferToAssetId":{"readOnly":false,"description":"","type":"number"}},"description":""},"json_AssetVariantRestDto":{"type":"object","title":"AssetVariantRestDto","allOf":[{"$ref":"#/definitions/json_IdRestDto"},{}],"description":""},"json_AssetVariantSourcesRequestRestDto":{"type":"object","title":"AssetVariantSourcesRequestRestDto","properties":{"variantIds":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetVariantRestDto"}},"fromMasterId":{"readOnly":false,"$ref":"#/definitions/json_IdRestDtoOfInteger"}},"description":""},"json_AssetVariantsResponseRestDto":{"type":"object","title":"AssetVariantsResponseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"assetVariants":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetRestDto"}}}}],"description":""},"json_AssetWorkflowStepSelectedApproverRestDto":{"type":"object","title":"AssetWorkflowStepSelectedApproverRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"stepId":{"readOnly":false,"description":"","type":"number"},"selectedApproverId":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_AssetsRelationResponseRestDto":{"type":"object","title":"AssetsRelationResponseRestDto","properties":{"relations":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_RelationRestDto"}},"statuses":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetRelationStatusRestDto"}}},"description":""},"json_AssetsResponseRestDto":{"type":"object","title":"AssetsResponseRestDto","properties":{"assets":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetRestDto"}},"statuses":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetStatusRestDto"}}},"description":""},"json_AttributeNodeIdRestrictionRestDto":{"type":"object","title":"AttributeNodeIdRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: b5cb5cae0b4d7dd8769aecb8b132da62"},"json_AttributeTypeRestDto":{"type":"string","title":"AttributeTypeRestDto","enum":["CUSTOM","STANDARD","SYSTEM"],"description":""},"json_AuditLogRequestRestDto":{"type":"object","title":"AuditLogRequestRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"webhookId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"startDate":{"readOnly":false,"description":"","type":"number"},"endDate":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_AvgAggregationRestDto":{"type":"object","title":"AvgAggregationRestDto","allOf":[{"$ref":"#/definitions/json_ValueAggregationRestDto"},{}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 03b1796041ca3edf8b0e1194abe7d7cf"},"json_AvgDoubleResultRestDto":{"type":"object","title":"AvgDoubleResultRestDto","allOf":[{"$ref":"#/definitions/json_ValueResultRestDto"},{"properties":{"agg":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 2d48bb4de8b600b2e22cbd612d32904e"},"json_BackgroundImageOperationRestDto":{"type":"object","title":"BackgroundImageOperationRestDto","properties":{"selectedImageId":{"readOnly":false,"description":"","type":"number"},"images":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}},"description":""},"json_BaseArchiveEntryRestDto":{"type":"object","title":"BaseArchiveEntryRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"name":{"readOnly":false,"description":"","type":"string"},"size":{"readOnly":false,"description":"","type":"number"},"asset_id":{"readOnly":false,"description":"","type":"number"},"archive_path":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_BaseErrorRestDto":{"type":"object","title":"BaseErrorRestDto","allOf":[{"$ref":"#/definitions/json_BaseLogRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"status":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 9b8f582f17cc0452bd0e2c378eef625b"},"json_BaseLoadableRestDto":{"type":"object","title":"BaseLoadableRestDto","required":["name"],"allOf":[{"$ref":"#/definitions/json_LoadableFieldRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"allowed":{"readOnly":false,"description":"","type":"boolean"},"name":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 2e93268fd33fd68bf2b8eb1deb80d6d3"},"json_BaseLogRestDto":{"type":"object","title":"BaseLogRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"messages":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_RestMessageRestDto"}}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: b0f70441c6de75f23194303b5fb65ab2"},"json_BaseRestDto":{"type":"object","title":"BaseRestDto","properties":{"messageDto":{"readOnly":false,"$ref":"#/definitions/json_MessageRestDto"}},"description":""},"json_BaseSearchableFieldRestDto":{"type":"object","title":"BaseSearchableFieldRestDto","allOf":[{"$ref":"#/definitions/json_SearchableFieldRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"name":{"readOnly":false,"description":"","type":"string"},"description":{"readOnly":false,"description":"","type":"string"},"formula":{"readOnly":false,"$ref":"#/definitions/json_FormulaRestDto"},"options":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_SearchableFieldOptionsRestDto"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: a8fadd690828bfc71b6531dc276de5f4"},"json_BoolComparisonRestDto":{"type":"string","title":"BoolComparisonRestDto","enum":["yes","no","missing"],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate\nMD5 checksum: cf4bf8287ad99788259f31b3955423d6"},"json_BoolCriteriaRestDto":{"type":"object","title":"BoolCriteriaRestDto","allOf":[{"$ref":"#/definitions/json_MultiFieldCriteriaRestDto"},{}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 78dc2e893dd8f1aef4f106d1aed80db0"},"json_BoolFalseCriteriaRestDto":{"type":"object","title":"BoolFalseCriteriaRestDto","allOf":[{"$ref":"#/definitions/json_BoolCriteriaRestDto"},{}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 0b270492c3898b7a5500d90ce1313cd3"},"json_BoolSetComparisonRestDto":{"type":"string","title":"BoolSetComparisonRestDto","enum":["yes","no","missing"],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate\nMD5 checksum: fc19713ce649e719f1361c9a69e1caee"},"json_BoolTrueCriteriaRestDto":{"type":"object","title":"BoolTrueCriteriaRestDto","allOf":[{"$ref":"#/definitions/json_BoolCriteriaRestDto"},{}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: fca180fdf00d7830786b0761a1fcf921"},"json_BooleanAttributeDefaultValueRestDto":{"type":"object","title":"BooleanAttributeDefaultValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeDefaultValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"boolean"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 1e08c5aafa2876634fa21d4083437349"},"json_BooleanAttributeRestDto":{"type":"object","title":"BooleanAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"defaultValue":{"readOnly":false,"description":"","type":"boolean"},"labelTrue":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"labelFalse":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}}}],"description":""},"json_BooleanAttributeValueRestDto":{"type":"object","title":"BooleanAttributeValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"boolean"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 84796d08f6fba375971b9a9460463669"},"json_BooleanRestrictionRestDto":{"type":"object","title":"BooleanRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 9c0d9a7bdca2d8b502091582dc513ed4"},"json_BucketAggregationRestDto":{"type":"object","title":"BucketAggregationRestDto","allOf":[{"$ref":"#/definitions/json_IdNameRestDto"},{"properties":{"count":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_BusinessLogicConflictErrorRestDto":{"type":"object","title":"BusinessLogicConflictErrorRestDto","allOf":[{"$ref":"#/definitions/json_BaseErrorRestDto"},{}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 2847689c2f55a992035e788cc840bfb9"},"json_CategoriesAttributeRestDto":{"type":"object","title":"CategoriesAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{}],"description":""},"json_ChannelPublicationCreateRequestRestDto":{"type":"object","title":"ChannelPublicationCreateRequestRestDto","properties":{"publishingChannelId":{"readOnly":false,"description":"","type":"string"},"publishFrom":{"readOnly":false,"description":"","type":"number"},"publishTo":{"readOnly":false,"description":"","type":"number"},"renderingSchemeId":{"readOnly":false,"description":"","type":"number"},"licenseId":{"readOnly":false,"description":"","type":"number"}},"description":""},"json_ChannelPublicationDeleteRequestRestDto":{"type":"object","title":"ChannelPublicationDeleteRequestRestDto","required":["publishingChannelId"],"properties":{"publishingChannelId":{"readOnly":false,"description":"","type":"string"}},"description":""},"json_ChannelPublicationRestDto":{"type":"object","title":"ChannelPublicationRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"assetId":{"readOnly":false,"description":"","type":"number"},"publishingChannelId":{"readOnly":false,"description":"","type":"string"},"publishFrom":{"readOnly":false,"description":"","type":"number"},"publishTo":{"readOnly":false,"description":"","type":"number"},"renderingSchemeId":{"readOnly":false,"description":"","type":"number"},"licenseId":{"readOnly":false,"description":"","type":"number"},"state":{"readOnly":false,"$ref":"#/definitions/json_ChannelPublicationStateRestDto"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_ChannelPublicationStateRestDto":{"type":"string","title":"ChannelPublicationStateRestDto","enum":["EXPIRED","CURRENT","SCHEDULED"],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate"},"json_ChannelPublicationUpdateRequestRestDto":{"type":"object","title":"ChannelPublicationUpdateRequestRestDto","required":["publishingChannelId"],"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"publishingChannelId":{"readOnly":false,"description":"","type":"string"}},"description":""},"json_CollectionFieldRestDto":{"type":"object","title":"CollectionFieldRestDto","allOf":[{"$ref":"#/definitions/json_EntityFieldRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"restriction":{"readOnly":false,"$ref":"#/definitions/json_CollectionFieldRestrictionRestDto"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: dbe81f4e92c0f8329704254211f09522"},"json_CollectionFieldRestrictionRestDto":{"type":"object","title":"CollectionFieldRestrictionRestDto","properties":{"minItemsIncl":{"readOnly":false,"description":"","type":"number"},"itemRestriction":{"readOnly":false,"$ref":"#/definitions/json_SimpleFieldRestrictionRestDto"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 39e763d5fdfb3c094a4debf1d789b00b"},"json_ColorAttributeRestDto":{"type":"object","title":"ColorAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{}],"description":""},"json_ColorEffectOperationRestDto":{"type":"object","title":"ColorEffectOperationRestDto","properties":{"value":{"readOnly":false,"description":"","type":"string"}},"description":""},"json_CountAggregationRestDto":{"type":"object","title":"CountAggregationRestDto","allOf":[{"$ref":"#/definitions/json_ValueAggregationRestDto"},{"properties":{"lang":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: eced03190441e461f26cd95a1a4f47c9"},"json_CountResultRestDto":{"type":"object","title":"CountResultRestDto","allOf":[{"$ref":"#/definitions/json_ValueResultRestDto"},{"properties":{"agg":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 5697b1030e0b78ba2bf9e0d30ec46686"},"json_CountriesAttributeRestDto":{"type":"object","title":"CountriesAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{}],"description":""},"json_CountryCodeRestrictionRestDto":{"type":"object","title":"CountryCodeRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 5cede80369506c619870e986c716aa89"},"json_CreateWebhookRestDto":{"type":"object","title":"CreateWebhookRestDto","allOf":[{"$ref":"#/definitions/json_WebhookRestConstants"},{"properties":{"title":{"readOnly":false,"description":"","type":"string"},"url":{"readOnly":false,"description":"","type":"string"},"enabled":{"readOnly":false,"description":"","type":"boolean"},"timeoutInSec":{"readOnly":false,"description":"","type":"number"},"filterId":{"readOnly":false,"description":"","type":"number"},"events":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_EventTypesRestDto"}}}}],"description":""},"json_CriteriaRestDto":{"type":"object","title":"CriteriaRestDto","properties":{"name":{"readOnly":false,"description":"","type":"string"},"comparator":{"readOnly":false,"description":"","type":"string"},"value":{"readOnly":false,"description":"","type":"string"},"multiValue":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}},"unit":{"readOnly":false,"description":"","type":"string"},"valid":{"readOnly":false,"description":"","type":"boolean"},"enabled":{"readOnly":false,"description":"","type":"boolean"}},"description":""},"json_CropOperationRestDto":{"type":"object","title":"CropOperationRestDto","properties":{"width":{"readOnly":false,"description":"","type":"number"},"height":{"readOnly":false,"description":"","type":"number"},"left":{"readOnly":false,"description":"","type":"number"},"top":{"readOnly":false,"description":"","type":"number"},"minWidth":{"readOnly":false,"description":"","type":"number"},"minHeight":{"readOnly":false,"description":"","type":"number"},"unit":{"readOnly":false,"description":"","type":"string"},"resolution":{"readOnly":false,"description":"","type":"number"}},"description":""},"json_CustomObjectResponseRestDto":{"type":"object","title":"CustomObjectResponseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"customObjects":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_CustomObjectRestDto"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_CustomObjectRestDto":{"type":"object","title":"CustomObjectRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"id":{"readOnly":false,"description":"","type":"number"},"name":{"readOnly":false,"description":"","type":"string"},"label":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_DateAttributeDefaultValueRestDto":{"type":"object","title":"DateAttributeDefaultValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeDefaultValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 3195767392c01d91efe342399e4b9e3a"},"json_DateAttributeRestDto":{"type":"object","title":"DateAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"minValue":{"readOnly":false,"description":"","type":"string"},"maxValue":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_DateAttributeValueRestDto":{"type":"object","title":"DateAttributeValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 0854c8219bcd43658c08a322c5adaecd"},"json_DateComparisonRestDto":{"type":"string","title":"DateComparisonRestDto","enum":["eq","lt","le","gt","ge","in","missing"],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate\nMD5 checksum: 4a2cd85842a7bca90ac9c7f6c5a424c7"},"json_DateRangeAttributeDefaultValueRestDto":{"type":"object","title":"DateRangeAttributeDefaultValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeDefaultValueRestDto"},{"properties":{"valueStart":{"readOnly":false,"description":"","type":"string"},"valueEnd":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 433083af1e4285e23e0e92066c380871"},"json_DateRangeAttributeRestDto":{"type":"object","title":"DateRangeAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"minValue":{"readOnly":false,"description":"","type":"string"},"maxValue":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_DateRangeAttributeValueRestDto":{"type":"object","title":"DateRangeAttributeValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeValueRestDto"},{"properties":{"valueStart":{"readOnly":false,"description":"","type":"string"},"valueEnd":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 135b749f8d21f4da569482a26f35574a"},"json_DateRangeRestDto":{"type":"object","title":"DateRangeRestDto","properties":{"from":{"readOnly":false,"description":"","type":"number"},"to":{"readOnly":false,"description":"","type":"number"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: fdb15dda1dc03f8c97cfb4f7dde2cffa"},"json_DateRangeRestrictionRestDto":{"type":"object","title":"DateRangeRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"minValueIncl":{"readOnly":false,"description":"","type":"string"},"maxValueIncl":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: d729023bc1d904ecbe6a5eb9e7f0b779"},"json_DateRestrictionRestDto":{"type":"object","title":"DateRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"minValueIncl":{"readOnly":false,"description":"","type":"string"},"maxValueIncl":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: c3798e51d421ea2ee318d653c422e9de"},"json_DateSetComparisonRestDto":{"type":"string","title":"DateSetComparisonRestDto","enum":["eq","lt","le","gt","ge","in","missing"],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate\nMD5 checksum: d1f03f0df7b04e898db8f29d04d08524"},"json_DateTimeAttributeDefaultValueRestDto":{"type":"object","title":"DateTimeAttributeDefaultValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeDefaultValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: c9956e8c237276516b20eee62d75ad63"},"json_DateTimeAttributeRestDto":{"type":"object","title":"DateTimeAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"minValue":{"readOnly":false,"description":"","type":"number"},"maxValue":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_DateTimeAttributeValueRestDto":{"type":"object","title":"DateTimeAttributeValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 537d66e9862fbdc09dabe447129572d7"},"json_DateTimeRangeRestrictionRestDto":{"type":"object","title":"DateTimeRangeRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"minValueIncl":{"readOnly":false,"description":"","type":"number"},"maxValueIncl":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 08ac0284c7b45ce8f4fc4d7f3224e5ce"},"json_DateTimeRestrictionRestDto":{"type":"object","title":"DateTimeRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"minValueIncl":{"readOnly":false,"description":"","type":"number"},"maxValueIncl":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 9aea5be65b0bcf2498f8c547b9463dd4"},"json_DecimalAttributeDefaultValueRestDto":{"type":"object","title":"DecimalAttributeDefaultValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeDefaultValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: d011dad2a5b14da604ab5754e558f052"},"json_DecimalAttributeRestDto":{"type":"object","title":"DecimalAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"minValue":{"readOnly":false,"description":"","type":"number"},"maxValue":{"readOnly":false,"description":"","type":"number"},"precision":{"readOnly":false,"description":"","type":"number"},"placeholder":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}}}],"description":""},"json_DecimalAttributeValueRestDto":{"type":"object","title":"DecimalAttributeValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: a8b11cb80dc0daee04d4b8088c7fb76a"},"json_DecimalRestrictionRestDto":{"type":"object","title":"DecimalRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"minValueIncl":{"readOnly":false,"description":"","type":"number"},"maxValueIncl":{"readOnly":false,"description":"","type":"number"},"maxDecimalDigitsIncl":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 4476368ab0e0e71f5788fece3eb3a50c"},"json_DisMaxCriteriaRestDto":{"type":"object","title":"DisMaxCriteriaRestDto","allOf":[{"$ref":"#/definitions/json_OrCriteriaRestDto"},{"properties":{"tieBreaker":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: e0f91bddfcd9a2764b9e8c29b004e423"},"json_DivisionRestDto":{"type":"object","title":"DivisionRestDto","allOf":[{"$ref":"#/definitions/json_IdNameRestDto"},{}],"description":""},"json_DoubleComparisonRestDto":{"type":"string","title":"DoubleComparisonRestDto","enum":["eq","lt","le","gt","ge","in","missing"],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate\nMD5 checksum: e3a2f2b8ede4521431ca24226bb78a12"},"json_DoubleRangeRestDto":{"type":"object","title":"DoubleRangeRestDto","properties":{"from":{"readOnly":false,"description":"","type":"number"},"to":{"readOnly":false,"description":"","type":"number"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 3ee4e07acbd387dbc1b7e73d4e2766f9"},"json_DoubleSetComparisonRestDto":{"type":"string","title":"DoubleSetComparisonRestDto","enum":["eq","lt","le","gt","ge","in","missing"],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate\nMD5 checksum: 0347bf75e3543d952397541223385bb1"},"json_DownloadApprovalAttributeRestDto":{"type":"object","title":"DownloadApprovalAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"minLength":{"readOnly":false,"description":"","type":"number"},"maxLength":{"readOnly":false,"description":"","type":"integer","format":"int32"}}}],"description":""},"json_DownloadApprovalRestrictionRestDto":{"type":"object","title":"DownloadApprovalRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: f8c5147f5537d5fd77e60ad581ee877d"},"json_DownloadSchemesRestDto":{"type":"object","title":"DownloadSchemesRestDto","allOf":[{"$ref":"#/definitions/json_IdNameRestDto"},{"properties":{"description":{"readOnly":false,"description":"download scheme description","type":"string"},"type":{"readOnly":false,"description":"download scheme type","type":"string"},"output_format":{"readOnly":false,"description":"download scheme output format","type":"string"},"icon_link":{"readOnly":false,"description":"download scheme icon link","type":"string"},"isUsedInChannelPublication":{"readOnly":false,"description":"is the rendering scheme used in channel publication","type":"boolean"}}}],"description":""},"json_DummyOperationRestDto":{"type":"object","title":"DummyOperationRestDto","properties":{"type":{"readOnly":false,"description":"","type":"string"}},"description":"Used to many any graphic operation type that is not supported in the system."},"json_EditChannelPublicationRequestRestDto":{"type":"object","title":"EditChannelPublicationRequestRestDto","required":["publishTo"],"allOf":[{"$ref":"#/definitions/json_PublishToChannelRequestRestDto"},{"properties":{"publishTo":{"readOnly":false,"description":"","type":"number"},"licenseId":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_EntityFieldRestDto":{"type":"object","title":"EntityFieldRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"name":{"readOnly":false,"description":"","type":"string"},"editable":{"readOnly":false,"description":"","type":"boolean"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 09c8f82168e66ad7ac029f34dcfcac18"},"json_EntitySchemaRestDto":{"type":"object","title":"EntitySchemaRestDto","properties":{"fields":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_EntityFieldRestDto"}}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 3b2cba30c306bbd4feb86635ef0ce8b8"},"json_EqualCriteriaRestDto":{"type":"object","title":"EqualCriteriaRestDto","allOf":[{"$ref":"#/definitions/json_MultiFieldCriteriaRestDto"},{"properties":{"text_value":{"readOnly":false,"description":"","type":"string"},"long_value":{"readOnly":false,"description":"","type":"number"},"double_value":{"readOnly":false,"description":"","type":"number"},"date_value":{"readOnly":false,"description":"","type":"number"},"time_value":{"readOnly":false,"description":"","type":"string"},"langs":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 00a67a84552bb41330eb5ded7e9ad999"},"json_ErrorMessageRestDto":{"type":"object","title":"ErrorMessageRestDto","properties":{"errors":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_MessageRestDto"}}},"description":""},"json_EventTypesRestDto":{"type":"string","title":"EventTypesRestDto","enum":["CREATED","APPROVED","REJECTED","PUBLISHED","PUBLISHING_START","PUBLISHING_END","DEPUBLISHED","METADATA_CHANGED","VERSION_ADDED","VERSION_DELETED","VERSION_OFFICIAL","VERSION_UNOFFICIAL","VARIANT_ADDED","VARIANT_REMOVED","RELATION_ADDED","RELATION_REMOVED","ASSET_REMOVED","ASSET_ARCHIVED","ASSET_REACTIVATED","CATEGORY_ADD","CATEGORY_REMOVE","ASSET_DELETED","CATEGORY_MOVE","TREE_CHANGED","SYNCHRONIZE"],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate"},"json_ExactMatchCriteriaRestDto":{"type":"object","title":"ExactMatchCriteriaRestDto","required":["value"],"allOf":[{"$ref":"#/definitions/json_MultiFieldCriteriaRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"string"},"langs":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}},"fieldsBoost":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"number"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: c2ddcefa75abf333b88be2632aaaccb5"},"json_ExternalDataRestDto":{"type":"object","title":"ExternalDataRestDto","properties":{"articleNumber":{"readOnly":false,"description":"","type":"string"},"articleDescription":{"readOnly":false,"description":"","type":"string"}},"description":""},"json_FieldSortItemRestDto":{"type":"object","title":"FieldSortItemRestDto","allOf":[{"$ref":"#/definitions/json_SortItemRestDto"},{"properties":{"field":{"readOnly":false,"description":"","type":"string"},"lang":{"readOnly":false,"description":"","type":"string"},"missing":{"readOnly":false,"$ref":"#/definitions/json_MissingValueStrategyRestDto"},"setAggregation":{"readOnly":false,"$ref":"#/definitions/json_ValueSetStrategyRestDto"},"text_value":{"readOnly":false,"description":"","type":"string"},"long_value":{"readOnly":false,"description":"","type":"number"},"double_value":{"readOnly":false,"description":"","type":"number"},"date_value":{"readOnly":false,"description":"","type":"number"},"time_value":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 98c33f774e5f73a9d293eb20f3d02770"},"json_FileGenerationTaskRestDto":{"type":"object","title":"FileGenerationTaskRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_FileNameAttributeRestDto":{"type":"object","title":"FileNameAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"numberOfLines":{"readOnly":false,"description":"","type":"integer","format":"int32"},"minLength":{"readOnly":false,"description":"","type":"integer","format":"int32"},"maxLength":{"readOnly":false,"description":"","type":"integer","format":"int32"}}}],"description":""},"json_FileResourceRestDto":{"type":"object","title":"FileResourceRestDto","allOf":[{"$ref":"#/definitions/json_IdRestDto"},{"properties":{"fileName":{"readOnly":false,"description":"","type":"string"},"generatedName":{"readOnly":false,"description":"","type":"string"},"suffix":{"readOnly":false,"description":"","type":"string"},"fileSize":{"readOnly":false,"description":"","type":"number"},"fileResourceType":{"readOnly":false,"description":"","type":"number"},"fileResourceTypeName":{"readOnly":false,"description":"","type":"string"},"md5Hash":{"readOnly":false,"description":"","type":"string"},"colorDepth":{"readOnly":false,"description":"","type":"number"},"colorProfile":{"readOnly":false,"description":"","type":"string"},"colorSpace":{"readOnly":false,"description":"","type":"string"},"compression":{"readOnly":false,"description":"","type":"string"},"width":{"readOnly":false,"description":"","type":"number"},"height":{"readOnly":false,"description":"","type":"number"},"unit":{"readOnly":false,"description":"","type":"number"},"unitName":{"readOnly":false,"description":"","type":"string"},"imageType":{"readOnly":false,"description":"","type":"string"},"recordYear":{"readOnly":false,"description":"","type":"number"},"duration":{"readOnly":false,"description":"","type":"number"},"audioFrameRate":{"readOnly":false,"description":"","type":"number"},"audioSampleRate":{"readOnly":false,"description":"","type":"number"},"audioChannels":{"readOnly":false,"description":"","type":"number"},"audioEncoding":{"readOnly":false,"description":"","type":"string"},"audioVbr":{"readOnly":false,"description":"","type":"boolean"},"audioFrameSizeBits":{"readOnly":false,"description":"","type":"number"},"videoFrameRate":{"readOnly":false,"description":"","type":"number"},"snapshotDate":{"readOnly":false,"description":"","type":"number"},"resolution":{"readOnly":false,"description":"","type":"number"},"passwordProtected":{"readOnly":false,"description":"","type":"boolean"},"pageCount":{"readOnly":false,"description":"","type":"number"},"mimeType":{"readOnly":false,"description":"","type":"string"},"actors":{"readOnly":false,"description":"","type":"string"},"title":{"readOnly":false,"description":"","type":"string"}}}],"description":""},"json_FilterWidgetRestDto":{"type":"object","title":"FilterWidgetRestDto","allOf":[{"$ref":"#/definitions/json_StandardWidgetRestDto"},{"properties":{"isFilter":{"readOnly":false,"description":"","type":"boolean"}}}],"description":""},"json_FixedRelevanceCriteriaRestDto":{"type":"object","title":"FixedRelevanceCriteriaRestDto","allOf":[{"$ref":"#/definitions/json_SearchCriteriaRestDto"},{"properties":{"relevance":{"readOnly":false,"description":"","type":"number"},"sub":{"readOnly":false,"$ref":"#/definitions/json_SearchCriteriaRestDto"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 685b701a2bc76c5a387cd585aeffecdd"},"json_FlipHorizontalOperationRestDto":{"type":"object","title":"FlipHorizontalOperationRestDto","description":""},"json_FlipVerticalOperationRestDto":{"type":"object","title":"FlipVerticalOperationRestDto","description":""},"json_ForeignKeyAttributeDefaultValueRestDto":{"type":"object","title":"ForeignKeyAttributeDefaultValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeDefaultValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: bd4e8416fa5592a8ef355a8ebe1b0476"},"json_ForeignKeyAttributeValueRestDto":{"type":"object","title":"ForeignKeyAttributeValueRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeValueRestDto"},{"properties":{"value":{"readOnly":false,"$ref":"#/definitions/json_AssetAttributeNodeRestDto"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 5a8b62de6fd3c87faa01394a66d29149"},"json_FormattedTextAttributeRestDto":{"type":"object","title":"FormattedTextAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{"properties":{"minLength":{"readOnly":false,"description":"","type":"number"},"maxLength":{"readOnly":false,"description":"","type":"number"},"numberOfLines":{"readOnly":false,"description":"","type":"number"},"placeholder":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}}}],"description":""},"json_FormulaRestDto":{"type":"object","title":"FormulaRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 2714e7fa91b23380d13e9db15ab06fb8"},"json_FreeFieldRestDto":{"type":"object","title":"FreeFieldRestDto","properties":{"id":{"readOnly":false,"description":"","type":"number"},"parentId":{"readOnly":false,"description":"","type":"number"},"type":{"readOnly":false,"$ref":"#/definitions/json_FreeFieldTypeRestDto"},"values":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_FreeFieldValueRestDto"}},"name":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_FreeFieldTypeRestDto":{"type":"string","title":"FreeFieldTypeRestDto","enum":["PLAIN_TEXT","SELECTION_BOX","FORMATTED_TEXT"],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate"},"json_FreeFieldUpdateSelectValueRestDto":{"type":"object","title":"FreeFieldUpdateSelectValueRestDto","allOf":[{"$ref":"#/definitions/json_FreeFieldUpdateValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"number"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: a194d76c4b526fd966782e0d75f44cda"},"json_FreeFieldUpdateTextValueRestDto":{"type":"object","title":"FreeFieldUpdateTextValueRestDto","allOf":[{"$ref":"#/definitions/json_FreeFieldUpdateValueRestDto"},{"properties":{"value":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: c06bde3aa1fb7dab91728a5e5ff8a941"},"json_FreeFieldUpdateValueRestDto":{"type":"object","title":"FreeFieldUpdateValueRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"id":{"readOnly":false,"description":"","type":"number"}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 305aa721aa918e0216d2e3db0b619720"},"json_FreeFieldValueRestDto":{"type":"object","title":"FreeFieldValueRestDto","properties":{"id":{"readOnly":false,"description":"","type":"number"},"parentValueId":{"readOnly":false,"description":"","type":"number"},"value":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}},"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"},"json_FreeFieldValueV1RestDto":{"type":"object","title":"FreeFieldValueV1RestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"id":{"readOnly":false,"description":"","type":"number"},"value":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}}}],"description":""},"json_FreeFieldsAttributeRestDto":{"type":"object","title":"FreeFieldsAttributeRestDto","allOf":[{"$ref":"#/definitions/json_AssetAttributeRestDto"},{}],"description":""},"json_FreeFieldsListResponseRestDto":{"type":"object","title":"FreeFieldsListResponseRestDto","allOf":[{"$ref":"#/definitions/json_BaseRestDto"},{"properties":{"freeFields":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_FreeFieldRestDto"}}}}],"description":""},"json_FreeFieldsValueRestrictionRestDto":{"type":"object","title":"FreeFieldsValueRestrictionRestDto","allOf":[{"$ref":"#/definitions/json_AbstractSimpleFieldRestrictionRestDto"},{"properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 0a39f62ab23c47cee9fd32c83569dad5"},"json_GraphicOperationRestDto":{"type":"object","title":"GraphicOperationRestDto","properties":{"type":{"readOnly":false,"description":"","type":"string"}},"description":""},"json_GraphicOperationsPreviewRequest":{"type":"object","title":"GraphicOperationsPreviewRequest","properties":{"maxWidth":{"readOnly":false,"description":"","type":"number"},"maxHeight":{"readOnly":false,"description":"","type":"number"},"outputFormat":{"readOnly":false,"description":"","type":"string"},"operations":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_GraphicOperationRestDto"}}},"description":""},"json_GreaterOrEqualCriteriaRestDto":{"type":"object","title":"GreaterOrEqualCriteriaRestDto","allOf":[{"$ref":"#/definitions/json_MultiFieldCriteriaRestDto"},{"properties":{"long_value":{"readOnly":false,"description":"","type":"number"},"double_value":{"readOnly":false,"description":"","type":"number"},"date_value":{"readOnly":false,"description":"","type":"number"},"time_value":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 65e51e888e785a3519dfc56e571f3d4e"},"json_GreaterThanCriteriaRestDto":{"type":"object","title":"GreaterThanCriteriaRestDto","allOf":[{"$ref":"#/definitions/json_MultiFieldCriteriaRestDto"},{"properties":{"long_value":{"readOnly":false,"description":"","type":"number"},"double_value":{"readOnly":false,"description":"","type":"number"},"date_value":{"readOnly":false,"description":"","type":"number"},"time_value":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 6aa29d6c120f58f4d04cee6566330588"},"json_GroupAddAssignmentsRestDto":{"type":"object","title":"GroupAddAssignmentsRestDto","allOf":[{"$ref":"#/definitions/json_GroupAssignmentsRestDto"},{"properties":{"groupName":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"groupPosition":{"readOnly":false,"description":"","type":"integer","format":"int32"},"assignments":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetTypeToAttributeRestDto"}}}}],"description":""},"json_GroupAggregationRestDto":{"type":"object","title":"GroupAggregationRestDto","allOf":[{"$ref":"#/definitions/json_GroupDistinctAggregationRestDto"},{"properties":{"lang":{"readOnly":false,"description":"","type":"string"}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: c9d6dc9abc635682195be3b42436a550"},"json_GroupAssignmentsRestDto":{"type":"object","title":"GroupAssignmentsRestDto","properties":{"@type":{"readOnly":false,"description":"The JSON object type.","type":"string"}},"description":""},"json_GroupDeleteAssignmentsRestDto":{"type":"object","title":"GroupDeleteAssignmentsRestDto","allOf":[{"$ref":"#/definitions/json_GroupAssignmentsRestDto"},{"properties":{"groupId":{"readOnly":false,"description":"","type":"number"}}}],"description":""},"json_GroupDistinctAggregationRestDto":{"type":"object","title":"GroupDistinctAggregationRestDto","allOf":[{"$ref":"#/definitions/json_OutputAggregationRestDto"},{"properties":{"distinctFormat":{"readOnly":false,"description":"","type":"string"},"orderByGroup":{"readOnly":false,"description":"","type":"boolean"},"orderingSubGroup":{"readOnly":false,"description":"","type":"string"},"orderAsc":{"readOnly":false,"description":"","type":"boolean"},"maxGroups":{"readOnly":false,"description":"","type":"number"},"includeRegex":{"readOnly":false,"description":"","type":"string"},"excludeRegex":{"readOnly":false,"description":"","type":"string"},"text_include":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}},"long_include":{"readOnly":false,"description":"","type":"array","items":{"type":"number"}},"double_include":{"readOnly":false,"description":"","type":"array","items":{"type":"number"}},"text_exclude":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}},"long_exclude":{"readOnly":false,"description":"","type":"array","items":{"type":"number"}},"double_exclude":{"readOnly":false,"description":"","type":"array","items":{"type":"number"}},"subAggs":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_OutputAggregationRestDto"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 0fd289acd505ff91f22f73d569ca8b76"},"json_GroupRangeAggregationRestDto":{"type":"object","title":"GroupRangeAggregationRestDto","allOf":[{"$ref":"#/definitions/json_OutputAggregationRestDto"},{"properties":{"long_ranges":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_LongRangeRestDto"}},"double_ranges":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_DoubleRangeRestDto"}},"date_ranges":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_DateRangeRestDto"}},"time_ranges":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_TimeRangeRestDto"}},"subAggs":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_OutputAggregationRestDto"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 1cee35fda24162047b168c1144c74fd9"},"json_GroupResultRestDto":{"type":"object","title":"GroupResultRestDto","allOf":[{"$ref":"#/definitions/json_AggregationResultRestDto"},{"properties":{"count":{"readOnly":false,"description":"","type":"number"},"subGroups":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_SubGroupResultRestDto"}}}}],"description":"This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate\nMD5 checksum: 51a3fca30cee4c852408228791c06c83"},"json_GroupUpdateAssignmentsRestDto":{"type":"object","title":"GroupUpdateAssignmentsRestDto","allOf":[{"$ref":"#/definitions/json_GroupAssignmentsRestDto"},{"properties":{"groupId":{"readOnly":false,"description":"","type":"number"},"groupName":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"groupPosition":{"readOnly":false,"description":"","type":"number"},"assignments":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssetTypeToAttributeRestDto"}}}}],"description":""},"json_HealthCheckResultDto":{"type":"object","title":"HealthCheckResultDto","properties":{"name":{"readOnly":false,"description":"","type"
[...]
