{"openapi":"3.0.1","info":{"title":"SHOP REST API","description":"<h2>SHOP REST API</h1>\n      <p>Root context: <b>/shop/api/rest</b></p>","version":"5.0.4-7.5.0"},"servers":[{"url":"https://is-dev2.brandmaker.com"},{"url":"/"}],"security":[{"jwtScheme":[]},{"basicScheme":[]},{"cookieScheme":[]},{"BearerAuth":[]}],"tags":[{"name":"CatalogueGroupRestService","description":"REST service to deal with shop catalogue groups."},{"name":"CatalogueRestService","description":"REST service to deal with shop catalogues."},{"name":"CategoryRestService","description":"REST service to deal with shop categories."},{"name":"CountryRestService","description":"REST service to deal with shop Countries."},{"name":"CurrencyRestService","description":"REST service to deal with shop Currencies."},{"name":"CustomFieldRestService","description":"REST service to deal with custom fields."},{"name":"FilterRestService","description":"REST service to deal with shop filters."},{"name":"HealthRestService"},{"name":"ItemEditorComponentRestService","description":"REST service to deal with item editor components."},{"name":"ItemEditorConfigRestService","description":"REST service to deal with item editor configurations."},{"name":"ItemEditorControlRestService","description":"REST service to deal with item editor controls."},{"name":"ItemFieldRestService","description":"REST service to deal with all fields of items.\n\nOrder of the fields:\n<ul>\n<li>Basic item fields (indicated by \"is a custom field?\" = false and \"is assigned to a supplier?\" = false)</li>\n<li>Custom item fields (indicated by \"is a custom field?\" = true and \"is assigned to a supplier?\" = false)</li>\n<li>Item fields that are assigned to a supplier (indicated by \"is a custom field?\" = false and \"is assigned to a supplier?\" = true)</li>\n<li>Custom item fields that are assigned to a supplier (indicated by \"is a custom field?\" = true and \"is assigned to a supplier?\" = true)</li>\n</ul>\n\n<br>ROLES: service doesn't require specific rights and roles, user just must be AUTHENTICATED."},{"name":"ItemRestService","description":"REST service to deal with shop items.\n\n<br>ROLES: service doesn't require specific rights and roles, user just must be AUTHENTICATED."},{"name":"ItemSearchRestService","description":"REST service for searching items by parameters."},{"name":"ItemTypeRestService","description":"REST service to deal with shop item types.\n\n<br>ROLES: service doesn't require specified rights and roles, user just must be AUTHENTICATED."},{"name":"ItemTypeRestServiceV2","description":"REST service to deal with shop item types, version 2.\n\n<br>ROLES: service doesn't require specified rights and roles, user just must be AUTHENTICATED."},{"name":"MenuRestService","description":"REST service to return the left navigation menu.\n\n<p>ROLES: service requires right WEB_SHOP_SHOP_BROWSE.</p>"},{"name":"OrderHistoryRestService","description":"REST service to deal with orders information."},{"name":"OrderListRestService","description":"REST service to deal with shop order lists."},{"name":"RoleRestService","description":"REST service to return shop user roles."},{"name":"ShoppingCartRestService","description":"REST service for getting shopping cart of current user.\n\n<br>ROLES: service doesn't require specified rights and roles, user just must be AUTHENTICATED."},{"name":"SupplierCustomFieldRestService","description":"REST service to deal with supplier custom fields."},{"name":"SupplierRestService","description":"REST service to deal with shop suppliers."},{"name":"TeaserLayoutRestService","description":"REST service to deal with shop teaser layouts."},{"name":"TeaserRestService","description":"REST service to deal with shop teasers."},{"name":"TopicPageRestService","description":"REST service to deal with shop topic pages."}],"paths":{"/shop/api/rest/v1.0/catalogueGroups":{"get":{"tags":["CatalogueGroupRestService"],"description":"This method retrieves all available catalogue groups as list of short information.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CatalogueGroupRestService-GET_getGroups","responses":{"200":{"description":"Catalogue group list was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupRestDto"}}}}}}},"put":{"tags":["CatalogueGroupRestService"],"description":"This method updates catalogue group with specified parameters.\n\n<br>ROLES: service requires the SHOP_CATALOGUE_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CATALOGUE_MANAGE","operationId":"CatalogueGroupRestService-PUT_update","requestBody":{"description":"Specified catalogue group data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"},"example":"{\n  \"id\" : 12345,\n  \"name\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"defaultSupplierName\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"countCatalogs\" : 12345,\n  \"countSuppliers\" : 12345,\n  \"catalogs\" : [ {\n    \"catalogueId\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    }\n  }, {\n    \"catalogueId\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    }\n  } ],\n  \"suppliers\" : [ {\n    \"supplierId\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"default\" : true,\n    \"canOrder\" : true,\n    \"recipients\" : [ {\n      \"catalogueId\" : 12345,\n      \"departmentId\" : 12345,\n      \"email\" : \"...\",\n      \"name\" : {\n        \"property1\" : \"...\",\n        \"property2\" : \"...\"\n      }\n    }, {\n      \"catalogueId\" : 12345,\n      \"departmentId\" : 12345,\n      \"email\" : \"...\",\n      \"name\" : {\n        \"property1\" : \"...\",\n        \"property2\" : \"...\"\n      }\n    } ],\n    \"departmentId\" : 12345,\n    \"departmentName\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"departmentEmail\" : \"...\"\n  }, {\n    \"supplierId\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"default\" : true,\n    \"canOrder\" : true,\n    \"recipients\" : [ {\n      \"catalogueId\" : 12345,\n      \"departmentId\" : 12345,\n      \"email\" : \"...\",\n      \"name\" : {\n        \"property1\" : \"...\",\n        \"property2\" : \"...\"\n      }\n    }, {\n      \"catalogueId\" : 12345,\n      \"departmentId\" : 12345,\n      \"email\" : \"...\",\n      \"name\" : {\n        \"property1\" : \"...\",\n        \"property2\" : \"...\"\n      }\n    } ],\n    \"departmentId\" : 12345,\n    \"departmentName\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"departmentEmail\" : \"...\"\n  } ]\n}"}},"required":true},"responses":{"200":{"description":"Catalogue group was updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"404":{"description":"Catalogue group was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}}}},"post":{"tags":["CatalogueGroupRestService"],"description":"This method creates catalogue group with specified parameters.\n\n<br>ROLES: service requires the SHOP_CATALOGUE_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CATALOGUE_MANAGE","operationId":"CatalogueGroupRestService-POST_create","requestBody":{"description":"Specified catalogue group data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"},"example":"{\n  \"id\" : 12345,\n  \"name\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"defaultSupplierName\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"countCatalogs\" : 12345,\n  \"countSuppliers\" : 12345,\n  \"catalogs\" : [ {\n    \"catalogueId\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    }\n  }, {\n    \"catalogueId\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    }\n  } ],\n  \"suppliers\" : [ {\n    \"supplierId\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"default\" : true,\n    \"canOrder\" : true,\n    \"recipients\" : [ {\n      \"catalogueId\" : 12345,\n      \"departmentId\" : 12345,\n      \"email\" : \"...\",\n      \"name\" : {\n        \"property1\" : \"...\",\n        \"property2\" : \"...\"\n      }\n    }, {\n      \"catalogueId\" : 12345,\n      \"departmentId\" : 12345,\n      \"email\" : \"...\",\n      \"name\" : {\n        \"property1\" : \"...\",\n        \"property2\" : \"...\"\n      }\n    } ],\n    \"departmentId\" : 12345,\n    \"departmentName\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"departmentEmail\" : \"...\"\n  }, {\n    \"supplierId\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"default\" : true,\n    \"canOrder\" : true,\n    \"recipients\" : [ {\n      \"catalogueId\" : 12345,\n      \"departmentId\" : 12345,\n      \"email\" : \"...\",\n      \"name\" : {\n        \"property1\" : \"...\",\n        \"property2\" : \"...\"\n      }\n    }, {\n      \"catalogueId\" : 12345,\n      \"departmentId\" : 12345,\n      \"email\" : \"...\",\n      \"name\" : {\n        \"property1\" : \"...\",\n        \"property2\" : \"...\"\n      }\n    } ],\n    \"departmentId\" : 12345,\n    \"departmentName\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"departmentEmail\" : \"...\"\n  } ]\n}"}},"required":true},"responses":{"201":{"description":"New catalogue group was created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}}}}},"/shop/api/rest/v1.0/catalogueGroups/{groupId}/catalogue":{"put":{"tags":["CatalogueGroupRestService"],"description":"This method adds catalogue to catalogue group.\n\n<br>ROLES: service requires the SHOP_CATALOGUE_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CATALOGUE_MANAGE","operationId":"CatalogueGroupRestService-PUT_addCatalogue","parameters":[{"name":"groupId","in":"path","description":"Specified catalogue group ID.","required":true,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"catalogueId","in":"query","description":"Unique catalogue ID.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Catalogue was added to catalogue group successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"404":{"description":"Catalogue group was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}}}}},"/shop/api/rest/v1.0/catalogueGroups/{groupId}/catalogue/{catalogueId}":{"delete":{"tags":["CatalogueGroupRestService"],"description":"This method removes specified catalogue from specified catalogue group.\n\n<br>ROLES: service requires the SHOP_CATALOGUE_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CATALOGUE_MANAGE","operationId":"CatalogueGroupRestService-DELETE_deleteCatalogue","parameters":[{"name":"catalogueId","in":"path","description":"Specified catalogue ID.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"groupId","in":"path","description":"Specified catalogue group ID.","required":true,"schema":{"minimum":0,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Catalogue was added to catalogue group successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"404":{"description":"Catalogue group was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}}}}},"/shop/api/rest/v1.0/catalogueGroups/{groupId}/supplier":{"put":{"tags":["CatalogueGroupRestService"],"description":"This method updates supplier information for specified catalogue group.\n\n<br>ROLES: service requires the SHOP_CATALOGUE_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CATALOGUE_MANAGE","operationId":"CatalogueGroupRestService-PUT_updateSupplier","parameters":[{"name":"groupId","in":"path","description":"Specified catalogue group ID.","required":true,"schema":{"minimum":0,"type":"integer","format":"int32"}}],"requestBody":{"description":"Full supplier information for update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSupplierRestDto"},"example":"{\n  \"supplierId\" : 12345,\n  \"name\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"default\" : true,\n  \"canOrder\" : true,\n  \"recipients\" : [ {\n    \"catalogueId\" : 12345,\n    \"departmentId\" : 12345,\n    \"email\" : \"...\",\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    }\n  }, {\n    \"catalogueId\" : 12345,\n    \"departmentId\" : 12345,\n    \"email\" : \"...\",\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    }\n  } ],\n  \"departmentId\" : 12345,\n  \"departmentName\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"departmentEmail\" : \"...\"\n}"}},"required":true},"responses":{"200":{"description":"Supplier of catalogue group was updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSupplierRestDto"}}}},"404":{"description":"Catalogue group was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSupplierRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSupplierRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSupplierRestDto"}}}}}}},"/shop/api/rest/v1.0/catalogueGroups/{groupId}/supplier/{supplierId}":{"get":{"tags":["CatalogueGroupRestService"],"description":"This method retrieves required supplier for specified catalogue group.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CatalogueGroupRestService-GET_getSupplier","parameters":[{"name":"groupId","in":"path","description":"Specified catalogue group ID.","required":true,"schema":{"minimum":0,"type":"integer","format":"int32"}},{"name":"supplierId","in":"path","description":"Required supplier ID.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Catalogue group supplier is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSupplierRestDto"}}}},"404":{"description":"Catalogue group was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSupplierRestDto"}}}},"409":{"description":"Required group supplier doesn't exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSupplierRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSupplierRestDto"}}}}}}},"/shop/api/rest/v1.0/catalogueGroups/{id}":{"get":{"tags":["CatalogueGroupRestService"],"description":"This method returns catalogue group with required identifier.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CatalogueGroupRestService-GET_getGroup","parameters":[{"name":"id","in":"path","description":"Specified catalogue group ID.","required":true,"schema":{"minimum":0,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Catalogue group is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"404":{"description":"Required catalogue group doesn't exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}}}},"delete":{"tags":["CatalogueGroupRestService"],"description":"This method removes catalogue group with specified identifier.\n\n<br>ROLES: service requires the SHOP_CATALOGUE_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CATALOGUE_MANAGE","operationId":"CatalogueGroupRestService-DELETE_delete","parameters":[{"name":"id","in":"path","description":"Unique identifier of the catalogue group.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Catalogue group is deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"404":{"description":"Catalogue group was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRestDto"}}}}}}},"/shop/api/rest/v1.0/catalogues":{"get":{"tags":["CatalogueRestService"],"description":"This method retrieves all available catalogues.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CatalogueRestService-GET_getCatalogues","responses":{"200":{"description":"Catalogue list was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogueRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogueRestDto"}}}}}}},"put":{"tags":["CatalogueRestService"],"description":"This method updates catalogue with specified parameters.\n\n<br>ROLES: service requires the SHOP_CATALOGUE_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CATALOGUE_MANAGE","operationId":"CatalogueRestService-PUT_update","requestBody":{"description":"Updated catalogue data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"},"example":"{\n  \"id\" : 12345,\n  \"label\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"description\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"modified\" : \"...\",\n  \"modifiedUserId\" : 12345,\n  \"deleted\" : true\n}"}},"required":true},"responses":{"200":{"description":"Catalogue was updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}},"404":{"description":"Catalogue was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}}}},"post":{"tags":["CatalogueRestService"],"description":"This method creates catalogue with specified parameters.\n\n<br>ROLES: service requires the SHOP_CATALOGUE_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CATALOGUE_MANAGE","operationId":"CatalogueRestService-POST_create","parameters":[{"name":"description","in":"query","description":"Can be specified, but can be null. Can be specified in multilanguage format: ~{EN-US}EN description~{DE-DE}DE description.","schema":{"type":"string"}},{"name":"label","in":"query","description":"Should be specified and cannot be null. Can be specified in multilanguage format: ~{EN-US}EN label~{DE-DE}DE label.","required":true,"schema":{"pattern":".+","type":"string"}}],"responses":{"201":{"description":"New catalogue was created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}}}}},"/shop/api/rest/v1.0/catalogues/list/info":{"get":{"tags":["CatalogueRestService"],"description":"This method returns short catalogues info as list.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CatalogueRestService-GET_getCataloguesInfo","parameters":[{"name":"limit","in":"query","description":"Limit of catalogues. Must be =&gt; 1, or null.","schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"start","in":"query","description":"First index of catalogues. Must be =&gt; 0, or null.","schema":{"minimum":0,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Catalogues info list was returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueInfoPageRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueInfoPageRestDto"}}}}}}},"/shop/api/rest/v1.0/catalogues/{id}":{"get":{"tags":["CatalogueRestService"],"description":"This method returns catalogue with required identifier.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CatalogueRestService-GET_getCatalogue","parameters":[{"name":"id","in":"path","description":"Specified catalogue ID.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Catalogue is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}},"404":{"description":"Required catalogue wasn't found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}}}},"delete":{"tags":["CatalogueRestService"],"description":"This method deletes catalogue with specified ID.\n\n<br>ROLES: service requires the SHOP_CATALOGUE_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CATALOGUE_MANAGE","operationId":"CatalogueRestService-DELETE_delete","parameters":[{"name":"id","in":"path","description":"Unique catalogue identifier for deletion.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Catalogue is successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}},"404":{"description":"Catalogue is not available.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueRestDto"}}}}}}},"/shop/api/rest/v1.0/catalogues/{id}/export/items":{"post":{"tags":["CatalogueRestService"],"description":"This method exports products of catalogue in CSV format.\n\n<br>ROLES: service requires the SHOP_CATALOGUE_MANAGE or SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CATALOGUE_MANAGE, WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"CatalogueRestService-POST_exportItems","parameters":[{"name":"id","in":"path","description":"Unique catalogue identifier","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Catalogue products were exported successfully.","content":{"application/csv":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Catalogue is not available.","content":{"application/csv":{"schema":{"type":"string","format":"binary"}}}},"500":{"description":"Internal server error","content":{"application/csv":{"schema":{"type":"string","format":"binary"}}}}}}},"/shop/api/rest/v1.0/categories":{"get":{"tags":["CategoryRestService"],"description":"This method retrieves all available sub categories of specified parent identifier as list.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CategoryRestService-GET_getCategories","parameters":[{"name":"parentId","in":"query","description":"Parent category identifier.","schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Categories list was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryRestDto"}}}}}}},"put":{"tags":["CategoryRestService"],"description":"This method updates category with specified parameters.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"CategoryRestService-PUT_update","requestBody":{"description":"Updated category data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"},"example":"{ }"}},"required":true},"responses":{"200":{"description":"Category was updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}},"404":{"description":"Category was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}}}},"post":{"tags":["CategoryRestService"],"description":"This method creates category with specified parameters.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"CategoryRestService-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"},"example":"{ }"}},"required":true},"responses":{"201":{"description":"New category was created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}}}}},"/shop/api/rest/v1.0/categories/all":{"get":{"tags":["CategoryRestService"],"description":"This method retrieves all available categories as list.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CategoryRestService-GET_getCategories1","responses":{"200":{"description":"Categories list was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryRestDto"}}}}}}}},"/shop/api/rest/v1.0/categories/{id}":{"get":{"tags":["CategoryRestService"],"description":"This method returns category with required identifier.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CategoryRestService-GET_getCategory","parameters":[{"name":"id","in":"path","description":"Specified category ID.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Category is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}},"404":{"description":"Required category doesn't exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}}}},"delete":{"tags":["CategoryRestService"],"description":"This method deletes category with specified ID.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"CategoryRestService-DELETE_delete","parameters":[{"name":"id","in":"path","description":"Unique category identifier for deletion.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Category is successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}},"404":{"description":"Category is not available.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRestDto"}}}}}}},"/shop/api/rest/v1.0/countries":{"get":{"tags":["CountryRestService"],"description":"This method retrieves the requested country.\n\n<br>ROLES: service requires the AUTHENTICATED role.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"CountryRestService-GET_getCountries","responses":{"200":{"description":"Countries list was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CountryRestDto"}}}}},"404":{"description":"Countries list is not available","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CountryRestDto"}}}}}}},"put":{"tags":["CountryRestService"],"description":"Updates a country.\n\n<br>ROLES: service requires the SHOP_MANAGE_COUNTRIES role.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_COUNTRIES","operationId":"CountryRestService-PUT_update","requestBody":{"description":"new data for the country to update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCountryDataRestDto"},"example":"{ }"}},"required":true},"responses":{"200":{"description":"Country is updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCountryResultRestDto"}}}},"404":{"description":"Country is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCountryResultRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCountryResultRestDto"}}}}}},"post":{"tags":["CountryRestService"],"description":"Creates a new country.\n\n<br>ROLES: service requires the SHOP_MANAGE_COUNTRIES role.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_COUNTRIES","operationId":"CountryRestService-POST_create","requestBody":{"description":"data for the new country.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryRestDto"},"example":"{ }"}},"required":true},"responses":{"201":{"description":"Country is created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryRestDto"}}}}}}},"/shop/api/rest/v1.0/countries/{id}":{"get":{"tags":["CountryRestService"],"description":"This method retrieves the required country.\n\n<br>ROLES: service requires the AUTHENTICATED role.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"CountryRestService-GET_getCountry","parameters":[{"name":"id","in":"path","description":"unique country identifier","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Country was returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryRestDto"}}}},"404":{"description":"Country was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryRestDto"}}}}}},"delete":{"tags":["CountryRestService"],"description":"This method deletes the specified country and switches dependent suppliers to the specified substitute country.\n\n<br>ROLES: service requires the SHOP_MANAGE_COUNTRIES role.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_COUNTRIES","operationId":"CountryRestService-DELETE_delete","parameters":[{"name":"id","in":"path","description":"Unique country identifier","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"substituteId","in":"query","description":"Unique substitute country identifier","schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Country was deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCountryResultRestDto"}}}},"404":{"description":"Country is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCountryResultRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCountryResultRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCountryResultRestDto"}}}}}}},"/shop/api/rest/v1.0/currencies":{"get":{"tags":["CurrencyRestService"],"description":"This method gets all currencies of the system.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CurrencyRestService-GET_getCurrencies","responses":{"200":{"description":"Currencies list was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CurrencyRestDto"}}}}},"404":{"description":"Currencies list is not available","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CurrencyRestDto"}}}}}}},"put":{"tags":["CurrencyRestService"],"description":"Updates a currency.\n<br>ROLES: service requires the SHOP_MANAGE_CURRENCIES right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CURRENCIES","operationId":"CurrencyRestService-PUT_update","requestBody":{"description":"new data for the currency to update.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"},"example":"{ }"}},"required":true},"responses":{"200":{"description":"Currency is updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}},"404":{"description":"Currency is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}}}},"post":{"tags":["CurrencyRestService"],"description":"Creates a new currency.\n\n<br>ROLES: service requires the SHOP_MANAGE_CURRENCIES right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CURRENCIES","operationId":"CurrencyRestService-POST_create","requestBody":{"description":"data for the new currency.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"},"example":"{ }"}},"required":true},"responses":{"201":{"description":"Currency is created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}}}}},"/shop/api/rest/v1.0/currencies/{id}":{"get":{"tags":["CurrencyRestService"],"description":"This method retrieves the requested currency.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CurrencyRestService-GET_getCurrency","parameters":[{"name":"id","in":"path","description":"unique currency identifier","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Currency was returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}},"404":{"description":"Currency was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}}}},"delete":{"tags":["CurrencyRestService"],"description":"This method deletes the specified currency.\n\n<br>ROLES: service requires the SHOP_MANAGE_CURRENCIES right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CURRENCIES","operationId":"CurrencyRestService-DELETE_delete","parameters":[{"name":"id","in":"path","description":"Unique currency identifier","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Currency was deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}},"404":{"description":"Currency is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRestDto"}}}}}}},"/shop/api/rest/v1.0/customFields":{"put":{"tags":["CustomFieldRestService"],"description":"Updates a custom field.\n\n<br>ROLES: service requires the WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE","operationId":"CustomFieldRestService-PUT_update","requestBody":{"description":"new data for the custom field to update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"},"example":"{ }"}},"required":true},"responses":{"200":{"description":"Custom field updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}},"404":{"description":"Custom field not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}}}},"post":{"tags":["CustomFieldRestService"],"description":"Creates a new custom field.\n\n<br>ROLES: service requires the WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE","operationId":"CustomFieldRestService-POST_create","requestBody":{"description":"data for the new custom field","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"},"example":"{ }"}},"required":true},"responses":{"201":{"description":"Custom field created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}}}}},"/shop/api/rest/v1.0/customFields/byExternalFieldId/{externalFieldId}":{"get":{"tags":["CustomFieldRestService"],"description":"Gets a custom field by its external field ID.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CustomFieldRestService-GET_getByExternalFieldId","parameters":[{"name":"externalFieldId","in":"path","description":"external field ID","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Custom field returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"}}}},"404":{"description":"Custom field not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"}}}}}}},"/shop/api/rest/v1.0/customFields/list/info":{"get":{"tags":["CustomFieldRestService"],"description":"Retrieves the list of common information about custom fields for the settings page.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CustomFieldRestService-GET_getCustomFieldInfo","responses":{"200":{"description":"Custom field list returned successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomFieldInfoRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomFieldInfoRestDto"}}}}}}}},"/shop/api/rest/v1.0/customFields/{id}":{"get":{"tags":["CustomFieldRestService"],"description":"Gets a custom field by its ID.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"CustomFieldRestService-GET_get","parameters":[{"name":"id","in":"path","description":"custom field ID","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Custom field returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"}}}},"404":{"description":"Custom field not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"}}}}}},"delete":{"tags":["CustomFieldRestService"],"description":"Deletes a custom field.\n\n<br>ROLES: service requires the WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE","operationId":"CustomFieldRestService-DELETE_delete","parameters":[{"name":"id","in":"path","description":"custom field ID","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Custom field deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}},"404":{"description":"Custom field not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}}}}},"/shop/api/rest/v1.0/customFields/{id}/move":{"post":{"tags":["CustomFieldRestService"],"description":"Moves a custom field up or down in the list.\n\n<br>ROLES: service requires the WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE","operationId":"CustomFieldRestService-POST_move","parameters":[{"name":"id","in":"path","description":"ID of custom field to move","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"direction","in":"query","description":"direction in which to move the custom field","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Custom field moved successfully"},"409":{"description":"This is already the first or last custom field"},"500":{"description":"Internal server error"}}}},"/shop/api/rest/v1.0/filters":{"get":{"tags":["FilterRestService"],"description":"This method retrieves all available filters as list.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"FilterRestService-GET_getFilters","responses":{"200":{"description":"Filters list was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilterRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilterRestDto"}}}}}}},"put":{"tags":["FilterRestService"],"description":"This method updates specified filter.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"FilterRestService-PUT_update","requestBody":{"description":"Filter data with specified identifier.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"},"example":"{\n  \"id\" : 12345,\n  \"name\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"filterType\" : \"ITEM\",\n  \"index\" : 12345,\n  \"itemAdministration\" : true,\n  \"endUser\" : true,\n  \"orderHistory\" : true,\n  \"criterias\" : [ {\n    \"filterId\" : 12345,\n    \"id\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"description\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"index\" : 12345,\n    \"conditions\" : [ {\n      \"logicOperator\" : \"OR\",\n      \"condition\" : { }\n    }, {\n      \"logicOperator\" : \"OR\",\n      \"condition\" : { }\n    } ]\n  }, {\n    \"filterId\" : 12345,\n    \"id\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"description\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"index\" : 12345,\n    \"conditions\" : [ {\n      \"logicOperator\" : \"OR\",\n      \"condition\" : { }\n    }, {\n      \"logicOperator\" : \"AND\",\n      \"condition\" : { }\n    } ]\n  } ]\n}"}},"required":true},"responses":{"200":{"description":"Filter was updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"404":{"description":"Filter was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"409":{"description":"Filter data is not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}}}},"post":{"tags":["FilterRestService"],"description":"This method creates new filter.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"FilterRestService-POST_create","requestBody":{"description":"Specified filter for creation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"},"example":"{\n  \"id\" : 12345,\n  \"name\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"filterType\" : \"ITEM\",\n  \"index\" : 12345,\n  \"itemAdministration\" : true,\n  \"endUser\" : true,\n  \"orderHistory\" : true,\n  \"criterias\" : [ {\n    \"filterId\" : 12345,\n    \"id\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"description\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"index\" : 12345,\n    \"conditions\" : [ {\n      \"logicOperator\" : \"OR\",\n      \"condition\" : { }\n    }, {\n      \"logicOperator\" : \"OR\",\n      \"condition\" : { }\n    } ]\n  }, {\n    \"filterId\" : 12345,\n    \"id\" : 12345,\n    \"name\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"description\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"index\" : 12345,\n    \"conditions\" : [ {\n      \"logicOperator\" : \"AND\",\n      \"condition\" : { }\n    }, {\n      \"logicOperator\" : \"AND\",\n      \"condition\" : { }\n    } ]\n  } ]\n}"}},"required":true},"responses":{"201":{"description":"New filter was created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"409":{"description":"Filter data is not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}}}}},"/shop/api/rest/v1.0/filters/fields":{"get":{"tags":["FilterRestService"],"description":"This method retrieves possible condition fields with possible operators and values.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"FilterRestService-GET_getAvailableConditionFields","responses":{"200":{"description":"Fields list was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilterConditionPossibleFieldRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilterConditionPossibleFieldRestDto"}}}}}}}},"/shop/api/rest/v1.0/filters/list/info":{"get":{"tags":["FilterRestService"],"description":"This method returns short filters info as list.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"FilterRestService-GET_getFiltersInfo","parameters":[{"name":"limit","in":"query","description":"Limit of filters. Must be =&gt; 1, or null.","schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"start","in":"query","description":"First index of filters. Must be =&gt; 0, or null.","schema":{"minimum":0,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Filters info list was returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterInfoPageRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterInfoPageRestDto"}}}}}}},"/shop/api/rest/v1.0/filters/{filterId}/criterias":{"get":{"tags":["FilterRestService"],"description":"This method returns list of filter's criterias.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"FilterRestService-GET_getFilterCriterias","parameters":[{"name":"filterId","in":"path","description":"Unique filter identifier.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Limit of filter's criteria. Must be =&gt; 1, or null.","schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"start","in":"query","description":"First index of filter's criteria. Must be =&gt; 0, or null.","schema":{"minimum":0,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Filter's criterias list was returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterCriteriasPageRestDto"}}}},"404":{"description":"Filter doesn't exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterCriteriasPageRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterCriteriasPageRestDto"}}}}}}},"/shop/api/rest/v1.0/filters/{id}":{"get":{"tags":["FilterRestService"],"description":"This method returns filter with required identifier.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"FilterRestService-GET_getFilter","parameters":[{"name":"id","in":"path","description":"Specified filter ID.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Filter is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"404":{"description":"Required filter doesn't exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}}}},"put":{"tags":["FilterRestService"],"description":"This method moves specified filter.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"FilterRestService-PUT_move","parameters":[{"name":"id","in":"path","description":"Specified filter identifier.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"direction","in":"query","description":"move direction. See MoveDirectionEnum for available values","required":true,"schema":{"type":"string","enum":["UP","DOWN"]}}],"responses":{"200":{"description":"Filter was moved successfully","content":{"application/json":{"schema":{"type":"string"}}}},"404":{"description":"Filter was not found","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"string"}}}}}},"delete":{"tags":["FilterRestService"],"description":"This method removes filter with specified identifier.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"FilterRestService-DELETE_delete","parameters":[{"name":"id","in":"path","description":"Unique identifier of the filter.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Filter is deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"404":{"description":"Filter was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRestDto"}}}}}}},"/shop/api/rest/v1.0/health/liveness":{"get":{"tags":["HealthRestService"],"description":"Liveness health check resource","operationId":"HealthRestService-GET_getLiveness","responses":{"200":{"description":"All checks are UP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResultDto"}}}},"503":{"description":"Not all checks are UP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResultDto"}}}}}}},"/shop/api/rest/v1.0/health/readiness":{"get":{"tags":["HealthRestService"],"description":"Readiness health check resource","operationId":"HealthRestService-GET_getReadiness","responses":{"200":{"description":"All checks are UP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResultDto"}}}},"503":{"description":"Not all checks are UP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResultDto"}}}}}}},"/shop/api/rest/v1.0/health/startup":{"get":{"tags":["HealthRestService"],"description":"Startup health check resource","operationId":"HealthRestService-GET_getStartup","responses":{"200":{"description":"All checks are UP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResultDto"}}}},"503":{"description":"Not all checks are UP","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResultDto"}}}}}}},"/shop/api/rest/v1.0/itemEditorComponents":{"get":{"tags":["ItemEditorComponentRestService"],"description":"Retrieves the list of item editor components.\n\n<br>ROLES: service requires one of the following roles: SHOP_PRODUCT_MANAGE_OWN, SHOP_PRODUCT_MANAGE_ALL,\nSHOP_STOCK_MANAGE_OWN, SHOP_STOCK_MANAGE_ALL, or SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE, WEB_SHOP_SHOP_PRODUCT_MANAGE_ALL, WEB_SHOP_SHOP_PRODUCT_MANAGE_OWN, WEB_SHOP_SHOP_STOCK_MANAGE_ALL, WEB_SHOP_SHOP_STOCK_MANAGE_OWN","operationId":"ItemEditorComponentRestService-GET_getAll","responses":{"200":{"description":"Item editor components retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemEditorComponentRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemEditorComponentRestDto"}}}}}}}},"/shop/api/rest/v1.0/itemEditorConfigurations":{"put":{"tags":["ItemEditorConfigRestService"],"description":"Creates a new item editor configuration.\n\n<br>ROLES: service requires the SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE role.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE","operationId":"ItemEditorConfigRestService-PUT_update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"},"example":"{\n  \"isDefault\" : true\n}"}},"required":true},"responses":{"201":{"description":"Item editor configuration created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigWarningResultRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigWarningResultRestDto"}}}}}},"post":{"tags":["ItemEditorConfigRestService"],"description":"Creates a new item editor configuration.\n\n<br>ROLES: service requires the SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE role.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE","operationId":"ItemEditorConfigRestService-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"},"example":"{\n  \"isDefault\" : true\n}"}},"required":true},"responses":{"201":{"description":"Item editor configuration created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigWarningResultRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigWarningResultRestDto"}}}}}}},"/shop/api/rest/v1.0/itemEditorConfigurations/copy":{"post":{"tags":["ItemEditorConfigRestService"],"description":"Creates an exact copy of an item editor configuration.\n\n<br>ROLES: service requires the SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE role.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE","operationId":"ItemEditorConfigRestService-POST_copy","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigCopyRequestDto"},"example":"{ }"}},"required":true},"responses":{"201":{"description":"Item editor configuration copied successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}},"404":{"description":"Item editor configuration with the given ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}}}}},"/shop/api/rest/v1.0/itemEditorConfigurations/forUser":{"get":{"tags":["ItemEditorConfigRestService"],"description":"Retrieves a single item editor configuration for the current user.\n\n<br>ROLES: service requires one of the following roles: SHOP_PRODUCT_MANAGE_OWN, SHOP_PRODUCT_MANAGE_ALL,\nSHOP_STOCK_MANAGE_OWN, SHOP_STOCK_MANAGE_ALL, or SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE, WEB_SHOP_SHOP_PRODUCT_MANAGE_ALL, WEB_SHOP_SHOP_PRODUCT_MANAGE_OWN, WEB_SHOP_SHOP_STOCK_MANAGE_ALL, WEB_SHOP_SHOP_STOCK_MANAGE_OWN","operationId":"ItemEditorConfigRestService-GET_getForUser","responses":{"200":{"description":"Item editor configuration retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}}}}},"/shop/api/rest/v1.0/itemEditorConfigurations/list/info":{"get":{"tags":["ItemEditorConfigRestService"],"description":"Retrieves the list of short information about item editor configurations.\n\n<br>ROLES: service requires the SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE role.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE","operationId":"ItemEditorConfigRestService-GET_getShortInfo","responses":{"200":{"description":"Item editor configurations retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemEditorConfigInfoRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemEditorConfigInfoRestDto"}}}}}}}},"/shop/api/rest/v1.0/itemEditorConfigurations/{id}":{"get":{"tags":["ItemEditorConfigRestService"],"description":"Retrieves a single item editor configuration.\n\n<br>ROLES: service requires the SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE role.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE","operationId":"ItemEditorConfigRestService-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Item editor configuration retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}}}},"delete":{"tags":["ItemEditorConfigRestService"],"description":"Deletes an item editor configuration.\n\n<br>ROLES: service requires the SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE role.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE","operationId":"ItemEditorConfigRestService-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Item editor configuration deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}},"404":{"description":"Item editor configuration with the given ID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}},"409":{"description":"Item editor configuration with the given ID is default","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEditorConfigRestDto"}}}}}}},"/shop/api/rest/v1.0/itemEditorControls/definitions":{"get":{"tags":["ItemEditorControlRestService"],"description":"Retrieves the list of item editor control definitions.\n\n<br>ROLES: service requires one of the following roles: SHOP_PRODUCT_MANAGE_OWN, SHOP_PRODUCT_MANAGE_ALL,\nSHOP_STOCK_MANAGE_OWN, SHOP_STOCK_MANAGE_ALL, or SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE, WEB_SHOP_SHOP_PRODUCT_MANAGE_ALL, WEB_SHOP_SHOP_PRODUCT_MANAGE_OWN, WEB_SHOP_SHOP_STOCK_MANAGE_ALL, WEB_SHOP_SHOP_STOCK_MANAGE_OWN","operationId":"ItemEditorControlRestService-GET_getAll","responses":{"200":{"description":"Item editor control definitions retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemEditorControlDefinitionRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemEditorControlDefinitionRestDto"}}}}}}}},"/shop/api/rest/v1.0/itemTypeFields":{"get":{"tags":["ItemFieldRestService"],"description":"This method returns all fields of items that are currently assigned to any item of the given type.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemFieldRestService-GET_getItemFields","parameters":[{"name":"itemTypeId","in":"query","description":"Specified item type id.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"language","in":"query","description":"to use for item field names (optional; defaults to current user language)","schema":{"type":"string"}}],"responses":{"200":{"description":"Custom fields of item is returned.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemFieldRestDto"}}}}},"404":{"description":"Custom fields of item are not available.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemFieldRestDto"}}}}},"409":{"description":"Required item type doesn't exist.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemFieldRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemFieldRestDto"}}}}}}}},"/shop/api/rest/v1.0/itemTypeFields/externalFieldIds":{"get":{"tags":["ItemFieldRestService"],"description":"Returns a list of mappings of field technical names to external field IDs,\ngiven a comma-separated list of technical names.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemFieldRestService-GET_getExternalFieldIdsByTechnicalNames","parameters":[{"name":"technicalNames","in":"query","description":"List of technical names (comma-separated, e.g. technicalname1,technicalname2)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of external field ID mappings is returned.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemFieldNameMappingRestDto"}}}}},"404":{"description":"Some technical names were not found.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemFieldNameMappingRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemFieldNameMappingRestDto"}}}}}}}},"/shop/api/rest/v1.0/itemTypeFields/requiredTechnicalNames":{"get":{"tags":["ItemFieldRestService"],"description":"Returns information about field technical names that are required to display either the item list view\nor the item grid view.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemFieldRestService-GET_getTechnicalNamesRequiredForItemView","parameters":[{"name":"viewType","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of required technical names is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemViewFieldListDto"}}}},"400":{"description":"Invalid view type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemViewFieldListDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemViewFieldListDto"}}}}}}},"/shop/api/rest/v1.0/itemTypeFields/technicalNames":{"get":{"tags":["ItemFieldRestService"],"description":"Returns a list of mappings of external field IDs to field technical names,\ngiven a comma-separated list of external field IDs.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemFieldRestService-GET_getTechnicalNamesByExternalFieldIds","parameters":[{"name":"externalFieldIds","in":"query","description":"List of external field IDs (comma-separated, e.g. 1,2)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of technical name mappings is returned.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemFieldNameMappingRestDto"}}}}},"404":{"description":"Some external field IDs were not found.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemFieldNameMappingRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemFieldNameMappingRestDto"}}}}}}}},"/shop/api/rest/v1.0/itemTypes":{"get":{"tags":["ItemTypeRestService"],"description":"This method gets all item types of the system.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemTypeRestService-GET_getItemTypes","parameters":[{"name":"language","in":"query","description":"to use for item type names (optional; defaults to current user language)","schema":{"type":"string"}}],"responses":{"200":{"description":"Item types list is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemTypeRestDto"}}}},"404":{"description":"Item types list isn't available.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemTypeRestDto"}}}}}}},"/shop/api/rest/v1.0/items":{"get":{"tags":["ItemRestService"],"description":"This method returns all items that are currently assigned to any item of the given type.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemRestService-GET_getItemsByType","parameters":[{"name":"itemTypeId","in":"query","description":"Specified item type id.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"language","in":"query","description":"Specified language. If language is null then system language will be used.","schema":{"type":"string"}}],"responses":{"200":{"description":"Item list was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemRestDto"}}}}},"404":{"description":"Item list is not available","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemRestDto"}}}}},"409":{"description":"Required item type doesn't exist","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemRestDto"}}}}}}},"put":{"tags":["ItemRestService"],"description":"This method updates item with specified fields.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemRestService-PUT_update","parameters":[{"name":"language","in":"query","description":"Specified language for localization of values.","schema":{"type":"string"}}],"requestBody":{"description":"ItemRestDto with ID and specified fields.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRestDto"},"example":"{ }"}},"required":true},"responses":{"200":{"description":"Item was updated successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValueFieldErrorRestDto"}}}}},"404":{"description":"Item was not found","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValueFieldErrorRestDto"}}}}},"409":{"description":"itemDto is not valid","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValueFieldErrorRestDto"}}}}}}},"post":{"tags":["ItemRestService"],"description":"This method returns all items with specified identifiers.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemRestService-POST_getItems","requestBody":{"description":"List of item identifiers.","content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}},"required":true},"responses":{"200":{"description":"Item list was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemRestDto"}}}}},"404":{"description":"Item list is not available","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemRestDto"}}}}},"409":{"description":"Required item type doesn't exist","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemRestDto"}}}}}}}},"/shop/api/rest/v1.0/items/assets":{"get":{"tags":["ItemRestService"],"description":"This method returns dto with link to asset media preview of item.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemRestService-GET_getPreviewImage","parameters":[{"name":"mediaGuid","in":"query","description":"Identifier of asset in Media Pool.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"previewType","in":"query","description":"Preview type of asset.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Preview image is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreviewImageRestDto"}}}},"404":{"description":"Preview image is not available","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreviewImageRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreviewImageRestDto"}}}}}}},"/shop/api/rest/v1.0/items/search":{"get":{"tags":["ItemRestService"],"description":"This method returns item by specified item number.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemRestService-GET_getItem","parameters":[{"name":"itemNumber","in":"query","description":"Specified item number.","required":true,"schema":{"maxLength":2147483647,"minLength":1,"type":"string"}}],"responses":{"200":{"description":"Item is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRestDto"}}}},"409":{"description":"Required item doesn't exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRestDto"}}}}}}},"/shop/api/rest/v1.0/items/{id}":{"get":{"tags":["ItemRestService"],"description":"This method returns item with required identifier.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemRestService-GET_getItem1","parameters":[{"name":"id","in":"path","description":"Specified item ID","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"language","in":"query","description":"Specified language. If language is null then system language is used.","schema":{"type":"string"}}],"responses":{"200":{"description":"Item is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRestDto"}}}},"409":{"description":"Required item doesn't exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRestDto"}}}}}},"delete":{"tags":["ItemRestService"],"description":"This method deletes item with specified ID.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemRestService-DELETE_delete","parameters":[{"name":"id","in":"path","description":"Unique item identifier for deletion.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"204":{"description":"Item is successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRestDto"}}}},"404":{"description":"Item is not available.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRestDto"}}}}}}},"/shop/api/rest/v1.0/items/{previewType}/asset/{assetId}/version/{versionNumber}":{"get":{"tags":["ItemRestService"],"description":"This method returns bytes of preview image. This method is a proxy to Media Pool rest service.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ItemRestService-GET_getPreviewWithWatermark","parameters":[{"name":"assetId","in":"path","description":"asset's identifier.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"previewType","in":"path","description":"preview type.","required":true,"schema":{"type":"string"}},{"name":"versionNumber","in":"path","description":"asset's version number.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"generateWatermark","in":"query","description":"if true watermark will be generated.","schema":{"type":"boolean"}},{"name":"useAlternative","in":"query","description":"if true alternative preview image will be provided.","schema":{"type":"boolean"}},{"name":"watermarkType","in":"query","description":"type of watermark.","schema":{"type":"string"}}],"responses":{"200":{"description":"binary image file","content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}}},"400":{"description":"invalid preview parameters provided","content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}}},"404":{"description":"asset/version not found","content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}}},"500":{"description":"something went wrong when generating the preview","content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}}},"/shop/api/rest/v1.0/menu":{"get":{"tags":["MenuRestService"],"description":"Returns list of menus to display in left navigation.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"MenuRestService-GET_getMenu","parameters":[{"name":"itemConflictIds","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"useWatchlist","in":"query","required":true,"schema":{"type":"boolean"}},{"name":"watchlistId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"List of menus","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MenuRestDto"}},"example":"[ { } ]"}}}}}},"/shop/api/rest/v1.0/orderLists":{"get":{"tags":["OrderListRestService"],"description":"This method retrieves all available order lists as list.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"OrderListRestService-GET_getOrderLists","responses":{"200":{"description":"List of order lists was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderListRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderListRestDto"}}}}}}},"put":{"tags":["OrderListRestService"],"description":"This method updates specified order list.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"OrderListRestService-PUT_update","requestBody":{"description":"Order list data with specified identifier.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"},"example":"{ }"}},"required":true},"responses":{"200":{"description":"Order list was updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"404":{"description":"Order list was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"409":{"description":"Order list data is not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}}}},"post":{"tags":["OrderListRestService"],"description":"This method creates new order list.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"OrderListRestService-POST_create","requestBody":{"description":"Specified order list data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"},"example":"{ }"}},"required":true},"responses":{"201":{"description":"New order list was created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"409":{"description":"Order list data is not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}}}}},"/shop/api/rest/v1.0/orderLists/{id}":{"get":{"tags":["OrderListRestService"],"description":"This method returns order list with required identifier.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"OrderListRestService-GET_getOrderList","parameters":[{"name":"id","in":"path","description":"Specified order list identifier.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Order list is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"404":{"description":"Required order list doesn't exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}}}},"put":{"tags":["OrderListRestService"],"description":"This method moves specified order list.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"OrderListRestService-PUT_move","parameters":[{"name":"id","in":"path","description":"Specified order list identifier.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"direction","in":"query","description":"move direction. See MoveDirectionEnum for available values","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Order list was moved successfully","content":{"application/json":{"schema":{"type":"string"}}}},"404":{"description":"Order list was not found","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"string"}}}}}},"delete":{"tags":["OrderListRestService"],"description":"This method removes order list with specified identifier.\n\n<br>ROLES: service requires the SHOP_CONTENT_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_CONTENT_MANAGE","operationId":"OrderListRestService-DELETE_delete","parameters":[{"name":"id","in":"path","description":"Unique identifier of the order list.","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Order list is deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"404":{"description":"Order list was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRestDto"}}}}}}},"/shop/api/rest/v1.0/orderhistory/order/{id}":{"get":{"tags":["OrderHistoryRestService"],"description":"This method retrieves order by specified identifier.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"OrderHistoryRestService-GET_getOrderDetails","parameters":[{"name":"id","in":"path","description":"identifier of required order.","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Order details returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderRestDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderRestDto"}}}},"409":{"description":"Order doesn't exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderRestDto"}}}}}}},"/shop/api/rest/v1.0/orderhistory/search":{"post":{"tags":["OrderHistoryRestService"],"description":"This method retrieves orders by required search parameters.\n\n<br>ROLES: service requires one of the following rights:\n<ul>\n<li>SHOP_ORDER_MANAGE_ALL</li>\n<li>SHOP_ORDER_MANAGE_OWN</li>\n<li>SHOP_ORDER_MANAGE_SUPPLIER</li>\n<li>SHOP_ORDER_MANAGE_AFFILIATE</li>\n<li>SHOP_ORDER_MANAGE_ORGUNIT</li>\n</ul>.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_ORDER_MANAGE_AFFILIATE, WEB_SHOP_SHOP_ORDER_MANAGE_ALL, WEB_SHOP_SHOP_ORDER_MANAGE_ORGUNIT, WEB_SHOP_SHOP_ORDER_MANAGE_OWN, WEB_SHOP_SHOP_ORDER_MANAGE_SUPPLIER","operationId":"OrderHistoryRestService-POST_getOrderHistory","requestBody":{"description":"search parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchOrderRestDto"},"example":"{\n  \"orderNumber\" : \"...\",\n  \"searchText\" : \"...\",\n  \"startDate\" : \"...\",\n  \"endDate\" : \"...\",\n  \"ordererUserId\" : 12345,\n  \"orderDataType\" : \"ORDERS_GROUPED_BY_YEAR\",\n  \"firstRowIndex\" : 12345,\n  \"pageLimit\" : 12345\n}"}}},"responses":{"200":{"description":"Order history was returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderRestDto"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderRestDto"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrderRestDto"}}}}}}}},"/shop/api/rest/v1.0/roles":{"get":{"tags":["RoleRestService"],"description":"Retrieves the list of shop user roles.\n\n<br>ROLES: service requires the SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE role.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_MANAGE_CONFIG_ITEM_EDITOR_PAGE","operationId":"RoleRestService-GET_getAllShopRoles","responses":{"200":{"description":"Shop user roles retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleRestDto"}}}}}}}},"/shop/api/rest/v1.0/search/advanced":{"post":{"tags":["ItemSearchRestService"],"description":"This method provides items which fit search parameters.\n\n<br>ROLES: service requires the SHOP_ADVANCED_SEARCH right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_ADVANCED_SEARCH","operationId":"ItemSearchRestService-POST_search","requestBody":{"description":"Search parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdvancedSearchQueryRestDto"},"example":"{ }"}}},"responses":{"200":{"description":"Items returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSearchResultRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSearchResultRestDto"}}}},"409":{"description":"Search data is not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSearchResultRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSearchResultRestDto"}}}}}}},"/shop/api/rest/v1.0/search/simple":{"post":{"tags":["ItemSearchRestService"],"description":"This method provides items which fit search parameters.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"ItemSearchRestService-POST_search1","requestBody":{"description":"Search parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpleSearchQueryRestDto"},"example":"{ }"}}},"responses":{"200":{"description":"Items returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSearchResultRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSearchResultRestDto"}}}},"409":{"description":"Search data is not valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSearchResultRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemSearchResultRestDto"}}}}}}},"/shop/api/rest/v1.0/shoppingcart":{"get":{"tags":["ShoppingCartRestService"],"description":"This method retrieves shopping cart of current user.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ShoppingCartRestService-GET_getShoppingCart","parameters":[{"name":"previewType","in":"query","description":"Item preview type (small, middle, thumbnail and e.g.; thumbnail by default)","schema":{"type":"string"}}],"responses":{"200":{"description":"Shopping cart is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}}}},"post":{"tags":["ShoppingCartRestService"],"description":"This method retrieves shopping cart of current user.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ShoppingCartRestService-POST_getShoppingCart","parameters":[{"name":"previewType","in":"query","description":"Item preview type (small, middle, thumbnail and e.g.; thumbnail by default)","schema":{"type":"string"}}],"requestBody":{"description":"see the description of ShoppingCartSortRestDto","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartSortRestDto"},"example":"{\n  \"fields\" : [ {\n    \"field\" : \"ITEM_TYPE\",\n    \"direction\" : \"SORT_ASCENDING\",\n    \"ignoreCase\" : \"CASE_INSENSITIVE\"\n  }, {\n    \"field\" : \"ITEM_LABEL\",\n    \"direction\" : \"SORT_ASCENDING\",\n    \"ignoreCase\" : \"CASE_INSENSITIVE\"\n  } ]\n}"}}},"responses":{"200":{"description":"Shopping cart is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}}}}},"/shop/api/rest/v1.0/shoppingcart/clean":{"put":{"tags":["ShoppingCartRestService"],"description":"This method cleans shopping cart of current user.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ShoppingCartRestService-PUT_cleanShoppingCart","responses":{"200":{"description":"Shopping cart is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartRestDto"}}}}}}},"/shop/api/rest/v1.0/shoppingcart/delete/{cartId}":{"put":{"tags":["ShoppingCartRestService"],"description":"This method removes position from shopping cart.\n\n__Security Roles Allowed:__ AUTHENTICATED","operationId":"ShoppingCartRestService-PUT_deleteShoppingCartItem","parameters":[{"name":"cartId","in":"path","description":"Shopping cart position identifier. You can get it from ShoppingCartRestDto.","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Shopping cart position is deleted.","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"string"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/shop/api/rest/v1.0/supplierCustomFields":{"put":{"tags":["SupplierCustomFieldRestService"],"description":"Updates a supplier custom field.\n\n<br>ROLES: service requires the WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE","operationId":"SupplierCustomFieldRestService-PUT_update","requestBody":{"description":"new data for the supplier custom field to update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierCustomFieldRestDto"},"example":"{ }"}},"required":true},"responses":{"200":{"description":"Supplier custom field updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierCustomFieldRestDto"}}}},"404":{"description":"Supplier custom field not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierCustomFieldRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierCustomFieldRestDto"}}}}}},"post":{"tags":["SupplierCustomFieldRestService"],"description":"Creates a new supplier custom field.\n\n<br>ROLES: service requires the WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE","operationId":"SupplierCustomFieldRestService-POST_create","requestBody":{"description":"data for the new supplier custom field","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierCustomFieldRestDto"},"example":"{ }"}},"required":true},"responses":{"201":{"description":"Supplier custom field created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierCustomFieldRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierCustomFieldRestDto"}}}}}}},"/shop/api/rest/v1.0/supplierCustomFields/list/info":{"get":{"tags":["SupplierCustomFieldRestService"],"description":"Retrieves the list of short information about supplier custom fields for the settings page.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"SupplierCustomFieldRestService-GET_getShortInfo","responses":{"200":{"description":"Supplier custom field list returned successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SupplierCustomFieldInfoRestDto"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SupplierCustomFieldInfoRestDto"}}}}}}}},"/shop/api/rest/v1.0/supplierCustomFields/{id}":{"get":{"tags":["SupplierCustomFieldRestService"],"description":"Gets a supplier custom field by its ID.\n\n<br>ROLES: service requires the SHOP_BROWSE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_BROWSE","operationId":"SupplierCustomFieldRestService-GET_get","parameters":[{"name":"id","in":"path","description":"supplier custom field ID","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Supplier custom field returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"}}}},"404":{"description":"Supplier custom field not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldRestDto"}}}}}},"delete":{"tags":["SupplierCustomFieldRestService"],"description":"Deletes a supplier custom field.\n\n<br>ROLES: service requires the WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE","operationId":"SupplierCustomFieldRestService-DELETE_delete","parameters":[{"name":"id","in":"path","description":"supplier custom field ID","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Supplier custom field deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}},"404":{"description":"Supplier custom field not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldWarningResultRestDto"}}}}}}},"/shop/api/rest/v1.0/supplierCustomFields/{id}/move":{"post":{"tags":["SupplierCustomFieldRestService"],"description":"Moves a supplier custom field up or down in the list.\n\n<br>ROLES: service requires the WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE right.\n\n__Security Roles Allowed:__ WEB_SHOP_SHOP_GLOBAL_SETTINGS_MANAGE","operationId":"SupplierCustomFieldRestService-POST_move","parameters":[{"name":"id","in":"path","description":"ID of supplier custom field to move","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"direction","in":"query","description":"direction in which to move the custom field","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Supplier custom field moved successfully"},"409":{"description":"This is already th
[...]
