{"openapi":"3.0.1","info":{"title":"User API","description":"User API documentation","version":"1.0.99"},"servers":[{"url":"https://user.uptempo.io"},{"url":"/"}],"security":[{"jwtScheme":[]},{"BearerAuth":[]}],"tags":[{"name":"Addresses","description":"REST API which manages Address.\nUser's address. User can have several addresses (e.g. invoice/delivery/physical)."},{"name":"Auth Data","description":"REST API which manages AuthData.\nAuthData contains all user auth-related information regarding passwords, login properties, etc.\nAuth data object is created together with User object."},{"name":"Calendar Ranges","description":"REST API which manages CalendarRange.\nCalendar ranges. Calendars represent user personal vacation calendar or company calendars."},{"name":"Company Calendars","description":"REST API which manages CompanyCalendar.\nCompany calendars represents company vacation days."},{"name":"Distribution Lists","description":"REST API which manages DistributionList.\nDistribution list is a list of email recipients."},{"name":"Group Memberships","description":"REST API which manages GroupMembership.\nRepresents User's membeship in the Group.\nOne user can be a part of many Groups."},{"name":"Group-Role-Sso Assignments","description":"REST API which manages GroupRoleSsoAssignment.\nSSO mapping for GroupRole pair."},{"name":"Group-Role-User Assignments","description":"REST API which manages GroupRoleUserAssignment.\nUser - Group - Role mapping.\nUsed for permissions management on the Group level."},{"name":"Groups","description":"REST API which manages Group.\nUser group. One user can be a part of many groups."},{"name":"Labels","description":"REST API which manages Label.\nUser's labels - unique strings which can be assigned to a user."},{"name":"Login Requests","description":"REST API which manages LoginRequest.\nContains all Login Request information for a user."},{"name":"Old Passwords","description":"REST API which manages OldPassword.\nUser's old passwords hash."},{"name":"Organizational Unit","description":"REST API which manages OrgUnit.\nOrganizational unit. One user must be a part of one organizational unit."},{"name":"Permissions","description":"REST API which manages Permission.\nIf user has a permission, then he has access to a specific functionality.\nUser can obtain a permission if he has a role which contains the permission."},{"name":"Personal Data","description":"REST API which manages PersonalData.\nPersonal data contains user's personal data like phone, fax, etc.\nPersonal data object is created together with User object."},{"name":"Roles","description":"REST API which manages Role.\nRole contains a set of permissions.\nUser can have one role for each role type."},{"name":"Sso Groups","description":"REST API which manages SsoGroup.\nSSO group is used for assigning roles and data to user during SSO authentication."},{"name":"Substitutes","description":"REST API which manages Substitute.\nSubstitute of the user.\nE.g. when delegator goes to vacation he can select several substitutes per type/group."},{"name":"Substitution Configurations","description":"REST API which manages SubstitutionConfiguration.\nSubstitution configuration of a user.\nE.g. when user goes to vacation he configures substitution settings and sets his substitution."},{"name":"User Calendars","description":"REST API which manages UserCalendar.\nUser calendars represents user personal vacation calendar."},{"name":"User Data Types","description":"REST API which manages UserDataType.\nUser generic data contains data which can be registered separately.\nAny service can register it's user fields, so they can be stored in User service.\nUsually service-specific data is stored here."},{"name":"User Data Values","description":"REST API which manages UserDataValue.\nUser generic data contains data which can be registered separately.\nAny service can register it's user fields, so they can be stored in User service.\nUsually service-specific data is stored here."},{"name":"User Preferences","description":"REST API which manages UserPreference.\nPersonal preferences for a user like language, timezone, etc.\nUser preferences object is created together with User object."},{"name":"Users","description":"REST API which manages User.\nUser contains basic user fields and user's relations."},{"name":"Virtual Database Groups","description":"REST API which manages VirtualDbGroup.\nContains a list of virtual databases.\nOne user can have only one virtual database group."},{"name":"Virtual Databases","description":"REST API which manages VirtualDb.\nVirtual database. Can be used for grouping data e.g. in Media Pool.\nVirtual database is assigned to user via the Virtual database groups."},{"name":"Working Hours","description":"REST API which manages WorkingHours.\nUser's working hours for each day of a week.\nUsed for resource management."}],"paths":{"/v1/users/addresses":{"get":{"tags":["Addresses"],"description":"Search Addresses by parameters","operationId":"AddressApi-GET_search","parameters":[{"name":"additionalAddressFirst","in":"query","description":"Search by additionalAddressFirst","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"additionalAddressSecond","in":"query","description":"Search by additionalAddressSecond","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"city","in":"query","description":"Search by city","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"country","in":"query","description":"Search by country","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"createdAtFrom","in":"query","description":"Start datetime to search by Address's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by Address's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"id","in":"query","description":"Search by Address's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by - results will be sorted by specified fields.\nDefault sorting is by creation date.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["ADDITIONAL_ADDRESS_FIRST","ADDITIONAL_ADDRESS_SECOND","CITY","COUNTRY","CREATED_AT","STATE","STREET","STREET_NUMBER","TYPE","UPDATED_AT","ZIP"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"state","in":"query","description":"Search by state","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"street","in":"query","description":"Search by street","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"streetNumber","in":"query","description":"Search by streetNumber","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"Search by type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["INVOICE","DELIVERY","PHYSICAL","POSTAL"]}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by Address's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by Address's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"withTotal","in":"query","description":"if true - search returns total amount of records.\nset false for better performance, when you don't need total amount.","allowEmptyValue":true,"schema":{"type":"boolean","default":false}},{"name":"zip","in":"query","description":"Search by zip","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressSearchResultDto"}}}}}},"post":{"tags":["Addresses"],"description":"Create Address","operationId":"AddressApi-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressCreateDto"},"example":"{\n  \"id\" : \"...\",\n  \"userId\" : \"...\",\n  \"additionalAddressFirst\" : \"...\",\n  \"additionalAddressSecond\" : \"...\",\n  \"city\" : \"...\",\n  \"country\" : \"...\",\n  \"state\" : \"...\",\n  \"street\" : \"...\",\n  \"streetNumber\" : \"...\",\n  \"type\" : \"POSTAL\",\n  \"zip\" : \"...\"\n}"}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDto"}}}}}}},"/v1/users/addresses/batch":{"put":{"tags":["Addresses"],"description":"Batch update/replace Addresses","operationId":"AddressApi-PUT_updateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AddressUpdateDto"}},"example":"{\n  \"...\" : {\n    \"additionalAddressFirst\" : \"...\",\n    \"additionalAddressSecond\" : \"...\",\n    \"city\" : \"...\",\n    \"country\" : \"...\",\n    \"state\" : \"...\",\n    \"street\" : \"...\",\n    \"streetNumber\" : \"...\",\n    \"type\" : \"INVOICE\",\n    \"zip\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressMultiStatusDto"}}}}}},"post":{"tags":["Addresses"],"description":"Batch create Addresses","operationId":"AddressApi-POST_createBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddressCreateDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"userId\" : \"...\",\n  \"additionalAddressFirst\" : \"...\",\n  \"additionalAddressSecond\" : \"...\",\n  \"city\" : \"...\",\n  \"country\" : \"...\",\n  \"state\" : \"...\",\n  \"street\" : \"...\",\n  \"streetNumber\" : \"...\",\n  \"type\" : \"PHYSICAL\",\n  \"zip\" : \"...\"\n} ]"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressMultiStatusDto"}}}}}},"delete":{"tags":["Addresses"],"description":"Batch delete Addresses","operationId":"AddressApi-DELETE_deleteByParams","parameters":[{"name":"additionalAddressFirst","in":"query","description":"Search by additionalAddressFirst","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"additionalAddressSecond","in":"query","description":"Search by additionalAddressSecond","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"city","in":"query","description":"Search by city","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"country","in":"query","description":"Search by country","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"createdAtFrom","in":"query","description":"Start datetime to search by Address's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by Address's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"id","in":"query","description":"Search by Address's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"state","in":"query","description":"Search by state","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"street","in":"query","description":"Search by street","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"streetNumber","in":"query","description":"Search by streetNumber","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"Search by type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["INVOICE","DELIVERY","PHYSICAL","POSTAL"]}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by Address's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by Address's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"zip","in":"query","description":"Search by zip","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddressDto"}}}}}}},"patch":{"tags":["Addresses"],"description":"Batch partial update Addresses","operationId":"AddressApi-PATCH_partialUpdateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AddressUpdateDto"}},"example":"{\n  \"...\" : {\n    \"additionalAddressFirst\" : \"...\",\n    \"additionalAddressSecond\" : \"...\",\n    \"city\" : \"...\",\n    \"country\" : \"...\",\n    \"state\" : \"...\",\n    \"street\" : \"...\",\n    \"streetNumber\" : \"...\",\n    \"type\" : \"POSTAL\",\n    \"zip\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressMultiStatusDto"}}}}}}},"/v1/users/addresses/{id}":{"get":{"tags":["Addresses"],"description":"Get Address by id","operationId":"AddressApi-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDto"}}}},"204":{"description":"ID not found!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDto"}}}}}},"put":{"tags":["Addresses"],"description":"Update/replace Address","operationId":"AddressApi-PUT_update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressUpdateDto"},"example":"{\n  \"additionalAddressFirst\" : \"...\",\n  \"additionalAddressSecond\" : \"...\",\n  \"city\" : \"...\",\n  \"country\" : \"...\",\n  \"state\" : \"...\",\n  \"street\" : \"...\",\n  \"streetNumber\" : \"...\",\n  \"type\" : \"INVOICE\",\n  \"zip\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDto"}}}}}},"delete":{"tags":["Addresses"],"description":"Delete Address by id","operationId":"AddressApi-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"404":{"description":"ID not found!"}}},"patch":{"tags":["Addresses"],"description":"Partial update Address","operationId":"AddressApi-PATCH_partialUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressUpdateDto"},"example":"{\n  \"additionalAddressFirst\" : \"...\",\n  \"additionalAddressSecond\" : \"...\",\n  \"city\" : \"...\",\n  \"country\" : \"...\",\n  \"state\" : \"...\",\n  \"street\" : \"...\",\n  \"streetNumber\" : \"...\",\n  \"type\" : \"INVOICE\",\n  \"zip\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDto"}}}}}}},"/v1/users/auth-data":{"get":{"tags":["Auth Data"],"description":"Search AuthDatas by parameters","operationId":"AuthDataApi-GET_search","parameters":[{"name":"active","in":"query","description":"Search by active","schema":{"type":"boolean"}},{"name":"createdAtFrom","in":"query","description":"Start datetime to search by AuthData's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by AuthData's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"expiresAtFrom","in":"query","description":"Start datetime to search by AuthData's expiresAt (>= expiresAtFrom).","schema":{"type":"string","format":"date-time"}},{"name":"expiresAtTo","in":"query","description":"End datetime to search by AuthData's expiresAt (<= expiresAtTo).","schema":{"type":"string","format":"date-time"}},{"name":"external","in":"query","description":"Search by external","schema":{"type":"boolean"}},{"name":"failedLoginAttemptsAmount","in":"query","description":"Search by failedLoginAttemptsAmount","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"failedLoginStartedAtFrom","in":"query","description":"Start datetime to search by AuthData's failedLoginStartedAt (>= failedLoginStartedAtFrom).","schema":{"type":"string","format":"date-time"}},{"name":"failedLoginStartedAtTo","in":"query","description":"End datetime to search by AuthData's failedLoginStartedAt (<= failedLoginStartedAtTo).","schema":{"type":"string","format":"date-time"}},{"name":"lastPasswordChangedAtFrom","in":"query","description":"Start datetime to search by AuthData's lastPasswordChangedAt (>= lastPasswordChangedAtFrom).","schema":{"type":"string","format":"date-time"}},{"name":"lastPasswordChangedAtTo","in":"query","description":"End datetime to search by AuthData's lastPasswordChangedAt (<= lastPasswordChangedAtTo).","schema":{"type":"string","format":"date-time"}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"locked","in":"query","description":"Search by locked","schema":{"type":"boolean"}},{"name":"login","in":"query","description":"Search by logins","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"loginAsUserAllowed","in":"query","description":"Search by loginAsUserAllowed","schema":{"type":"boolean"}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by - results will be sorted by specified fields.\nDefault sorting is by creation date.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","CREATED_AT","EXPIRES_AT","EXTERNAL","FAILED_ATTEMPTS_AMOUNT","FAILED_ATTEMPTS_STARTED_AT","LAST_PASSWORD_CHANGE_AT","GTC_ACCEPTED_AT","LOCKED","LOGIN_AS_USER_ALLOWED","PUBLIC_USER","UPDATED_AT"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"password","in":"query","description":"Search by password","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"publicUser","in":"query","description":"Search by publicUser","schema":{"type":"boolean"}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by AuthData's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by AuthData's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by userId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"withTotal","in":"query","description":"if true - search returns total amount of records.\nset false for better performance, when you don't need total amount.","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataSearchResultDto"}}}}}}},"/v1/users/auth-data/batch":{"put":{"tags":["Auth Data"],"description":"Batch update/replace AuthDatas","operationId":"AuthDataApi-PUT_updateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AuthDataUpdateDto"}},"example":"{\n  \"...\" : {\n    \"active\" : true,\n    \"expiresAt\" : \"...\",\n    \"external\" : true,\n    \"failedLoginAttemptsAmount\" : 12345,\n    \"failedLoginStartedAt\" : \"...\",\n    \"gtcAcceptedAt\" : \"...\",\n    \"lastPasswordChangeAt\" : \"...\",\n    \"locked\" : true,\n    \"loginAsUserAllowed\" : true,\n    \"publicUser\" : true,\n    \"password\" : \"...\",\n    \"passwordHash\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataMultiStatusDto"}}}}}},"patch":{"tags":["Auth Data"],"description":"Batch partial update AuthDatas","operationId":"AuthDataApi-PATCH_partialUpdateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/AuthDataUpdateDto"}},"example":"{\n  \"...\" : {\n    \"active\" : true,\n    \"expiresAt\" : \"...\",\n    \"external\" : true,\n    \"failedLoginAttemptsAmount\" : 12345,\n    \"failedLoginStartedAt\" : \"...\",\n    \"gtcAcceptedAt\" : \"...\",\n    \"lastPasswordChangeAt\" : \"...\",\n    \"locked\" : true,\n    \"loginAsUserAllowed\" : true,\n    \"publicUser\" : true,\n    \"password\" : \"...\",\n    \"passwordHash\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataMultiStatusDto"}}}}}}},"/v1/users/auth-data/internal":{"get":{"tags":["Auth Data"],"description":"Search InternalAuthDatas by login","operationId":"AuthDataApi-GET_searchForLogin","parameters":[{"name":"login","in":"query","description":"Search order by login.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataInternalDto"}}}}}}},"/v1/users/auth-data/{id}":{"get":{"tags":["Auth Data"],"description":"Get AuthData by id","operationId":"AuthDataApi-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataDto"}}}},"204":{"description":"ID not found!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataDto"}}}}}},"put":{"tags":["Auth Data"],"description":"Update/replace AuthData","operationId":"AuthDataApi-PUT_update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataUpdateDto"},"example":"{\n  \"active\" : true,\n  \"expiresAt\" : \"...\",\n  \"external\" : true,\n  \"failedLoginAttemptsAmount\" : 12345,\n  \"failedLoginStartedAt\" : \"...\",\n  \"gtcAcceptedAt\" : \"...\",\n  \"lastPasswordChangeAt\" : \"...\",\n  \"locked\" : true,\n  \"loginAsUserAllowed\" : true,\n  \"publicUser\" : true,\n  \"password\" : \"...\",\n  \"passwordHash\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataDto"}}}}}},"patch":{"tags":["Auth Data"],"description":"Partial update AuthData","operationId":"AuthDataApi-PATCH_partialUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataUpdateDto"},"example":"{\n  \"active\" : true,\n  \"expiresAt\" : \"...\",\n  \"external\" : true,\n  \"failedLoginAttemptsAmount\" : 12345,\n  \"failedLoginStartedAt\" : \"...\",\n  \"gtcAcceptedAt\" : \"...\",\n  \"lastPasswordChangeAt\" : \"...\",\n  \"locked\" : true,\n  \"loginAsUserAllowed\" : true,\n  \"publicUser\" : true,\n  \"password\" : \"...\",\n  \"passwordHash\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthDataDto"}}}}}}},"/v1/calendars/ranges":{"get":{"tags":["Calendar Ranges"],"description":"Search CalendarRanges by parameters","operationId":"CalendarRangeApi-GET_search","parameters":[{"name":"calendarId","in":"query","description":"Search by calendarId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"createdAtFrom","in":"query","description":"Start datetime to search by CalendarRange's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by CalendarRange's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"endsAtFrom","in":"query","description":"Start datetime to search by CalendarRange's endsAt (>= endsAtFrom).","schema":{"type":"string","format":"date-time"}},{"name":"endsAtTo","in":"query","description":"End datetime to search by CalendarRange's endsAt (<= endsAtTo).","schema":{"type":"string","format":"date-time"}},{"name":"id","in":"query","description":"Search by CalendarRange's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by - results will be sorted by specified fields.\nDefault sorting is by creation date.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["CALENDAR_ID","CREATED_AT","ENDS_AT","STARTS_AT","TYPE","UPDATED_AT"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"startsAtFrom","in":"query","description":"Start datetime to search by CalendarRange's startsAt (>= startsAtFrom).","schema":{"type":"string","format":"date-time"}},{"name":"startsAtTo","in":"query","description":"End datetime to search by CalendarRange's startsAt (<= startsAtTo).","schema":{"type":"string","format":"date-time"}},{"name":"type","in":"query","description":"Search by type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["VACATION"]}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by CalendarRange's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by CalendarRange's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"version","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"withTotal","in":"query","description":"if true - search returns total amount of records.\nset false for better performance, when you don't need total amount.","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeSearchResultDto"}}}}}},"post":{"tags":["Calendar Ranges"],"description":"Create CalendarRange","operationId":"CalendarRangeApi-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeCreateDto"},"example":"{\n  \"id\" : \"...\",\n  \"calendarId\" : \"...\",\n  \"startsAt\" : \"...\",\n  \"endsAt\" : \"...\"\n}"}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeDto"}}}}}}},"/v1/calendars/ranges/applied-calendars":{"get":{"tags":["Calendar Ranges"],"description":"Returns merged user ranges and all applied company calendars with their ranges.","operationId":"CalendarRangeApi-GET_getCalendarsAppliedToUser","parameters":[{"name":"userId","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppliedCalendarsDto"}}}}}}},"/v1/calendars/ranges/applied-ranges":{"get":{"tags":["Calendar Ranges"],"description":"Returns merged CalendarRange's for users. Both User calendars and Company calendars are considered\nwith all selections and filtration. The end result is the ranges when user is not working for any reason.","operationId":"CalendarRangeApi-GET_getRangesAppliedToUser","parameters":[{"name":"userId","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/CalendarRangeDto"}}}}}}}}},"/v1/calendars/ranges/batch":{"put":{"tags":["Calendar Ranges"],"description":"Batch update/replace CalendarRanges","operationId":"CalendarRangeApi-PUT_updateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CalendarRangeUpdateDto"}},"example":"{\n  \"...\" : {\n    \"startsAt\" : \"...\",\n    \"endsAt\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeMultiStatusDto"}}}}}},"post":{"tags":["Calendar Ranges"],"description":"Batch create CalendarRanges","operationId":"CalendarRangeApi-POST_createBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CalendarRangeCreateDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"calendarId\" : \"...\",\n  \"startsAt\" : \"...\",\n  \"endsAt\" : \"...\"\n} ]"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeMultiStatusDto"}}}}}},"delete":{"tags":["Calendar Ranges"],"description":"Batch delete CalendarRanges","operationId":"CalendarRangeApi-DELETE_deleteByParams","parameters":[{"name":"calendarId","in":"query","description":"Search by calendarId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"createdAtFrom","in":"query","description":"Start datetime to search by CalendarRange's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by CalendarRange's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"endsAtFrom","in":"query","description":"Start datetime to search by CalendarRange's endsAt (>= endsAtFrom).","schema":{"type":"string","format":"date-time"}},{"name":"endsAtTo","in":"query","description":"End datetime to search by CalendarRange's endsAt (<= endsAtTo).","schema":{"type":"string","format":"date-time"}},{"name":"id","in":"query","description":"Search by CalendarRange's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"startsAtFrom","in":"query","description":"Start datetime to search by CalendarRange's startsAt (>= startsAtFrom).","schema":{"type":"string","format":"date-time"}},{"name":"startsAtTo","in":"query","description":"End datetime to search by CalendarRange's startsAt (<= startsAtTo).","schema":{"type":"string","format":"date-time"}},{"name":"type","in":"query","description":"Search by type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["VACATION"]}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by CalendarRange's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by CalendarRange's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"version","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CalendarRangeDto"}}}}}}},"patch":{"tags":["Calendar Ranges"],"description":"Batch partial update CalendarRanges","operationId":"CalendarRangeApi-PATCH_partialUpdateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CalendarRangeUpdateDto"}},"example":"{\n  \"...\" : {\n    \"startsAt\" : \"...\",\n    \"endsAt\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeMultiStatusDto"}}}}}}},"/v1/calendars/ranges/{id}":{"get":{"tags":["Calendar Ranges"],"description":"Get CalendarRange by id","operationId":"CalendarRangeApi-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeDto"}}}},"204":{"description":"ID not found!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeDto"}}}}}},"put":{"tags":["Calendar Ranges"],"description":"Update/replace CalendarRange","operationId":"CalendarRangeApi-PUT_update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeUpdateDto"},"example":"{\n  \"startsAt\" : \"...\",\n  \"endsAt\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeDto"}}}}}},"delete":{"tags":["Calendar Ranges"],"description":"Delete CalendarRange by id","operationId":"CalendarRangeApi-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"404":{"description":"ID not found!"}}},"patch":{"tags":["Calendar Ranges"],"description":"Partial update CalendarRange","operationId":"CalendarRangeApi-PATCH_partialUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeUpdateDto"},"example":"{\n  \"startsAt\" : \"...\",\n  \"endsAt\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarRangeDto"}}}}}}},"/v1/calendars/ranges/file/read":{"post":{"tags":["Calendar Ranges"],"operationId":"CalendarRangeApi-POST_readFile","requestBody":{"content":{"multipart/form-data":{"schema":{"title":"ICalFileDescriptionDto","type":"object","properties":{"calendarFile":{"type":"string","format":"binary"},"calendarId":{"type":"string"}}},"encoding":{"calendarFile":{"contentType":"text/calendar"},"calendarId":{"contentType":"text/plain"}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CalendarRangeDto"}}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CalendarRangeDto"}}}}}}}},"/v1/calendars/company":{"get":{"tags":["Company Calendars"],"description":"Search CompanyCalendars by parameters","operationId":"CompanyCalendarApi-GET_search","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by CompanyCalendar's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by CompanyCalendar's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"global","in":"query","description":"Search by global","schema":{"type":"boolean"}},{"name":"groupId","in":"query","description":"Search by Group ids","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"query","description":"Search by CompanyCalendar's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"include","in":"query","description":"Comma-separated list of relations.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["GROUP_IDS","RANGES"]}}},{"name":"label","in":"query","description":"Search by label","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by - results will be sorted by specified fields.\nDefault sorting is by creation date.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["CREATED_AT","GLOBAL","LABEL","UPDATED_AT"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"rangeId","in":"query","description":"Search by Calendar Range ids","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by CompanyCalendar's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by CompanyCalendar's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by Users ids","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"withTotal","in":"query","description":"if true - search returns total amount of records.\nset false for better performance, when you don't need total amount.","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarSearchResultDto"}}}}}},"post":{"tags":["Company Calendars"],"description":"Create CompanyCalendar","operationId":"CompanyCalendarApi-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarCreateDto"},"example":"{\n  \"id\" : \"...\",\n  \"global\" : true,\n  \"label\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"groupsIds\" : [ \"...\", \"...\" ]\n}"}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarBaseDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarBaseDto"}}}}}}},"/v1/calendars/company/applied":{"get":{"tags":["Company Calendars"],"operationId":"CompanyCalendarApi-GET_getAppliedCalendars","parameters":[{"name":"userId","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/CompanyCalendarDto"}}}}}}}}},"/v1/calendars/company/batch":{"put":{"tags":["Company Calendars"],"description":"Batch update/replace CompanyCalendars","operationId":"CompanyCalendarApi-PUT_updateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CompanyCalendarUpdateDto"}},"example":"{\n  \"...\" : {\n    \"global\" : true,\n    \"label\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"groupsIds\" : [ \"...\", \"...\" ]\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarMultiStatusDto"}}}}}},"post":{"tags":["Company Calendars"],"description":"Batch create CompanyCalendars","operationId":"CompanyCalendarApi-POST_createBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompanyCalendarCreateDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"global\" : true,\n  \"label\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"groupsIds\" : [ \"...\", \"...\" ]\n} ]"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarMultiStatusDto"}}}}}},"delete":{"tags":["Company Calendars"],"description":"Batch delete CompanyCalendars","operationId":"CompanyCalendarApi-DELETE_deleteByParams","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by CompanyCalendar's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by CompanyCalendar's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"global","in":"query","description":"Search by global","schema":{"type":"boolean"}},{"name":"groupId","in":"query","description":"Search by Group ids","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"query","description":"Search by CompanyCalendar's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"label","in":"query","description":"Search by label","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"rangeId","in":"query","description":"Search by Calendar Range ids","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by CompanyCalendar's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by CompanyCalendar's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by Users ids","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompanyCalendarBaseDto"}}}}}}},"patch":{"tags":["Company Calendars"],"description":"Batch partial update CompanyCalendars","operationId":"CompanyCalendarApi-PATCH_partialUpdateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CompanyCalendarUpdateDto"}},"example":"{\n  \"...\" : {\n    \"global\" : true,\n    \"label\" : {\n      \"property1\" : \"...\",\n      \"property2\" : \"...\"\n    },\n    \"groupsIds\" : [ \"...\", \"...\" ]\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarMultiStatusDto"}}}}}}},"/v1/calendars/company/init-data":{"get":{"tags":["Company Calendars"],"operationId":"CompanyCalendarApi-GET_getInitData","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarPageInitDto"}}}}}}},"/v1/calendars/company/{id}":{"get":{"tags":["Company Calendars"],"description":"Get CompanyCalendar by id","operationId":"CompanyCalendarApi-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarBaseDto"}}}},"204":{"description":"ID not found!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarBaseDto"}}}}}},"put":{"tags":["Company Calendars"],"description":"Update/replace CompanyCalendar","operationId":"CompanyCalendarApi-PUT_update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarUpdateDto"},"example":"{\n  \"global\" : true,\n  \"label\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"groupsIds\" : [ \"...\", \"...\" ]\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarBaseDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarBaseDto"}}}}}},"delete":{"tags":["Company Calendars"],"description":"Delete CompanyCalendar by id","operationId":"CompanyCalendarApi-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"404":{"description":"ID not found!"}}},"patch":{"tags":["Company Calendars"],"description":"Partial update CompanyCalendar","operationId":"CompanyCalendarApi-PATCH_partialUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarUpdateDto"},"example":"{\n  \"global\" : true,\n  \"label\" : {\n    \"property1\" : \"...\",\n    \"property2\" : \"...\"\n  },\n  \"groupsIds\" : [ \"...\", \"...\" ]\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarBaseDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyCalendarBaseDto"}}}}}}},"/v1/distribution-lists":{"get":{"tags":["Distribution Lists"],"description":"Search DistributionLists by parameters","operationId":"DistributionListApi-GET_search","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by DistributionList's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by DistributionList's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"emails","in":"query","description":"Search by emails","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"id","in":"query","description":"Search by DistributionList's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"include","in":"query","description":"Comma-separated list of relations.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["USER_IDS"]}}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"name","in":"query","description":"Search by name","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by - results will be sorted by specified fields.\nDefault sorting is by creation date.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["CREATED_AT","NAME","UPDATED_AT","VISIBLE"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by DistributionList's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by DistributionList's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by user ids","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"visible","in":"query","description":"Search by visible","schema":{"type":"boolean"}},{"name":"withTotal","in":"query","description":"if true - search returns total amount of records.\nset false for better performance, when you don't need total amount.","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListSearchResultDto"}}}}}},"post":{"tags":["Distribution Lists"],"description":"Create DistributionList","operationId":"DistributionListApi-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListCreateDto"},"example":"{\n  \"id\" : \"...\",\n  \"emails\" : [ \"...\", \"...\" ],\n  \"name\" : \"...\",\n  \"visible\" : true,\n  \"usersIds\" : [ \"...\", \"...\" ]\n}"}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListBaseDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListBaseDto"}}}}}}},"/v1/distribution-lists/batch":{"put":{"tags":["Distribution Lists"],"description":"Batch update/replace DistributionLists","operationId":"DistributionListApi-PUT_updateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DistributionListUpdateDto"}},"example":"{\n  \"...\" : {\n    \"emails\" : [ \"...\", \"...\" ],\n    \"name\" : \"...\",\n    \"visible\" : true,\n    \"usersIds\" : [ \"...\", \"...\" ]\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListMultiStatusDto"}}}}}},"post":{"tags":["Distribution Lists"],"description":"Batch create DistributionLists","operationId":"DistributionListApi-POST_createBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DistributionListCreateDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"emails\" : [ \"...\", \"...\" ],\n  \"name\" : \"...\",\n  \"visible\" : true,\n  \"usersIds\" : [ \"...\", \"...\" ]\n} ]"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListMultiStatusDto"}}}}}},"delete":{"tags":["Distribution Lists"],"description":"Batch delete DistributionLists","operationId":"DistributionListApi-DELETE_deleteByParams","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by DistributionList's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by DistributionList's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"emails","in":"query","description":"Search by emails","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"id","in":"query","description":"Search by DistributionList's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"name","in":"query","description":"Search by name","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by DistributionList's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by DistributionList's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by user ids","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"visible","in":"query","description":"Search by visible","schema":{"type":"boolean"}}],"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DistributionListBaseDto"}}}}}}},"patch":{"tags":["Distribution Lists"],"description":"Batch partial update DistributionLists","operationId":"DistributionListApi-PATCH_partialUpdateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DistributionListUpdateDto"}},"example":"{\n  \"...\" : {\n    \"emails\" : [ \"...\", \"...\" ],\n    \"name\" : \"...\",\n    \"visible\" : true,\n    \"usersIds\" : [ \"...\", \"...\" ]\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListMultiStatusDto"}}}}}}},"/v1/distribution-lists/{id}":{"get":{"tags":["Distribution Lists"],"description":"Get DistributionList by id","operationId":"DistributionListApi-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListBaseDto"}}}},"204":{"description":"ID not found!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListBaseDto"}}}}}},"put":{"tags":["Distribution Lists"],"description":"Update/replace DistributionList","operationId":"DistributionListApi-PUT_update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListUpdateDto"},"example":"{\n  \"emails\" : [ \"...\", \"...\" ],\n  \"name\" : \"...\",\n  \"visible\" : true,\n  \"usersIds\" : [ \"...\", \"...\" ]\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListBaseDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListBaseDto"}}}}}},"delete":{"tags":["Distribution Lists"],"description":"Delete DistributionList by id","operationId":"DistributionListApi-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"404":{"description":"ID not found!"}}},"patch":{"tags":["Distribution Lists"],"description":"Partial update DistributionList","operationId":"DistributionListApi-PATCH_partialUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListUpdateDto"},"example":"{\n  \"emails\" : [ \"...\", \"...\" ],\n  \"name\" : \"...\",\n  \"visible\" : true,\n  \"usersIds\" : [ \"...\", \"...\" ]\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListBaseDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionListBaseDto"}}}}}}},"/v1/group-memberships":{"get":{"tags":["Group Memberships"],"description":"Search GroupMemberships by parameters","operationId":"GroupMembershipApi-GET_search","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by GroupMembership's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by GroupMembership's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"groupId","in":"query","description":"Search by groupId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"query","description":"Search by GroupMembership's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"membershipNotes","in":"query","description":"Search by membershipNotes","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by - results will be sorted by specified fields.\nDefault sorting is by creation date.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["CREATED_AT","GROUP_ID","MEMBERSHIP_NOTES","UPDATED_AT","USER_ID"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by GroupMembership's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by GroupMembership's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by userId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"withTotal","in":"query","description":"if true - search returns total amount of records.\nset false for better performance, when you don't need total amount.","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipSearchResultDto"}}}}}},"post":{"tags":["Group Memberships"],"description":"Create GroupMembership","operationId":"GroupMembershipApi-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipCreateDto"},"example":"{\n  \"id\" : \"...\",\n  \"groupId\" : \"...\",\n  \"membershipNotes\" : \"...\",\n  \"userId\" : \"...\"\n}"}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipDto"}}}}}}},"/v1/group-memberships/batch":{"put":{"tags":["Group Memberships"],"description":"Batch update/replace GroupMemberships","operationId":"GroupMembershipApi-PUT_updateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/GroupMembershipUpdateDto"}},"example":"{\n  \"...\" : {\n    \"groupId\" : \"...\",\n    \"membershipNotes\" : \"...\",\n    \"userId\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipMultiStatusDto"}}}}}},"post":{"tags":["Group Memberships"],"description":"Batch create GroupMemberships","operationId":"GroupMembershipApi-POST_createBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupMembershipCreateDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"groupId\" : \"...\",\n  \"membershipNotes\" : \"...\",\n  \"userId\" : \"...\"\n} ]"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipMultiStatusDto"}}}}}},"delete":{"tags":["Group Memberships"],"description":"Batch delete GroupMemberships","operationId":"GroupMembershipApi-DELETE_deleteByParams","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by GroupMembership's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by GroupMembership's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"groupId","in":"query","description":"Search by groupId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"query","description":"Search by GroupMembership's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"membershipNotes","in":"query","description":"Search by membershipNotes","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by GroupMembership's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by GroupMembership's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by userId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupMembershipDto"}}}}}}},"patch":{"tags":["Group Memberships"],"description":"Batch partial update GroupMemberships","operationId":"GroupMembershipApi-PATCH_partialUpdateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/GroupMembershipUpdateDto"}},"example":"{\n  \"...\" : {\n    \"groupId\" : \"...\",\n    \"membershipNotes\" : \"...\",\n    \"userId\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipMultiStatusDto"}}}}}}},"/v1/group-memberships/{id}":{"get":{"tags":["Group Memberships"],"description":"Get GroupMembership by id","operationId":"GroupMembershipApi-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipDto"}}}},"204":{"description":"ID not found!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipDto"}}}}}},"put":{"tags":["Group Memberships"],"description":"Update/replace GroupMembership","operationId":"GroupMembershipApi-PUT_update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipUpdateDto"},"example":"{\n  \"groupId\" : \"...\",\n  \"membershipNotes\" : \"...\",\n  \"userId\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipDto"}}}}}},"delete":{"tags":["Group Memberships"],"description":"Delete GroupMembership by id","operationId":"GroupMembershipApi-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"404":{"description":"ID not found!"}}},"patch":{"tags":["Group Memberships"],"description":"Partial update GroupMembership","operationId":"GroupMembershipApi-PATCH_partialUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipUpdateDto"},"example":"{\n  \"groupId\" : \"...\",\n  \"membershipNotes\" : \"...\",\n  \"userId\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMembershipDto"}}}}}}},"/v1/v1/sso-groups/group-role-assignments":{"get":{"tags":["Group-Role-Sso Assignments"],"description":"Search GroupRoleSsoAssignments by parameters","operationId":"GroupRoleSsoAssignmentApi-GET_search","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by GroupRoleSsoAssignment's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by GroupRoleSsoAssignment's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"groupId","in":"query","description":"Search by groupId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"query","description":"Search by GroupRoleSsoAssignment's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by - results will be sorted by specified fields.\nDefault sorting is by creation date.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["CREATED_AT","GROUP_ID","ROLE_ID","SSO_GROUP_ID","UPDATED_AT"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"roleId","in":"query","description":"Search by roleId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"ssoGroupId","in":"query","description":"Search by ssoGroupId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by GroupRoleSsoAssignment's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by GroupRoleSsoAssignment's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"withTotal","in":"query","description":"if true - search returns total amount of records.\nset false for better performance, when you don't need total amount.","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleSsoAssignmentSearchResultDto"}}}}}},"post":{"tags":["Group-Role-Sso Assignments"],"description":"Create GroupRoleSsoAssignment","operationId":"GroupRoleSsoAssignmentApi-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleSsoAssignmentCreateDto"},"example":"{\n  \"id\" : \"...\",\n  \"groupId\" : \"...\",\n  \"roleId\" : \"...\",\n  \"ssoGroupId\" : \"...\"\n}"}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleSsoAssignmentDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleSsoAssignmentDto"}}}}}}},"/v1/v1/sso-groups/group-role-assignments/batch":{"post":{"tags":["Group-Role-Sso Assignments"],"description":"Batch create GroupRoleSsoAssignments","operationId":"GroupRoleSsoAssignmentApi-POST_createBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupRoleSsoAssignmentCreateDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"groupId\" : \"...\",\n  \"roleId\" : \"...\",\n  \"ssoGroupId\" : \"...\"\n} ]"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleSsoAssignmentMultiStatusDto"}}}}}},"delete":{"tags":["Group-Role-Sso Assignments"],"description":"Batch delete GroupRoleSsoAssignments","operationId":"GroupRoleSsoAssignmentApi-DELETE_deleteByParams","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by GroupRoleSsoAssignment's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by GroupRoleSsoAssignment's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"groupId","in":"query","description":"Search by groupId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"query","description":"Search by GroupRoleSsoAssignment's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"roleId","in":"query","description":"Search by roleId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"ssoGroupId","in":"query","description":"Search by ssoGroupId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by GroupRoleSsoAssignment's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by GroupRoleSsoAssignment's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}}],"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupRoleSsoAssignmentDto"}}}}}}}},"/v1/v1/sso-groups/group-role-assignments/{id}":{"get":{"tags":["Group-Role-Sso Assignments"],"description":"Get GroupRoleSsoAssignment by id","operationId":"GroupRoleSsoAssignmentApi-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleSsoAssignmentDto"}}}},"204":{"description":"ID not found!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleSsoAssignmentDto"}}}}}},"delete":{"tags":["Group-Role-Sso Assignments"],"description":"Delete GroupRoleSsoAssignment by id","operationId":"GroupRoleSsoAssignmentApi-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"404":{"description":"ID not found!"}}}},"/v1/users/group-role-assignments":{"get":{"tags":["Group-Role-User Assignments"],"description":"Search GroupRoleUserAssignments by parameters","operationId":"GroupRoleUserAssignmentApi-GET_search","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by GroupRoleUserAssignment's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by GroupRoleUserAssignment's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"groupId","in":"query","description":"Search by groupId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"query","description":"Search by GroupRoleUserAssignment's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by - results will be sorted by specified fields.\nDefault sorting is by creation date.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["CREATED_AT","GROUP_ID","ROLE_ID","UPDATED_AT","USER_ID"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"roleId","in":"query","description":"Search by roleId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by GroupRoleUserAssignment's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by GroupRoleUserAssignment's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by userId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"withTotal","in":"query","description":"if true - search returns total amount of records.\nset false for better performance, when you don't need total amount.","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleUserAssignmentSearchResultDto"}}}}}},"post":{"tags":["Group-Role-User Assignments"],"description":"Create GroupRoleUserAssignment","operationId":"GroupRoleUserAssignmentApi-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleUserAssignmentCreateDto"},"example":"{\n  \"id\" : \"...\",\n  \"userId\" : \"...\",\n  \"roleId\" : \"...\",\n  \"groupId\" : \"...\"\n}"}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleUserAssignmentDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleUserAssignmentDto"}}}}}}},"/v1/users/group-role-assignments/batch":{"post":{"tags":["Group-Role-User Assignments"],"description":"Batch create GroupRoleUserAssignments","operationId":"GroupRoleUserAssignmentApi-POST_createBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupRoleUserAssignmentCreateDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"userId\" : \"...\",\n  \"roleId\" : \"...\",\n  \"groupId\" : \"...\"\n} ]"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleUserAssignmentMultiStatusDto"}}}}}},"delete":{"tags":["Group-Role-User Assignments"],"description":"Batch delete GroupRoleUserAssignments","operationId":"GroupRoleUserAssignmentApi-DELETE_deleteByParams","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by GroupRoleUserAssignment's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by GroupRoleUserAssignment's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"groupId","in":"query","description":"Search by groupId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"id","in":"query","description":"Search by GroupRoleUserAssignment's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"roleId","in":"query","description":"Search by roleId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by GroupRoleUserAssignment's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by GroupRoleUserAssignment's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by userId","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupRoleUserAssignmentDto"}}}}}}}},"/v1/users/group-role-assignments/{id}":{"get":{"tags":["Group-Role-User Assignments"],"description":"Get GroupRoleUserAssignment by id","operationId":"GroupRoleUserAssignmentApi-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleUserAssignmentDto"}}}},"204":{"description":"ID not found!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRoleUserAssignmentDto"}}}}}},"delete":{"tags":["Group-Role-User Assignments"],"description":"Delete GroupRoleUserAssignment by id","operationId":"GroupRoleUserAssignmentApi-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"404":{"description":"ID not found!"}}}},"/v1/groups":{"get":{"tags":["Groups"],"description":"Search Groups by parameters","operationId":"GroupApi-GET_search","parameters":[{"name":"admin","in":"query","description":"Search by admin","schema":{"type":"boolean"}},{"name":"createdAtFrom","in":"query","description":"Start datetime to search by Group's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by Group's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"id","in":"query","description":"Search by Group's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"include","in":"query","description":"Comma-separated list of relations.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["MEMBERSHIP_IDS"]}}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"name","in":"query","description":"Search by name","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["ADMIN","CREATED_AT","NAME","TYPE","UPDATED_AT"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"type","in":"query","description":"Search by type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by Group's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by Group's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by User ids","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"withTotal","in":"query","description":"if true - search returns total amount of records.\nset false for better performance, when you don't need total amount.","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupSearchResultDto"}}}}}},"post":{"tags":["Groups"],"description":"Create Group","operationId":"GroupApi-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupCreateDto"},"example":"{\n  \"id\" : \"...\",\n  \"admin\" : true,\n  \"name\" : \"...\",\n  \"type\" : \"...\"\n}"}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupBaseDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupBaseDto"}}}}}}},"/v1/groups/batch":{"put":{"tags":["Groups"],"description":"Batch update/replace Groups","operationId":"GroupApi-PUT_updateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/GroupUpdateDto"}},"example":"{\n  \"...\" : {\n    \"admin\" : true,\n    \"name\" : \"...\",\n    \"type\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMultiStatusDto"}}}}}},"post":{"tags":["Groups"],"description":"Batch create Groups","operationId":"GroupApi-POST_createBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupCreateDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"admin\" : true,\n  \"name\" : \"...\",\n  \"type\" : \"...\"\n} ]"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMultiStatusDto"}}}}}},"delete":{"tags":["Groups"],"description":"Batch delete Groups","operationId":"GroupApi-DELETE_deleteByParams","parameters":[{"name":"admin","in":"query","description":"Search by admin","schema":{"type":"boolean"}},{"name":"createdAtFrom","in":"query","description":"Start datetime to search by Group's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by Group's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"id","in":"query","description":"Search by Group's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"name","in":"query","description":"Search by name","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"Search by type","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by Group's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by Group's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"userId","in":"query","description":"Search by User ids","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupBaseDto"}}}}}}},"patch":{"tags":["Groups"],"description":"Batch partial update Groups","operationId":"GroupApi-PATCH_partialUpdateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/GroupUpdateDto"}},"example":"{\n  \"...\" : {\n    \"admin\" : true,\n    \"name\" : \"...\",\n    \"type\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupMultiStatusDto"}}}}}}},"/v1/groups/{id}":{"get":{"tags":["Groups"],"description":"Get Group by id","operationId":"GroupApi-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupBaseDto"}}}},"204":{"description":"ID not found!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupBaseDto"}}}}}},"put":{"tags":["Groups"],"description":"Update/replace Group","operationId":"GroupApi-PUT_update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupUpdateDto"},"example":"{\n  \"admin\" : true,\n  \"name\" : \"...\",\n  \"type\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupBaseDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupBaseDto"}}}}}},"delete":{"tags":["Groups"],"description":"Delete Group by id","operationId":"GroupApi-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"404":{"description":"ID not found!"}}},"patch":{"tags":["Groups"],"description":"Partial update Group","operationId":"GroupApi-PATCH_partialUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupUpdateDto"},"example":"{\n  \"admin\" : true,\n  \"name\" : \"...\",\n  \"type\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupBaseDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupBaseDto"}}}}}}},"/v1/labels":{"get":{"tags":["Labels"],"description":"Search Labels by parameters","operationId":"LabelApi-GET_search","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by Label's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by Label's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"id","in":"query","description":"Search by Label's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"label","in":"query","description":"Search by label","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by - results will be sorted by specified fields.\nDefault sorting is by creation date.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["CREATED_AT","LABEL","UPDATED_AT"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by Label's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by Label's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"withTotal","in":"query","description":"if true - search returns total amount of records.\nset false for better performance, when you don't need total amount.","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelSearchResultDto"}}}}}},"post":{"tags":["Labels"],"description":"Create Label","operationId":"LabelApi-POST_create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelCreateDto"},"example":"{\n  \"id\" : \"...\",\n  \"label\" : \"...\"\n}"}}},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDto"}}}}}}},"/v1/labels/batch":{"put":{"tags":["Labels"],"description":"Batch update/replace Labels","operationId":"LabelApi-PUT_updateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/LabelUpdateDto"}},"example":"{\n  \"...\" : {\n    \"label\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelMultiStatusDto"}}}}}},"post":{"tags":["Labels"],"description":"Batch create Labels","operationId":"LabelApi-POST_createBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LabelCreateDto"}},"example":"[ {\n  \"id\" : \"...\",\n  \"label\" : \"...\"\n} ]"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelMultiStatusDto"}}}}}},"delete":{"tags":["Labels"],"description":"Batch delete Labels","operationId":"LabelApi-DELETE_deleteByParams","parameters":[{"name":"createdAtFrom","in":"query","description":"Start datetime to search by Label's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by Label's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"id","in":"query","description":"Search by Label's id","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"label","in":"query","description":"Search by label","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"updatedAtFrom","in":"query","description":"Start datetime to search by Label's updatedAt (>= updatedAt).","schema":{"type":"string","format":"date-time"}},{"name":"updatedAtTo","in":"query","description":"End datetime to search by Label's updatedAt (<= updatedAt).","schema":{"type":"string","format":"date-time"}}],"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LabelDto"}}}}}}},"patch":{"tags":["Labels"],"description":"Batch partial update Labels","operationId":"LabelApi-PATCH_partialUpdateBatch","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/LabelUpdateDto"}},"example":"{\n  \"...\" : {\n    \"label\" : \"...\"\n  }\n}"}}},"responses":{"207":{"description":"Multistatus with success and error result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelMultiStatusDto"}}}}}}},"/v1/labels/{id}":{"get":{"tags":["Labels"],"description":"Get Label by id","operationId":"LabelApi-GET_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDto"}}}},"204":{"description":"ID not found!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDto"}}}}}},"put":{"tags":["Labels"],"description":"Update/replace Label","operationId":"LabelApi-PUT_update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelUpdateDto"},"example":"{\n  \"label\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDto"}}}}}},"delete":{"tags":["Labels"],"description":"Delete Label by id","operationId":"LabelApi-DELETE_delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"404":{"description":"ID not found!"}}},"patch":{"tags":["Labels"],"description":"Partial update Label","operationId":"LabelApi-PATCH_partialUpdate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelUpdateDto"},"example":"{\n  \"label\" : \"...\"\n}"}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDto"}}}},"400":{"description":"Input validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDto"}}}}}}},"/v1/users/login-request":{"get":{"tags":["Login Requests"],"description":"Search LoginRequests by parameters","operationId":"LoginRequestApi-GET_search","parameters":[{"name":"configAssistantStep","in":"query","description":"Search by configAssistantStep","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["UPDATE_PASSWORD","PERSONAL_INFORMATION","GTC"]}}},{"name":"contactUserEmail","in":"query","description":"Search by contactUserEmail","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"createdAtFrom","in":"query","description":"Start datetime to search by LoginRequest's createdAt (>= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"createdAtTo","in":"query","description":"End datetime to search by LoginRequest's createdAt (<= createdAt).","schema":{"type":"string","format":"date-time"}},{"name":"emailValidated","in":"query","description":"Search by emailValidated","schema":{"type":"boolean"}},{"name":"limit","in":"query","description":"Search limit","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":50}},{"name":"loginHash","in":"query","description":"Search by loginHash","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offset","in":"query","description":"Search offset","allowEmptyValue":true,"schema":{"type":"integer","format":"int32","default":0}},{"name":"orderBy","in":"query","description":"Search order by - results will be sorted by specified fields.\nDefault sorting is by creation date.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["CONFIG_ASSISTANT_STEP","CONTACT_USER_EMAIL","CREATED_AT","EMAIL_VALIDATED","LOGIN_HASH","REQUESTED_AT","STATUS","TYPE","UPDATED_AT"]}}},{"name":"orderDirection","in":"query","description":"Search direction","allowEmptyValue":true,"schema":{"type":"string","default":"ASC","enum":["ASC","DESC"]}},{"name":"requestedAtFrom","in":"query","description":"Start datetime to search by LoginRequest's requestedAt (>= requestedAtFrom).","schema":{"type":"string","format":"date-time"}},{"name":"requestedAtTo","in":"query","description":"End datetime to search by LoginRequest's requestedTo (<= requestedAtTo).","schema":{"type":"string","format":"date-time"}},{"name":"status","in":"query","description":"Search by status","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["REQUESTED","CONTACT_PERSON_
[...]
