<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'components/favicons.njk' %}
        <link rel="stylesheet" href="/main.css">
    </head>
    <body class="guide">
        {% include 'components/topbar.njk' %}
        <section class="hero">
            <header class="hero__header">
                <h1 class="hero__headline">{{ title }}</h1> 
            </header>
        </section>
        <main class="guide__mainlayout">
            <aside class="guide__aside">
            <div class="stick" style="position: sticky;top: 50px;">
                {{ file | renderUsingMarkdown | toc | safe }}
                {% include 'components/pageSlotNav.njk' %}
            </div>
            </aside>
            <article class="guide__article">
                <p><img src="{{ img }}" alt=""></p>
                {{ file | renderUsingMarkdown | safe }}
            </section>
        </main>
        {% include 'components/footer.njk' %}
    </body>
</html>