.dp_footer
    background $bg-dark
    color white
    padding 1rem 0 1.5rem
    border-top 1px solid #A98DFF
    &__wrapper
        display flex
        justify-content space-between
        max-width 1140px
        margin 0 auto
        padding-top 1rem
        .api &
            max-width 100%
            padding 1rem 1rem 0
    &__navlist
        display flex
        margin 0 
        padding 0
        list-style none
        &item
            &link
                padding .5rem 0 .5rem 1rem
                text-decoration none
                color white