.nav_pageSlots 
    font-size: 1.25rem;
    padding: 0 2rem 1rem;
    max-height: calc(100vh - 80px);
    overflow: auto;

    &__header
        font-size: 1rem !important;
        text-transform: uppercase;
        margin: 2rem 0 1rem;
        border-bottom: 1px solid rgba(255,255,255,0.15);
        padding-bottom: 0.5rem;
        scroll-margin-top: 75px;
        line-height: 1.2;

    &__list
        margin: 0.5rem 0 0.75rem;
        padding: 0 0 0 0.5rem;

        &_elem
            &_header
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-left: 0.5rem;
                &_inner
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: right;
                    overflow: auto;
                    font-size: medium !important;
                    width: fit-content !important;
                    min-width: fit-content !important;
                    select
                        padding-left: 1.5rem;
                        background-position: left 0.2em top 55%;
                    label
                        padding-right: 0.5rem;

            &_body
                padding-left: 0.5rem;
                margin-left: 0.75rem;
                border-left: thin solid #25294a;;
    &__select
        padding-right: 0 !important;
        width: fit-content !important;
        &_optgroup
            background-color: #104;
            font-size: 1.125rem;
            font-weight: 150;
        &__option
            background: #104;
            font-family: "Calibri", sans-serif;
            font-size: 1rem;


            
