.nav_pageSlots 
    font-size: 1.25rem;
    padding: 0 2rem 1rem;
    max-height: calc(100vh - 80px);
    overflow: auto;

    &__header
        font-size: 1rem !important;
        text-transform: uppercase;
        margin: 2rem 0 1rem;
        border-bottom: 1px solid rgba(255,255,255,0.15);
        padding-bottom: 0.5rem;
        scroll-margin-top: 75px;
        line-height: 1.2;

    &__list
        margin: 0.5rem 0 0.75rem;
        padding: 0 0 0 0.5rem;

        &_elem
            &_header
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            &_body
                padding-left: 10%;
    &__select
        padding-right: 0 !important;
        width: fit-content !important;
        &_optgroup
            background-color: #104;
            font-size: 1.125rem;
            font-weight: 150;
        &__option
            background: #104;
            font-family: "Calibri", sans-serif;
            font-size: 1rem;


            
