{"swagger":"2.0","info":{"title":"DSE REST API","description":"<h2>DSE REST API</h1>","version":"1.0.0-SNAPSHOT"},"servers":[{"url":"https://is-dev2.brandmaker.com"},{"url":"/"}],"security":[{"jwtScheme":[]},{"basicScheme":[]},{"cookieScheme":[]},{"BearerAuth":[]}],"tags":[{"name":"AccessAndRightsAdminRestServiceV1"},{"name":"AssetRestServiceV1"},{"name":"AssetRestServiceV1"},{"name":"BlankEventsRestService"},{"name":"BpmnCandidateUserGroupService"},{"name":"BpmnMessageEventRestService"},{"name":"BpmnMessageRegistryRestService"},{"name":"BpmnWorkflowObjectService"},{"name":"BpmnWorkflowStatUiRestService"},{"name":"BpmnWorkflowStepInstanceService"},{"name":"BpmnWorkflowStepTemplateService"},{"name":"BpmnWorkflowTypeService"},{"name":"CustomActionDseObjectRestService"},{"name":"DashboardRestServiceV1"},{"name":"DashboardRestServiceV1"},{"name":"DseAdminDefaultTypesRestService"},{"name":"DseAdminGridColumnRestServiceV1"},{"name":"DseAdminVariableTypeRestServiceV1"},{"name":"DseBpmnObjectRestService"},{"name":"DseCategoryAdminRestService"},{"name":"DseDiscussionUIRestServiceInterface"},{"name":"DseFlatCustomStructureRestServiceV1"},{"name":"DseJobDiscussionRestServiceV1"},{"name":"DseJobDiscussionRestServiceV1"},{"name":"DseJobReportRestService"},{"name":"DseJobWorklogsRestService"},{"name":"DseMaplSyncAdminRestServiceV1"},{"name":"DseMetadataMigrationAdminRestServiceV1"},{"name":"DseObjectNumberFormatServiceV1"},{"name":"DseObjectOldWorkflowTypeMutableService"},{"name":"DseObjectRestServiceV1"},{"name":"DseObjectRestServiceV1"},{"name":"DseObjectTypeAdminRestServiceV1"},{"name":"DseObjectTypeDetailsAdminRestServiceV1"},{"name":"DseObjectTypesLayoutRestService"},{"name":"DseObjectWorkflowTypeMutableService"},{"name":"DseObjectWorkflowTypeService"},{"name":"DseOtherSettingsAdminRestService"},{"name":"DseProductWorklogsRestService"},{"name":"DsePublishChangesAdminRestService"},{"name":"DseSubObjectTypeAutoCreateRuleRestServiceV1"},{"name":"DseTaskTemplatesAdminRestService"},{"name":"DseTaskTemplatesRestService"},{"name":"DseWorkflowActionRestServiceV1"},{"name":"DseWorkflowMetaInstanceChangesService"},{"name":"DseWorkflowMetaInstanceMutableRestService"},{"name":"DseWtpVariableRestService"},{"name":"JobGridRestServiceV1"},{"name":"JobGridRestServiceV1"},{"name":"JobMetaDataRestServiceV1"},{"name":"JobOrProcessListServiceV1"},{"name":"JobOrProcessServiceV1"},{"name":"JobRestServiceV1"},{"name":"ManageWorkflowStepActionRestServiceV1"},{"name":"MaplRestService"},{"name":"MaplSubstituteRestService"},{"name":"MaplSyncConfigRestServiceV1"},{"name":"ModuleApiRestService"},{"name":"OldWorkflowObjectService"},{"name":"OldWorkflowStepInstanceService"},{"name":"OldWorkflowTypeService"},{"name":"ProcessFactoryServiceV1"},{"name":"ProcessFactoryServiceV1"},{"name":"ProcessListServiceV1"},{"name":"ProcessMetaDataServiceV1"},{"name":"ProcessServiceV1"},{"name":"ProductGridRestServiceV1"},{"name":"ProductGridRestServiceV1"},{"name":"ProductMetaDataRestServiceV1"},{"name":"ProductRestServiceV1"},{"name":"RelationPropertyTreeService"},{"name":"RelationVariableMetaTypeRestService"},{"name":"ResourceSelectionRestService"},{"name":"ResourcesRestService"},{"name":"ResourcesRestServiceV1"},{"name":"ResourcesService"},{"name":"TaskEffortProportionRestService"},{"name":"UrlAssetUIRestServiceInterface"},{"name":"UserViewRestService"},{"name":"WorkflowDefaultAssigneeService"},{"name":"WorkflowMetatypeService"},{"name":"WorkflowObjectService"},{"name":"WorkflowStepTemplateService"},{"name":"WorkflowTypeService"}],"definitions":{"json_AbsentRequiredAttributeError":{"type":"object","title":"AbsentRequiredAttributeError","allOf":[{"$ref":"#/definitions/json_ValidationResult"},{"properties":{"attrName":{"readOnly":false,"description":"","type":"string"}}}],"example":{"attrName":"...","messageParams":["...","..."],"severity":"WARINIG","message":"..."},"description":""},"json_AbsentRequiredVariableError":{"type":"object","title":"AbsentRequiredVariableError","allOf":[{"$ref":"#/definitions/json_ValidationResult"},{}],"example":{"messageParams":["...","..."],"severity":"WARINIG","message":"..."},"description":""},"json_AccessAndRightsDto":{"type":"object","title":"AccessAndRightsDto","allOf":[{"$ref":"#/definitions/json_BaseAccessAndRightsDto"},{"properties":{"stepSpecific":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_StepSpecificAccessAndRightsDto"}}}}],"example":{"stepSpecific":{"property1":{"defaultDataSheet":"...","variableVisibility":{"property1":{"contentType":12345,"anonymousAccessibilityType":12345,"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345},"property2":{"contentType":12345,"anonymousAccessibilityType":12345,"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345}},"dataSheetVisibility":{"property1":{"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345},"property2":{"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345}}},"property2":{"defaultDataSheet":"...","variableVisibility":{"property1":{"contentType":12345,"anonymousAccessibilityType":12345,"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345},"property2":{"contentType":12345,"anonymousAccessibilityType":12345,"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345}},"dataSheetVisibility":{"property1":{"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345},"property2":{"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345}}}},"variableVisibility":{"property1":{"contentType":12345,"anonymousAccessibilityType":12345,"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345},"property2":{"contentType":12345,"anonymousAccessibilityType":12345,"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345}},"dataSheetVisibility":{"property1":{"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345},"property2":{"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345}}},"description":""},"json_AccessibilityAttributesDto":{"type":"object","title":"AccessibilityAttributesDto","properties":{"ownerAccessibilityType":{"readOnly":false,"description":"","type":"integer","format":"int32"},"otherAccessibilityType":{"readOnly":false,"description":"","type":"integer","format":"int32"},"creatorAccessibilityType":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345},"description":""},"json_ActionButtonColumnDto":{"type":"object","title":"ActionButtonColumnDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"style":{"readOnly":false,"description":"","type":"string"},"dynamicTableIndex":{"readOnly":false,"description":"","type":"string"},"url":{"readOnly":false,"description":"","type":"string"},"helpValue":{"readOnly":false,"description":"","type":"string"},"formerTechnicalValue":{"readOnly":false,"description":"","type":"string"}}}],"example":{"position":12345,"style":"...","dynamicTableIndex":"...","url":"...","helpValue":"...","formerTechnicalValue":"...","system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"typeSpanning":true,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_ActionButtonColumnDto_dto":{"type":"object","title":"ActionButtonColumnDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"url":{"readOnly":false,"description":"","type":"string"},"helpValue":{"readOnly":false,"description":"","type":"string"},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"dynamicTableIndex":{"readOnly":false,"description":"","type":"string"},"style":{"readOnly":false,"description":"","type":"string"},"formerTechnicalValue":{"readOnly":false,"description":"","type":"string"}}}],"example":{"url":"...","helpValue":"...","position":12345,"dynamicTableIndex":"...","style":"...","formerTechnicalValue":"...","typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_ActionButtonDto":{"type":"object","title":"ActionButtonDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"url":{"readOnly":false,"description":"","type":"string"}}}],"example":{"url":"...","typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_ActionButtonDto_dto":{"type":"object","title":"ActionButtonDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"url":{"readOnly":false,"description":"","type":"string"}}}],"example":{"url":"...","system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"typeSpanning":true,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_ApprovalDto":{"type":"object","title":"ApprovalDto","properties":{"workflowTypeId":{"example":123,"readOnly":false,"description":"","type":"integer","format":"int32"},"decisionId":{"example":5,"readOnly":false,"description":"","type":"integer","format":"int32"},"approvalType":{"example":"COMPLETE","readOnly":false,"$ref":"#/definitions/json_ApprovalType","description":""},"comment":{"example":"some comment","readOnly":false,"description":"","type":"string"},"dseObjectTypeId":{"example":1234,"readOnly":false,"description":"","type":"integer","format":"int32"},"userId":{"example":125,"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"workflowTypeId":123,"decisionId":5,"approvalType":"COMPLETE","comment":"some comment","dseObjectTypeId":1234,"userId":125},"description":""},"json_ApprovalOption":{"type":"object","title":"ApprovalOption","properties":{"groupId":{"example":10,"readOnly":false,"description":"","type":"integer","format":"int32"},"id":{"example":5,"readOnly":false,"description":"","type":"integer","format":"int32"},"type":{"example":"DECISION","readOnly":false,"$ref":"#/definitions/json_ApprovalType","description":""},"name":{"example":"Approve","readOnly":false,"description":"","type":"string"}},"example":{"groupId":10,"id":5,"type":"DECISION","name":"Approve"},"description":""},"json_ApprovalType":{"type":"string","title":"ApprovalType","enum":["COMPLETE","DECISION","FORWARD","REJECT","FINISH","CHANGE_TYPE"],"description":""},"json_ApproverParamsDto":{"type":"object","title":"ApproverParamsDto","properties":{"approverIds":{"readOnly":false,"description":"","type":"array","items":{"type":"integer"}},"startTo":{"readOnly":false,"description":"","type":"string"},"startFrom":{"readOnly":false,"description":"","type":"string"}},"example":{"approverIds":[12345,12345],"startTo":"...","startFrom":"..."},"description":""},"json_AssetDto":{"type":"object","title":"AssetDto","properties":{"selectFromMediaPool":{"readOnly":false,"description":"","type":"boolean"},"selectByArticleNumber":{"readOnly":false,"description":"","type":"boolean"},"freeTextField":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"selectFromMediaPool":true,"selectByArticleNumber":true,"freeTextField":12345},"description":""},"json_AssetDto_common":{"type":"object","title":"AssetDto","properties":{"freeTextField":{"readOnly":false,"description":"","type":"integer","format":"int32"},"selectByArticleNumber":{"readOnly":false,"description":"","type":"boolean"},"selectFromMediaPool":{"readOnly":false,"description":"","type":"boolean"}},"example":{"freeTextField":12345,"selectByArticleNumber":true,"selectFromMediaPool":true},"description":""},"json_AssetSelectorColumnDto":{"type":"object","title":"AssetSelectorColumnDto","required":["mandatoryGridColumn"],"allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"formerTechnicalValue":{"readOnly":false,"description":"","type":"string"},"dynamicTableIndex":{"readOnly":false,"description":"","type":"string"},"prefilling":{"readOnly":false,"$ref":"#/definitions/json_PrefillingDto","description":""},"mandatoryGridColumn":{"readOnly":false,"description":"","type":"boolean"},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"asset":{"readOnly":false,"$ref":"#/definitions/json_AssetDto_common","description":""}}}],"example":{"formerTechnicalValue":"...","dynamicTableIndex":"...","prefilling":{"overrideId":12345,"permanentBinding":true,"customStructureName":"...","attributeId":"...","keyId":12345},"mandatoryGridColumn":true,"position":12345,"asset":{"freeTextField":12345,"selectByArticleNumber":true,"selectFromMediaPool":true},"typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_AssetSelectorColumnDto_dto":{"type":"object","title":"AssetSelectorColumnDto","required":["mandatoryGridColumn"],"allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"prefilling":{"readOnly":false,"$ref":"#/definitions/json_PrefillingDto_common","description":""},"asset":{"readOnly":false,"$ref":"#/definitions/json_AssetDto","description":""},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"dynamicTableIndex":{"readOnly":false,"description":"","type":"string"},"formerTechnicalValue":{"readOnly":false,"description":"","type":"string"},"mandatoryGridColumn":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"prefilling":{"permanentBinding":true,"overrideId":12345,"customStructureName":"...","attributeId":"...","keyId":12345},"asset":{"selectFromMediaPool":true,"selectByArticleNumber":true,"freeTextField":12345},"position":12345,"dynamicTableIndex":"...","formerTechnicalValue":"...","mandatoryGridColumn":true,"system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"typeSpanning":true,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_AssetSelectorDto":{"type":"object","title":"AssetSelectorDto","required":["completeWidth"],"allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"prefilling":{"readOnly":false,"$ref":"#/definitions/json_PrefillingDto_common","description":""},"typeSpanning":{"readOnly":false,"description":"","type":"boolean"},"completeWidth":{"readOnly":false,"description":"","type":"boolean"},"inheritFromParent":{"readOnly":false,"description":"","type":"boolean"},"asset":{"readOnly":false,"$ref":"#/definitions/json_AssetDto","description":""}}}],"example":{"prefilling":{"permanentBinding":true,"overrideId":12345,"customStructureName":"...","attributeId":"...","keyId":12345},"typeSpanning":true,"completeWidth":true,"inheritFromParent":true,"asset":{"selectFromMediaPool":true,"selectByArticleNumber":true,"freeTextField":12345},"system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_AssetSelectorDto_dto":{"type":"object","title":"AssetSelectorDto","required":["completeWidth"],"allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"prefilling":{"readOnly":false,"$ref":"#/definitions/json_PrefillingDto","description":""},"asset":{"readOnly":false,"$ref":"#/definitions/json_AssetDto_common","description":""},"typeSpanning":{"readOnly":false,"description":"","type":"boolean"},"inheritFromParent":{"readOnly":false,"description":"","type":"boolean"},"completeWidth":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"prefilling":{"overrideId":12345,"permanentBinding":true,"customStructureName":"...","attributeId":"...","keyId":12345},"asset":{"freeTextField":12345,"selectByArticleNumber":true,"selectFromMediaPool":true},"typeSpanning":true,"inheritFromParent":true,"completeWidth":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_AssigneeDto":{"type":"object","title":"AssigneeDto","properties":{"name":{"readOnly":false,"description":"","type":"string"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"name":"...","id":12345},"description":""},"json_AssigneeGroupDto":{"type":"object","title":"AssigneeGroupDto","properties":{"name":{"readOnly":false,"description":"","type":"string"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"assignee":{"readOnly":false,"$ref":"#/definitions/json_AssigneeDto","description":""}},"example":{"name":"...","id":12345,"assignee":{"name":"...","id":12345}},"description":""},"json_AssignmentContainerDto":{"type":"object","title":"AssignmentContainerDto","properties":{"rows":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_AssignmentDto"}}},"example":{"rows":[{"id":12345,"eventId":"...","resourceId":12345},{"id":12345,"eventId":"...","resourceId":12345}]},"description":""},"json_AssignmentDto":{"type":"object","title":"AssignmentDto","properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"eventId":{"readOnly":false,"description":"","type":"string"},"resourceId":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"id":12345,"eventId":"...","resourceId":12345},"description":""},"json_AssignmentDto_dto":{"type":"object","title":"AssignmentDto","properties":{"assignees":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_UserDto"}},"group":{"readOnly":false,"$ref":"#/definitions/json_DseUserGroupDto","description":""}},"example":{"assignees":[{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."},{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."}],"group":{"defaultAssignee":{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."},"predefined":true,"id":12345,"name":"..."}},"description":""},"json_AssignmentDto_dto_rest":{"type":"object","title":"AssignmentDto","properties":{"group":{"readOnly":false,"$ref":"#/definitions/json_DseUserGroupDto_dto","description":""},"assignees":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_UserDto_dto"}}},"example":{"group":{"predefined":true,"defaultAssignee":{"id":12345,"fullName":"...","firstName":"...","email":"...","login":"...","lastName":"..."},"name":"...","id":12345},"assignees":[{"id":12345,"fullName":"...","firstName":"...","email":"...","login":"...","lastName":"..."},{"id":12345,"fullName":"...","firstName":"...","email":"...","login":"...","lastName":"..."}]},"description":""},"json_AssociationType":{"type":"string","title":"AssociationType","enum":["WORKFLOW_STEP","DELETE_EVENT","CANCEL_EVENT"],"description":""},"json_BaseAccessAndRightsDto":{"type":"object","title":"BaseAccessAndRightsDto","properties":{"variableVisibility":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_VariableTypeAccessibilityAttributesDto"}},"dataSheetVisibility":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_AccessibilityAttributesDto"}}},"example":{"variableVisibility":{"property1":{"contentType":12345,"anonymousAccessibilityType":12345,"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345},"property2":{"contentType":12345,"anonymousAccessibilityType":12345,"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345}},"dataSheetVisibility":{"property1":{"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345},"property2":{"ownerAccessibilityType":12345,"otherAccessibilityType":12345,"creatorAccessibilityType":12345}}},"description":""},"json_BaseDecision":{"type":"object","title":"BaseDecision","properties":{"variableName":{"readOnly":false,"description":"","type":"string"}},"example":{"variableName":"..."},"description":""},"json_BaseDseObjectDto":{"type":"object","title":"BaseDseObjectDto","properties":{"createdBy":{"readOnly":false,"description":"","type":"string"},"creator":{"readOnly":false,"$ref":"#/definitions/json_UserDto","description":""},"workflowTypeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"typeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"workflowObjectId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"values":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_DseObjectValueDto"}},"state":{"readOnly":false,"description":"","type":"string"},"parentId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"ordinalNumber":{"readOnly":false,"description":"","type":"integer","format":"int32"},"extendedName":{"readOnly":false,"description":"","type":"string"},"instanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"name":{"readOnly":false,"description":"","type":"string"}},"example":{"createdBy":"...","creator":{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."},"workflowTypeId":12345,"typeId":12345,"workflowObjectId":12345,"values":{"property1":{"displayValue":"...","inheritFromParent":"BROKEN_INHERITANCE","inheritedValue":"...","value":"..."},"property2":{"displayValue":"...","inheritFromParent":"BROKEN_INHERITANCE","inheritedValue":"...","value":"..."}},"state":"...","parentId":12345,"ordinalNumber":12345,"extendedName":"...","instanceId":12345,"name":"..."},"description":""},"json_BaseGatewayValidationResults":{"type":"object","title":"BaseGatewayValidationResults","allOf":[{"$ref":"#/definitions/json_IncomingOutgoingValidationResults"},{"properties":{"type":{"readOnly":false,"$ref":"#/definitions/json_GatewayType","description":""}}}],"example":{"type":"Parallel","incoming":{},"outgoing":{},"elements":[{"validationResults":[{"messageParams":["...","..."],"severity":"WARINIG","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]},{"validationResults":[{"messageParams":["...","..."],"severity":"ERROR","message":"..."},{"messageParams":["...","..."],"severity":"ERROR","message":"..."}]}],"id":"...","update":["...","..."],"produce":["...","..."],"require":["...","..."],"validationResults":[{"messageParams":["...","..."],"severity":"WARINIG","message":"..."},{"messageParams":["...","..."],"severity":"ERROR","message":"..."}]},"description":""},"json_BaseIdsDto":{"type":"object","title":"BaseIdsDto","properties":{"instanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"typeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"ordinalNumber":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"instanceId":12345,"typeId":12345,"ordinalNumber":12345},"description":""},"json_BaseSelectVariable":{"type":"object","title":"BaseSelectVariable","allOf":[{"$ref":"#/definitions/json_BaseVariable"},{"properties":{"nested":{"readOnly":false,"description":"","type":"boolean"},"sourceCustomStructure":{"readOnly":false,"description":"","type":"string"}}}],"example":{"nested":true,"sourceCustomStructure":"...","displayName":"...","uniqueName":"..."},"description":""},"json_BaseSelectableVariableTypeDto":{"type":"object","title":"BaseSelectableVariableTypeDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"sourceCustomStructureName":{"readOnly":false,"description":"","type":"string"}}}],"example":{"sourceCustomStructureName":"...","system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"typeSpanning":true,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_BaseSelectableVariableTypeDto_base":{"type":"object","title":"BaseSelectableVariableTypeDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"sourceCustomStructureName":{"readOnly":false,"description":"","type":"string"}}}],"example":{"sourceCustomStructureName":"...","typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_BaseTimelineDto":{"type":"object","title":"BaseTimelineDto","properties":{"jobInstanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"jobCurrentAssigneeIds":{"readOnly":false,"description":"","type":"array","items":{"type":"integer"}},"bpmn":{"readOnly":false,"description":"","type":"boolean"},"jobTypeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"color":{"readOnly":false,"description":"","type":"string"},"jobName":{"readOnly":false,"description":"","type":"string"}},"example":{"jobInstanceId":12345,"jobCurrentAssigneeIds":[12345,12345],"bpmn":true,"jobTypeId":12345,"color":"...","jobName":"..."},"description":""},"json_BaseValidationResults":{"type":"object","title":"BaseValidationResults","properties":{"validationResults":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_ValidationResult"}}},"example":{"validationResults":[{"messageParams":["...","..."],"severity":"WARINIG","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]},"description":""},"json_BaseVariable":{"type":"object","title":"BaseVariable","properties":{"displayName":{"readOnly":false,"description":"","type":"string"},"uniqueName":{"readOnly":false,"description":"","type":"string"}},"example":{"displayName":"...","uniqueName":"..."},"description":""},"json_BaseVariableTypeDto_dto":{"type":"object","title":"BaseVariableTypeDto","properties":{"system":{"readOnly":false,"description":"","type":"boolean"},"uniqueName":{"readOnly":false,"description":"","type":"string"},"storageType":{"readOnly":false,"description":"","type":"integer","format":"int32"},"displayName":{"readOnly":false,"description":"","type":"string"},"technicalName":{"readOnly":false,"description":"","type":"string"},"metaTypeName":{"readOnly":false,"description":"","type":"string"},"dependsFromVariableValues":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}},"helpText":{"readOnly":false,"description":"","type":"string"},"rawLabel":{"readOnly":false,"description":"","type":"string"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"dependsFromVariableId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"mode":{"readOnly":false,"description":"","type":"integer","format":"int32"},"typeSpanning":{"readOnly":false,"description":"","type":"boolean"},"sharedLocale":{"readOnly":false,"description":"","type":"boolean"},"metaTypeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"visibility":{"readOnly":false,"$ref":"#/definitions/json_VisibilityDto","description":""}},"example":{"system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"typeSpanning":true,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_BaseVariableTypeDto":{"type":"object","title":"BaseVariableTypeDto","properties":{"typeSpanning":{"readOnly":false,"description":"","type":"boolean"},"mode":{"readOnly":false,"description":"","type":"integer","format":"int32"},"storageType":{"readOnly":false,"description":"","type":"integer","format":"int32"},"placed":{"readOnly":false,"description":"","type":"boolean"},"metaTypeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"rawLabel":{"readOnly":false,"description":"","type":"string"},"sharedLocale":{"readOnly":false,"description":"","type":"boolean"},"dependsFromVariableValues":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"technicalName":{"readOnly":false,"description":"","type":"string"},"visibility":{"readOnly":false,"$ref":"#/definitions/json_VisibilityDto_common","description":""},"displayName":{"readOnly":false,"description":"","type":"string"},"system":{"readOnly":false,"description":"","type":"boolean"},"helpText":{"readOnly":false,"description":"","type":"string"},"metaTypeName":{"readOnly":false,"description":"","type":"string"},"dependsFromVariableId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"uniqueName":{"readOnly":false,"description":"","type":"string"}},"example":{"typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_BaseVariableTypeWithDataSourceDto":{"type":"object","title":"BaseVariableTypeWithDataSourceDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"dataSourceName":{"readOnly":false,"description":"","type":"string"}}}],"example":{"dataSourceName":"...","system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"typeSpanning":true,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_BaseVariableTypeWithDataSourceDto_base":{"type":"object","title":"BaseVariableTypeWithDataSourceDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"dataSourceName":{"readOnly":false,"description":"","type":"string"}}}],"example":{"dataSourceName":"...","typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_BoundaryEventValidationResult":{"type":"object","title":"BoundaryEventValidationResult","allOf":[{"$ref":"#/definitions/json_ChildrenValidationResults"},{"properties":{"attachedToRef":{"readOnly":false,"description":"","type":"string"},"outgoing":{"readOnly":false,"description":"","type":"string"},"errorRef":{"readOnly":false,"description":"","type":"string"}}}],"example":{"attachedToRef":"...","outgoing":"...","errorRef":"...","elements":[{"validationResults":[{"messageParams":["...","..."],"severity":"ERROR","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]},{"validationResults":[{"messageParams":["...","..."],"severity":"WARINIG","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]}],"id":"...","update":["...","..."],"produce":["...","..."],"require":["...","..."],"validationResults":[{"messageParams":["...","..."],"severity":"ERROR","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]},"description":""},"json_BpmnDiagramValidationResults":{"type":"object","title":"BpmnDiagramValidationResults","allOf":[{"$ref":"#/definitions/json_IdentifiedValidationResults"},{}],"example":{"id":"...","update":["...","..."],"produce":["...","..."],"require":["...","..."],"validationResults":[{"messageParams":["...","..."],"severity":"ERROR","message":"..."},{"messageParams":["...","..."],"severity":"ERROR","message":"..."}]},"description":""},"json_BpmnWorkflowMetaInstance":{"type":"object","title":"BpmnWorkflowMetaInstance","allOf":[{"$ref":"#/definitions/json_WorkflowMetaInstance"},{"properties":{"xml":{"readOnly":false,"description":"","type":"string"}}}],"example":{"xml":"...","taskTemplateId":12345,"id":12345,"dseObjectTypeId":12345,"workflowMetatype":{"workflowType":{"workflowStepTemplates":[{},{}],"pickableConfiguration":12345,"lastUpdate":"...","workflowTypeId":12345,"type":"bpmn","isDeleted":true,"creationDate":"...","description":"...","creatorUserID":12345,"name":"..."},"workflowMetatypeId":12345,"workflowTypeId":12345,"workflowObjectTypeId":12345}},"description":""},"json_BpmnWorkflowObject":{"type":"object","title":"BpmnWorkflowObject","allOf":[{"$ref":"#/definitions/json_WorkflowObject"},{"properties":{"endDate":{"readOnly":false,"description":"","type":"string","format":"date-time"},"processInstanceId":{"readOnly":false,"description":"","type":"string"}}}],"example":{"endDate":"...","processInstanceId":"...","type":"bpmn","workflowType":{"workflowStepTemplates":[{"workflowTypeID":12345,"duration":12345,"type":"bpmn","isDeleted":true,"areaID":12345,"name":"...","stepNumber":12345,"workflowStepTemplateID":12345,"pickableConfiguration":"INDIVIDUAL_ASSIGNMENT"},{"workflowTypeID":12345,"duration":12345,"type":"bpmn","isDeleted":true,"areaID":12345,"name":"...","stepNumber":12345,"workflowStepTemplateID":12345,"pickableConfiguration":"GROUP_ASSIGNMENT"}],"pickableConfiguration":12345,"lastUpdate":"...","workflowTypeId":12345,"type":"bpmn","isDeleted":true,"creationDate":"...","description":"...","creatorUserID":12345,"name":"..."},"workflowObjectID":12345,"workflowStatus":"REJECTED","workflowTypeID":12345,"workflowObjectTypeID":12345},"description":""},"json_BpmnWorkflowObjectCreateParameters":{"type":"object","title":"BpmnWorkflowObjectCreateParameters","allOf":[{"$ref":"#/definitions/json_WorkflowObjectCreateParameters"},{"properties":{"messageName":{"readOnly":false,"description":"","type":"string"},"variables":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"object"}}}}],"example":{"messageName":"...","variables":{"property1":{},"property2":{}},"userId":12345,"type":"bpmn","workflowStatus":"AWAITING_PICKUP","workflowTypeID":12345,"workflowObjectTypeID":12345},"description":""},"json_BpmnWorkflowStepInstance":{"type":"object","title":"BpmnWorkflowStepInstance","allOf":[{"$ref":"#/definitions/json_WorkflowStepInstance"},{"properties":{"userTaskId":{"readOnly":false,"description":"","type":"string"},"contextVariables":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"object"}}}}],"example":{"userTaskId":"...","contextVariables":{"property1":{},"property2":{}},"comment":"...","workflowDefaultAssignee":{"type":"base","workflowDefaultAssigneeID":12345,"workflowStepTemplateID":12345,"plannedStartDate":"...","workflowObjectID":12345,"estimatedEffort":12345,"plannedFinishDate":"...","defaultApprovingUserID":12345},"type":"bpmn","stepNumber":12345,"processedDate":"...","remainingEffort":12345,"result":"AWAITING_PICKUP","approvingUserID":12345,"requestedDate":"...","workflowStepInstanceID":12345},"description":""},"json_BpmnWorkflowStepInstanceQuery":{"type":"object","title":"BpmnWorkflowStepInstanceQuery","properties":{"processInstanceId":{"readOnly":false,"description":"","type":"string"},"userId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"userGroupIds":{"readOnly":false,"description":"","type":"array","items":{"type":"integer"}},"timeout":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"processInstanceId":"...","userId":12345,"userGroupIds":[12345,12345],"timeout":12345},"description":""},"json_BpmnWorkflowStepTemplate":{"type":"object","title":"BpmnWorkflowStepTemplate","allOf":[{"$ref":"#/definitions/json_WorkflowStepTemplate"},{"properties":{"genericDecision":{"readOnly":false,"$ref":"#/definitions/json_GenericDecision","description":""},"description":{"readOnly":false,"description":"","type":"string"},"candidateUser":{"readOnly":false,"description":"","type":"string"},"taskDefKey":{"readOnly":false,"description":"","type":"string"},"asyncAfter":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"genericDecision":{"decisions":{"property1":"...","property2":"..."},"variableName":"..."},"description":"...","candidateUser":"...","taskDefKey":"...","asyncAfter":true,"workflowTypeID":12345,"duration":12345,"type":"bpmn","isDeleted":true,"areaID":12345,"name":"...","stepNumber":12345,"workflowStepTemplateID":12345,"pickableConfiguration":"INDIVIDUAL_GROUP_ASSIGNMENT"},"description":""},"json_BpmnWorkflowType":{"type":"object","title":"BpmnWorkflowType","allOf":[{"$ref":"#/definitions/json_WorkflowType"},{"properties":{"processDefinitionVersionTag":{"readOnly":false,"description":"","type":"string"},"processDefinitionKey":{"readOnly":false,"description":"","type":"string"},"modelDecoration":{"readOnly":false,"description":"","type":"object"},"processDefinitionId":{"readOnly":false,"description":"","type":"string"}}}],"example":{"processDefinitionVersionTag":"...","processDefinitionKey":"...","modelDecoration":{},"processDefinitionId":"...","workflowStepTemplates":[{"workflowTypeID":12345,"duration":12345,"type":"bpmn","isDeleted":true,"areaID":12345,"name":"...","stepNumber":12345,"workflowStepTemplateID":12345,"pickableConfiguration":"GROUP_ASSIGNMENT"},{"workflowTypeID":12345,"duration":12345,"type":"bpmn","isDeleted":true,"areaID":12345,"name":"...","stepNumber":12345,"workflowStepTemplateID":12345,"pickableConfiguration":"INDIVIDUAL_GROUP_ASSIGNMENT"}],"pickableConfiguration":12345,"lastUpdate":"...","workflowTypeId":12345,"type":"bpmn","isDeleted":true,"creationDate":"...","description":"...","creatorUserID":12345,"name":"..."},"description":""},"json_BpmnWorkflowTypeModel":{"type":"object","title":"BpmnWorkflowTypeModel","properties":{"xml":{"readOnly":false,"description":"","type":"string"},"modelDecoration":{"readOnly":false,"description":"","type":"object"}},"example":{"xml":"...","modelDecoration":{}},"description":""},"json_BpmnWorkflowTypeParameters":{"type":"object","title":"BpmnWorkflowTypeParameters","properties":{"xml":{"readOnly":false,"description":"","type":"string"},"resourceName":{"readOnly":false,"description":"","type":"string"},"versionTag":{"readOnly":false,"description":"","type":"string"},"modelDecoration":{"readOnly":false,"description":"","type":"string"},"orderIds":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"integer"}}},"example":{"xml":"...","resourceName":"...","versionTag":"...","modelDecoration":"...","orderIds":{"property1":12345,"property2":12345}},"description":""},"json_BreadcrumbSubJobsDto":{"type":"object","title":"BreadcrumbSubJobsDto","properties":{"jobName":{"readOnly":false,"description":"","type":"string"},"instanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"jobId":{"readOnly":false,"description":"","type":"string"}},"example":{"jobName":"...","instanceId":12345,"jobId":"..."},"description":""},"json_BreadcrumbWorkflowDto":{"type":"object","title":"BreadcrumbWorkflowDto","properties":{"steps":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_BreadcrumbWorkflowStepDto"}},"instanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"currentStep":{"readOnly":false,"$ref":"#/definitions/json_BreadcrumbWorkflowStepDetailsDto","description":""},"name":{"readOnly":false,"description":"","type":"string"},"typeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"creator":{"readOnly":false,"$ref":"#/definitions/json_UserDto","description":""}},"example":{"steps":[{"id":12345,"status":"...","name":"..."},{"id":12345,"status":"...","name":"..."}],"instanceId":12345,"currentStep":{"number":12345,"assignees":{"label":{},"value":{}},"name":{"label":{},"value":{}},"endDate":{"label":{},"value":{}},"startDate":{"label":{},"value":{}},"id":12345},"name":"...","typeId":12345,"creator":{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."}},"description":""},"json_BreadcrumbWorkflowStepDetailsDto":{"type":"object","title":"BreadcrumbWorkflowStepDetailsDto","properties":{"number":{"readOnly":false,"description":"","type":"integer","format":"int32"},"assignees":{"readOnly":false,"$ref":"#/definitions/json_LabelValueDto","description":""},"name":{"readOnly":false,"$ref":"#/definitions/json_LabelValueDto","description":""},"endDate":{"readOnly":false,"$ref":"#/definitions/json_LabelValueDto","description":""},"startDate":{"readOnly":false,"$ref":"#/definitions/json_LabelValueDto","description":""},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"number":12345,"assignees":{"label":{},"value":{}},"name":{"label":{},"value":{}},"endDate":{"label":{},"value":{}},"startDate":{"label":{},"value":{}},"id":12345},"description":""},"json_BreadcrumbWorkflowStepDto":{"type":"object","title":"BreadcrumbWorkflowStepDto","properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"status":{"readOnly":false,"description":"","type":"string"},"name":{"readOnly":false,"description":"","type":"string"}},"example":{"id":12345,"status":"...","name":"..."},"description":""},"json_CalendarContainerDto":{"type":"object","title":"CalendarContainerDto","properties":{"rows":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_CalendarDto"}}},"example":{"rows":[{"userId":12345,"unspecifiedTimeIsWorking":true,"id":"...","intervals":[{"minutesAllocated":12345,"isWorking":true,"recurrentEndDate":"...","startDate":"...","endDate":"...","dayName":"...","recurrentStartDate":"..."},{"minutesAllocated":12345,"isWorking":true,"recurrentEndDate":"...","startDate":"...","endDate":"...","dayName":"...","recurrentStartDate":"..."}],"custom":true,"name":"..."},{"userId":12345,"unspecifiedTimeIsWorking":true,"id":"...","intervals":[{"minutesAllocated":12345,"isWorking":true,"recurrentEndDate":"...","startDate":"...","endDate":"...","dayName":"...","recurrentStartDate":"..."},{"minutesAllocated":12345,"isWorking":true,"recurrentEndDate":"...","startDate":"...","endDate":"...","dayName":"...","recurrentStartDate":"..."}],"custom":true,"name":"..."}]},"description":""},"json_CalendarDto":{"type":"object","title":"CalendarDto","properties":{"userId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"unspecifiedTimeIsWorking":{"readOnly":false,"description":"","type":"boolean"},"id":{"readOnly":false,"description":"","type":"string"},"intervals":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_IntervalDto"}},"custom":{"readOnly":false,"description":"","type":"boolean"},"name":{"readOnly":false,"description":"","type":"string"}},"example":{"userId":12345,"unspecifiedTimeIsWorking":true,"id":"...","intervals":[{"minutesAllocated":12345,"isWorking":true,"recurrentEndDate":"...","startDate":"...","endDate":"...","dayName":"...","recurrentStartDate":"..."},{"minutesAllocated":12345,"isWorking":true,"recurrentEndDate":"...","startDate":"...","endDate":"...","dayName":"...","recurrentStartDate":"..."}],"custom":true,"name":"..."},"description":""},"json_CandidateGroupDefinitionError":{"type":"object","title":"CandidateGroupDefinitionError","allOf":[{"$ref":"#/definitions/json_UnsupportedAttributeError"},{"properties":{"areaIDs":{"readOnly":false,"description":"","type":"array","items":{"type":"integer"}}}}],"example":{"areaIDs":[12345,12345],"attrValue":"...","attrName":"...","messageParams":["...","..."],"severity":"WARINIG","message":"..."},"description":""},"json_CatchEventValidationResults":{"type":"object","title":"CatchEventValidationResults","allOf":[{"$ref":"#/definitions/json_IncomingOutgoingValidationResults"},{"properties":{"messageRef":{"readOnly":false,"description":"","type":"string"},"message":{"readOnly":false,"description":"","type":"string"}}}],"example":{"messageRef":"...","message":"...","incoming":{},"outgoing":{},"elements":[{"validationResults":[{"messageParams":["...","..."],"severity":"ERROR","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]},{"validationResults":[{"messageParams":["...","..."],"severity":"ERROR","message":"..."},{"messageParams":["...","..."],"severity":"ERROR","message":"..."}]}],"id":"...","update":["...","..."],"produce":["...","..."],"require":["...","..."],"validationResults":[{"messageParams":["...","..."],"severity":"WARINIG","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]},"description":""},"json_CheckWorkflowObject":{"type":"object","title":"CheckWorkflowObject","properties":{"approvingUserId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"workflowStepTemplateId":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"approvingUserId":12345,"workflowStepTemplateId":12345},"description":""},"json_ChildrenValidationResults":{"type":"object","title":"ChildrenValidationResults","allOf":[{"$ref":"#/definitions/json_IdentifiedValidationResults"},{"properties":{"elements":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_BaseValidationResults"}}}}],"example":{"elements":[{"validationResults":[{"messageParams":["...","..."],"severity":"ERROR","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]},{"validationResults":[{"messageParams":["...","..."],"severity":"ERROR","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]}],"id":"...","update":["...","..."],"produce":["...","..."],"require":["...","..."],"validationResults":[{"messageParams":["...","..."],"severity":"WARINIG","message":"..."},{"messageParams":["...","..."],"severity":"ERROR","message":"..."}]},"description":""},"json_ComboBoxColumnDto":{"type":"object","title":"ComboBoxColumnDto","required":["mandatoryGridColumn"],"allOf":[{"$ref":"#/definitions/json_BaseSelectableVariableTypeDto_base"},{"properties":{"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"mandatoryGridColumn":{"readOnly":false,"description":"","type":"boolean"},"dynamicTableIndex":{"readOnly":false,"description":"","type":"string"},"defaultValue":{"readOnly":false,"description":"","type":"string"}}}],"example":{"position":12345,"mandatoryGridColumn":true,"dynamicTableIndex":"...","defaultValue":"...","sourceCustomStructureName":"...","typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_ComboBoxColumnDto_dto":{"type":"object","title":"ComboBoxColumnDto","required":["mandatoryGridColumn"],"allOf":[{"$ref":"#/definitions/json_BaseSelectableVariableTypeDto"},{"properties":{"dynamicTableIndex":{"readOnly":false,"description":"","type":"string"},"defaultValue":{"readOnly":false,"description":"","type":"string"},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"mandatoryGridColumn":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"dynamicTableIndex":"...","defaultValue":"...","position":12345,"mandatoryGridColumn":true,"sourceCustomStructureName":"...","system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"typeSpanning":true,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_ComboBoxDto":{"type":"object","title":"ComboBoxDto","allOf":[{"$ref":"#/definitions/json_BaseSelectableVariableTypeDto"},{"properties":{"inheritFromParent":{"readOnly":false,"description":"","type":"boolean"},"defaultValue":{"readOnly":false,"description":"","type":"string"},"typeSpanning":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"inheritFromParent":true,"defaultValue":"...","typeSpanning":true,"sourceCustomStructureName":"...","system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_ComboBoxDto_dto":{"type":"object","title":"ComboBoxDto","allOf":[{"$ref":"#/definitions/json_BaseSelectableVariableTypeDto_base"},{"properties":{"typeSpanning":{"readOnly":false,"description":"","type":"boolean"},"defaultValue":{"readOnly":false,"description":"","type":"string"},"inheritFromParent":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"typeSpanning":true,"defaultValue":"...","inheritFromParent":true,"sourceCustomStructureName":"...","mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_ComfortGridColumnRestDto":{"type":"object","title":"ComfortGridColumnRestDto","required":["prefilledCS","mandatory","interdependentCheckbox"],"properties":{"expression":{"readOnly":false,"description":"","type":"string"},"multilanguageText":{"readOnly":false,"description":"","type":"string"},"decimalPlaces":{"readOnly":false,"description":"","type":"integer","format":"int32"},"variableType":{"readOnly":false,"description":"","type":"string"},"displayName":{"readOnly":false,"description":"","type":"string"},"prefilledCS":{"readOnly":false,"description":"","type":"boolean"},"dataSource":{"readOnly":false,"description":"","type":"string"},"helpText":{"readOnly":false,"description":"","type":"string"},"prefilledCSattribute":{"readOnly":false,"description":"","type":"string"},"prefilledCScolumn":{"readOnly":false,"description":"","type":"string"},"summaryFunction":{"readOnly":false,"description":"","type":"string"},"mandatory":{"readOnly":false,"description":"","type":"boolean"},"ordinalNumb":{"readOnly":false,"description":"","type":"integer","format":"int32"},"summaryLabel":{"readOnly":false,"description":"","type":"string"},"interdependentColumnId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"uniqueName":{"readOnly":false,"description":"","type":"string"},"interdependentCheckbox":{"readOnly":false,"description":"","type":"boolean"},"defaultValue":{"readOnly":false,"description":"","type":"string"}},"example":{"expression":"...","multilanguageText":"...","decimalPlaces":12345,"variableType":"...","displayName":"...","prefilledCS":true,"dataSource":"...","helpText":"...","prefilledCSattribute":"...","prefilledCScolumn":"...","summaryFunction":"...","mandatory":true,"ordinalNumb":12345,"summaryLabel":"...","interdependentColumnId":12345,"uniqueName":"...","interdependentCheckbox":true,"defaultValue":"..."},"description":""},"json_ComfortGridColumnRestDto_dto":{"type":"object","title":"ComfortGridColumnRestDto","required":["prefilledCS","mandatory","interdependentCheckbox"],"properties":{"defaultValue":{"readOnly":false,"description":"","type":"string"},"interdependentColumnId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"uniqueName":{"readOnly":false,"description":"","type":"string"},"prefilledCScolumn":{"readOnly":false,"description":"","type":"string"},"prefilledCS":{"readOnly":false,"description":"","type":"boolean"},"ordinalNumb":{"readOnly":false,"description":"","type":"integer","format":"int32"},"multilanguageText":{"readOnly":false,"description":"","type":"string"},"decimalPlaces":{"readOnly":false,"description":"","type":"integer","format":"int32"},"variableType":{"readOnly":false,"description":"","type":"string"},"expression":{"readOnly":false,"description":"","type":"string"},"mandatory":{"readOnly":false,"description":"","type":"boolean"},"dataSource":{"readOnly":false,"description":"","type":"string"},"summaryLabel":{"readOnly":false,"description":"","type":"string"},"helpText":{"readOnly":false,"description":"","type":"string"},"displayName":{"readOnly":false,"description":"","type":"string"},"summaryFunction":{"readOnly":false,"description":"","type":"string"},"prefilledCSattribute":{"readOnly":false,"description":"","type":"string"},"interdependentCheckbox":{"readOnly":false,"description":"","type":"boolean"}},"example":{"defaultValue":"...","interdependentColumnId":12345,"uniqueName":"...","prefilledCScolumn":"...","prefilledCS":true,"ordinalNumb":12345,"multilanguageText":"...","decimalPlaces":12345,"variableType":"...","expression":"...","mandatory":true,"dataSource":"...","summaryLabel":"...","helpText":"...","displayName":"...","summaryFunction":"...","prefilledCSattribute":"...","interdependentCheckbox":true},"description":""},"json_ComfortGridDto":{"type":"object","title":"ComfortGridDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"columns":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_ComfortGridColumnRestDto_dto"}},"defaultValue":{"readOnly":false,"description":"","type":"string"},"prefilledFromParent":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"columns":[{"defaultValue":"...","interdependentColumnId":12345,"uniqueName":"...","prefilledCScolumn":"...","prefilledCS":true,"ordinalNumb":12345,"multilanguageText":"...","decimalPlaces":12345,"variableType":"...","expression":"...","mandatory":true,"dataSource":"...","summaryLabel":"...","helpText":"...","displayName":"...","summaryFunction":"...","prefilledCSattribute":"...","interdependentCheckbox":true},{"defaultValue":"...","interdependentColumnId":12345,"uniqueName":"...","prefilledCScolumn":"...","prefilledCS":true,"ordinalNumb":12345,"multilanguageText":"...","decimalPlaces":12345,"variableType":"...","expression":"...","mandatory":true,"dataSource":"...","summaryLabel":"...","helpText":"...","displayName":"...","summaryFunction":"...","prefilledCSattribute":"...","interdependentCheckbox":true}],"defaultValue":"...","prefilledFromParent":true,"system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"typeSpanning":true,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_ComfortGridDto_dto":{"type":"object","title":"ComfortGridDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"columns":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_ComfortGridColumnRestDto"}},"defaultValue":{"readOnly":false,"description":"","type":"string"},"prefilledFromParent":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"columns":[{"expression":"...","multilanguageText":"...","decimalPlaces":12345,"variableType":"...","displayName":"...","prefilledCS":true,"dataSource":"...","helpText":"...","prefilledCSattribute":"...","prefilledCScolumn":"...","summaryFunction":"...","mandatory":true,"ordinalNumb":12345,"summaryLabel":"...","interdependentColumnId":12345,"uniqueName":"...","interdependentCheckbox":true,"defaultValue":"..."},{"expression":"...","multilanguageText":"...","decimalPlaces":12345,"variableType":"...","displayName":"...","prefilledCS":true,"dataSource":"...","helpText":"...","prefilledCSattribute":"...","prefilledCScolumn":"...","summaryFunction":"...","mandatory":true,"ordinalNumb":12345,"summaryLabel":"...","interdependentColumnId":12345,"uniqueName":"...","interdependentCheckbox":true,"defaultValue":"..."}],"defaultValue":"...","prefilledFromParent":true,"typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_CommentCreateDto":{"type":"object","title":"CommentCreateDto","properties":{"content":{"readOnly":false,"description":"","type":"string"}},"example":{"content":"..."},"description":""},"json_CommentCreateDto_discussion":{"type":"object","title":"CommentCreateDto","properties":{"content":{"readOnly":false,"description":"","type":"string"}},"example":{"content":"..."},"description":""},"json_CommentDto_discussion":{"type":"object","title":"CommentDto","properties":{"user":{"readOnly":false,"$ref":"#/definitions/json_UserDto_dto","description":""},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"modifiedDate":{"readOnly":false,"description":"","type":"string"},"content":{"readOnly":false,"description":"","type":"string"},"createDate":{"readOnly":false,"description":"","type":"string"}},"example":{"user":{"id":12345,"fullName":"...","firstName":"...","email":"...","login":"...","lastName":"..."},"id":12345,"modifiedDate":"...","content":"...","createDate":"..."},"description":""},"json_CommentDto":{"type":"object","title":"CommentDto","properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"createDate":{"readOnly":false,"description":"","type":"string"},"user":{"readOnly":false,"$ref":"#/definitions/json_UserDto","description":""},"modifiedDate":{"readOnly":false,"description":"","type":"string"},"content":{"readOnly":false,"description":"","type":"string"}},"example":{"id":12345,"createDate":"...","user":{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."},"modifiedDate":"...","content":"..."},"description":""},"json_CommentUpdateDto":{"type":"object","title":"CommentUpdateDto","properties":{"content":{"readOnly":false,"description":"","type":"string"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"content":"...","id":12345},"description":""},"json_CommentUpdateDto_discussion":{"type":"object","title":"CommentUpdateDto","properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"content":{"readOnly":false,"description":"","type":"string"}},"example":{"id":12345,"content":"..."},"description":""},"json_ConflictsWithElementError":{"type":"object","title":"ConflictsWithElementError","allOf":[{"$ref":"#/definitions/json_ValidationResult"},{"properties":{"otherId":{"readOnly":false,"description":"","type":"string"}}}],"example":{"otherId":"...","messageParams":["...","..."],"severity":"ERROR","message":"..."},"description":""},"json_CreateProcessDto":{"type":"object","title":"CreateProcessDto","properties":{"parent":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"parent":12345},"description":""},"json_CreateProcessDto_dto":{"type":"object","title":"CreateProcessDto","properties":{"parent":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"parent":12345},"description":""},"json_CreateVariableTypeRequestDto":{"type":"object","title":"CreateVariableTypeRequestDto","properties":{"displayName":{"readOnly":false,"description":"","type":"string"},"inheritedVariableTypeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"metaTypeId":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"displayName":"...","inheritedVariableTypeId":12345,"metaTypeId":12345},"description":""},"json_CustomObjectDto":{"type":"object","title":"CustomObjectDto","properties":{"status":{"readOnly":false,"description":"","type":"integer","format":"int32"},"customStructureId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"name":{"readOnly":false,"description":"","type":"string"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"displayName":{"readOnly":false,"description":"","type":"string"}},"example":{"status":12345,"customStructureId":12345,"name":"...","id":12345,"displayName":"..."},"description":""},"json_CustomStructure":{"type":"object","title":"CustomStructure","properties":{"label":{"readOnly":false,"description":"","type":"string"},"nested":{"readOnly":false,"description":"","type":"boolean"},"name":{"readOnly":false,"description":"","type":"string"},"customObjects":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}}},"example":{"label":"...","nested":true,"name":"...","customObjects":{"property1":"...","property2":"..."}},"description":""},"json_CustomStructureAttributeDto":{"type":"object","title":"CustomStructureAttributeDto","properties":{"order":{"readOnly":false,"description":"","type":"integer","format":"int32"},"comment":{"readOnly":false,"description":"","type":"string"},"name":{"readOnly":false,"description":"","type":"string"},"label":{"readOnly":false,"description":"","type":"string"},"type":{"readOnly":false,"description":"","type":"string"},"id":{"readOnly":false,"description":"","type":"string"}},"example":{"order":12345,"comment":"...","name":"...","label":"...","type":"...","id":"..."},"description":""},"json_CustomStructureDecision":{"type":"object","title":"CustomStructureDecision","required":["nestedCustomStructure","multiselect"],"allOf":[{"$ref":"#/definitions/json_NonGenericDecision"},{"properties":{"ignoredCustomObjectNames":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}},"customObjectNamesToOutgoing":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"nestedCustomStructure":{"readOnly":false,"description":"","type":"boolean"},"customStructureName":{"readOnly":false,"description":"","type":"string"},"multiselect":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"ignoredCustomObjectNames":["...","..."],"customObjectNamesToOutgoing":{"property1":"...","property2":"..."},"nestedCustomStructure":true,"customStructureName":"...","multiselect":true,"type":"customStructure","userTaskId":"...","variableName":"..."},"description":""},"json_CustomStructureDto":{"type":"object","title":"CustomStructureDto","properties":{"name":{"readOnly":false,"description":"","type":"string"},"objects":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_CustomObjectDto"}},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"parentId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"displayName":{"readOnly":false,"description":"","type":"string"}},"example":{"name":"...","objects":[{"status":12345,"customStructureId":12345,"name":"...","id":12345,"displayName":"..."},{"status":12345,"customStructureId":12345,"name":"...","id":12345,"displayName":"..."}],"id":12345,"parentId":12345,"displayName":"..."},"description":""},"json_DataSheetAreaDto":{"type":"object","title":"DataSheetAreaDto","properties":{"flex":{"readOnly":false,"description":"","type":"integer","format":"int32"},"variables":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DataSheetVariableDto"}}},"example":{"flex":12345,"variables":[{"flex":12345,"required":true,"variableType":{"typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"editable":true},{"flex":12345,"required":true,"variableType":{"typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"editable":true}]},"description":""},"json_DataSheetAreaLightDto":{"type":"object","title":"DataSheetAreaLightDto","properties":{"variables":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}}},"example":{"variables":["...","..."]},"description":""},"json_DataSheetAreaLightDto_dto":{"type":"object","title":"DataSheetAreaLightDto","properties":{"variables":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}}},"example":{"variables":["...","..."]},"description":""},"json_DataSheetDto":{"type":"object","title":"DataSheetDto","properties":{"label":{"readOnly":false,"description":"","type":"string"},"sections":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DataSheetSectionDto"}},"type":{"readOnly":false,"description":"","type":"string"},"technicalName":{"readOnly":false,"description":"","type":"string"}},"example":{"label":"...","sections":[{"collapsible":true,"separatorNeeded":true,"name":"...","areas":[{"flex":12345,"variables":[{},{}]},{"flex":12345,"variables":[{},{}]}]},{"collapsible":true,"separatorNeeded":true,"name":"...","areas":[{"flex":12345,"variables":[{},{}]},{"flex":12345,"variables":[{},{}]}]}],"type":"...","technicalName":"..."},"description":""},"json_DataSheetLightDto":{"type":"object","title":"DataSheetLightDto","properties":{"sections":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DataSheetSectionLightDto"}},"label":{"readOnly":false,"description":"","type":"string"},"technicalName":{"readOnly":false,"description":"","type":"string"},"type":{"readOnly":false,"description":"","type":"string"}},"example":{"sections":[{"areas":[{"variables":["...","..."]},{"variables":["...","..."]}]},{"areas":[{"variables":["...","..."]},{"variables":["...","..."]}]}],"label":"...","technicalName":"...","type":"..."},"description":""},"json_DataSheetLightDto_dto":{"type":"object","title":"DataSheetLightDto","properties":{"type":{"readOnly":false,"description":"","type":"string"},"technicalName":{"readOnly":false,"description":"","type":"string"},"sections":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DataSheetSectionLightDto_dto"}},"label":{"readOnly":false,"description":"","type":"string"}},"example":{"type":"...","technicalName":"...","sections":[{"areas":[{"variables":["...","..."]},{"variables":["...","..."]}]},{"areas":[{"variables":["...","..."]},{"variables":["...","..."]}]}],"label":"..."},"description":""},"json_DataSheetSectionDto":{"type":"object","title":"DataSheetSectionDto","required":["collapsible","separatorNeeded"],"properties":{"collapsible":{"readOnly":false,"description":"","type":"boolean"},"separatorNeeded":{"readOnly":false,"description":"","type":"boolean"},"name":{"readOnly":false,"description":"","type":"string"},"areas":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DataSheetAreaDto"}}},"example":{"collapsible":true,"separatorNeeded":true,"name":"...","areas":[{"flex":12345,"variables":[{"flex":12345,"required":true,"variableType":{},"editable":true},{"flex":12345,"required":true,"variableType":{},"editable":true}]},{"flex":12345,"variables":[{"flex":12345,"required":true,"variableType":{},"editable":true},{"flex":12345,"required":true,"variableType":{},"editable":true}]}]},"description":""},"json_DataSheetSectionLightDto_dto":{"type":"object","title":"DataSheetSectionLightDto","properties":{"areas":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DataSheetAreaLightDto"}}},"example":{"areas":[{"variables":["...","..."]},{"variables":["...","..."]}]},"description":""},"json_DataSheetSectionLightDto":{"type":"object","title":"DataSheetSectionLightDto","properties":{"areas":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DataSheetAreaLightDto_dto"}}},"example":{"areas":[{"variables":["...","..."]},{"variables":["...","..."]}]},"description":""},"json_DataSheetVariableDto":{"type":"object","title":"DataSheetVariableDto","properties":{"flex":{"readOnly":false,"description":"","type":"integer","format":"int32"},"required":{"readOnly":false,"description":"","type":"boolean"},"variableType":{"readOnly":false,"$ref":"#/definitions/json_BaseVariableTypeDto","description":""},"editable":{"readOnly":false,"description":"","type":"boolean"}},"example":{"flex":12345,"required":true,"variableType":{"typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"editable":true},"description":""},"json_DateInputLineColumnDto":{"type":"object","title":"DateInputLineColumnDto","required":["mandatoryGridColumn"],"allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"prefilling":{"readOnly":false,"$ref":"#/definitions/json_PrefillingDto_common","description":""},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"dynamicTableIndex":{"readOnly":false,"description":"","type":"string"},"mandatoryGridColumn":{"readOnly":false,"description":"","type":"boolean"},"dateValidation":{"readOnly":false,"$ref":"#/definitions/json_DateValidationDto","description":""},"formerTechnicalValue":{"readOnly":false,"description":"","type":"string"}}}],"example":{"prefilling":{"permanentBinding":true,"overrideId":12345,"customStructureName":"...","attributeId":"...","keyId":12345},"position":12345,"dynamicTableIndex":"...","mandatoryGridColumn":true,"dateValidation":{"reference":12345,"offsetDays":12345,"validDatesOnly":true},"formerTechnicalValue":"...","system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"typeSpanning":true,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_DateInputLineColumnDto_dto":{"type":"object","title":"DateInputLineColumnDto","required":["mandatoryGridColumn"],"allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"dateValidation":{"readOnly":false,"$ref":"#/definitions/json_DateValidationDto_common","description":""},"formerTechnicalValue":{"readOnly":false,"description":"","type":"string"},"dynamicTableIndex":{"readOnly":false,"description":"","type":"string"},"mandatoryGridColumn":{"readOnly":false,"description":"","type":"boolean"},"prefilling":{"readOnly":false,"$ref":"#/definitions/json_PrefillingDto","description":""},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"}}}],"example":{"dateValidation":{"offsetDays":12345,"validDatesOnly":true,"reference":12345},"formerTechnicalValue":"...","dynamicTableIndex":"...","mandatoryGridColumn":true,"prefilling":{"overrideId":12345,"permanentBinding":true,"customStructureName":"...","attributeId":"...","keyId":12345},"position":12345,"typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_DateInputLineDto":{"type":"object","title":"DateInputLineDto","allOf":[{"$ref":"#/definitions/json_DateWithTimeInputLineDto"},{"properties":{"prefilling":{"readOnly":false,"$ref":"#/definitions/json_PrefillingDto_common","description":""}}}],"example":{"prefilling":{"permanentBinding":true,"overrideId":12345,"customStructureName":"...","attributeId":"...","keyId":12345},"inheritFromParent":true,"typeSpanning":true,"dateValidation":{"reference":12345,"offsetDays":12345,"validDatesOnly":true},"system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_DateInputLineDto_dto":{"type":"object","title":"DateInputLineDto","allOf":[{"$ref":"#/definitions/json_DateWithTimeInputLineDto_dto"},{"properties":{"prefilling":{"readOnly":false,"$ref":"#/definitions/json_PrefillingDto","description":""}}}],"example":{"prefilling":{"overrideId":12345,"permanentBinding":true,"customStructureName":"...","attributeId":"...","keyId":12345},"inheritFromParent":true,"typeSpanning":true,"dateValidation":{"offsetDays":12345,"validDatesOnly":true,"reference":12345},"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_DateValidationDto_common":{"type":"object","title":"DateValidationDto","properties":{"offsetDays":{"readOnly":false,"description":"","type":"integer","format":"int32"},"validDatesOnly":{"readOnly":false,"description":"","type":"boolean"},"reference":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"offsetDays":12345,"validDatesOnly":true,"reference":12345},"description":""},"json_DateValidationDto":{"type":"object","title":"DateValidationDto","properties":{"reference":{"readOnly":false,"description":"","type":"integer","format":"int32"},"offsetDays":{"readOnly":false,"description":"","type":"integer","format":"int32"},"validDatesOnly":{"readOnly":false,"description":"","type":"boolean"}},"example":{"reference":12345,"offsetDays":12345,"validDatesOnly":true},"description":""},"json_DateWithTimeInputLineDto_dto":{"type":"object","title":"DateWithTimeInputLineDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"inheritFromParent":{"readOnly":false,"description":"","type":"boolean"},"typeSpanning":{"readOnly":false,"description":"","type":"boolean"},"dateValidation":{"readOnly":false,"$ref":"#/definitions/json_DateValidationDto_common","description":""}}}],"example":{"inheritFromParent":true,"typeSpanning":true,"dateValidation":{"offsetDays":12345,"validDatesOnly":true,"reference":12345},"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_DateWithTimeInputLineDto":{"type":"object","title":"DateWithTimeInputLineDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"inheritFromParent":{"readOnly":false,"description":"","type":"boolean"},"typeSpanning":{"readOnly":false,"description":"","type":"boolean"},"dateValidation":{"readOnly":false,"$ref":"#/definitions/json_DateValidationDto","description":""}}}],"example":{"inheritFromParent":true,"typeSpanning":true,"dateValidation":{"reference":12345,"offsetDays":12345,"validDatesOnly":true},"system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_DayOfWeek":{"type":"string","title":"DayOfWeek","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"],"description":""},"json_DecisionExpression":{"type":"object","title":"DecisionExpression","properties":{"intValue":{"readOnly":false,"description":"","type":"integer","format":"int32"},"realNumberValue":{"readOnly":false,"description":"","type":"number"},"value":{"readOnly":false,"description":"","type":"string"},"operator":{"readOnly":false,"$ref":"#/definitions/json_Operator","description":""},"variableName":{"readOnly":false,"description":"","type":"string"}},"example":{"intValue":12345,"realNumberValue":12345,"value":"...","operator":"LESSER_EQUAL","variableName":"..."},"description":""},"json_DecisionExpressionError":{"type":"object","title":"DecisionExpressionError","allOf":[{"$ref":"#/definitions/json_UnsupportedAttributeError"},{}],"example":{"attrValue":"...","attrName":"...","messageParams":["...","..."],"severity":"WARINIG","message":"..."},"description":""},"json_DefinitionsValidationResults":{"type":"object","title":"DefinitionsValidationResults","allOf":[{"$ref":"#/definitions/json_ChildrenValidationResults"},{}],"example":{"elements":[{"validationResults":[{"messageParams":["...","..."],"severity":"WARINIG","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]},{"validationResults":[{"messageParams":["...","..."],"severity":"WARINIG","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]}],"id":"...","update":["...","..."],"produce":["...","..."],"require":["...","..."],"validationResults":[{"messageParams":["...","..."],"severity":"ERROR","message":"..."},{"messageParams":["...","..."],"severity":"WARINIG","message":"..."}]},"description":""},"json_DelegationStartDto":{"type":"object","title":"DelegationStartDto","properties":{"stopDate":{"readOnly":false,"description":"","type":"string","format":"date-time"},"startDate":{"readOnly":false,"description":"","type":"string","format":"date-time"},"login":{"readOnly":false,"description":"","type":"string"}},"example":{"stopDate":"...","startDate":"...","login":"..."},"description":""},"json_DescriptionTextDto":{"type":"object","title":"DescriptionTextDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"text":{"readOnly":false,"description":"","type":"string"}}}],"example":{"text":"...","system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"typeSpanning":true,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_DescriptionTextDto_dto":{"type":"object","title":"DescriptionTextDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"text":{"readOnly":false,"description":"","type":"string"}}}],"example":{"text":"...","typeSpanning":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_DiscussionCreateDto":{"type":"object","title":"DiscussionCreateDto","properties":{"title":{"readOnly":false,"description":"","type":"string"},"content":{"readOnly":false,"description":"","type":"string"}},"example":{"title":"...","content":"..."},"description":""},"json_DiscussionCreateDto_discussion":{"type":"object","title":"DiscussionCreateDto","properties":{"content":{"readOnly":false,"description":"","type":"string"},"title":{"readOnly":false,"description":"","type":"string"}},"example":{"content":"...","title":"..."},"description":""},"json_DiscussionDto_discussion":{"type":"object","title":"DiscussionDto","properties":{"participants":{"readOnly":false,"description":"","type":"array","items":{"type":"integer"}},"title":{"readOnly":false,"description":"","type":"string"},"content":{"readOnly":false,"description":"","type":"string"},"createDate":{"readOnly":false,"description":"","type":"string"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"type":{"readOnly":false,"$ref":"#/definitions/json_DseDiscussionTypeEnum","description":""},"modifiedDate":{"readOnly":false,"description":"","type":"string"}},"example":{"participants":[12345,12345],"title":"...","content":"...","createDate":"...","id":12345,"type":"CUSTOM","modifiedDate":"..."},"description":""},"json_DiscussionDto":{"type":"object","title":"DiscussionDto","properties":{"type":{"readOnly":false,"$ref":"#/definitions/json_DseDiscussionTypeEnum_DiscussionDto","description":""},"modifiedDate":{"readOnly":false,"description":"","type":"string"},"content":{"readOnly":false,"description":"","type":"string"},"createDate":{"readOnly":false,"description":"","type":"string"},"title":{"readOnly":false,"description":"","type":"string"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"participants":{"readOnly":false,"description":"","type":"array","items":{"type":"integer"}}},"example":{"type":"CUSTOM","modifiedDate":"...","content":"...","createDate":"...","title":"...","id":12345,"participants":[12345,12345]},"description":""},"json_DiscussionUpdateDto_discussion":{"type":"object","title":"DiscussionUpdateDto","properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"title":{"readOnly":false,"description":"","type":"string"},"content":{"readOnly":false,"description":"","type":"string"}},"example":{"id":12345,"title":"...","content":"..."},"description":""},"json_DiscussionUpdateDto":{"type":"object","title":"DiscussionUpdateDto","properties":{"content":{"readOnly":false,"description":"","type":"string"},"title":{"readOnly":false,"description":"","type":"string"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"content":"...","title":"...","id":12345},"description":""},"json_DocumentSelectorDto":{"type":"object","title":"DocumentSelectorDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto"},{"properties":{"typeSpanning":{"readOnly":false,"description":"","type":"boolean"},"inheritFromParent":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"typeSpanning":true,"inheritFromParent":true,"mode":12345,"storageType":12345,"placed":true,"metaTypeId":5,"rawLabel":"...","sharedLocale":true,"dependsFromVariableValues":["...","..."],"id":12345,"technicalName":"...","visibility":{"variableId":12345,"values":["...","..."]},"displayName":"...","system":true,"helpText":"...","metaTypeName":"...","dependsFromVariableId":12345,"uniqueName":"..."},"description":""},"json_DocumentSelectorDto_dto":{"type":"object","title":"DocumentSelectorDto","allOf":[{"$ref":"#/definitions/json_BaseVariableTypeDto_dto"},{"properties":{"inheritFromParent":{"readOnly":false,"description":"","type":"boolean"},"typeSpanning":{"readOnly":false,"description":"","type":"boolean"}}}],"example":{"inheritFromParent":true,"typeSpanning":true,"system":true,"uniqueName":"...","storageType":12345,"displayName":"...","technicalName":"...","metaTypeName":"...","dependsFromVariableValues":["...","..."],"helpText":"...","rawLabel":"...","id":12345,"dependsFromVariableId":12345,"mode":12345,"sharedLocale":true,"metaTypeId":5,"visibility":{"variableId":12345,"values":["...","..."]}},"description":""},"json_DseAllMetadataMigration":{"type":"object","title":"DseAllMetadataMigration","properties":{"otherMigrations":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DseMetadataMigration"}},"objectTypeMigrations":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_DseObjectTypeSpecificChangesAndValidations"}}},"example":{"otherMigrations":[{"changeObject":"...","changeType":"..."},{"changeObject":"...","changeType":"..."}],"objectTypeMigrations":{"property1":{"valid":true,"adminChanges":[{"changeObject":"...","changeType":"..."},{"changeObject":"...","changeType":"..."}]},"property2":{"valid":true,"adminChanges":[{"changeObject":"...","changeType":"..."},{"changeObject":"...","changeType":"..."}]}}},"description":""},"json_DseAssigneeMinDto":{"type":"object","title":"DseAssigneeMinDto","properties":{"userGroupId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"userId":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"userGroupId":12345,"userId":12345},"description":""},"json_DseBpmnMessageDto":{"type":"object","title":"DseBpmnMessageDto","properties":{"name":{"readOnly":false,"description":"","type":"string"},"data":{"readOnly":false,"description":"","type":"string"}},"example":{"name":"...","data":"..."},"description":""},"json_DseBpmnObjectDto":{"type":"object","title":"DseBpmnObjectDto","properties":{"l10nLocaleId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"state":{"readOnly":false,"description":"","type":"string"},"values":{"readOnly":false,"description":"","type":"object","additionalProperties":{"$ref":"#/definitions/json_DseBpmnObjectValueDto"}},"creator":{"readOnly":false,"$ref":"#/definitions/json_UserDto","description":""},"workflowTypeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"typeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"instanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"workflowObjectId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"createdBy":{"readOnly":false,"description":"","type":"string"},"dseObjectTypeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"ordinalNumber":{"readOnly":false,"description":"","type":"integer","format":"int32"},"parentId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"extendedName":{"readOnly":false,"description":"","type":"string"},"name":{"readOnly":false,"description":"","type":"string"}},"example":{"l10nLocaleId":12345,"state":"...","values":{"property1":{"displayValue":"...","metaTypeId":12345,"inheritedValue":"...","inheritFromParent":"BROKEN_INHERITANCE","value":{}},"property2":{"displayValue":"...","metaTypeId":12345,"inheritedValue":"...","inheritFromParent":"BROKEN_INHERITANCE","value":{}}},"creator":{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."},"workflowTypeId":12345,"typeId":12345,"instanceId":12345,"workflowObjectId":12345,"createdBy":"...","dseObjectTypeId":12345,"ordinalNumber":12345,"parentId":12345,"extendedName":"...","name":"..."},"description":""},"json_DseBpmnObjectUpdateDto":{"type":"object","title":"DseBpmnObjectUpdateDto","properties":{"values":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DseBpmnObjectUpdateValueDto"}},"instanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"l10nLocaleId":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"values":[{"uniqueName":"...","value":"..."},{"uniqueName":"...","value":"..."}],"instanceId":12345,"l10nLocaleId":12345},"description":""},"json_DseBpmnObjectUpdateValueDto":{"type":"object","title":"DseBpmnObjectUpdateValueDto","properties":{"uniqueName":{"readOnly":false,"description":"","type":"string"},"value":{"readOnly":false,"description":"","type":"string"}},"example":{"uniqueName":"...","value":"..."},"description":""},"json_DseCategoryDto":{"type":"object","title":"DseCategoryDto","allOf":[{"$ref":"#/definitions/json_DseCreateCategoryDto"},{"properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"}}}],"example":{"id":12345,"dseModule":"JOB","label":{"property1":"...","property2":"..."},"name":"..."},"description":""},"json_DseColumnDto":{"type":"object","title":"DseColumnDto","properties":{"value":{"readOnly":false,"description":"","type":"string"},"displayValue":{"readOnly":false,"description":"","type":"string"}},"example":{"value":"...","displayValue":"..."},"description":""},"json_DseCommentCreateOrUpdateDto":{"type":"object","title":"DseCommentCreateOrUpdateDto","properties":{"idReceiver":{"readOnly":false,"description":"","type":"integer","format":"int32"},"isGroup":{"readOnly":false,"description":"","type":"boolean"},"body":{"readOnly":false,"description":"","type":"string"}},"example":{"idReceiver":12345,"isGroup":true,"body":"..."},"description":""},"json_DseCommentDto":{"type":"object","title":"DseCommentDto","properties":{"createDateInDays":{"readOnly":false,"description":"","type":"string"},"jobName":{"readOnly":false,"description":"","type":"string"},"commentId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"modifiedDate":{"readOnly":false,"description":"","type":"string","format":"date-time"},"isSub":{"readOnly":false,"description":"","type":"boolean"},"reviewTitle":{"readOnly":false,"description":"","type":"string"},"parentId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"body":{"readOnly":false,"description":"","type":"string"},"createDate":{"readOnly":false,"description":"","type":"string","format":"date-time"},"members":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DseCommentMemberDto"}},"user":{"readOnly":false,"$ref":"#/definitions/json_UserDto","description":""},"replies":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DseCommentReplyDto"}},"type":{"readOnly":false,"$ref":"#/definitions/json_DseCommentTypeUIRestEnum","description":""}},"example":{"createDateInDays":"...","jobName":"...","commentId":12345,"modifiedDate":"...","isSub":true,"reviewTitle":"...","parentId":12345,"body":"...","createDate":"...","members":[{"isGroup":true,"fullName":"..."},{"isGroup":true,"fullName":"..."}],"user":{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."},"replies":[{"date":"...","creator":{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."},"body":"...","lastModified":"...","replyId":12345},{"date":"...","creator":{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."},"body":"...","lastModified":"...","replyId":12345}],"type":"FORWARDED"},"description":""},"json_DseCommentMemberDto":{"type":"object","title":"DseCommentMemberDto","properties":{"isGroup":{"readOnly":false,"description":"","type":"boolean"},"fullName":{"readOnly":false,"description":"","type":"string"}},"example":{"isGroup":true,"fullName":"..."},"description":""},"json_DseCommentReplyCreateOrUpdateDto":{"type":"object","title":"DseCommentReplyCreateOrUpdateDto","properties":{"body":{"readOnly":false,"description":"","type":"string"}},"example":{"body":"..."},"description":""},"json_DseCommentReplyDto":{"type":"object","title":"DseCommentReplyDto","properties":{"date":{"readOnly":false,"description":"","type":"string","format":"date-time"},"creator":{"readOnly":false,"$ref":"#/definitions/json_UserDto","description":""},"body":{"readOnly":false,"description":"","type":"string"},"lastModified":{"readOnly":false,"description":"","type":"string","format":"date-time"},"replyId":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"date":"...","creator":{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."},"body":"...","lastModified":"...","replyId":12345},"description":""},"json_DseCommentTypeUIRestEnum":{"type":"string","title":"DseCommentTypeUIRestEnum","enum":["COMMENT","REJECTED","FORWARDED","REVIEW_STARTED","REVIEW_APPROVED","REVIEW_REJECTED","REVIEW_ITERATION_REQUESTED","REVIEW_ITERATION_UPLOADED","REASSIGNED"],"description":""},"json_DseCreateCategoryDto":{"type":"object","title":"DseCreateCategoryDto","allOf":[{"$ref":"#/definitions/json_DseUpdateCategoryDto"},{"properties":{"dseModule":{"readOnly":false,"$ref":"#/definitions/json_DseModuleEnum","description":""}}}],"example":{"dseModule":"PRODUCT","label":{"property1":"...","property2":"..."},"name":"..."},"description":""},"json_DseCustomObjectDtoV1":{"type":"object","title":"DseCustomObjectDtoV1","properties":{"value":{"readOnly":false,"description":"","type":"string"},"parentValue":{"readOnly":false,"description":"","type":"string"},"label":{"readOnly":false,"description":"","type":"string"}},"example":{"value":"...","parentValue":"...","label":"..."},"description":""},"json_DseDashboardObjectDto":{"type":"object","title":"DseDashboardObjectDto","properties":{"dueDate":{"readOnly":false,"description":"","type":"string"},"dashboardObjectType":{"readOnly":false,"$ref":"#/definitions/json_DseDashboardObjectTypeEnum","description":""},"jobOrdinalNumber":{"readOnly":false,"description":"","type":"integer","format":"int32"},"name":{"readOnly":false,"description":"","type":"string"},"jobStepNumber":{"readOnly":false,"description":"","type":"integer","format":"int32"},"jobInstanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"state":{"readOnly":false,"description":"","type":"string"}},"example":{"dueDate":"...","dashboardObjectType":"JOB","jobOrdinalNumber":12345,"name":"...","jobStepNumber":12345,"jobInstanceId":12345,"state":"..."},"description":""},"json_DseDashboardObjectDto_dto":{"type":"object","title":"DseDashboardObjectDto","properties":{"dueDate":{"readOnly":false,"description":"","type":"string"},"name":{"readOnly":false,"description":"","type":"string"},"jobInstanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"state":{"readOnly":false,"description":"","type":"string"},"jobStepNumber":{"readOnly":false,"description":"","type":"integer","format":"int32"},"dashboardObjectType":{"readOnly":false,"$ref":"#/definitions/json_DseDashboardObjectTypeEnum_dto","description":""},"jobOrdinalNumber":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"dueDate":"...","name":"...","jobInstanceId":12345,"state":"...","jobStepNumber":12345,"dashboardObjectType":"JOB","jobOrdinalNumber":12345},"description":""},"json_DseDashboardObjectTypeEnum_dto":{"type":"string","title":"DseDashboardObjectTypeEnum","enum":["JOB","TASK"],"description":""},"json_DseDashboardObjectTypeEnum":{"type":"string","title":"DseDashboardObjectTypeEnum","enum":["JOB","TASK"],"description":""},"json_DseDefaultTypesAdminDto":{"type":"object","title":"DseDefaultTypesAdminDto","properties":{"defaultDseObjectTypeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"onlyBriefingDseObjectTypeId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"topicId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"onlyBriefingDseObjectTypeEnabled":{"readOnly":false,"description":"","type":"boolean"}},"example":{"defaultDseObjectTypeId":12345,"onlyBriefingDseObjectTypeId":12345,"topicId":12345,"onlyBriefingDseObjectTypeEnabled":true},"description":""},"json_DseDiscussionCreateOrUpdateDto":{"type":"object","title":"DseDiscussionCreateOrUpdateDto","properties":{"title":{"readOnly":false,"description":"","type":"string"}},"example":{"title":"..."},"description":""},"json_DseDiscussionDto":{"type":"object","title":"DseDiscussionDto","properties":{"listLinkedMedias":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DseLinkedMediaDto"}},"dseObjectId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"type":{"readOnly":false,"$ref":"#/definitions/json_DseDiscussionTypeUIRestEnum","description":""},"listComments":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DseCommentDto"}},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"l10nLocaleId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"modifiedDate":{"readOnly":false,"description":"","type":"string"},"jobName":{"readOnly":false,"description":"","type":"string"},"title":{"readOnly":false,"description":"","type":"string"},"createDate":{"readOnly":false,"description":"","type":"string"}},"example":{"listLinkedMedias":[{"version":12345,"createDate":"...","mediaGUID":12345,"suffix":"...","user":{"lastName":"...","firstName":"...","fullName":"...","id":12345,"login":"...","email":"..."},"previewURL":"...","mediaName":"..."},{"version":12345,"createDate":"...","mediaGUID":12345,"suffix":"...","user":{"lastName":"...",
[...]
