<!--- footer with navigation -->
<footer class="dp_footer">
    <div class="dp_footer__wrapper">
        <div class="dp_footer__left">
            <a href="https://uptempo.io" target="_blank" class="dp_footer__homelink">&copy;Uptempo</a>
        </div>
        <div class="dp_footer__right">
            <nav>
                <ul class="dp_footer__navlist">
                    <li class="dp_footer__navlistitem">
                        <a target="_blank" class="dp_footer__navlistitemlink" href="https://www.uptempo.io/imprint/">Legal Notice</a>
                    </li>
                    <li class="dp_footer__navlistitem">
                        <a target="_blank" class="dp_footer__navlistitemlink" href="https://www.uptempo.io/terms-conditions-of-use/">Terms &amp; Conditions</a>
                    </li>
                    <li class="dp_footer__navlistitem">
                        <a target="_blank" class="dp_footer__navlistitemlink" href="https://www.uptempo.io/contact-us/">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
