<!--- footer with navigation -->
<footer class="dp_footer">
    <div class="dp_footer__wrapper">
        <div class="dp_footer__left">
            &copy;BrandMaker Made in Germany
        </div>
        <div class="dp_footer__right">
            <nav>
                <ul class="dp_footer__navlist">
                    <li class="dp_footer__navlistitem">
                        <a target="_blank" class="dp_footer__navlistitemlink" href="https://www.brandmaker.com/imprint/">Legal Notice</a>
                    </li>
                    <li class="dp_footer__navlistitem">
                        <a target="_blank" class="dp_footer__navlistitemlink" href="https://www.brandmaker.com/privacy-policy/">Terms &amp; Conditions</a>
                    </li>
                    <li class="dp_footer__navlistitem">
                        <a target="_blank" class="dp_footer__navlistitemlink" href="https://www.brandmaker.com/contact/">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
