<nav class="nav_pageSlots" role="navigation">
    {% set slotPages = collections.all | eleventyNavigation("FUX") %}
    <script type="text/javascript">
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function handleSelect(elm) {
            console.log(elm)
            for (var i = 0; i < elm.options.length; i++) {
                document.getElementById(elm.options[i].value).style.height = '0';
                document.getElementById(elm.options[i].value).style.opacity = '0';
            }
            await sleep(150);
            document.getElementById(elm.value).style.height = '100%';
            document.getElementById(elm.value).style.opacity = '1';
        }
    </script>
    <h2 class="nav_pageSlots__header">Page Slot Definitions</h2>
    <div class="nav_pageSlots__list">
        {%- for module in slotPages %}
        {%- if setModule === module.url -%}
        <div class="nav_pageSlots__list_elem">
            <div class="nav_pageSlots__list_elem_header">
                {{ module.title }}
                <div class="nav_pageSlots__list_elem_header_inner">
                    <label>Version: </label>
                    <select onchange="javascipt:handleSelect(this)" id="FUX_pageSlots_{{ module.title }}" class="select-css nav_pageSlots__select">
                    {%- for productV in module.children %}
                        <optgroup label="{{ productV.title }}" class="nav_pageSlots__select_optgroup">
                        {%- for apiV in productV.children %}
                            {%- if productV.title === setProductVersion and apiV.title === setApiVersion -%}
                                <option value="{{ module.url }}/{{ productV.url }}/{{ apiV.url }}" class="nav_pageSlots__select_option" selected>
                                    {{ apiV.title }}
                                </option>
                            {%- else -%}
                                <option value="{{ module.url }}/{{ productV.url }}/{{ apiV.url }}" class="nav_pageSlots__select_option">
                                    {{ apiV.title }}
                                </option>
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor -%}
                    </select>
                </div>
            </div>
            <div class="nav_pageSlots__list_elem_body">
                {%- for productV in module.children %}
                    {%- for apiV in productV.children %}
                        {%- if productV.title === setProductVersion and apiV.title === setApiVersion -%}
                            <div class="nav_pageSlots__list_elem_body_section" id="{{ module.url }}/{{ productV.url }}/{{ apiV.url }}" style="height: 100%; opacity: 1;">
                            {%- for page in apiV.children %}
                                <a href="/guides/fusion-ux-logic/{{ module.url }}/{{ productV.url }}/{{ apiV.url }}/{{ page.url }}/">{{ page.title }}</a>
                            {%- endfor -%}
                            </div>
                        {%- else -%}
                            <div class="nav_pageSlots__list_elem_body_section" id="{{ module.url }}/{{ productV.url }}/{{ apiV.url }}" style="height: 0; opacity: 0;">
                            {%- for page in apiV.children %}
                                <a href="/guides/fusion-ux-logic/{{ module.url }}/{{ productV.url }}/{{ apiV.url }}/{{ page.url }}/">{{ page.title }}</a>
                            {%- endfor -%}
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                {%- endfor -%}
            </div>
        </div>
        {%- else -%}
        <div class="nav_pageSlots__list_elem">
            <div class="nav_pageSlots__list_elem_header">
                {{ module.title }}
                <div class="nav_pageSlots__list_elem_header_inner">
                    <label>Version: </label>
                    <select onchange="javascipt:handleSelect(this)" id="FUX_pageSlots_{{ module.title }}" class="select-css nav_pageSlots__select">
                    {%- for productV in module.children %}
                        <optgroup label="{{ productV.title }}" class="nav_pageSlots__select_optgroup">
                        {%- for apiV in productV.children %}
                            {%- if productV.title === module.excerpt and apiV.title === productV.excerpt -%}
                                <option value="{{ module.url }}/{{ productV.url }}/{{ apiV.url }}" class="nav_pageSlots__select_option" selected>
                                    {{ apiV.title }}
                                </option>
                            {%- else -%}
                                <option value="{{ module.url }}/{{ productV.url }}/{{ apiV.url }}" class="nav_pageSlots__select_option">
                                    {{ apiV.title }}
                                </option>
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor -%}
                    </select>
                </div>
            </div>
            <div class="nav_pageSlots__list_elem_body">
                {%- for productV in module.children %}
                    {%- for apiV in productV.children %}
                        {%- if productV.title === module.excerpt and apiV.title === productV.excerpt -%}
                            <div class="nav_pageSlots__list_elem_body_section" id="{{ module.url }}/{{ productV.url }}/{{ apiV.url }}" style="height: 100%; opacity: 1;">
                            {%- for page in apiV.children %}
                                <a href="/guides/fusion-ux-logic/{{ module.url }}/{{ productV.url }}/{{ apiV.url }}/{{ page.url }}/">{{ page.title }}</a>
                            {%- endfor -%}
                            </div>
                        {%- else -%}
                            <div class="nav_pageSlots__list_elem_body_section" id="{{ module.url }}/{{ productV.url }}/{{ apiV.url }}" style="height: 0; opacity: 0;">
                            {%- for page in apiV.children %}
                                <a href="/guides/fusion-ux-logic/{{ module.url }}/{{ productV.url }}/{{ apiV.url }}/{{ page.url }}/">{{ page.title }}</a>
                            {%- endfor -%}
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                {%- endfor -%}
            </div>
        </div>
        {%- endif -%}
    {%- endfor -%}
    <p>Last updated: {{ '' | currentDate }}</p>
    </div>
</nav>