{"openapi":"3.0.1","info":{"title":"Brand Template Builder RESTful Service API","description":"Brand Template Builder RESTful API Documentation","contact":{"name":"Brand Template Builder","email":"dev-team-wp@brandmaker.com"},"version":"43.1.3-7.4.0"},"servers":[{"url":"https://is-dev2.brandmaker.com"},{"url":"/"}],"security":[{"jwtScheme":[]},{"basicScheme":[]},{"cookieScheme":[]},{"BearerAuth":[]}],"tags":[{"name":"AffiliatesResource","description":"RESTful resource responsible for affiliates"},{"name":"AffiliatesSuggestionsResource","description":"RESTful resource responsible for affiliates"},{"name":"CSSResource","description":"RESTful resource RTE CSS styles"},{"name":"ChannelsResource"},{"name":"ConfigurationsResource","description":"RESTful resource for RTE configurations"},{"name":"ConfigureTemplatesResource","description":"RESTful resource responsible for template autoconfiguration"},{"name":"CreateAssetStylesIDMLResource","description":"RESTful service responsible for extraction of styles from IDML file"},{"name":"CustomPropertiesResource"},{"name":"CustomPropertyValuesResource"},{"name":"DefaultDropdownValuesResource","description":"RESTful resource responsible for dropdown selection"},{"name":"DocumentCreationPropertiesResource"},{"name":"DocumentCreationResource"},{"name":"DocumentResource"},{"name":"DownloadNotificationsResource","description":"RESTful resource responsible for download notifications"},{"name":"DynamicServiceResource","description":"RESTful resource responsible for dynamic services"},{"name":"ExportCustomPropertiesResource","description":"RESTFull resource responsible for exporting custom properties"},{"name":"ExportTemplatesResource","description":"RESTFull resource responsible for exporting templates"},{"name":"FavoritesResource","description":"RESTful resource responsible for user`s favorite templates"},{"name":"FavoritesResourceV2","description":"RESTful resource responsible for user`s favorite templates"},{"name":"GenericNotificationsResource","description":"RESTful resource responsible for download notifications"},{"name":"HealthResource","description":"Health check resource"},{"name":"HtmlPreviewCaptureResource","description":"RESTful resource responsible for the capturing the preview of an HTML document"},{"name":"ImportCustomPropertiesResource","description":"RESTFull resource responsible for importing custom properties"},{"name":"ImportTemplatesResource","description":"RESTful resource responsible for importing templates"},{"name":"IndexAffiliatesResource","description":"RESTful resource responsible for creating indexes of affiliates"},{"name":"IndexInstancesResource","description":"RESTful resource responsible for creating indexes of instances"},{"name":"IndexTemplatesResource","description":"RESTful resource responsible for creating indexes of templates"},{"name":"IndexTestResource","description":"RESTful resource responsible for some templates/instances testing"},{"name":"InstanceArchiverResource","description":"RESTful resource responsible for archiving/unarchiving instances"},{"name":"InstanceLocalesResources"},{"name":"InstancePreviewInfoResource","description":"RESTful resource responsible for the information of the preview of a finalized instance"},{"name":"InstanceSizeResource"},{"name":"InstanceWorkflowNotificationsResource","description":"RESTful resource responsible for workflow notifications"},{"name":"InstancesByCreationResource","description":"RESTful resource responsible for searching instances by creation date"},{"name":"InstancesByStatusResource","description":"RESTful resource responsible for searching instances by status"},{"name":"InstancesResource"},{"name":"JobsResource","description":"RESTful resource responsible for handling template/instance jobs"},{"name":"MapsAttachmentResource","description":"RESTful resource responsible for MaPS attachments"},{"name":"MapsRestApi"},{"name":"OutputMethodsResource","description":"RESTful resource responsible for output methods\nSuccessor of RendererResource"},{"name":"PimInfoResource"},{"name":"PrintJobNotificationsResource","description":"RESTful resource responsible for print job notifications"},{"name":"PrintingOfficesResource","description":"RESTful resource responsible for printing offices"},{"name":"RendererResource","description":"RESTful resource responsible for output methods"},{"name":"SearchAffiliatesResource","description":"RESTful resource responsible for searching instances"},{"name":"SearchFilterPropertiesResource"},{"name":"SearchFiltersResource","description":"RESTful resource responsible for search fields"},{"name":"SearchInstancesResource","description":"RESTful resource responsible for searching instances"},{"name":"SearchSmartGroupsResource"},{"name":"SearchTemplatesResource","description":"RESTful resource responsible for searching templates"},{"name":"StandardFormatExporterResource","description":"RESTFull resource responsible for exporting standard formats and groups"},{"name":"StandardFormatGroupVisibilityOptionsResource"},{"name":"StandardFormatGroupsResource"},{"name":"StandardFormatImporterResource","description":"RESTFull resource responsible for exporting templates"},{"name":"StandardFormatsResource"},{"name":"StylesResource","description":"RESTful service for RTE styles"},{"name":"TemplateArchiverResource","description":"RESTful resource responsible for archiving/unarchiving templates"},{"name":"TemplateBoxesResource","description":"RESTful resource responsible for the boxes of a given template"},{"name":"TemplateInstanceLocalesResources"},{"name":"TemplateInstancesResource","description":"RESTful resource responsible for creating instances for a given template"},{"name":"TemplatePreviewsResource","description":"RESTful resource responsible for template previews"},{"name":"TemplateRenderersResource","description":"RESTful resource responsible for template renderers"},{"name":"TemplateResourceV2"},{"name":"TemplateWorkflowNotificationsResource","description":"RESTful resource responsible for workflow notifications"},{"name":"TemplatesByCreationResource","description":"RESTful resource responsible for searching templates by creation date and usage"},{"name":"TemplatesGroupResource"},{"name":"TemplatesResource","description":"RESTful resource responsible for templates"},{"name":"ThemeInfoResource"},{"name":"WorkflowCommentsResource","description":"RESTful resource responsible for comments"}],"paths":{"/wp/rest/affiliates":{"post":{"tags":["AffiliatesResource"],"description":"Finds affiliates by given codes and range (both can be null)\n\n__Security Roles Allowed:__ PUBLICATION_MANIPULATE_INSTANCE","operationId":"AffiliatesResource-POST_getAffiliates","requestBody":{"description":"- affiliate search configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliatesCodeSearch"},"example":"{\n  \"codes\" : [ \"...\", \"...\" ],\n  \"searchRange\" : {\n    \"offset\" : 12345,\n    \"limit\" : 12345\n  }\n}"}},"required":true},"responses":{"200":{"description":"Get affiliates successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Affiliates"}}}},"403":{"description":"User has no rights to load affiliates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Affiliates"}}}},"500":{"description":"Failed to get affiliates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Affiliates"}}}}}}},"/wp/rest/affiliates/_forCurrentUser":{"get":{"tags":["AffiliatesResource"],"description":"Retrieves affiliates for current user\n\n__Security Roles Allowed:__ PUBLICATION_MANIPULATE_INSTANCE","operationId":"AffiliatesResource-GET_getAffiliatesForCurrentUser","responses":{"200":{"description":"Get affiliates successful.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Affiliate"}}}}},"403":{"description":"User has no rights to load affiliates","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Affiliate"}}}}},"500":{"description":"Failed to get affiliates","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Affiliate"}}}}}}}},"/wp/rest/affiliates/_suggest":{"get":{"tags":["AffiliatesSuggestionsResource"],"description":"Finds affiliates by suggesting\n\n__Security Roles Allowed:__ PUBLICATION_MANIPULATE_INSTANCE","operationId":"AffiliatesSuggestionsResource-GET_suggest","parameters":[{"name":"prefix","in":"query","description":"suggestion prefix","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get affiliates successful.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Affiliate"}}}}},"403":{"description":"User has no rights to load affiliates","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Affiliate"}}}}},"500":{"description":"Failed to get affiliates","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Affiliate"}}}}}}},"post":{"tags":["SearchAffiliatesResource"],"description":"\n\n__Security Roles Allowed:__ PUBLICATION_MODULE_ACCESS","operationId":"SearchAffiliatesResource-POST_suggest","parameters":[{"name":"limit","in":"query","required":true,"schema":{"minimum":1,"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateQuery"},"example":"{\n  \"searchText\" : \"...\",\n  \"name\" : \"...\",\n  \"codes\" : [ \"...\", \"...\" ]\n}"}},"required":true},"responses":{"201":{"description":"201","content":{"application/json":{"schema":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}}}},"/wp/rest/editor-styles/css":{"get":{"tags":["CSSResource"],"description":"Generates RTE configured styles' CSS.<br>","operationId":"CSSResource-GET_getContentsCss","parameters":[{"name":"target","in":"query","description":"One of 'content' or 'editorarea'","required":true,"schema":{"maxLength":2147483647,"minLength":1,"type":"string"}}],"responses":{"200":{"description":"Generated CSS","content":{"text/css":{"schema":{"type":"string"}}}}}}},"/wp/rest/channels":{"get":{"tags":["ChannelsResource"],"description":"Gets all channels\n\n__Security Roles Allowed:__ ORGANISATION_MANAGE_DOCUMENT_SIZES, PUBLICATION_MODULE_ACCESS","operationId":"ChannelsResource-GET_getAll","parameters":[{"name":"withMultilanguage","in":"query","description":"whether to include all translations of the multilingual fields","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"a collection of channels","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Channel"}},"example":"[ {\n  \"id\" : 12345,\n  \"uniqueName\" : \"...\",\n  \"label\" : \"...\",\n  \"multilingualLabel\" : {\n    \"extension1\" : \"...\",\n    \"extension2\" : \"...\"\n  }\n} ]"}}}}}},"/wp/rest/editor-configurations":{"get":{"tags":["ConfigurationsResource"],"description":"Gets all RTE configurations","operationId":"ConfigurationsResource-GET_getEditorConfigurations","parameters":[{"name":"withUsage","in":"query","description":"If 'true' load configurations' template usage. Defaults to 'false'","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"All RTE configuration","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EditorConfiguration"}},"example":"[ {\n  \"id\" : 12345,\n  \"label\" : \"...\",\n  \"description\" : \"...\",\n  \"position\" : 12345,\n  \"showButtonCharacterStyles\" : 12345,\n  \"templateCount\" : 12345,\n  \"showButtonInsertBulletpoint\" : true,\n  \"showButtonParagraphStyles\" : 12345,\n  \"showButtonTable\" : true,\n  \"showButtonStrikeThrough\" : true,\n  \"showButtonSuperscript\" : true,\n  \"variableConfigurationValue\" : \"...\",\n  \"showButtonSubscript\" : true,\n  \"showButtonItalic\" : true,\n  \"showButtonColumnBreak\" : true,\n  \"showButtonSpecialCharacters\" : true,\n  \"showButtonFindReplace\" : true,\n  \"showButtonPictureUpload\" : true,\n  \"showButtonHyperlink\" : true,\n  \"showButtonRightIndent\" : true,\n  \"showButtonUnderline\" : true,\n  \"showButtonTextcolor\" : true,\n  \"editorStyles\" : [ {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  } ],\n  \"showButtonImportTable\" : true,\n  \"global\" : 12345,\n  \"showButtonFrameBreak\" : true,\n  \"showButtonInsertTabulator\" : true,\n  \"editorColors\" : [ {\n    \"editorColorId\" : 12345,\n    \"alternateHtmlRgbColor\" : \"...\",\n    \"global\" : 12345,\n    \"htmlRgbColor\" : \"...\",\n    \"inddBlack\" : 12345,\n    \"inddColorName\" : \"...\",\n    \"inddCyan\" : 12345,\n    \"inddMagenta\" : 12345,\n    \"inddYellow\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"inCustomSelection\" : true,\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorColorId\" : 12345,\n    \"alternateHtmlRgbColor\" : \"...\",\n    \"global\" : 12345,\n    \"htmlRgbColor\" : \"...\",\n    \"inddBlack\" : 12345,\n    \"inddColorName\" : \"...\",\n    \"inddCyan\" : 12345,\n    \"inddMagenta\" : 12345,\n    \"inddYellow\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"inCustomSelection\" : true,\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"id\" : 12345\n  } ],\n  \"showButtonMediaHyperlink\" : true,\n  \"showButtonMaximize\" : true,\n  \"showButtonTableStyles\" : 12345,\n  \"showButtonCellStyles\" : 12345,\n  \"temporaryConfiguration\" : true,\n  \"showButtonBold\" : true,\n  \"showButtonSourceCode\" : true\n} ]"}}}}},"post":{"tags":["ConfigurationsResource"],"description":"Creates new RTE configuration\n\n__Security Roles Allowed:__ ORGANISATION_MANAGE_EDITOR_CONFIGURATIONS","operationId":"ConfigurationsResource-POST_createEditorConfiguration","requestBody":{"description":"DTO to be used when creating","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditorConfiguration"},"example":"{\n  \"id\" : 12345,\n  \"label\" : \"...\",\n  \"description\" : \"...\",\n  \"position\" : 12345,\n  \"showButtonCharacterStyles\" : 12345,\n  \"templateCount\" : 12345,\n  \"showButtonInsertBulletpoint\" : true,\n  \"showButtonParagraphStyles\" : 12345,\n  \"showButtonTable\" : true,\n  \"showButtonStrikeThrough\" : true,\n  \"showButtonSuperscript\" : true,\n  \"variableConfigurationValue\" : \"...\",\n  \"showButtonSubscript\" : true,\n  \"showButtonItalic\" : true,\n  \"showButtonColumnBreak\" : true,\n  \"showButtonSpecialCharacters\" : true,\n  \"showButtonFindReplace\" : true,\n  \"showButtonPictureUpload\" : true,\n  \"showButtonHyperlink\" : true,\n  \"showButtonRightIndent\" : true,\n  \"showButtonUnderline\" : true,\n  \"showButtonTextcolor\" : true,\n  \"editorStyles\" : [ {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  } ],\n  \"showButtonImportTable\" : true,\n  \"global\" : 12345,\n  \"showButtonFrameBreak\" : true,\n  \"showButtonInsertTabulator\" : true,\n  \"editorColors\" : [ {\n    \"editorColorId\" : 12345,\n    \"alternateHtmlRgbColor\" : \"...\",\n    \"global\" : 12345,\n    \"htmlRgbColor\" : \"...\",\n    \"inddBlack\" : 12345,\n    \"inddColorName\" : \"...\",\n    \"inddCyan\" : 12345,\n    \"inddMagenta\" : 12345,\n    \"inddYellow\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"inCustomSelection\" : true,\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorColorId\" : 12345,\n    \"alternateHtmlRgbColor\" : \"...\",\n    \"global\" : 12345,\n    \"htmlRgbColor\" : \"...\",\n    \"inddBlack\" : 12345,\n    \"inddColorName\" : \"...\",\n    \"inddCyan\" : 12345,\n    \"inddMagenta\" : 12345,\n    \"inddYellow\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"inCustomSelection\" : true,\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"id\" : 12345\n  } ],\n  \"showButtonMediaHyperlink\" : true,\n  \"showButtonMaximize\" : true,\n  \"showButtonTableStyles\" : 12345,\n  \"showButtonCellStyles\" : 12345,\n  \"temporaryConfiguration\" : true,\n  \"showButtonBold\" : true,\n  \"showButtonSourceCode\" : true\n}"}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditorConfiguration"}}}}}}},"/wp/rest/editor-configurations/_build":{"get":{"tags":["ConfigurationsResource"],"description":"Gets RTE toolbar/styles configuration without configuration id","operationId":"ConfigurationsResource-GET_getEditorConfigurationForToolbar","parameters":[{"name":"configFile","in":"query","description":"Mandatory. Configuration type, one of toolbar/styles","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"RTE configuration as \"application/javascript\"","content":{"application/javascript":{"schema":{"type":"string"}}}}}}},"/wp/rest/editor-configurations/{id}":{"get":{"tags":["ConfigurationsResource"],"description":"Gets RTE configuration by id\n\n__SeeAlso:__ #getEditorConfiguration(Integer, boolean)","operationId":"ConfigurationsResource-GET_getEditorConfigurationSummary","parameters":[{"name":"id","in":"path","description":"Editor configuration id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"withUsage","in":"query","description":"If 'true' include template usage info","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"RTE configuration summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditorConfiguration"},"example":"{\n  \"id\" : 12345,\n  \"label\" : \"...\",\n  \"description\" : \"...\",\n  \"position\" : 12345,\n  \"showButtonCharacterStyles\" : 12345,\n  \"templateCount\" : 12345,\n  \"showButtonInsertBulletpoint\" : true,\n  \"showButtonParagraphStyles\" : 12345,\n  \"showButtonTable\" : true,\n  \"showButtonStrikeThrough\" : true,\n  \"showButtonSuperscript\" : true,\n  \"variableConfigurationValue\" : \"...\",\n  \"showButtonSubscript\" : true,\n  \"showButtonItalic\" : true,\n  \"showButtonColumnBreak\" : true,\n  \"showButtonSpecialCharacters\" : true,\n  \"showButtonFindReplace\" : true,\n  \"showButtonPictureUpload\" : true,\n  \"showButtonHyperlink\" : true,\n  \"showButtonRightIndent\" : true,\n  \"showButtonUnderline\" : true,\n  \"showButtonTextcolor\" : true,\n  \"editorStyles\" : [ {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  } ],\n  \"showButtonImportTable\" : true,\n  \"global\" : 12345,\n  \"showButtonFrameBreak\" : true,\n  \"showButtonInsertTabulator\" : true,\n  \"editorColors\" : [ {\n    \"editorColorId\" : 12345,\n    \"alternateHtmlRgbColor\" : \"...\",\n    \"global\" : 12345,\n    \"htmlRgbColor\" : \"...\",\n    \"inddBlack\" : 12345,\n    \"inddColorName\" : \"...\",\n    \"inddCyan\" : 12345,\n    \"inddMagenta\" : 12345,\n    \"inddYellow\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"inCustomSelection\" : true,\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorColorId\" : 12345,\n    \"alternateHtmlRgbColor\" : \"...\",\n    \"global\" : 12345,\n    \"htmlRgbColor\" : \"...\",\n    \"inddBlack\" : 12345,\n    \"inddColorName\" : \"...\",\n    \"inddCyan\" : 12345,\n    \"inddMagenta\" : 12345,\n    \"inddYellow\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"inCustomSelection\" : true,\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"id\" : 12345\n  } ],\n  \"showButtonMediaHyperlink\" : true,\n  \"showButtonMaximize\" : true,\n  \"showButtonTableStyles\" : 12345,\n  \"showButtonCellStyles\" : 12345,\n  \"temporaryConfiguration\" : true,\n  \"showButtonBold\" : true,\n  \"showButtonSourceCode\" : true\n}"}}}}},"put":{"tags":["ConfigurationsResource"],"description":"Updates RTE configuration by id\n\n__Security Roles Allowed:__ ORGANISATION_MANAGE_EDITOR_CONFIGURATIONS","operationId":"ConfigurationsResource-PUT_updateEditorConfiguration","parameters":[{"name":"id","in":"path","description":"Configuration id","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"DTO to update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditorConfiguration"},"example":"{\n  \"id\" : 12345,\n  \"label\" : \"...\",\n  \"description\" : \"...\",\n  \"position\" : 12345,\n  \"showButtonCharacterStyles\" : 12345,\n  \"templateCount\" : 12345,\n  \"showButtonInsertBulletpoint\" : true,\n  \"showButtonParagraphStyles\" : 12345,\n  \"showButtonTable\" : true,\n  \"showButtonStrikeThrough\" : true,\n  \"showButtonSuperscript\" : true,\n  \"variableConfigurationValue\" : \"...\",\n  \"showButtonSubscript\" : true,\n  \"showButtonItalic\" : true,\n  \"showButtonColumnBreak\" : true,\n  \"showButtonSpecialCharacters\" : true,\n  \"showButtonFindReplace\" : true,\n  \"showButtonPictureUpload\" : true,\n  \"showButtonHyperlink\" : true,\n  \"showButtonRightIndent\" : true,\n  \"showButtonUnderline\" : true,\n  \"showButtonTextcolor\" : true,\n  \"editorStyles\" : [ {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  } ],\n  \"showButtonImportTable\" : true,\n  \"global\" : 12345,\n  \"showButtonFrameBreak\" : true,\n  \"showButtonInsertTabulator\" : true,\n  \"editorColors\" : [ {\n    \"editorColorId\" : 12345,\n    \"alternateHtmlRgbColor\" : \"...\",\n    \"global\" : 12345,\n    \"htmlRgbColor\" : \"...\",\n    \"inddBlack\" : 12345,\n    \"inddColorName\" : \"...\",\n    \"inddCyan\" : 12345,\n    \"inddMagenta\" : 12345,\n    \"inddYellow\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"inCustomSelection\" : true,\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorColorId\" : 12345,\n    \"alternateHtmlRgbColor\" : \"...\",\n    \"global\" : 12345,\n    \"htmlRgbColor\" : \"...\",\n    \"inddBlack\" : 12345,\n    \"inddColorName\" : \"...\",\n    \"inddCyan\" : 12345,\n    \"inddMagenta\" : 12345,\n    \"inddYellow\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"inCustomSelection\" : true,\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"id\" : 12345\n  } ],\n  \"showButtonMediaHyperlink\" : true,\n  \"showButtonMaximize\" : true,\n  \"showButtonTableStyles\" : 12345,\n  \"showButtonCellStyles\" : 12345,\n  \"temporaryConfiguration\" : true,\n  \"showButtonBold\" : true,\n  \"showButtonSourceCode\" : true\n}"}}},"responses":{"204":{"description":"Operation result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditorConfiguration"},"example":"{\n  \"id\" : 12345,\n  \"label\" : \"...\",\n  \"description\" : \"...\",\n  \"position\" : 12345,\n  \"showButtonCharacterStyles\" : 12345,\n  \"templateCount\" : 12345,\n  \"showButtonInsertBulletpoint\" : true,\n  \"showButtonParagraphStyles\" : 12345,\n  \"showButtonTable\" : true,\n  \"showButtonStrikeThrough\" : true,\n  \"showButtonSuperscript\" : true,\n  \"variableConfigurationValue\" : \"...\",\n  \"showButtonSubscript\" : true,\n  \"showButtonItalic\" : true,\n  \"showButtonColumnBreak\" : true,\n  \"showButtonSpecialCharacters\" : true,\n  \"showButtonFindReplace\" : true,\n  \"showButtonPictureUpload\" : true,\n  \"showButtonHyperlink\" : true,\n  \"showButtonRightIndent\" : true,\n  \"showButtonUnderline\" : true,\n  \"showButtonTextcolor\" : true,\n  \"editorStyles\" : [ {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  } ],\n  \"showButtonImportTable\" : true,\n  \"global\" : 12345,\n  \"showButtonFrameBreak\" : true,\n  \"showButtonInsertTabulator\" : true,\n  \"editorColors\" : [ {\n    \"editorColorId\" : 12345,\n    \"alternateHtmlRgbColor\" : \"...\",\n    \"global\" : 12345,\n    \"htmlRgbColor\" : \"...\",\n    \"inddBlack\" : 12345,\n    \"inddColorName\" : \"...\",\n    \"inddCyan\" : 12345,\n    \"inddMagenta\" : 12345,\n    \"inddYellow\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"inCustomSelection\" : true,\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorColorId\" : 12345,\n    \"alternateHtmlRgbColor\" : \"...\",\n    \"global\" : 12345,\n    \"htmlRgbColor\" : \"...\",\n    \"inddBlack\" : 12345,\n    \"inddColorName\" : \"...\",\n    \"inddCyan\" : 12345,\n    \"inddMagenta\" : 12345,\n    \"inddYellow\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"inCustomSelection\" : true,\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"id\" : 12345\n  } ],\n  \"showButtonMediaHyperlink\" : true,\n  \"showButtonMaximize\" : true,\n  \"showButtonTableStyles\" : 12345,\n  \"showButtonCellStyles\" : 12345,\n  \"temporaryConfiguration\" : true,\n  \"showButtonBold\" : true,\n  \"showButtonSourceCode\" : true\n}"}}}}},"delete":{"tags":["ConfigurationsResource"],"description":"Deletes RTE configuration by id\n\n__Security Roles Allowed:__ ORGANISATION_MANAGE_EDITOR_CONFIGURATIONS","operationId":"ConfigurationsResource-DELETE_deleteEditorConfiguration","parameters":[{"name":"id","in":"path","description":"Configuration id","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"Deleted"}}}},"/wp/rest/editor-configurations/{id}/_build":{"get":{"tags":["ConfigurationsResource"],"description":"Gets RTE toolbar/styles configuration by configuration id","operationId":"ConfigurationsResource-GET_getEditorConfigurationForToolbar1","parameters":[{"name":"id","in":"path","description":"Editor configuration id","required":true,"schema":{"type":"string"}},{"name":"configFile","in":"query","description":"Configuration type, one of toolbar/styles","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"RTE configuration as \"application/javascript\"","content":{"application/javascript":{"schema":{"type":"string"}}}}}}},"/wp/rest/editor-configurations/{id}/details":{"get":{"tags":["ConfigurationsResource"],"description":"Gets RTE configuration by id with styles and colors pre-loaded\n\n__SeeAlso:__ #getEditorConfigurationSummary(Integer, boolean)","operationId":"ConfigurationsResource-GET_getEditorConfiguration","parameters":[{"name":"id","in":"path","description":"Editor configuration id","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"withUsage","in":"query","description":"If 'true' include template usage info","allowEmptyValue":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"RTE configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditorConfiguration"},"example":"{\n  \"id\" : 12345,\n  \"label\" : \"...\",\n  \"description\" : \"...\",\n  \"position\" : 12345,\n  \"showButtonCharacterStyles\" : 12345,\n  \"templateCount\" : 12345,\n  \"showButtonInsertBulletpoint\" : true,\n  \"showButtonParagraphStyles\" : 12345,\n  \"showButtonTable\" : true,\n  \"showButtonStrikeThrough\" : true,\n  \"showButtonSuperscript\" : true,\n  \"variableConfigurationValue\" : \"...\",\n  \"showButtonSubscript\" : true,\n  \"showButtonItalic\" : true,\n  \"showButtonColumnBreak\" : true,\n  \"showButtonSpecialCharacters\" : true,\n  \"showButtonFindReplace\" : true,\n  \"showButtonPictureUpload\" : true,\n  \"showButtonHyperlink\" : true,\n  \"showButtonRightIndent\" : true,\n  \"showButtonUnderline\" : true,\n  \"showButtonTextcolor\" : true,\n  \"editorStyles\" : [ {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    }, {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUpload\" : true,\n      \"showButtonHyperlink\" : true,\n      \"showButtonRightIndent\" : true,\n      \"showButtonUnderline\" : true,\n      \"showButtonTextcolor\" : true,\n      \"editorStyles\" : [ { }, { } ],\n      \"showButtonImportTable\" : true,\n      \"global\" : 12345,\n      \"showButtonFrameBreak\" : true,\n      \"showButtonInsertTabulator\" : true,\n      \"editorColors\" : [ { }, { } ],\n      \"showButtonMediaHyperlink\" : true,\n      \"showButtonMaximize\" : true,\n      \"showButtonTableStyles\" : 12345,\n      \"showButtonCellStyles\" : 12345,\n      \"temporaryConfiguration\" : true,\n      \"showButtonBold\" : true,\n      \"showButtonSourceCode\" : true\n    } ],\n    \"editorStyleReplacements\" : [ {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    }, {\n      \"id\" : 12345,\n      \"localeId\" : 12345,\n      \"replacementStyleId\" : 12345,\n      \"replacementStyleName\" : \"...\",\n      \"styleId\" : 12345\n    } ],\n    \"id\" : 12345\n  }, {\n    \"editorStyleId\" : 12345,\n    \"label\" : \"...\",\n    \"position\" : 12345,\n    \"styleType\" : \"...\",\n    \"inddName\" : \"...\",\n    \"className\" : \"...\",\n    \"classNameOld\" : \"...\",\n    \"folderName\" : \"...\",\n    \"global\" : 12345,\n    \"inCustomSelection\" : true,\n    \"replacement\" : true,\n    \"attributes\" : [ {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    }, {\n      \"STYLE_ATTRIBUTE_ID\" : 12345,\n      \"ATTRIBUTE_NAME\" : \"...\",\n      \"ATTRIBUTE_VALUE\" : \"...\",\n      \"ATTRIBUTE_TYPE\" : \"...\",\n      \"STYLE_ID\" : 12345,\n      \"id\" : 12345\n    } ],\n    \"configurations\" : [ {\n      \"id\" : 12345,\n      \"label\" : \"...\",\n      \"description\" : \"...\",\n      \"position\" : 12345,\n      \"showButtonCharacterStyles\" : 12345,\n      \"templateCount\" : 12345,\n      \"showButtonInsertBulletpoint\" : true,\n      \"showButtonParagraphStyles\" : 12345,\n      \"showButtonTable\" : true,\n      \"showButtonStrikeThrough\" : true,\n      \"showButtonSuperscript\" : true,\n      \"variableConfigurationValue\" : \"...\",\n      \"showButtonSubscript\" : true,\n      \"showButtonItalic\" : true,\n      \"showButtonColumnBreak\" : true,\n      \"showButtonSpecialCharacters\" : true,\n      \"showButtonFindReplace\" : true,\n      \"showButtonPictureUplo
[...]
