{"swagger":"2.0","info":{"description":"Web-to-Publish RESTful API Documentation","contact":{"email":"dev-team-wp@brandmaker.com","name":"Web-to-Publish"},"version":"25.5.1-6.7.0","title":"Web-to-Publish RESTful Service API"},"host":"is-dev2.brandmaker.com","basePath":"/wp/rest","schemes":["https"],"tags":[{"name":"/custom-properties"},{"name":"/custom-properties/_export","description":"Exports custom properties."},{"name":"/custom-properties/_import","description":"Imports custom properties."},{"name":"/custom-properties/{id}"},{"name":"/custom-properties/{id}/custom-property-values"},{"name":"/custom-property-values"},{"name":"/custom-property-values/{id}"},{"name":"/document-creation-properties"},{"name":"/document-creation/template-selection"},{"name":"/dynamic-services","description":"RESTful resource responsible for dynamic services."},{"name":"/dynamic-services/{id}","description":"RESTful resource responsible for dynamic services."},{"name":"/dynamic-services/{id}/parameters","description":"RESTful sub-resource responsible for dynamic services parameters."},{"name":"/editor-configurations","description":"RESTful resource for RTE configurations."},{"name":"/editor-configurations/_build","description":"Gets RTE toolbar/styles configuration without configuration id."},{"name":"/editor-configurations/{id}","description":"RESTful resource for RTE configurations."},{"name":"/editor-configurations/{id}/_build","description":"Gets RTE toolbar/styles configuration by configuration id."},{"name":"/editor-configurations/{id}/details","description":"Gets RTE configuration by id with styles and colors pre-loaded."},{"name":"/editor-styles/_extract","description":"Inits the conversion of the INDD file to the IDML file, used for extracting the styles."},{"name":"/editor-styles/css","description":"Generates RTE configured styles' CSS."},{"name":"/editor-styles/extraction-state","description":"Checks the process of converting INDD to IDML used for extraction of styles."},{"name":"/editor-styles/resources","description":"RESTful service for RTE styles."},{"name":"/editor-styles/resources/{id}","description":"RESTful service for RTE styles."},{"name":"/health/liveness","description":"Liveness health check resource."},{"name":"/health/readiness","description":"Readiness health check resource."},{"name":"/health/startup","description":"Startup health check resource."},{"name":"/instances","description":"Deletes instances by ids."},{"name":"/instances/_copy","description":"Copy given instance."},{"name":"/instances/_equals","description":"Checks whether two instances are identical."},{"name":"/instances/_index","description":"Creates indexes of all of the instances."},{"name":"/instances/_search","description":"RESTful resource responsible for searching instances."},{"name":"/instances/_suggest","description":"RESTful resource responsible for searching instances."},{"name":"/instances/approved","description":"Gets instances with status \"approved\"."},{"name":"/instances/approved/my","description":"Gets my instances with status \"approved\"."},{"name":"/instances/finalized","description":"Gets instances with status \"finalized\"."},{"name":"/instances/finalized/my","description":"Gets my instances with status \"finalized\"."},{"name":"/instances/in-work/my","description":"Gets my instances with status \"in work\"."},{"name":"/instances/newest","description":"Gets recently created instances."},{"name":"/instances/oldest","description":"Gets the oldest instances."},{"name":"/instances/rejected/my","description":"Gets my instances with status \"rejected\"."},{"name":"/instances/waiting-approval/my","description":"Gets my instances with status \"waiting approval\"."},{"name":"/instances/{id}"},{"name":"/instances/{id}/_archive","description":"Archives an instance."},{"name":"/instances/{id}/_index","description":"Creates an index of an instance."},{"name":"/instances/{id}/_unarchive","description":"Unarchives an instance."},{"name":"/instances/{id}/_validate","description":"Validates instance by id and arguments."},{"name":"/instances/{id}/locales"},{"name":"/instances/{id}/preview","description":"Gets instance preview."},{"name":"/jobs/{id}","description":"Checks the result from the job by given job id."},{"name":"/maps/attachments","description":"Gets MaPS attachment(s) by given document id(s)."},{"name":"/meta-templates","description":"RESTful resource responsible for meta templates."},{"name":"/meta-templates/{id}","description":"RESTful resource responsible for meta templates."},{"name":"/meta-templates/{id}/templates","description":"RESTful resource responsible for templates which are included in a meta template."},{"name":"/notifications/instance-workflows","description":"This method is used to send notifications related to workflow(steps)."},{"name":"/notifications/print-jobs","description":"RESTful resource responsible for print job notifications."},{"name":"/notifications/template-workflows","description":"This method is used to send notifications related to workflow(steps)."},{"name":"/page-size-group-visibility-options"},{"name":"/page-size-groups"},{"name":"/page-size-groups/{id}"},{"name":"/page-size-groups/{id}/page-size-group-visibility"},{"name":"/page-size-groups/{id}/page-sizes"},{"name":"/page-sizes/_export","description":"Exports sizes."},{"name":"/page-sizes/_import","description":"Imports sizes."},{"name":"/page-sizes/{id}"},{"name":"/printing-offices","description":"Gets all printing offices."},{"name":"/printing-offices/{id}","description":"Gets a printing office by id."},{"name":"/products/_usage","description":"Returns map product of id to list of ids of Web-to-Publish entities (instances), using the supplied products."},{"name":"/products/{id}/usage","description":"Returns list of ids of Web-to-Publish entities (instances), using the supplied product."},{"name":"/products/{id}/usage-count","description":"Returns the number of Web-to-Publish entities (instances), using the supplied product."},{"name":"/products/{id}/usage/_info","description":"Returns JSON, mapping of the entity type to a list of ids of Web-to-Publish entities (instances), using the supplied product."},{"name":"/renderers","description":"RESTful resource responsible for output methods."},{"name":"/renderers/{id}","description":"RESTful resource responsible for output methods."},{"name":"/renderers/{id}/_make-active","description":"Activates or deactivates an output method."},{"name":"/renderers/{id}/_move-to-position","description":"Changes the position of an output method."},{"name":"/search-filter-properties"},{"name":"/search-filters/instances","description":"RESTful resource responsible for search fields."},{"name":"/search-filters/templates","description":"RESTful resource responsible for search fields."},{"name":"/smart-groups/_search"},{"name":"/templates","description":"RESTful resource responsible for templates."},{"name":"/templates-group/template-selection"},{"name":"/templates/_find-by-asset","description":"Searches templates by asset, which is used as source media."},{"name":"/templates/_index","description":"Creates indexes of all of the templates."},{"name":"/templates/_rescan","description":"Rescan Templates."},{"name":"/templates/_search","description":"RESTful resource responsible for searching templates."},{"name":"/templates/_suggest","description":"RESTful resource responsible for searching templates."},{"name":"/templates/_testInstances","description":"RESTful resource responsible for some templates/instances testing."},{"name":"/templates/_testInstancesIm","description":"RESTful resource responsible for some templates/instances testing."},{"name":"/templates/_testTemplates","description":"RESTful resource responsible for some templates/instances testing."},{"name":"/templates/_testTemplatesIm","description":"RESTful resource responsible for some templates/instances testing."},{"name":"/templates/favorites","description":"Returns the user's favorite templates."},{"name":"/templates/favorites/{id}","description":"RESTful resource for dealing with templates' favorites."},{"name":"/templates/newest","description":"Gets templates which are recently created."},{"name":"/templates/recently-used","description":"Gets my templates which are recently used for documents."},{"name":"/templates/{id}","description":"RESTful resource responsible for templates."},{"name":"/templates/{id}/_archive","description":"Archives a template."},{"name":"/templates/{id}/_calculate-instance-size"},{"name":"/templates/{id}/_check-auto_configuration","description":"RESTful resource responsible for template autoconfiguration."},{"name":"/templates/{id}/_export","description":"Exports template by given template id."},{"name":"/templates/{id}/_import","description":"Imports template configuration stored in a xml file."},{"name":"/templates/{id}/_index","description":"Creates an index of a template."},{"name":"/templates/{id}/_start-auto_configuration","description":"Starts template auto configurations."},{"name":"/templates/{id}/_stop-auto_configuration","description":"RESTful resource responsible for template autoconfiguration."},{"name":"/templates/{id}/_unarchive","description":"Unarchives a template."},{"name":"/templates/{id}/_validate-instance-size"},{"name":"/templates/{id}/import-progress","description":"Gets the progress of the import operation for a specific template."},{"name":"/templates/{id}/instances","description":"Creates an instance based on a specific template."},{"name":"/templates/{id}/instances/locales"},{"name":"/templates/{id}/preview","description":"Gets template preview."},{"name":"/themes/{id}/usage","description":"Returns JSON, mapping of the entity type to a list of ids of Web-to-Publish entities (templates, instances, smart blocks, smart grids, product templates, product instances), using the supplied theme."},{"name":"/themes/{id}/usage-count","description":"Returns the number of Web-to-Publish entities (templates, instances, smart blocks, smart grids, product templates, product instances), using the supplied theme."},{"name":"/workflow-comments","description":"RESTful resource responsible for comments."}],"definitions":{"json_AbstractDTO":{"type":"object","title":"AbstractDTO","example":{},"description":""},"json_AbstractUnitConverter":{"type":"object","title":"AbstractUnitConverter","example":{},"description":""},"json_AdvertTemplateCharacterStyleProperties":{"type":"string","title":"AdvertTemplateCharacterStyleProperties","enum":["CS_NAME","CS_FONT_FAMILY","CS_FONT_SIZE","CS_FONT_WEIGHT","CS_FONT_COLOR","CS_MARGIN_BOTTOM"],"description":""},"json_AdvertTemplateColorsProperties":{"type":"string","title":"AdvertTemplateColorsProperties","enum":["CL_NAME","CL_RGB_COLOR"],"description":""},"json_AdvertTemplateParagraphStyleProperties":{"type":"string","title":"AdvertTemplateParagraphStyleProperties","enum":["PS_NAME","PS_FONT_FAMILY","PS_FONT_SIZE","PS_FONT_WEIGHT","PS_FONT_COLOR","PS_MARGIN_BOTTOM"],"description":""},"json_AdvertTemplateTableCellStyleProperties":{"type":"string","title":"AdvertTemplateTableCellStyleProperties","enum":["TC_NAME","TC_FILL_COLOR_NAME","TC_FILL_COLOR_TINT","TC_STROKE_COLOR_NAME","TC_STROKE_COLOR_WEIGHT","TC_STROKE_COLOR_TINT","TC_PARA_STYLE","TC_VERTICAL_ALIGN"],"description":""},"json_AdvertTemplateTableStyleProperties":{"type":"string","title":"AdvertTemplateTableStyleProperties","enum":["T_NAME","T_FILL_ALT_COUNT1","T_FILL_ALT_COUNT2","T_FILL_ALT_COLOR1","T_FILL_ALT_COLOR2","T_FILL_ALT_SKIP1","T_FILL_ALT_SKIP2","T_FILL_ALT_TINT1","T_FILL_ALT_TINT2","T_FILL_ALT_ROW"],"description":""},"json_AlternativeImageAutoSelection":{"type":"string","title":"AlternativeImageAutoSelection","enum":["NO_SELECTION","ONE_IMAGE_FOUND","FIRST_IMAGE","CUSTOM_OBJECT","DATA_OBJECT"],"description":""},"json_Asset":{"type":"object","title":"Asset","required":["valid","expired","started","suitableForW2P"],"properties":{"valid":{"readOnly":false,"description":"","type":"boolean"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"version":{"readOnly":false,"description":"","type":"integer","format":"int32"},"title":{"readOnly":false,"description":"","type":"string"},"expired":{"readOnly":false,"description":"","type":"boolean"},"started":{"readOnly":false,"description":"","type":"boolean"},"validFrom":{"readOnly":false,"description":"","type":"integer","format":"int32"},"validTo":{"readOnly":false,"description":"","type":"integer","format":"int32"},"keywords":{"readOnly":false,"description":"","type":"string"},"themesId":{"readOnly":false,"description":"","type":"array","items":{"type":"integer"}},"virtualDatabaseId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"suitableForW2P":{"readOnly":false,"description":"","type":"boolean"},"resourceVersion":{"readOnly":false,"$ref":"#/definitions/json_ResourceVersion","description":""},"customProperties":{"readOnly":false,"description":"","type":"object","additionalProperties":{"type":"string"}},"affiliateNumber":{"readOnly":false,"description":"","type":"string"}},"example":{"valid":true,"id":12345,"version":12345,"title":"...","expired":true,"started":true,"validFrom":12345,"validTo":12345,"keywords":"...","themesId":[12345,12345],"virtualDatabaseId":12345,"suitableForW2P":true,"resourceVersion":{"fileResource":{"fileName":"...","suffix":"...","md5Hash":"...","generatedName":"...","fullFileName":"..."},"uploaderId":12345,"insertedTime":12345,"uploadComments":"...","versionNumber":12345},"customProperties":{"property1":"...","property2":"..."},"affiliateNumber":"..."},"description":""},"json_Asset_DropdownSelection":{"type":"object","title":"Asset","properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"version":{"readOnly":false,"description":"","type":"integer","format":"int32"},"title":{"readOnly":false,"description":"","type":"string"},"crop":{"readOnly":false,"$ref":"#/definitions/json_Crop","description":""}},"example":{"id":12345,"version":12345,"title":"...","crop":{"left":12345,"top":12345,"right":12345,"bottom":12345}},"description":""},"json_AssetId":{"type":"object","title":"AssetId","required":["empty"],"properties":{"empty":{"readOnly":false,"description":"","type":"boolean"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"version":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"empty":true,"id":12345,"version":12345},"description":""},"json_AssignDocument":{"type":"object","title":"AssignDocument","example":{},"description":""},"json_AssignHtmlArchive":{"type":"object","title":"AssignHtmlArchive","allOf":[{"$ref":"#/definitions/json_AssignDocument"},{"properties":{"htmlArchive":{"readOnly":false,"description":"","type":"string"}}}],"example":{"htmlArchive":"..."},"description":""},"json_AssignInddDocument":{"type":"object","title":"AssignInddDocument","allOf":[{"$ref":"#/definitions/json_AssignDocument"},{"properties":{"assetId":{"readOnly":false,"description":"","type":"integer","format":"int32"}}}],"example":{"assetId":12345},"description":""},"json_Beautifier":{"type":"object","title":"Beautifier","required":["position"],"properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"beautifierType":{"readOnly":false,"$ref":"#/definitions/json_BeautifierType","description":""},"beautifierRegexp":{"readOnly":false,"description":"","type":"string"},"beautifierReplace":{"readOnly":false,"description":"","type":"string"},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"configurationId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"name":{"readOnly":false,"description":"","type":"string"}},"example":{"id":12345,"beautifierType":"CUSTOM","beautifierRegexp":"...","beautifierReplace":"...","position":12345,"configurationId":12345,"name":"..."},"description":""},"json_BeautifierType":{"type":"string","title":"BeautifierType","enum":["DEFAULT","CUSTOM"],"description":""},"json_BoxInfo":{"type":"object","title":"BoxInfo","properties":{"boxName":{"readOnly":false,"description":"","type":"string"},"logicalPage":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"boxName":"...","logicalPage":12345},"description":""},"json_BrokoResolutionType":{"type":"string","title":"BrokoResolutionType","enum":["WIDTH_HEIGHT","DPI"],"description":""},"json_CategoriesRights":{"type":"string","title":"CategoriesRights","enum":["TEMPLATES","INSTANCES"],"description":""},"json_CentimeterConverter":{"type":"object","title":"CentimeterConverter","allOf":[{"$ref":"#/definitions/json_AbstractUnitConverter"},{"properties":{"unit":{"readOnly":false,"$ref":"#/definitions/json_GraphicalUnit","description":""}}}],"example":{"unit":"MILIMETERS"},"description":""},"json_ChangeableState":{"type":"string","title":"ChangeableState","enum":["NON_CHANGEABLE","PARTIALLY_CHANGEABLE","FULLY_CONFIGURABLE","SMART_GRID","DYNAMIC_SERVICE","CUSTOM_FORM","GRAPHICAL_TEXT"],"description":""},"json_CharacterStylesAttributes":{"type":"string","title":"CharacterStylesAttributes","enum":["HTML_FONT_FAMILY","HTML_FONT_WEIGHT","HTML_FONT_STYLE","HTML_FONT_SIZE","HTML_FONT_COLOR","HTML_MARGIN_TOP","HTML_MARGIN_BOTTOM","HTML_TEXT_DECORATION","HTML_VERTICAL_ALIGN"],"description":""},"json_CommonStatusDto":{"type":"object","title":"CommonStatusDto","properties":{"status":{"readOnly":false,"description":"","type":"integer","format":"int32"},"message":{"readOnly":false,"description":"","type":"string"},"entities":{"readOnly":false,"description":"","type":"array","items":{"type":"object"}}},"example":{"status":12345,"message":"...","entities":[{},{}]},"description":""},"json_Coordinates":{"type":"object","title":"Coordinates","required":["YInMillimeters","y","x","XInMillimeters"],"properties":{"YInMillimeters":{"readOnly":false,"description":"","type":"number","format":"double"},"graphicalUnit":{"readOnly":false,"$ref":"#/definitions/json_GraphicalUnit","description":""},"y":{"readOnly":false,"description":"","type":"number","format":"double"},"x":{"readOnly":false,"description":"","type":"number","format":"double"},"XInMillimeters":{"readOnly":false,"description":"","type":"number","format":"double"}},"example":{"YInMillimeters":12345,"graphicalUnit":"POINTS","y":12345,"x":12345,"XInMillimeters":12345},"description":""},"json_CoordinatesImpl":{"type":"object","title":"CoordinatesImpl","required":["x","y","YInMillimeters","XInMillimeters"],"properties":{"x":{"readOnly":false,"description":"","type":"number","format":"double"},"y":{"readOnly":false,"description":"","type":"number","format":"double"},"graphicalUnit":{"readOnly":false,"$ref":"#/definitions/json_GraphicalUnit","description":""},"YInMillimeters":{"readOnly":false,"description":"","type":"number","format":"double"},"XInMillimeters":{"readOnly":false,"description":"","type":"number","format":"double"}},"example":{"x":12345,"y":12345,"graphicalUnit":"POINTS","YInMillimeters":12345,"XInMillimeters":12345},"description":""},"json_CreateAttachmentResult":{"type":"object","title":"CreateAttachmentResult","properties":{"advertInstanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"advertInstanceTitle":{"readOnly":false,"description":"","type":"string"},"detailsLink":{"readOnly":false,"description":"","type":"string"}},"example":{"advertInstanceId":12345,"advertInstanceTitle":"...","detailsLink":"..."},"description":"DTO created MaPS attachment"},"json_CreateInstance":{"type":"object","title":"CreateInstance","required":["editTemplateLayouts"],"properties":{"prefilledWidth":{"readOnly":false,"description":"","type":"number"},"prefilledHeight":{"readOnly":false,"description":"","type":"number"},"editTemplateLayouts":{"readOnly":false,"description":"","type":"boolean"},"instanceAppCode":{"readOnly":false,"$ref":"#/definitions/json_InstanceApplication","description":""},"localeId":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"prefilledWidth":12345,"prefilledHeight":12345,"editTemplateLayouts":true,"instanceAppCode":123456,"localeId":12345},"description":""},"json_CreateTemplate":{"type":"object","title":"CreateTemplate","required":["usageType"],"properties":{"usageType":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"usageType":12345},"description":""},"json_CreateWorkflowComment":{"type":"object","title":"CreateWorkflowComment","required":["instanceId","text"],"properties":{"instanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"text":{"readOnly":false,"description":"","type":"string"}},"example":{"instanceId":12345,"text":"..."},"description":""},"json_Crop":{"type":"object","title":"Crop","properties":{"left":{"readOnly":false,"description":"","type":"integer","format":"int32"},"top":{"readOnly":false,"description":"","type":"integer","format":"int32"},"right":{"readOnly":false,"description":"","type":"integer","format":"int32"},"bottom":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"left":12345,"top":12345,"right":12345,"bottom":12345},"description":""},"json_CustomObjectState":{"type":"string","title":"CustomObjectState","enum":["ONLY_DELETE","EDIT_AND_ADD","ONLY_EDIT"],"description":""},"json_CustomProperty":{"type":"object","title":"CustomProperty","required":["grouping"],"properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"uniqueName":{"readOnly":false,"description":"","type":"string"},"name":{"readOnly":false,"description":"","type":"string"},"description":{"readOnly":false,"description":"","type":"string"},"grouping":{"readOnly":false,"description":"","type":"boolean"},"values":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_CustomPropertyValue"}}},"example":{"id":12345,"uniqueName":"...","name":"...","description":"...","grouping":true,"values":[{"id":12345,"propertyId":12345,"uniqueName":"...","name":"...","preview":{"id":12345,"version":12345}},{"id":12345,"propertyId":12345,"uniqueName":"...","name":"...","preview":{"id":12345,"version":12345}}]},"description":""},"json_CustomPropertyStepSelection":{"type":"object","title":"CustomPropertyStepSelection","allOf":[{"$ref":"#/definitions/json_StepSelection"},{"properties":{"type":{"readOnly":false,"$ref":"#/definitions/json_DocumentCreationPropertyType","description":""},"selectedValueKeys":{"readOnly":false,"description":"","type":"array","items":{"type":"string"}}}}],"example":{"type":"CUSTOM_PROPERTY","selectedValueKeys":["...","..."],"stepId":"..."},"description":""},"json_CustomPropertyValue":{"type":"object","title":"CustomPropertyValue","properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"propertyId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"uniqueName":{"readOnly":false,"description":"","type":"string"},"name":{"readOnly":false,"description":"","type":"string"},"preview":{"readOnly":false,"$ref":"#/definitions/json_Preview","description":""}},"example":{"id":12345,"propertyId":12345,"uniqueName":"...","name":"...","preview":{"id":12345,"version":12345}},"description":""},"json_CustomPropertyValueKey":{"type":"object","title":"CustomPropertyValueKey","properties":{"property":{"readOnly":false,"description":"","type":"string"},"value":{"readOnly":false,"description":"","type":"string"}},"example":{"property":"...","value":"..."},"description":""},"json_CustomStructureAffiliateType":{"type":"string","title":"CustomStructureAffiliateType","enum":["NON_AFFILIATE_STRUCTURE","SINGLE_OBJECT_AFFILIATE_STRUCTURE","MULTI_OBJECT_AFFILIATE_STRUCTURE"],"description":""},"json_CustomStructureAttributeType":{"type":"string","title":"CustomStructureAttributeType","enum":["TEXT","INT","DATETIME","FLOAT","MEDIA","RICHTEXT","INTERNAL"],"description":""},"json_DefaultValueSource":{"type":"string","title":"DefaultValueSource","enum":["FROM_TEMPLATE","FROM_USER","FROM_SYSTEM"],"description":""},"json_DeleteTemplateSectionDirectionTypes":{"type":"string","title":"DeleteTemplateSectionDirectionTypes","enum":["DELETE_SECTION_MOVE_FORWARD","DELETE_SECTION_MOVE_BACK","DELETE_SECTION_EMPTY_SECTION"],"description":""},"json_DeletedInstance":{"type":"object","title":"DeletedInstance","allOf":[{"$ref":"#/definitions/json_InstanceDeletionResult"},{"properties":{"status":{"readOnly":false,"$ref":"#/definitions/json_Status","description":""},"instanceId":{"readOnly":false,"description":"","type":"integer","format":"int32"}}}],"example":{"status":"NOT_FOUND","instanceId":12345},"description":""},"json_DeletionResult":{"type":"object","title":"DeletionResult","properties":{"status":{"readOnly":false,"$ref":"#/definitions/json_Status","description":""},"object":{"readOnly":false,"description":"","type":"object"},"message":{"readOnly":false,"description":"","type":"string"},"exception":{"readOnly":false,"$ref":"#/definitions/json_Exception","description":""},"externalReferences":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_ExternalReference"}}},"example":{"status":"DELETED","object":{},"message":"...","exception":{"suppressed":[{"suppressed":[{},{}],"localizedMessage":"...","message":"...","stackTrace":[{},{}],"cause":{}},{"suppressed":[{},{}],"localizedMessage":"...","message":"...","stackTrace":[{},{}],"cause":{}}],"localizedMessage":"...","message":"...","stackTrace":[{"methodName":"...","className":"...","nativeMethod":true,"fileName":"...","lineNumber":12345},{"methodName":"...","className":"...","nativeMethod":true,"fileName":"...","lineNumber":12345}],"cause":{"suppressed":[{},{}],"localizedMessage":"...","message":"...","stackTrace":[{},{}],"cause":{}}},"externalReferences":[{"objectId":12345,"assignment":"META_TEMPLATES","type":"INSTANCE"},{"objectId":12345,"assignment":"MAPS","type":"TEMPLATE"}]},"description":""},"json_Dimension":{"type":"object","title":"Dimension","required":["heightInMillimeters","ratio","widthInMillimeters","height","width"],"properties":{"heightInMillimeters":{"readOnly":false,"description":"","type":"number","format":"double"},"ratio":{"readOnly":false,"description":"","type":"number","format":"double"},"graphicalUnit":{"readOnly":false,"$ref":"#/definitions/json_GraphicalUnit","description":""},"widthInMillimeters":{"readOnly":false,"description":"","type":"number","format":"double"},"height":{"readOnly":false,"description":"","type":"number","format":"double"},"width":{"readOnly":false,"description":"","type":"number","format":"double"}},"example":{"heightInMillimeters":12345,"ratio":12345,"graphicalUnit":"MILIMETERS","widthInMillimeters":12345,"height":12345,"width":12345},"description":""},"json_Dimension_awt":{"type":"object","title":"Dimension","required":["width","height"],"allOf":[{"$ref":"#/definitions/json_Dimension2D"},{"properties":{"width":{"readOnly":false,"description":"","type":"integer","format":"int32"},"height":{"readOnly":false,"description":"","type":"integer","format":"int32"},"size":{"readOnly":false,"$ref":"#/definitions/json_Dimension_awt","description":""}}}],"example":{"width":12345,"height":12345,"size":{"width":12345,"height":12345,"size":{}}},"description":""},"json_Dimension2D":{"type":"object","title":"Dimension2D","required":["height","width"],"properties":{"height":{"readOnly":false,"description":"","type":"number","format":"double"},"width":{"readOnly":false,"description":"","type":"number","format":"double"}},"example":{"height":12345,"width":12345},"description":""},"json_DimensionImpl":{"type":"object","title":"DimensionImpl","required":["ratio","widthInMillimeters","width","height","heightInMillimeters"],"properties":{"ratio":{"readOnly":false,"description":"","type":"number","format":"double"},"graphicalUnit":{"readOnly":false,"$ref":"#/definitions/json_GraphicalUnit","description":""},"widthInMillimeters":{"readOnly":false,"description":"","type":"number","format":"double"},"width":{"readOnly":false,"description":"","type":"number","format":"double"},"height":{"readOnly":false,"description":"","type":"number","format":"double"},"heightInMillimeters":{"readOnly":false,"description":"","type":"number","format":"double"}},"example":{"ratio":12345,"graphicalUnit":"PIXELS","widthInMillimeters":12345,"width":12345,"height":12345,"heightInMillimeters":12345},"description":""},"json_DirtyMediaBox":{"type":"object","title":"DirtyMediaBox","properties":{"selectedVersion":{"readOnly":false,"description":"","type":"integer","format":"int32"},"boxInfo":{"readOnly":false,"$ref":"#/definitions/json_BoxInfo","description":""},"currentAsset":{"readOnly":false,"$ref":"#/definitions/json_DirtyMediaBoxAsset","description":""},"latestAsset":{"readOnly":false,"$ref":"#/definitions/json_DirtyMediaBoxAsset","description":""}},"example":{"selectedVersion":12345,"boxInfo":{"boxName":"...","logicalPage":12345},"currentAsset":{"id":12345,"version":12345,"fileName":"...","suffix":"...","uploaderFullName":"...","insertTime":12345,"versionComments":"..."},"latestAsset":{"id":12345,"version":12345,"fileName":"...","suffix":"...","uploaderFullName":"...","insertTime":12345,"versionComments":"..."}},"description":""},"json_DirtyMediaBoxAsset":{"type":"object","title":"DirtyMediaBoxAsset","properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"version":{"readOnly":false,"description":"","type":"integer","format":"int32"},"fileName":{"readOnly":false,"description":"","type":"string"},"suffix":{"readOnly":false,"description":"","type":"string"},"uploaderFullName":{"readOnly":false,"description":"","type":"string"},"insertTime":{"readOnly":false,"description":"","type":"integer","format":"int32"},"versionComments":{"readOnly":false,"description":"","type":"string"}},"example":{"id":12345,"version":12345,"fileName":"...","suffix":"...","uploaderFullName":"...","insertTime":12345,"versionComments":"..."},"description":""},"json_DirtyMediaBoxHandlingTypes":{"type":"string","title":"DirtyMediaBoxHandlingTypes","enum":["dontSearch","searchForNewVersion","alwaysUseNewVersion"],"description":""},"json_DocumentCreationProperty":{"type":"object","title":"DocumentCreationProperty","required":["active"],"properties":{"name":{"readOnly":false,"description":"","type":"string"},"label":{"readOnly":false,"description":"","type":"string"},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"active":{"readOnly":false,"description":"","type":"boolean"}},"example":{"name":"...","label":"...","position":12345,"active":true},"description":""},"json_DocumentCreationPropertyType":{"type":"string","title":"DocumentCreationPropertyType","enum":["PAGE_SIZE","CUSTOM_PROPERTY"],"description":""},"json_Dropdown":{"type":"object","title":"Dropdown","required":["customStructureBased","smart","defaultSelection"],"properties":{"type":{"readOnly":false,"description":"The JSON object type.","type":"string"},"defaultVariantName":{"readOnly":false,"description":"","type":"string"},"customStructureId":{"readOnly":false,"description":"","type":"integer","format":"int32"},"priority":{"readOnly":false,"description":"","type":"string"},"customStructureBased":{"readOnly":false,"description":"","type":"boolean"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"smart":{"readOnly":false,"description":"","type":"boolean"},"name":{"readOnly":false,"description":"","type":"string"},"defaultSelection":{"readOnly":false,"description":"","type":"boolean"},"selected":{"readOnly":false,"description":"","type":"object"},"customObjectFilter":{"readOnly":false,"description":"","type":"string"},"parentId":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"type":"...","defaultVariantName":"...","customStructureId":12345,"priority":"...","customStructureBased":true,"id":12345,"smart":true,"name":"...","defaultSelection":true,"selected":{},"customObjectFilter":"...","parentId":12345},"description":""},"json_DropdownSelection":{"type":"object","title":"DropdownSelection","properties":{"selectionType":{"readOnly":false,"description":"The JSON object type.","type":"string"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"parentId":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"selectionType":"...","id":12345,"parentId":12345},"description":""},"json_DropdownSelectionValues":{"type":"object","title":"DropdownSelectionValues","properties":{"values":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DropdownSelection"}},"selectedValue":{"readOnly":false,"$ref":"#/definitions/json_DropdownSelection","description":""}},"example":{"values":[{"selectionType":"...","id":12345,"parentId":12345},{"selectionType":"...","id":12345,"parentId":12345}],"selectedValue":{"selectionType":"...","id":12345,"parentId":12345}},"description":""},"json_DropdownValue":{"type":"object","title":"DropdownValue","properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"dropdown":{"readOnly":false,"$ref":"#/definitions/json_Dropdown","description":""}},"example":{"id":12345,"dropdown":{"type":"...","defaultVariantName":"...","customStructureId":12345,"priority":"...","customStructureBased":true,"id":12345,"smart":true,"name":"...","defaultSelection":true,"selected":{},"customObjectFilter":"...","parentId":12345}},"description":""},"json_DynamicGridBox":{"type":"object","title":"DynamicGridBox","allOf":[{"$ref":"#/definitions/json_InstanceBox"},{}],"example":{"id":12345,"overrideContent":true,"overriddenText":"...","dynamicText":"...","templateBox":{"id":12345,"name":"...","text":"...","templateBoxType":"TEXT","resizingAllowed":true,"movementAllowed":true,"rotationAllowed":true,"rotationFromAngle":12345,"rotationToAngle":12345,"smartGridId":12345,"type":"IMAGE","template":{"id":12345,"title":"...","status":123456,"templateUsageType":123456,"pageCount":12345,"number":"...","dirtyMediaBoxHandlingType":"dontSearch","outputFormat":"spread","preselectedOutputFormat":"singlePage","templateType":12345,"valid":true,"unlimited":true,"expired":true,"started":true,"format":12345,"colors":12345,"html":true,"instanceMediaPoolPublishingAllowed":true,"printingOfficeOption":12345,"goals":"...","previewId":12345,"allowWorkflowComments":true,"publishedAssets":[12345,12345],"editorPreset":{},"smartGridsType":123456},"dynamicServiceId":12345,"pageNumber":12345,"templateBoxGraphical":true,"userFinetuningString":"...","boundingBoxX":12345,"boundingBoxY":12345,"boundingBoxW":12345,"boundingBoxH":12345,"scaleWidthMin":12345,"scaleWidthMax":12345,"scaleHeightMin":12345,"scaleHeightMax":12345,"limitDistortion":true,"distortVerticalMax":12345,"distortHorizontalMax":12345,"width":12345,"height":12345,"boxX":12345,"boxY":12345,"boxAngle":12345,"box":{"dimension":{}},"boundingBox":{"dimension":{}}},"dynamicBoxType":12345,"instancePage":{"instance":{"id":12345,"title":"...","description":"...","publishedInMediaPool":true,"templateId":12345,"template":{},"creatorId":12345,"creationDate":12345,"modifierId":12345,"updateDate":12345,"status":123456,"usageType":123456,"validFrom":"...","validTo":"...","width":12345,"height":12345,"unit":"INCH","access":["SEND_MAIL","ADD_WORFKLOW_COMMENT"],"documentLocaleId":12345,"affiliate":"...","workflowObjectId":12345,"unlimited":true,"expired":true,"started":true,"valid":true,"number":"...","archived":true,"scale":12345,"distort":12345,"distortVertical":12345,"bleedingWidth":"...","dpi":12345,"cut":12345,"publishedAssets":[12345,12345],"hasPagePreviews":true,"currentProccessingStep":"APPROVAL","approverId":12345,"sheetConfiguration":"...","advancedSheetConfiguration":"...","globalSpreadConfiguration":12345,"logicalPageConfiguration":"...","reusedFromDocumentId":12345,"mediaToPublish":12345,"outputFormat":12345,"rendererId":12345,"approvalRequestComments":"...","processedSteps":12345,"editTemplateLayouts":true,"instanceApplication":123456,"instancePages":[{},{}],"mediaPoolPublishable":true,"productThemeIds":[12345,12345],"instanceVariableValues":[{},{}],"instancePageAssetPreviews":[{},{}],"instanceCounters":[{},{}],"onlyGrayscale":true,"instanceLocales":[{},{}]},"id":12345,"logicalPage":12345,"physicalPage":12345,"smartPage":true,"smartBlockIds":[12345,12345],"instanceId":12345,"templatePage":{"id":12345,"logicalNumber":12345,"physicalNumber":12345,"master":true,"template":{},"masterPageName":"...","smartBlock":true,"pageWidth":12345,"pageHeight":12345,"gridAreaId":12345},"templatePageId":12345,"instancePagePreviews":[{"id":12345,"width":12345,"height":12345,"previewFilename":"...","renderedPreview":true,"revision":12345,"lastPreviewUpdate":12345,"md5Hash":"...","instancePageId":12345,"instancePage":{}},{"id":12345,"width":12345,"height":12345,"previewFilename":"...","renderedPreview":true,"revision":12345,"lastPreviewUpdate":12345,"md5Hash":"...","instancePageId":12345,"instancePage":{}}]},"instance":{"id":12345,"title":"...","description":"...","publishedInMediaPool":true,"templateId":12345,"template":{"id":12345,"title":"...","status":123456,"templateUsageType":123456,"pageCount":12345,"number":"...","dirtyMediaBoxHandlingType":"searchForNewVersion","outputFormat":"both","preselectedOutputFormat":"spread","templateType":12345,"valid":true,"unlimited":true,"expired":true,"started":true,"format":12345,"colors":12345,"html":true,"instanceMediaPoolPublishingAllowed":true,"printingOfficeOption":12345,"goals":"...","previewId":12345,"allowWorkflowComments":true,"publishedAssets":[12345,12345],"editorPreset":{},"smartGridsType":123456},"creatorId":12345,"creationDate":12345,"modifierId":12345,"updateDate":12345,"status":123456,"usageType":123456,"validFrom":"...","validTo":"...","width":12345,"height":12345,"unit":"MILIMETERS","access":["SHOW_MAPL_NODES","SHOW_MAPL_NODES"],"documentLocaleId":12345,"affiliate":"...","workflowObjectId":12345,"unlimited":true,"expired":true,"started":true,"valid":true,"number":"...","archived":true,"scale":12345,"distort":12345,"distortVertical":12345,"bleedingWidth":"...","dpi":12345,"cut":12345,"publishedAssets":[12345,12345],"hasPagePreviews":true,"currentProccessingStep":"FINALIZATION","approverId":12345,"sheetConfiguration":"...","advancedSheetConfiguration":"...","globalSpreadConfiguration":12345,"logicalPageConfiguration":"...","reusedFromDocumentId":12345,"mediaToPublish":12345,"outputFormat":12345,"rendererId":12345,"approvalRequestComments":"...","processedSteps":12345,"editTemplateLayouts":true,"instanceApplication":123456,"instancePages":[{"instance":{},"id":12345,"logicalPage":12345,"physicalPage":12345,"smartPage":true,"smartBlockIds":[12345,12345],"instanceId":12345,"templatePage":{},"templatePageId":12345,"instancePagePreviews":[{},{}]},{"instance":{},"id":12345,"logicalPage":12345,"physicalPage":12345,"smartPage":true,"smartBlockIds":[12345,12345],"instanceId":12345,"templatePage":{},"templatePageId":12345,"instancePagePreviews":[{},{}]}],"mediaPoolPublishable":true,"productThemeIds":[12345,12345],"instanceVariableValues":[{"id":12345,"templateVariableId":12345,"templateVariable":{},"instanceBoxId":12345,"advertInstanceId":12345,"instancePageId":12345,"mediaGUID":12345,"mediaVersionNumber":12345,"mediaPage":12345,"instanceBox":{},"instance":{},"mediaCropLeft":12345,"mediaCropTop":12345,"mediaCropRight":12345,"mediaCropBottom":12345,"text":"...","contentType":12345,"contentTypeIndex":12345,"smartBlockId":12345,"smartBlock":{},"instancePage":{},"selectedCustomObject":12345,"customFormData":"...","dataSetIndex":12345,"instanceObjectStatus":12345,"hasFormulaError":12345,"instanceObjectTextoverflow":12345,"instanceVariableAlternatives":[{},{}],"instanceTables":[{},{}],"textFitStatus":"...","mergedConfiguration":{},"originalText":"...","originalMediaGUID":12345,"originalMediaVersionNumber":12345},{"id":12345,"templateVariableId":12345,"templateVariable":{},"instanceBoxId":12345,"advertInstanceId":12345,"instancePageId":12345,"mediaGUID":12345,"mediaVersionNumber":12345,"mediaPage":12345,"instanceBox":{},"instance":{},"mediaCropLeft":12345,"mediaCropTop":12345,"mediaCropRight":12345,"mediaCropBottom":12345,"text":"...","contentType":12345,"contentTypeIndex":12345,"smartBlockId":12345,"smartBlock":{},"instancePage":{},"selectedCustomObject":12345,"customFormData":"...","dataSetIndex":12345,"instanceObjectStatus":12345,"hasFormulaError":12345,"instanceObjectTextoverflow":12345,"instanceVariableAlternatives":[{},{}],"instanceTables":[{},{}],"textFitStatus":"...","mergedConfiguration":{},"originalText":"...","originalMediaGUID":12345,"originalMediaVersionNumber":12345}],"instancePageAssetPreviews":[{"instanceId":12345,"pageNumber":12345,"assetId":12345},{"instanceId":12345,"pageNumber":12345,"assetId":12345}],"instanceCounters":[{"id":12345,"instanceId":12345,"counter":12345,"counterType":123456,"lastAccess":"..."},{"id":12345,"instanceId":12345,"counter":12345,"counterType":123456,"lastAccess":"..."}],"onlyGrayscale":true,"instanceLocales":[{"instanceId":12345,"localePriority":12345,"localeId":12345,"l10nLocale":{}},{"instanceId":12345,"localePriority":12345,"localeId":12345,"l10nLocale":{}}]},"box":{"dimension":{"heightInMillimeters":12345,"ratio":12345,"graphicalUnit":"INCH","widthInMillimeters":12345,"height":12345,"width":12345}},"boundingBox":{"dimension":{"heightInMillimeters":12345,"ratio":12345,"graphicalUnit":"PIXELS","widthInMillimeters":12345,"height":12345,"width":12345}},"boxWidth":12345,"boxHeight":12345,"boxX":12345,"boxY":12345,"boxAngle":12345,"boxRequestedX":12345,"boxRequestedY":12345,"boxRequestedW":12345,"boxRequestedH":12345,"boxRequestedAngle":12345,"smartBlockId":12345},"description":""},"json_DynamicImageInstanceBox":{"type":"object","title":"DynamicImageInstanceBox","allOf":[{"$ref":"#/definitions/json_InstanceBox"},{}],"example":{"id":12345,"overrideContent":true,"overriddenText":"...","dynamicText":"...","templateBox":{"id":12345,"name":"...","text":"...","templateBoxType":"IMAGE","resizingAllowed":true,"movementAllowed":true,"rotationAllowed":true,"rotationFromAngle":12345,"rotationToAngle":12345,"smartGridId":12345,"type":"TEXT","template":{"id":12345,"title":"...","status":123456,"templateUsageType":123456,"pageCount":12345,"number":"...","dirtyMediaBoxHandlingType":"alwaysUseNewVersion","outputFormat":"both","preselectedOutputFormat":"spread","templateType":12345,"valid":true,"unlimited":true,"expired":true,"started":true,"format":12345,"colors":12345,"html":true,"instanceMediaPoolPublishingAllowed":true,"printingOfficeOption":12345,"goals":"...","previewId":12345,"allowWorkflowComments":true,"publishedAssets":[12345,12345],"editorPreset":{},"smartGridsType":123456},"dynamicServiceId":12345,"pageNumber":12345,"templateBoxGraphical":true,"userFinetuningString":"...","boundingBoxX":12345,"boundingBoxY":12345,"boundingBoxW":12345,"boundingBoxH":12345,"scaleWidthMin":12345,"scaleWidthMax":12345,"scaleHeightMin":12345,"scaleHeightMax":12345,"limitDistortion":true,"distortVerticalMax":12345,"distortHorizontalMax":12345,"width":12345,"height":12345,"boxX":12345,"boxY":12345,"boxAngle":12345,"box":{"dimension":{}},"boundingBox":{"dimension":{}}},"dynamicBoxType":12345,"instancePage":{"instance":{"id":12345,"title":"...","description":"...","publishedInMediaPool":true,"templateId":12345,"template":{},"creatorId":12345,"creationDate":12345,"modifierId":12345,"updateDate":12345,"status":123456,"usageType":123456,"validFrom":"...","validTo":"...","width":12345,"height":12345,"unit":"INCH","access":["SHOW_MAPL_NODES","ADD_WORFKLOW_COMMENT"],"documentLocaleId":12345,"affiliate":"...","workflowObjectId":12345,"unlimited":true,"expired":true,"started":true,"valid":true,"number":"...","archived":true,"scale":12345,"distort":12345,"distortVertical":12345,"bleedingWidth":"...","dpi":12345,"cut":12345,"publishedAssets":[12345,12345],"hasPagePreviews":true,"currentProccessingStep":"VARIANT_SELECTION","approverId":12345,"sheetConfiguration":"...","advancedSheetConfiguration":"...","globalSpreadConfiguration":12345,"logicalPageConfiguration":"...","reusedFromDocumentId":12345,"mediaToPublish":12345,"outputFormat":12345,"rendererId":12345,"approvalRequestComments":"...","processedSteps":12345,"editTemplateLayouts":true,"instanceApplication":123456,"instancePages":[{},{}],"mediaPoolPublishable":true,"productThemeIds":[12345,12345],"instanceVariableValues":[{},{}],"instancePageAssetPreviews":[{},{}],"instanceCounters":[{},{}],"onlyGrayscale":true,"instanceLocales":[{},{}]},"id":12345,"logicalPage":12345,"physicalPage":12345,"smartPage":true,"smartBlockIds":[12345,12345],"instanceId":12345,"templatePage":{"id":12345,"logicalNumber":12345,"physicalNumber":12345,"master":true,"template":{},"masterPageName":"...","smartBlock":true,"pageWidth":12345,"pageHeight":12345,"gridAreaId":12345},"templatePageId":12345,"instancePagePreviews":[{"id":12345,"width":12345,"height":12345,"previewFilename":"...","renderedPreview":true,"revision":12345,"lastPreviewUpdate":12345,"md5Hash":"...","instancePageId":12345,"instancePage":{}},{"id":12345,"width":12345,"height":12345,"previewFilename":"...","renderedPreview":true,"revision":12345,"lastPreviewUpdate":12345,"md5Hash":"...","instancePageId":12345,"instancePage":{}}]},"instance":{"id":12345,"title":"...","description":"...","publishedInMediaPool":true,"templateId":12345,"template":{"id":12345,"title":"...","status":123456,"templateUsageType":123456,"pageCount":12345,"number":"...","dirtyMediaBoxHandlingType":"alwaysUseNewVersion","outputFormat":"both","preselectedOutputFormat":"spread","templateType":12345,"valid":true,"unlimited":true,"expired":true,"started":true,"format":12345,"colors":12345,"html":true,"instanceMediaPoolPublishingAllowed":true,"printingOfficeOption":12345,"goals":"...","previewId":12345,"allowWorkflowComments":true,"publishedAssets":[12345,12345],"editorPreset":{},"smartGridsType":123456},"creatorId":12345,"creationDate":12345,"modifierId":12345,"updateDate":12345,"status":123456,"usageType":123456,"validFrom":"...","validTo":"...","width":12345,"height":12345,"unit":"MILIMETERS","access":["SEND_MAIL","SEND_MAIL"],"documentLocaleId":12345,"affiliate":"...","workflowObjectId":12345,"unlimited":true,"expired":true,"started":true,"valid":true,"number":"...","archived":true,"scale":12345,"distort":12345,"distortVertical":12345,"bleedingWidth":"...","dpi":12345,"cut":12345,"publishedAssets":[12345,12345],"hasPagePreviews":true,"currentProccessingStep":"DOWNLOAD_BY_MAIL","approverId":12345,"sheetConfiguration":"...","advancedSheetConfiguration":"...","globalSpreadConfiguration":12345,"logicalPageConfiguration":"...","reusedFromDocumentId":12345,"mediaToPublish":12345,"outputFormat":12345,"rendererId":12345,"approvalRequestComments":"...","processedSteps":12345,"editTemplateLayouts":true,"instanceApplication":123456,"instancePages":[{"instance":{},"id":12345,"logicalPage":12345,"physicalPage":12345,"smartPage":true,"smartBlockIds":[12345,12345],"instanceId":12345,"templatePage":{},"templatePageId":12345,"instancePagePreviews":[{},{}]},{"instance":{},"id":12345,"logicalPage":12345,"physicalPage":12345,"smartPage":true,"smartBlockIds":[12345,12345],"instanceId":12345,"templatePage":{},"templatePageId":12345,"instancePagePreviews":[{},{}]}],"mediaPoolPublishable":true,"productThemeIds":[12345,12345],"instanceVariableValues":[{"id":12345,"templateVariableId":12345,"templateVariable":{},"instanceBoxId":12345,"advertInstanceId":12345,"instancePageId":12345,"mediaGUID":12345,"mediaVersionNumber":12345,"mediaPage":12345,"instanceBox":{},"instance":{},"mediaCropLeft":12345,"mediaCropTop":12345,"mediaCropRight":12345,"mediaCropBottom":12345,"text":"...","contentType":12345,"contentTypeIndex":12345,"smartBlockId":12345,"smartBlock":{},"instancePage":{},"selectedCustomObject":12345,"customFormData":"...","dataSetIndex":12345,"instanceObjectStatus":12345,"hasFormulaError":12345,"instanceObjectTextoverflow":12345,"instanceVariableAlternatives":[{},{}],"instanceTables":[{},{}],"textFitStatus":"...","mergedConfiguration":{},"originalText":"...","originalMediaGUID":12345,"originalMediaVersionNumber":12345},{"id":12345,"templateVariableId":12345,"templateVariable":{},"instanceBoxId":12345,"advertInstanceId":12345,"instancePageId":12345,"mediaGUID":12345,"mediaVersionNumber":12345,"mediaPage":12345,"instanceBox":{},"instance":{},"mediaCropLeft":12345,"mediaCropTop":12345,"mediaCropRight":12345,"mediaCropBottom":12345,"text":"...","contentType":12345,"contentTypeIndex":12345,"smartBlockId":12345,"smartBlock":{},"instancePage":{},"selectedCustomObject":12345,"customFormData":"...","dataSetIndex":12345,"instanceObjectStatus":12345,"hasFormulaError":12345,"instanceObjectTextoverflow":12345,"instanceVariableAlternatives":[{},{}],"instanceTables":[{},{}],"textFitStatus":"...","mergedConfiguration":{},"originalText":"...","originalMediaGUID":12345,"originalMediaVersionNumber":12345}],"instancePageAssetPreviews":[{"instanceId":12345,"pageNumber":12345,"assetId":12345},{"instanceId":12345,"pageNumber":12345,"assetId":12345}],"instanceCounters":[{"id":12345,"instanceId":12345,"counter":12345,"counterType":123456,"lastAccess":"..."},{"id":12345,"instanceId":12345,"counter":12345,"counterType":123456,"lastAccess":"..."}],"onlyGrayscale":true,"instanceLocales":[{"instanceId":12345,"localePriority":12345,"localeId":12345,"l10nLocale":{}},{"instanceId":12345,"localePriority":12345,"localeId":12345,"l10nLocale":{}}]},"box":{"dimension":{"heightInMillimeters":12345,"ratio":12345,"graphicalUnit":"MILIMETERS","widthInMillimeters":12345,"height":12345,"width":12345}},"boundingBox":{"dimension":{"heightInMillimeters":12345,"ratio":12345,"graphicalUnit":"INCH","widthInMillimeters":12345,"height":12345,"width":12345}},"boxWidth":12345,"boxHeight":12345,"boxX":12345,"boxY":12345,"boxAngle":12345,"boxRequestedX":12345,"boxRequestedY":12345,"boxRequestedW":12345,"boxRequestedH":12345,"boxRequestedAngle":12345,"smartBlockId":12345},"description":""},"json_DynamicInstanceBoxType":{"type":"string","title":"DynamicInstanceBoxType","enum":["STATIC","IMAGE","SMART_GRID"],"description":""},"json_DynamicService":{"type":"object","title":"DynamicService","required":["NAME","LABEL","URL","TYPE","TEMPLATES_COUNT"],"properties":{"ID":{"readOnly":false,"description":"","type":"integer","format":"int32"},"NAME":{"readOnly":false,"description":"","type":"string"},"LABEL":{"readOnly":false,"description":"","type":"string"},"HELP_TEXT":{"readOnly":false,"description":"","type":"string"},"URL":{"readOnly":false,"description":"","type":"string"},"TYPE":{"readOnly":false,"description":"","type":"integer","format":"int32"},"TEMPLATES_COUNT":{"readOnly":false,"description":"","type":"integer","format":"int32"},"DYNAMIC_SERVICE_VARIABLES":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_DynamicServiceVariable"}}},"example":{"ID":12345,"NAME":"...","LABEL":"...","HELP_TEXT":"...","URL":"...","TYPE":12345,"TEMPLATES_COUNT":12345,"DYNAMIC_SERVICE_VARIABLES":[{"ID":12345,"DYNAMIC_SERVICE_ID":12345,"REPLACE_TEXT":"...","LABEL":"...","TYPE":12345,"UNIT_TYPE":"...","TEMPLATE_DROPDOWN_ID":12345,"TEMPLATE_DROPDOWN_ATTRIBUTE":"...","dynamicServiceVariableType":12345},{"ID":12345,"DYNAMIC_SERVICE_ID":12345,"REPLACE_TEXT":"...","LABEL":"...","TYPE":12345,"UNIT_TYPE":"...","TEMPLATE_DROPDOWN_ID":12345,"TEMPLATE_DROPDOWN_ATTRIBUTE":"...","dynamicServiceVariableType":12345}]},"description":"DTO representing the dynamic service entity"},"json_DynamicServiceCache":{"type":"object","title":"DynamicServiceCache","properties":{"ID":{"readOnly":false,"description":"","type":"integer","format":"int32"},"RESPONSE_HEADER":{"readOnly":false,"description":"","type":"string"},"URL":{"readOnly":false,"description":"","type":"string"},"TEXT_RESULT":{"readOnly":false,"description":"","type":"string"},"SERVICE_ID":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"ID":12345,"RESPONSE_HEADER":"...","URL":"...","TEXT_RESULT":"...","SERVICE_ID":12345},"description":"DTO representing the dynamic service cache entity"},"json_DynamicServiceVariable":{"type":"object","title":"DynamicServiceVariable","required":["DYNAMIC_SERVICE_ID"],"properties":{"ID":{"readOnly":false,"description":"","type":"integer","format":"int32"},"DYNAMIC_SERVICE_ID":{"readOnly":false,"description":"","type":"integer","format":"int32"},"REPLACE_TEXT":{"readOnly":false,"description":"","type":"string"},"LABEL":{"readOnly":false,"description":"","type":"string"},"TYPE":{"readOnly":false,"description":"","type":"integer","format":"int32"},"UNIT_TYPE":{"readOnly":false,"description":"","type":"string"},"TEMPLATE_DROPDOWN_ID":{"readOnly":false,"description":"","type":"integer","format":"int32"},"TEMPLATE_DROPDOWN_ATTRIBUTE":{"readOnly":false,"description":"","type":"string"},"dynamicServiceVariableType":{"readOnly":false,"description":"","type":"integer","format":"int32"}},"example":{"ID":12345,"DYNAMIC_SERVICE_ID":12345,"REPLACE_TEXT":"...","LABEL":"...","TYPE":12345,"UNIT_TYPE":"...","TEMPLATE_DROPDOWN_ID":12345,"TEMPLATE_DROPDOWN_ATTRIBUTE":"...","dynamicServiceVariableType":12345},"description":"DTO representing the dynamic service variable entity"},"json_DynamicServiceVariableType":{"type":"string","title":"DynamicServiceVariableType","enum":["INPUT","DROPDOWN","BOX_WIDTH","BOX_HEIGHT","INSTANCE_VALIDITY_FROM","INSTANCE_VALIDITY_TO","INSTANCE_CREATOR_AFFILIATE"],"description":""},"json_EditOptions":{"type":"string","title":"EditOptions","enum":["HIDDEN","EDIT_AND_ALTERNATIVES","ONLY_ALTERNATIVES"],"description":""},"json_EditorColor":{"type":"object","title":"EditorColor","required":["editorColorId","global","htmlRgbColor","inddBlack","inddColorName","inddCyan","inddMagenta","inddYellow","label","position","inCustomSelection"],"properties":{"editorColorId":{"minimum":0,"readOnly":false,"description":"","type":"integer","format":"int32"},"alternateHtmlRgbColor":{"readOnly":false,"description":"","type":"string"},"global":{"minimum":0,"readOnly":false,"description":"","type":"integer","format":"int32"},"htmlRgbColor":{"maxLength":7,"minLength":0,"readOnly":false,"description":"","type":"string"},"inddBlack":{"maxLength":3,"minLength":0,"readOnly":false,"description":"","type":"integer","format":"int32"},"inddColorName":{"maxLength":255,"minLength":0,"readOnly":false,"description":"","type":"string"},"inddCyan":{"maxLength":3,"minLength":0,"readOnly":false,"description":"","type":"integer","format":"int32"},"inddMagenta":{"maxLength":3,"minLength":0,"readOnly":false,"description":"","type":"integer","format":"int32"},"inddYellow":{"maxLength":3,"minLength":0,"readOnly":false,"description":"","type":"integer","format":"int32"},"label":{"maxLength":255,"minLength":0,"readOnly":false,"description":"","type":"string"},"position":{"minimum":0,"readOnly":false,"description":"","type":"integer","format":"int32"},"inCustomSelection":{"readOnly":false,"description":"","type":"boolean"},"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"editorConfigurations":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_EditorConfiguration"}}},"example":{"editorColorId":12345,"alternateHtmlRgbColor":"...","global":12345,"htmlRgbColor":"...","inddBlack":12345,"inddColorName":"...","inddCyan":12345,"inddMagenta":12345,"inddYellow":12345,"label":"...","position":12345,"inCustomSelection":true,"id":12345,"editorConfigurations":[{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{"editorStyleId":12345,"label":"...","position":12345,"styleType":"...","inddName":"...","className":"...","classNameOld":"...","folderName":"...","global":12345,"inCustomSelection":true,"replacement":true,"attributes":[{},{}],"configurations":[{},{}],"editorStyleReplacements":[{},{}],"id":12345},{"editorStyleId":12345,"label":"...","position":12345,"styleType":"...","inddName":"...","className":"...","classNameOld":"...","folderName":"...","global":12345,"inCustomSelection":true,"replacement":true,"attributes":[{},{}],"configurations":[{},{}],"editorStyleReplacements":[{},{}],"id":12345}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{"editorColorId":12345,"alternateHtmlRgbColor":"...","global":12345,"htmlRgbColor":"...","inddBlack":12345,"inddColorName":"...","inddCyan":12345,"inddMagenta":12345,"inddYellow":12345,"label":"...","position":12345,"inCustomSelection":true,"id":12345,"editorConfigurations":[{},{}]},{"editorColorId":12345,"alternateHtmlRgbColor":"...","global":12345,"htmlRgbColor":"...","inddBlack":12345,"inddColorName":"...","inddCyan":12345,"inddMagenta":12345,"inddYellow":12345,"label":"...","position":12345,"inCustomSelection":true,"id":12345,"editorConfigurations":[{},{}]}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true},{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{"editorStyleId":12345,"label":"...","position":12345,"styleType":"...","inddName":"...","className":"...","classNameOld":"...","folderName":"...","global":12345,"inCustomSelection":true,"replacement":true,"attributes":[{},{}],"configurations":[{},{}],"editorStyleReplacements":[{},{}],"id":12345},{"editorStyleId":12345,"label":"...","position":12345,"styleType":"...","inddName":"...","className":"...","classNameOld":"...","folderName":"...","global":12345,"inCustomSelection":true,"replacement":true,"attributes":[{},{}],"configurations":[{},{}],"editorStyleReplacements":[{},{}],"id":12345}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{"editorColorId":12345,"alternateHtmlRgbColor":"...","global":12345,"htmlRgbColor":"...","inddBlack":12345,"inddColorName":"...","inddCyan":12345,"inddMagenta":12345,"inddYellow":12345,"label":"...","position":12345,"inCustomSelection":true,"id":12345,"editorConfigurations":[{},{}]},{"editorColorId":12345,"alternateHtmlRgbColor":"...","global":12345,"htmlRgbColor":"...","inddBlack":12345,"inddColorName":"...","inddCyan":12345,"inddMagenta":12345,"inddYellow":12345,"label":"...","position":12345,"inCustomSelection":true,"id":12345,"editorConfigurations":[{},{}]}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true}]},"description":"DTO representing the RTE color entity"},"json_EditorConfiguration":{"type":"object","title":"EditorConfiguration","required":["label","position","showButtonCharacterStyles","templateCount","showButtonInsertBulletpoint","showButtonParagraphStyles","showButtonTable","showButtonStrikeThrough","showButtonSuperscript","showButtonSubscript","showButtonItalic","showButtonColumnBreak","showButtonSpecialCharacters","showButtonFindReplace","showButtonPictureUpload","showButtonHyperlink","showButtonRightIndent","showButtonUnderline","showButtonTextcolor","global","showButtonFrameBreak","showButtonInsertTabulator","showButtonMediaHyperlink","showButtonMaximize","showButtonTableStyles","showButtonCellStyles","temporaryConfiguration","showButtonBold","showButtonSourceCode"],"properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"label":{"maxLength":255,"minLength":0,"readOnly":false,"description":"","type":"string"},"description":{"maxLength":2000,"minLength":0,"readOnly":false,"description":"","type":"string"},"position":{"readOnly":false,"description":"","type":"integer","format":"int32"},"showButtonCharacterStyles":{"readOnly":false,"description":"","type":"integer","format":"int32"},"templateCount":{"readOnly":false,"description":"","type":"integer","format":"int64"},"showButtonInsertBulletpoint":{"readOnly":false,"description":"","type":"boolean"},"showButtonParagraphStyles":{"readOnly":false,"description":"","type":"integer","format":"int32"},"showButtonTable":{"readOnly":false,"description":"","type":"boolean"},"showButtonStrikeThrough":{"readOnly":false,"description":"","type":"boolean"},"showButtonSuperscript":{"readOnly":false,"description":"","type":"boolean"},"variableConfigurationValue":{"readOnly":false,"description":"","type":"string"},"showButtonSubscript":{"readOnly":false,"description":"","type":"boolean"},"showButtonItalic":{"readOnly":false,"description":"","type":"boolean"},"showButtonColumnBreak":{"readOnly":false,"description":"","type":"boolean"},"showButtonSpecialCharacters":{"readOnly":false,"description":"","type":"boolean"},"showButtonFindReplace":{"readOnly":false,"description":"","type":"boolean"},"showButtonPictureUpload":{"readOnly":false,"description":"","type":"boolean"},"showButtonHyperlink":{"readOnly":false,"description":"","type":"boolean"},"showButtonRightIndent":{"readOnly":false,"description":"","type":"boolean"},"showButtonUnderline":{"readOnly":false,"description":"","type":"boolean"},"showButtonTextcolor":{"readOnly":false,"description":"","type":"boolean"},"editorStyles":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_EditorStyle"}},"global":{"readOnly":false,"description":"","type":"integer","format":"int32"},"showButtonFrameBreak":{"readOnly":false,"description":"","type":"boolean"},"showButtonInsertTabulator":{"readOnly":false,"description":"","type":"boolean"},"editorColors":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_EditorColor"}},"showButtonMediaHyperlink":{"readOnly":false,"description":"","type":"boolean"},"showButtonMaximize":{"readOnly":false,"description":"","type":"boolean"},"showButtonTableStyles":{"readOnly":false,"description":"","type":"integer","format":"int32"},"showButtonCellStyles":{"readOnly":false,"description":"","type":"integer","format":"int32"},"temporaryConfiguration":{"readOnly":false,"description":"","type":"boolean"},"showButtonBold":{"readOnly":false,"description":"","type":"boolean"},"showButtonSourceCode":{"readOnly":false,"description":"","type":"boolean"}},"example":{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{"editorStyleId":12345,"label":"...","position":12345,"styleType":"...","inddName":"...","className":"...","classNameOld":"...","folderName":"...","global":12345,"inCustomSelection":true,"replacement":true,"attributes":[{"STYLE_ATTRIBUTE_ID":12345,"ATTRIBUTE_NAME":"...","ATTRIBUTE_VALUE":"...","ATTRIBUTE_TYPE":"...","STYLE_ID":12345,"id":12345},{"STYLE_ATTRIBUTE_ID":12345,"ATTRIBUTE_NAME":"...","ATTRIBUTE_VALUE":"...","ATTRIBUTE_TYPE":"...","STYLE_ID":12345,"id":12345}],"configurations":[{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{},{}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{},{}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true},{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{},{}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{},{}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true}],"editorStyleReplacements":[{"id":12345,"localeId":12345,"replacementStyleId":12345,"replacementStyleName":"...","styleId":12345},{"id":12345,"localeId":12345,"replacementStyleId":12345,"replacementStyleName":"...","styleId":12345}],"id":12345},{"editorStyleId":12345,"label":"...","position":12345,"styleType":"...","inddName":"...","className":"...","classNameOld":"...","folderName":"...","global":12345,"inCustomSelection":true,"replacement":true,"attributes":[{"STYLE_ATTRIBUTE_ID":12345,"ATTRIBUTE_NAME":"...","ATTRIBUTE_VALUE":"...","ATTRIBUTE_TYPE":"...","STYLE_ID":12345,"id":12345},{"STYLE_ATTRIBUTE_ID":12345,"ATTRIBUTE_NAME":"...","ATTRIBUTE_VALUE":"...","ATTRIBUTE_TYPE":"...","STYLE_ID":12345,"id":12345}],"configurations":[{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{},{}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{},{}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true},{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{},{}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{},{}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true}],"editorStyleReplacements":[{"id":12345,"localeId":12345,"replacementStyleId":12345,"replacementStyleName":"...","styleId":12345},{"id":12345,"localeId":12345,"replacementStyleId":12345,"replacementStyleName":"...","styleId":12345}],"id":12345}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{"editorColorId":12345,"alternateHtmlRgbColor":"...","global":12345,"htmlRgbColor":"...","inddBlack":12345,"inddColorName":"...","inddCyan":12345,"inddMagenta":12345,"inddYellow":12345,"label":"...","position":12345,"inCustomSelection":true,"id":12345,"editorConfigurations":[{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{},{}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{},{}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true},{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{},{}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{},{}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true}]},{"editorColorId":12345,"alternateHtmlRgbColor":"...","global":12345,"htmlRgbColor":"...","inddBlack":12345,"inddColorName":"...","inddCyan":12345,"inddMagenta":12345,"inddYellow":12345,"label":"...","position":12345,"inCustomSelection":true,"id":12345,"editorConfigurations":[{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{},{}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{},{}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true},{"id":12345,"label":"...","description":"...","position":12345,"showButtonCharacterStyles":12345,"templateCount":12345,"showButtonInsertBulletpoint":true,"showButtonParagraphStyles":12345,"showButtonTable":true,"showButtonStrikeThrough":true,"showButtonSuperscript":true,"variableConfigurationValue":"...","showButtonSubscript":true,"showButtonItalic":true,"showButtonColumnBreak":true,"showButtonSpecialCharacters":true,"showButtonFindReplace":true,"showButtonPictureUpload":true,"showButtonHyperlink":true,"showButtonRightIndent":true,"showButtonUnderline":true,"showButtonTextcolor":true,"editorStyles":[{},{}],"global":12345,"showButtonFrameBreak":true,"showButtonInsertTabulator":true,"editorColors":[{},{}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true}]}],"showButtonMediaHyperlink":true,"showButtonMaximize":true,"showButtonTableStyles":12345,"showButtonCellStyles":12345,"temporaryConfiguration":true,"showButtonBold":true,"showButtonSourceCode":true},"description":"DTO representing the RTE configuration entity"},"json_EditorPreset":{"type":"object","title":"EditorPreset","required":["addImage","editDocumentGrid","helpTextType","initialZoom","realtimePreviewActivated","refreshAllPreviewsActivated","showGridActivated","showAllVariablesCheckbox","showContentTab","showCreateJobMenuEntry","showTemplateDetailsMenuEntry","showDetailsMenuEntry","showSendByMailMenuEntry","showDocumentGrid","showDownloadMenuEntry","showEditorDirectly","showElements","showIdsInLayerheader","showImportExportMenuEntry","showLayoutTab","showMoreActionsMenu","showOnlyEditablePgsAktive","showOnlyEditablePgsChkbox","showPagesTab","showPaginationButton","showPrintviewDropdown","showProductDetails","showProductSearchbar","showProductsTab","showRefreshButton","showRenameDocMenuEntry","showReviewMenuEntry","showRealtimePreviewMenuEntry","showRefreshAllPreviewsMenuEntry","showSmartGridsSize","showThemesTab","showZoomArea","showElementsActivated","showOnlyFittingLayouts","showOnlyFittingLayoutsActivated","showDisableHtmlLinks","showDisableHtmlLinksActivated","showDocumentTab","showDocumentInfo","showDocumentProps","showDocumentVariants","showDocumentSize","showDocumentProductCostDelivery","showDocumentPublishMP","defaultViewOption","restoreOriginalTextCheckbox"],"properties":{"id":{"readOnly":false,"description":"","type":"integer","format":"int32"},"addImage":{"readOnly":false,"description":"","type":"boolean"},"defaultSidebarWidth":{"readOnly":false,"description":"","type":"integer","format":"int32"},"editDocumentGrid":{"readOnly":false,"description":"","type":"boolean"},"helpTextType":{"readOnly":false,"description":"","type":"integer","format":"int32"},"initialZoom":{"readOnly":false,"description":"","type":"integer","format":"int32"},"realtimePreviewActivated":{"readOnly":false,"description":"","type":"boolean"},"refreshAllPreviewsActivated":{"readOnly":false,"description":"","type":"boolean"},"selectedShownContents":{"readOnly":false,"$ref":"#/definitions/json_EditorPresetShownContents","description":""},"showGridActivated":{"readOnly":false,"description":"","type":"boolean"},"presetName":{"readOnly":false,"description":"","type":"string"},"showAllVariablesCheckbox":{"readOnly":false,"description":"","type":"boolean"},"showContentTab":{"readOnly":false,"description":"","type":"boolean"},"showCreateJobMenuEntry":{"readOnly":false,"description":"","type":"boolean"},"showTemplateDetailsMenuEntry":{"readOnly":false,"description":"","type":"boolean"},"showDetailsMenuEntry":{"readOnly":false,"description":"","type":"boolean"},"showSendByMailMenuEntry":{"readOnly":false,"description":"","type":"boolean"},"showDocumentGrid":{"readOnly":false,"description":"","type":"boolean"},"showDownloadMenuEntry":{"readOnly":false,"description":"","type":"boolean"},"showEditorDirectly":{"readOnly":false,"description":"","type":"boolean"},"showElements":{"readOnly":false,"description":"","type":"boolean"},"showIdsInLayerheader":{"readOnly":false,"description":"","type":"boolean"},"showImportExportMenuEntry":{"readOnly":false,"description":"","type":"boolean"},"showLayoutTab":{"readOnly":false,"description":"","type":"boolean"},"showMoreActionsMenu":{"readOnly":false,"description":"","type":"boolean"},"showOnlyEditablePgsAktive":{"readOnly":false,"description":"","type":"boolean"},"showOnlyEditablePgsChkbox":{"readOnly":false,"description":"","type":"boolean"},"showPagesTab":{"readOnly":false,"description":"","type":"boolean"},"showPaginationButton":{"readOnly":false,"description":"","type":"boolean"},"showPrintviewDropdown":{"readOnly":false,"description":"","type":"boolean"},"showProductDetails":{"readOnly":false,"description":"","type":"boolean"},"showProductSearchbar":{"readOnly":false,"description":"","type":"boolean"},"showProductsTab":{"readOnly":false,"description":"","type":"boolean"},"showRefreshButton":{"readOnly":false,"description":"","type":"boolean"},"showRenameDocMenuEntry":{"readOnly":false,"description":"","type":"boolean"},"showReviewMenuEntry":{"readOnly":false,"description":"","type":"boolean"},"showRealtimePreviewMenuEntry":{"readOnly":false,"description":"","type":"boolean"},"showRefreshAllPreviewsMenuEntry":{"readOnly":false,"description":"","type":"boolean"},"showSmartGridsSize":{"readOnly":false,"description":"","type":"boolean"},"showThemesTab":{"readOnly":false,"description":"","type":"boolean"},"showZoomArea":{"readOnly":false,"description":"","type":"boolean"},"showElementsActivated":{"readOnly":false,"description":"","type":"boolean"},"showOnlyFittingLayouts":{"readOnly":false,"description":"","type":"boolean"},"showOnlyFittingLayoutsActivated":{"readOnly":false,"description":"","type":"boolean"},"showDisableHtmlLinks":{"readOnly":false,"description":"","type":"boolean"},"showDisableHtmlLinksActivated":{"readOnly":false,"description":"","type":"boolean"},"showDocumentTab":{"readOnly":false,"description":"","type":"boolean"},"showDocumentInfo":{"readOnly":false,"description":"","type":"boolean"},"showDocumentProps":{"readOnly":false,"description":"","type":"boolean"},"showDocumentVariants":{"readOnly":false,"description":"","type":"boolean"},"showDocumentSize":{"readOnly":false,"description":"","type":"boolean"},"showDocumentProductCostDelivery":{"readOnly":false,"description":"","type":"boolean"},"showDocumentPublishMP":{"readOnly":false,"description":"","type":"boolean"},"defaultViewOption":{"readOnly":false,"description":"","type":"integer","format":"int32"},"restoreOriginalTextCheckbox":{"readOnly":false,"description":"","type":"boolean"},"defaultTab":{"readOnly":false,"$ref":"#/definitions/json_EditorPresetDefaultTab","description":""},"templates":{"readOnly":false,"description":"","type":"array","items":{"$ref":"#/definitions/json_Template"}}},"example":{"id":12345,"addImage":true,"defaultSidebarWidth":12345,"editDocumentGrid":true,"helpTextType":12345,"initialZoom":12345,"realtimePreviewActivated":true,"refreshAllPreviewsActivated":true,"selectedShownContents":"ALL_EDITABLE_CONTENTS","showGridActivated":true,"presetName":"...","showAllVariablesCheckbox":true,"showContentTab":true,"showCreateJobMenuEntry":true,"showTemplateDetailsMenuEntry":true,"showDetailsMenuEntry":true,"showSendByMailMenuEntry":true,"showDocumentGrid":true,"showDownloadMenuEntry":true,"showEditorDirectly":true,"showElements":true,"showIdsInLayerheader":true,"showImportExportMenuEntry":true,"showLayoutTab":true,"showMoreActionsMenu":true,"showOnlyEditablePgsAktive":true,"showOnlyEditablePgsChkbox":true,"showPagesTab":true,"showPaginationButton":true,"showPrintviewDropdown":true,"showProductDetails":true,"showProductSearchbar":true,"showProductsTab":true,"showRefreshButton":true,"showRenameDocMenuEntry":true,"showReviewMenuEntry":true,"showRealtimePreviewMenuEntry":true,"showRefreshAllPreviewsMenuEntry":true,"showSmartGridsSize":true,"showThemesTab":true,"showZoomArea":true,"showElementsActivated":true,"showOnlyFittingLayouts":true,"showOnlyFittingLayoutsActivated":true,"showDisableHtmlLinks":true,"showDisableHtmlLinksActivated":true,"showDocumentTab":true,"showDocumentInfo":true,"showDocumentProps":true,"showDocumentVariants":true,"showDocumentSize":true,"showDocumentProductCostDelivery":true,"showDocumentPublishMP":true,"defaultViewOption":12345,"restoreOriginalTextCheckbox":true,"defaultTab":123456,"templates":[{"id":12345,"assetId":12345,"assetVersion":12345,"previewId":12345,"previewVersion":12345,"title":"...","status":123456,"templateUsageType":123456,"favorite":true,"html":true,"height":12345,"width":12345,"scaling":{"scaleType":123456,"width":12345,"widthMin":12345,"widthMax":12345,"height":12345,"heightMin":12345,"heightMax":12345,"distortHorizontalMax":12345,"distortVerticalMax":12345,"limitDistortion":true,"predefinedSizeGroups":[{},{}]},"validFrom":"...","validTo":"...","creatorId":12345,"creationDate":12345,"modifierId":12345,"modificationDate":12345,"unit":"MILIMETERS","pageCount":12345,"metaTemplates":[{"id":12345,"title":"...","creationDate":12345,"defaultTemplate":{},"templateCount":12345},{"id":12345,"title":"...","creationDate":12345,"defaultTemplate":{},"templateCount":12345}],"groupingProperty":{"key":"...","label":"...","values":[{},{}],"system":true},"access":["VIEW_DETAILS","DELETE"],"userCanApprove":true,"inputBundlesOfCopies":"MANUAL","approverId":12345,"colors":12345,"createDate":12345,"cut":12345,"cutMarks":true,"databaseId":12345,"detailViews":12345,"customPropertyValues":[{"id":12345,"propertyId":12345,"uniqueName":"...","name":"...","preview":{}},{"id":12345,"propertyId":12345,"uniqueName":"...","name":"...","preview":{}}],"currentPageCount":12345,"templatePages":[{"template":{},"id":12345,"logicalNumber":12345,"physicalNumber":12345,"master":true,"masterPageName":"...","smartBlock":true,"pageWidth":12345,"pageHeight":12345,"gridAreaId":12345},{"template":{},"id":12345,"logicalNumber":12345,"physicalNumber":12345,"master":true,"masterPageName":"...","smartBlock":true,"pageWidth":12345,"pageHeight":12345,"gridAreaId":12345}],"templateBoxes":[{"id":12345,"name":"...","text":"...","resizingAllowed":true,"transformations":12345,"rotationAllowed":true,"movementAllowed":true,"smartGridId":12345,"type":"TEXT","templateId":12345,"dynamicServiceId":12345,"pageNumber":12345,"templateBoxGraphical":true,"width":12345,"height":12345,"boundingBoxX":12345,"boxX":12345,"boxY":12345,"boxAngle":12345,"boundingBoxW":12345,"boundingBoxH":12345,"boundingBoxY":12345},{"id":12345,"name":"...","text":"...","resizingAllowed":true,"transformations":12345,"rotationAllowed":true,"movementAllowed":true,"smartGridId":12345,"type":"TEXT","templateId":12345,"dynamicServiceId":12345,"pageNumber":12345,"templateBoxGraphical":true,"width":12345,"height":12345,"boundingBoxX":12345,"boxX":12345,"boxY":12345,"boxAngle":12345,"boundingBoxW":12345,"boundingBoxH":12345,"boundingBoxY":12345}],"disclaimerText":"...","templateDropdowns":[{"type":"...","defaultVariantName":"...","customStructureId":12345,"priority":"...","customStructureBased":true,"id":12345,"smart":true,"name":"...","defaultSelection":true,"selected":{},"customObjectFilter":"...","parentId":12345},{"type":"...","defaultVariantName":"...","customStructureId":12345,"priority":"...","customStructureBased":true,"id":12345,"smart":true,"name":"...","defaultSelection":true,"selected":{},"customObjectFilter":"...","parentId":12345}],"smartGridsType":123456,"spellCheckerLanguage":"...","pimProductType":12345,"rendererIds":[12345,12345],"currentProcessingStep":12345,"readonly":true,"sgKeyword":"...","preselectedOutputMethod":[{"id":12345,"downloadType":"PRINTING_SERVICES","preselectRendererId":12345,"userCanNotChangeValue":true,"templateId":12345},{"id":12345,"downloadType":"SAVE","preselectRendererId":12345,"userCanNotChangeValue":true,"templateId":12345}],"format":12345,"goals":"...","keywords":"...","fileName":"...","canChangePageOrder":true,"canUseSmartLibrary":true,"colorScheme":12345,"realtimeEnabled":true,"revised":true,"archived":true,"smartTemplate":true,"lastAccessedDate":12345,"massPersonalization":"multiSet","pageDivisibility":12345,"pageOffset":12345,"pimConnectionType":12345,"pageDividerType":12345,"smartGroupPlacingType":"newLayers","dirtyMediaBoxHandling":"dontSearch","mandatoryDocumentSteps":12345,"atScaleType":123456,"canExportImport":true,"canUseOnlyValidMedias":true,"distortMax":12345,"distortVerticalMax":12345,"documentGridMaxSize":12345,"documentGridMinSize":12345,"documentGridSize":12345,"minimumDpi":12345,"preselectedRendererId":12345,"priceListId":12345,"scaleWidthMax":12345,"scaleWidthMin":12345,"scaleHeightMax":12345,"scaleHeightMin":12345,"stepProcessingOrder":12345,"templateText":"...","useProductThemeFiltering":true,"workflowObjectId":12345,"workflowTypeIdForInstance":12345,"editorPreset":{"id":12345,"addImage":true,"defaultSidebarWidth":12345,"editDocumentGrid":true,"helpTextType":12345,"initialZoom":12345,"realtimePreviewActivated":true,"refreshAllPreviewsActivated":true,"selectedShownContents":"GROUP_EDITABLE_CONTENTS","showGridActivated":true,"presetName":"...","showAllVariablesCheckbox":true,"showContentTab":true,"showCreateJobMenuEntry":true,"showTemplateDetailsMenuEntry":true,"showDetailsMenuEntry":true,"showSendByMailMenuEntry":true,"showDocumentGrid":true,"showDownloadMenuEntry":true,"showEditorDirectly":true,"showElements":true,"showIdsInLayerheader":true,"showImportExportMenuEntry":true,"showLayoutTab":true,"showMoreActionsMenu":true,"showOnlyEditablePgsAktive":true,"showOnlyEditablePgsChkbox":true,"showPagesTab":true,"showPaginationButton":true,"showPrintviewDropdown":true,"showProductDetails":true,"showProductSearchbar":true,"showProductsTab":true,"showRefreshButton":true,"showRenameDocMenuEntry":true,"showReviewMenuEntry":true,"showRealtimePreviewMenuEntry":true,"showRefreshAllPreviewsMenuEntry":true,"showSmartGridsSize":true,"showThemesTab":true,"showZoomArea":true,"showElementsActivated":true,"showOnlyFittingLayouts":true,"showOnlyFittingLayoutsActivated":true,"showDisableHtmlLinks":true,"showDisableHtmlLinksActivated":true,"showDocumentTab":true,"showDocumentInfo":true,"showDocumentProps":true,"showDocumentVariants":true,"showDocumentSize":true,"showDocumentProductCostDelivery":true,"showDocumentPublishMP":true,"defaultViewOption":12345,"restoreOriginalTextCheckbox":true,"defaultTab":123456,"templates":[{},{}]},"themeIds":[12345,12345],"productThemeIds":[12345,12345],"templateCounters":[{"id":12345,"templateId":12345,"template":{},"counter":12345,"counterType":"RECOMMENDED","lastAccess":12345},{"id":12345,"templateId":12345,"template":{},"counter":12345,"counterType":"INSTANTIATED","lastAccess":12345}],"limitDistortion":true,"templatePreviews":[{"templateId":12345,"assetId":12345,"pageNumber":12345},{"templateId":12345,"assetId":12345,"pageNumber":12345}],"instances":[{"id":12345,"title":"...","description":"...","publishedInMediaPool":true,"templateId":12345,"template":{},"creatorId":12345,"creationDate":12345,"modifierId":12345,"updateDate":12345,"status":123456,"usageType":123456,"validFrom":"...","validTo":"...","width":12345,"height":12345,"unit":"PIXELS","access":["PUBLISH","EDIT"],"documentLocaleId":12345,"affiliate":"...","workflowObjectId":12345,"unlimited":true,"expired":true,"started":true,"valid":true,"number":"...","archived":true,"scale":12345,"distort":12345,"distortVertical":12345,"bleedingWidth":"...","dpi":12345,"cut":12345,"publishedAssets":[12345,12345],"hasPagePreviews":true,"currentProccessingStep":"DOCUMENT_SIZE","approverId":12345,"sheetConfiguration":"...","advancedSheetConfiguration":"...","globalSpreadConfiguration":12345,"logicalPageConfiguration":"...","reusedFromDocumentId":12345,"mediaToPublish":12345,"outputFormat":12345,"rendererId":12345,"approvalRequestComments":"...","processedSteps":12345,"editTemplateLayouts":true,"instanceApplication":123456,"instancePages":[{},{}],"mediaPoolPublishable":true,"productThemeIds":[12345,12345],"instanceVariableValues":[{},{}],"instancePageAssetPreviews":[{},{}],"instanceCounters":[{},{}],"onlyGrayscale":true,"instanceLocales":[{},{}]},{"id":12345,"title":"...","description":"...","publishedInMediaPool":true,"templateId":12345,"template":{},"creatorId":12345,"creationDate":12345,"modifierId":12345,"updateDate":12345,"status":123456,"usageType":123456,"validFrom":"...","validTo":"...","width":12345,"height":12345,"unit":"CENTIMETERS","access":["UNARCHIVE","DOWNLOAD"],"documentLocaleId":12345,"affiliate":"...","workflowObjectId":12345,"unlimited":true,"expired":true,"started":true,"valid":true,"number":"...","archived":true,"scale":12345,"distort":12345,"distortVertical":12345,"bleedingWidth":"...","dpi":12345,"cut":12345,"publishedAssets":[12345,12345],"hasPagePreviews":true,"currentProccessingStep":"DOWNLOAD_BY_MAIL","approverId":12345,"sheetConfiguration":"...","advancedSheetConfiguration":"...","globalSpreadConfiguration":12345,"logicalPageConfiguration":"...","reusedFromDocumentId":12345,"mediaToPublish":12345,"outputFormat":12345,"rendererId":12345,"approvalRequestComments":"...","processedSteps":12345,"editTemplateLayouts":true,"instanceApplication":123456,"instancePages":[{},{}],"mediaPoolPublishable":true,"productThemeIds":[12345,12345],"instanceVariableValues":[{},{}],"instancePageAssetPreviews":[{},{}],"instanceCounters":[{},{}],"onlyGrayscale":true,"instanceLocales":[{},{}]}],"allowWorkflowComments":true,"showLocaleSelectionStep":true,"templateLocales":[{"templateId":12345,"localeId":12345,"localePriority":12345},{"templateId":12345,"localeId":12345,"localePriority":12345}],"number":"...","dirtyMediaBoxHandlingType":"alwaysUseNewVersion","outputFormat":"spread","preselectedOutputFormat":"both","templateType":12345,"valid":true,"unlimited":true,"expired":true,"started":true,"instanceMediaPoolPublishingAllowed":true,"printingOfficeOption":12345,"publishedAssets":[12345,12345]},{"id":12345,"assetId":12345,"assetVersion":12345,"previewId":12345,"previewVersion":12345,"title":"...","status":123456,"templateUsageType":123456,"favorite":true,"html":true,"height":12345,"width":12345,"scaling":{"scaleType":123456,"width":12345,"widthMin":12345,"widthMax":12345,"height":12345,"heightMin":12345,"heightMax":12345,"distortHorizontalMax":12345,"distortVerticalMax":12345,"limitDistortion":true,"predefinedSizeGroups":[{},{}]},"validFrom":"...","validTo":"...","creatorId":12345,"creationDate":12345,"modifierId":12345,"modificationDate":12345,"unit":"PIXELS","pageCount":12345,"metaTemplates":[{"id":12345,"title":"...","creationDate":12345,"defaultTemplate":{},"templateCount":12345},{"id":12345,"title":"...","creationDate":12345,"defaultTemplate":{},"templateCount":12345}],"groupingProperty":{"key":"...","label":"...","values":[{},{}],"system":true},"access":["APPROVE","APPROVE"],"userCanApprove":true,"inputBundlesOfCopies":"TEMPLATE_SPECIFIC","approverId":12345,"colors":12345,"createDate":12345,"cut":12345,"cutMarks":true,"databaseId":12345,"detailViews":12345,"customPropertyValues":[{"id":12345,"propertyId":12345,"uniqueName":"...","name":"...","preview":{}},{"id":12345,"propertyId":12345,"uniqueName":"...","name":"...","preview":{}}],"currentPageCount":12345,"templatePages":[{"template":{},"id":12345,"logicalNumber":12345,"physicalNumber":12345,"master":true,"masterPageName":"...","smartBlock":true,"pageWidth":12345,"pageHeight":12345,"gridAreaId":12345},{"template":{},"id":12345,"logicalNumber":12345,"physicalNumber":12345,"master":true,"masterPageName":"...","smartBlock":true,"pageWidth":12345,"pageHeight":12345,"gridAreaId":12345}],"templateBoxes":[{"id":12345,"name":"...","text":"...","resizingAllowed":true,"transformations":12345,"rotationAllowed":true,"movementAllowed":true,"smartGridId":12345,"type":"TEXT","templateId":12345,"dynamicServiceId":12345,"pageNumber":12345,"templateBoxGraphical":true,"width":12345,"height":12345,"boundingBoxX":12345,"boxX":12345,"boxY":12345,"boxAngle":12345,"boundingBoxW":12345,"boundingBoxH":12345,"boundingBoxY":12345},{"id":12345,"name":"...","text":"...","resizingAllowed":true,"transformations":12345,"rotationAllowed":true,"movementAllowed":true,"smartGridId":12345,"type":"TEXT","templateId":12345,"dynamicServiceId":12345,"pageNumber":12345,"templateBoxGraphical":true,"width":12345,"height":12345,"boundingBoxX":12345,"boxX":12345,"boxY":12345,"boxAngle":12345,"boundingBoxW":12345,"boundingBoxH":12345,"boundingBoxY":12345}],"disclaimerText":"...","templateDropdowns":[{"type":"...","defaultVariantName":"...","customStructureId":12345,"priority":"...","customStructureBased":true,"id":12345,"smart":true,"name":"...","defaultSelection":true,"selected":{},"customObjectFilter":"...","parentId":12345},{"type":"...","defaultVariantName":"...","customStructureId":12345,"priority":"...","customStructureBased":true,"id":12345,"smart":true,"name":"...","defaultSelection":true,"selected":{},"customObjectFilter":"...","parentId":12345}],"smartGridsType":123456,"spellCheckerLanguage":"...","pimProductType":12345,"rendererIds":[12345,12345],"currentProcessingStep":12345,"readonly":true,"sgKeyword":"...","preselectedOutputMethod":[{"id":12345,"downloadType":"SAVE","preselectRendererId":12345,"userCanNotChangeValue":true,"templateId":12345},{"id":12345,"downloadType":"PRINTING_SERVICES","preselectRendererId":12345,"userCanNotChangeValue":true,"templateId":12345}],"format":12345,"goals":"...","keywords":"...","fileName":"...","canChangePageOrder":true,"canUseSmartLibrary":true,"colorScheme":12345,"realtimeEnabled":true,"revised":true,"archived":true,"smartTemplate":true,"lastAccessedDate":12345,"massPersonalization":"no","pageDivisibility":12345,"pageOffset":12345,"pimConnectionType":12345,"pageDividerType":12345,"smartGroupPlacingType":"exitsingLayers","dirtyMediaBoxHandling":"searchForNewVersion","mandatoryDocumentSteps":12345,"atScaleType":123456,"canExportImport":true,"canUseOnlyValidMedias":true,"distortMax":12345,"distortVerticalMax":12345,"documentGridMaxSize":12345,"documentGridMinSize":12345,"documentGridSize":12345,"minimumDpi":12345,"preselectedRendererId":12345,"priceListId":12345,"scaleWidthMax":12345,"scaleWidthMin":12345,"scaleHeightMax":12345,"scaleHeightMin":12345,"stepProcessingOrder":12345,"templateText":"...","useProductThemeFiltering":true,"workflowObjectId":12345,"workflowTypeIdForInstance":12345,"editorPreset":{"id":12345,"addImage":true,"defaultSidebarWidth":12345,"editDocumentGrid":true,"helpTextType":12345,"initialZoom":12345,"realtimePreviewActivated":true,"refreshAllPreviewsActivated":true,"selectedShownContents":"ONLY_SELECTED_VARIABLE","showGridActivated":true,"presetName":"...","showAllVariablesCheckbox":true,"showContentTab":true,"showCreateJobMenuEntry":true,"showTemplateDetailsMenuEntry":true,"showDetailsMenuEntry":true,"showSendByMailMenuEntry":true,"showDocumentGrid":true,"showDownloadMenuEntry":true,"showEditorDirectly":true,"showElements":true,"showIdsInLayerheader":true,"showImportExportMenuEntry":true,"showLayoutTab":true,"showMoreActionsMenu":true,"showOnlyEditablePgsAktive":true,"showOnlyEditablePgsChkbox":true,"showPagesTab":true,"showPaginationButton":true,"showPrintviewDropdown":true,"showProductDetails":true,"showProductSearchbar":true,"showProductsTab":true,"showRefreshButton":true,"showRenameDocMenuEntry":true,"showReviewMenuEntry":true,"showRealtimePreviewMenuEntry":true,"showRefreshAllPreviewsMenuEntry":true,"showSmartGridsSize":true,"showThemesTab":true,"showZoomArea":true,"showElementsActivated":true,"showOnlyFittingLayouts":true,"showOnlyFittingLayoutsActivated":true,"showDisableHtmlLinks":true,"showDisableHtmlLinksActivated":true,"showDocumentTab":true,"showDocumentInfo":true,"showDocumentProps":true,"showDocumentVariants":true,"showDocumentSize":true,"showDocumentProductCostDelivery":true,"showDocumentPublishMP":true,"defaultViewOption":12345,"restoreOriginalTextCheckbox":true,"defaultTab":123456,"templates":[{},{}]},"themeIds":[12345,12345],"productThemeIds":[12345,12345],"templateCounters":[{"id":12345,"templateId":12345,"template":{},"counter":12345,"counterType":"RECOMMENDED","lastAccess":12345},{"id":12345,"templateId":12345,"template":{},"counter":12345,"counterType":"RECOMMENDED","lastAccess":12345}],"limitDistortion":true,"templatePreviews":[{"templateId":12345,"assetId":12345,"pageNumber":12345},{"templateId":12345,"assetId":12345,"pageNumber":12345}],"instances":[{"id":12345,"title":"...","description":"...","publishedInMediaPool":true,"templateId":12345,"template":{},"creatorId":12345,"creationDate":12345,"modifierId":12345,"updateDate":12345,"status":123456,"usageType":123456,"validFrom":"...","validTo":"...","width":12345,"height":12345,"unit":"POINTS","access":["SEND_MAIL","PUBLISH"],"documentLocaleId":12345,"affiliate":"...","workflowObjectId":12345,"unlimited":true,"expired":true,"started":true,"valid":true,"number":"...","archived":true,"scale":12345,"distort":12345,"distortVertical":12345,"bleedingWidth":"...","dpi":12345,"cut":12345,"publishedAssets":[12345,12345],"hasPagePreviews":true,"currentProccessingStep":"DOCUMENT_EDITING","approverId":12345,"sheetConfiguration":"...","advancedSheetConfiguration":"...","globalSpreadConfiguration":12345,"logicalPageConfiguration":"...","reusedFromDocumentId":12345,"mediaToPublish":12345,"outputFormat":12345,"rendererId":12345,"approvalRequestComments":"...","processedSteps":12345,"editTemplateLayouts":true,"instanceApplication":123456,"instancePages":[{},{}],"mediaPoolPublishable":true,"productThemeIds":[12345,12345],"instanceVariableValues":[{},{}],"instancePageAssetPreviews":[{},{}],"instanceCounters":[{},{}],"onlyGrayscale":true,"instanceLocales":[{},{}]},{"id":12345,"title":"...","description":"...","publishedInMediaPool":true,"templateId":12345,"template":{},"creatorId":12345,"creationDate":12345,"modifierId":12345,"updateDate":12345,"status":123456,"usageType":123456,"validFrom":"...","validTo":"...","width":12345,"height":12345,"unit":"INCH","access":["ADD_WORFKLOW_COMMENT","SHOW_MAPL_NODES"],"documentLocaleId":12345,"affiliate":"...","workflowObjectId":12345,"unlimited":true,"expired":true,"started":true,"valid":true,"number":"...","archived":true,"scale":12345,"distort":12345,"distortVertical":12345,"bleedingWidth":"...","dpi":12345,"cut":12345,"publishedAssets":[12345,12345],"hasPagePreviews":true,"currentProccessingStep":"APPROVAL","approverId":12345,"sheetConfiguration":"...","advancedSheetConfiguration":"...","globalSpreadConfiguration":12345,"logicalPageConfiguration":"...","reusedFromDocumentId":12345,"mediaToPublish":12345,"outputFormat":12345,"rendererId":12345,"approvalRequestComments":"...","processedSteps":12345,"editTemplateLayouts":true,"instanceApplication":123456,"instancePages":[{},{}],"mediaPoolPublishable":true,"productThemeIds":[12345,12345],"instanceVariableValues":[{},{}],"instancePageAssetPreviews":[{},{}],"instanceCounters":[{},{}],"onlyGrayscale":true,"instanceLocales":[{},{}]}],"allowWorkflowComments":true,"showLocaleSelectionStep":true,"templateLocales":[{"templateId":12345,"localeId":12345,"localePriority":12345},{"templateId":12345,"localeId":12345,"localePriority":12345}],"number":"...","dirtyMediaBoxHandlingType":"alwaysUseNewVersion","outputFormat":"both","preselectedOutputFormat":"singlePage","templateType":12345,"valid":true,"unlimited":true,"expired":true,"started":true,"instanceMediaPoolPublishingAllowed":true,"printingOfficeOption":12345,"publishedAssets":[1234
[...]
